type=layer
width=512
height=334

[com_0]
x=175
y=6
type=text
width=149
height=14
font=p12_full
shadowed=yes
text=You Journey on the ship....
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_1]
x=254
y=140
type=model
width=38
height=37
model=model_3040
zoom=485
xan=229
yan=1983

[com_2]
x=102
y=74
type=text
width=62
height=17
font=q8_full
shadowed=yes
text=Kandarin
colour=0xF3CC99
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_3]
x=387
y=49
type=text
width=56
height=17
font=q8_full
shadowed=yes
text=Asgarnia
colour=0xF3CC99
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_4]
x=272
y=116
type=text
width=56
height=17
font=q8_full
shadowed=yes
text=Karamja
colour=0xF3CC99
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_5]
x=202
y=105
type=text
width=55
height=17
font=q8_full
shadowed=yes
text=Crandor
colour=0xF3CC99
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_6]
x=190
y=78
type=text
width=56
height=17
font=q8_full
shadowed=yes
text=Entrana
colour=0xF3CC99
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_7]
x=340
y=74
type=text
width=31
height=17
font=q8_full
shadowed=yes
text=Port
colour=0xF3CC99
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_8]
x=338
y=90
type=text
width=38
height=17
font=q8_full
shadowed=yes
text=Sarim
colour=0xF3CC99
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_9]
x=380
y=93
type=model
width=32
height=32
model=com_i102
zoom=1500
xan=306
yan=199

[com_10]
x=249
y=73
type=model
width=32
height=32
model=com_i102
zoom=1500
xan=306
yan=199

[com_11]
x=353
y=164
type=model
width=32
height=32
model=com_i102
zoom=1500
xan=390
yan=1833

[com_12]
x=49
y=156
type=model
width=32
height=32
model=com_i102
zoom=1500
xan=306
yan=199

[com_13]
x=38
y=115
type=text
width=31
height=17
font=q8_full
shadowed=yes
text=Port
colour=0xF3CC99
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_14]
x=24
y=132
type=text
width=55
height=17
font=q8_full
shadowed=yes
text=Khazard
colour=0xF3CC99
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_15]
x=338
y=171
type=text
width=26
height=17
font=q8_full
shadowed=yes
text=Ship
colour=0xF3CC99
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_16]
x=332
y=186
type=text
width=33
height=17
font=q8_full
shadowed=yes
text=Yard
colour=0xF3CC99
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_17]
x=119
y=101
type=model
width=32
height=32
model=com_i102
zoom=1500
xan=306
yan=199

[com_18]
x=167
y=199
type=model
width=32
height=32
model=com_i102
zoom=1500
xan=306
yan=199

[com_19]
x=197
y=195
type=text
width=36
height=17
font=q8_full
shadowed=yes
text=Cairn
colour=0xF3CC99
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_20]
x=197
y=210
type=text
width=23
height=17
font=q8_full
shadowed=yes
text=Isle
colour=0xF3CC99
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_21]
x=153
y=117
type=model
width=32
height=32
model=com_i102
zoom=1500
xan=306
yan=199

[com_22]
x=131
y=139
type=text
width=70
height=17
font=q8_full
shadowed=yes
text=Brimhaven
colour=0xF3CC99
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_23]
x=59
y=99
type=text
width=64
height=17
font=q8_full
shadowed=yes
text=Ardougne
colour=0xF3CC99
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_24]
x=249
y=96
type=model
width=32
height=32
model=com_i102
zoom=1500
xan=306
yan=199

[com_26]
x=255
y=140
type=model
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,1
activemodel=obj_grandtree_warship
activeanim=sarim_entrana
zoom=485
xan=229
yan=1983

[com_27]
x=255
y=140
type=model
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,2
activemodel=obj_grandtree_warship
activeanim=entrana_sarim
zoom=485
xan=229
yan=1983

[com_28]
x=255
y=140
type=model
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,3
activemodel=obj_grandtree_warship
activeanim=sarim_crandor
zoom=485
xan=229
yan=1983

[com_29]
x=255
y=140
type=model
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,4
activemodel=obj_grandtree_warship
activeanim=crandor_sarim
zoom=485
xan=229
yan=1983

[com_30]
x=255
y=140
type=model
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,5
activemodel=obj_grandtree_warship
activeanim=sarim_karamja
zoom=485
xan=229
yan=1983

[com_31]
x=255
y=139
type=model
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,6
activemodel=obj_grandtree_warship
activeanim=karamja_sarim
zoom=485
xan=229
yan=1983

[com_32]
x=255
y=140
type=model
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,7
activemodel=obj_grandtree_warship
activeanim=sp_attackglow_quick
zoom=485
xan=229
yan=1983

[com_33]
x=255
y=140
type=model
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,8
activemodel=obj_grandtree_warship
activeanim=seq_637
zoom=485
xan=229
yan=1983

[com_34]
x=255
y=140
type=model
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,9
activemodel=obj_grandtree_warship
zoom=485
xan=229
yan=1983

[com_35]
x=255
y=140
type=model
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,10
activemodel=obj_grandtree_warship
activeanim=cairn_khazzard
zoom=485
xan=229
yan=1983

[com_36]
x=256
y=140
type=model
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,11
activemodel=obj_grandtree_warship
activeanim=khazzard_trawler
zoom=485
xan=229
yan=1983

[com_37]
x=256
y=140
type=model
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,12
activemodel=obj_grandtree_warship
activeanim=trawler_khazzard
zoom=485
xan=229
yan=1983

[com_38]
x=256
y=140
type=model
width=36
height=37
script1op1=pushvar,journey_number
script1=eq,13
activemodel=obj_grandtree_warship
activeanim=cairn_sarim
zoom=485
xan=229
yan=1983

[com_39]
x=334
y=116
type=model
width=32
height=32
model=com_i102
zoom=1500
xan=306
yan=199
