type=layer
width=512
height=334

[com_0]
x=182
y=23
type=text
width=69
height=11
script1op1=push_varbit,castlewars_zamorak_score
font=p11_full
shadowed=yes
text=Zamorak = %1
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_1]
x=252
y=23
type=text
width=79
height=11
script1op1=push_varbit,castlewars_saradomin_score
font=p11_full
shadowed=yes
text=%1 = Saradomin
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_2]
x=0
y=89
type=model
width=32
height=32
model=com_i339
zoom=2134
xan=0
yan=0

[com_3]
x=0
y=124
type=model
width=32
height=32
model=com_i340
zoom=2134
xan=0
yan=0

[com_4]
x=33
y=38
type=text
width=11
height=11
script1op1=push_varbit,castlewars_saradomin_flag
script1=eq,0
font=p11_full
activetext=Safe
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x000000

[com_5]
x=35
y=73
type=text
width=11
height=11
script1op1=push_varbit,castlewars_zamorak_flag
script1=eq,0
font=p11_full
activetext=Safe
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x000000

[com_6]
x=0
y=180
type=layer
width=106
height=148

[com_7]
layer=com_6
x=33
y=15
type=text
width=61
height=11
script1op1=push_varbit,castlewars_zamorak_maindoor
script1=eq,0
font=p11_full
text=Health %1%
activetext=Health 0%
colour=0x00FF00
activecolour=0xFF0000
overcolour=0x000000
activeovercolour=0x000000

[com_9]
layer=com_6
x=1
y=4
type=model
width=32
height=32
model=com_i341
zoom=1244
xan=512
yan=0

[com_10]
layer=com_6
x=-5
y=35
type=model
width=32
height=32
model=com_i342
zoom=1165
xan=512
yan=0

[com_11]
layer=com_6
x=33
y=47
type=text
width=33
height=11
script1op1=push_varbit,castlewars_zamorak_sidedoor
script1=eq,1
font=p11_full
text=Locked
activetext=Unlocked
colour=0x00FF00
activecolour=0xFF0000
overcolour=0x000000
activeovercolour=0x000000

[com_12]
layer=com_6
x=1
y=59
type=model
width=32
height=32
model=com_i343
zoom=2063
xan=512
yan=0

[com_13]
layer=com_6
x=33
y=78
type=text
width=49
height=11
script1op1=push_varbit,castlewars_zamorak_tunnel1
script1=eq,1
font=p11_full
text=Collapsed
activetext=Cleared
colour=0x00FF00
activecolour=0xFF0000
overcolour=0x000000
activeovercolour=0x000000

[com_15]
layer=com_6
x=33
y=103
type=text
width=49
height=11
script1op1=push_varbit,castlewars_zamorak_tunnel2
script1=eq,1
font=p11_full
text=Collapsed
activetext=Cleared
colour=0x00FF00
activecolour=0xFF0000
overcolour=0x000000
activeovercolour=0x000000

[com_16]
layer=com_6
x=0
y=111
type=model
width=32
height=32
model=com_i344
zoom=1135
xan=512
yan=0

[com_17]
layer=com_6
x=33
y=128
type=text
width=58
height=11
script1op1=push_varbit,castlewars_zamorak_catapult
script1=eq,1
font=p11_full
text=Operational
activetext=Destroyed
colour=0x00FF00
activecolour=0xFF0000
overcolour=0x000000
activeovercolour=0x000000

[com_8]
x=470
y=317
type=text
width=35
height=11
script1op1=pushvar,castlewars_timer
center=yes
font=p11_full
text=%1 Min
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_14]
x=1
y=264
type=model
width=32
height=32
model=com_i343
zoom=2063
xan=512
yan=0

[com_18]
x=33
y=38
type=text
width=11
height=11
script1op1=push_varbit,castlewars_saradomin_flag
script1=eq,1
font=p11_full
shadowed=yes
activetext=Taken
colour=0x000000
activecolour=0xFF0000
overcolour=0x000000
activeovercolour=0x000000

[com_19]
x=33
y=38
type=text
width=11
height=11
script1op1=push_varbit,castlewars_saradomin_flag
script1=eq,2
font=p11_full
shadowed=yes
activetext=Dropped
colour=0x000000
activecolour=0xFFFF00
overcolour=0x000000
activeovercolour=0x000000

[com_20]
x=35
y=73
type=text
width=11
height=11
script1op1=push_varbit,castlewars_zamorak_flag
script1=eq,1
font=p11_full
shadowed=yes
activetext=Taken
colour=0x000000
activecolour=0xFF0000
overcolour=0x000000
activeovercolour=0x000000

[com_21]
x=35
y=73
type=text
width=11
height=11
script1op1=push_varbit,castlewars_zamorak_flag
script1=eq,2
font=p11_full
shadowed=yes
activetext=Dropped
colour=0x000000
activecolour=0xFFFF00
overcolour=0x000000
activeovercolour=0x000000

[com_22]
x=247
y=119
type=text
width=4
height=4
center=yes
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
