type=layer
width=512
height=334

[com_0]
x=242
y=152
type=model
width=32
height=32
zoom=130
xan=512
yan=0

[com_1]
x=20
y=68
type=text
width=477
height=14
center=yes
font=p12_full
text= 
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
