type=layer
width=512
height=334

[com_0]
x=240
y=133
type=model
width=32
height=32
model=com_i327
zoom=442
xan=512
yan=0

[com_1]
x=184
y=6
type=text
width=155
height=17
font=q8_full
shadowed=yes
text=Kingdom of Miscellania
colour=0xCCAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_2]
x=437
y=10
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_3]
x=380
y=21
type=rect
width=22
height=86
fill=yes
colour=0x442D22
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_4]
x=331
y=22
type=layer
width=95
height=86

[com_5]
layer=com_4
x=7
y=6
type=text
width=38
height=16
font=p12_full
shadowed=yes
text=Mining
colour=0xBFBC8F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_6]
layer=com_4
x=-42
y=14
type=model
width=46
height=36
model=com_i328
zoom=987
xan=578
yan=4

[com_11]
layer=com_4
x=70
y=-1
type=model
buttontype=normal
width=16
height=33
model=com_i329
zoom=1739
xan=512
yan=0
option=Add

[com_12]
layer=com_4
x=71
y=53
type=model
buttontype=normal
width=16
height=30
model=com_i329
zoom=1934
xan=512
yan=1024
option=Remove

[com_13]
layer=com_4
x=52
y=74
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,0
fill=yes
colour=0x000000
activecolour=0x918F6D
overcolour=0x000000
activeovercolour=0x000000

[com_14]
layer=com_4
x=52
y=66
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,1
fill=yes
colour=0x000000
activecolour=0x969471
overcolour=0x000000
activeovercolour=0x000000

[com_15]
layer=com_4
x=52
y=58
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,2
fill=yes
colour=0x000000
activecolour=0x9C9975
overcolour=0x000000
activeovercolour=0x000000

[com_16]
layer=com_4
x=52
y=50
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,3
fill=yes
colour=0x000000
activecolour=0xA19E78
overcolour=0x000000
activeovercolour=0x000000

[com_17]
layer=com_4
x=52
y=42
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,4
fill=yes
colour=0x000000
activecolour=0xA6A37C
overcolour=0x000000
activeovercolour=0x000000

[com_18]
layer=com_4
x=52
y=34
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,5
fill=yes
colour=0x000000
activecolour=0xABA880
overcolour=0x000000
activeovercolour=0x000000

[com_19]
layer=com_4
x=52
y=26
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,6
fill=yes
colour=0x000000
activecolour=0xB0AD84
overcolour=0x000000
activeovercolour=0x000000

[com_20]
layer=com_4
x=52
y=18
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,7
fill=yes
colour=0x000000
activecolour=0xB5B288
overcolour=0x000000
activeovercolour=0x000000

[com_21]
layer=com_4
x=52
y=10
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,8
fill=yes
colour=0x000000
activecolour=0xBAB78C
overcolour=0x000000
activeovercolour=0x000000

[com_22]
layer=com_4
x=52
y=2
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_mine
script1=gt,9
fill=yes
colour=0x000000
activecolour=0xBFBC8F
overcolour=0x000000
activeovercolour=0x000000

[com_7]
x=166
y=160
type=rect
width=22
height=86
fill=yes
colour=0x442D22
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_8]
x=117
y=161
type=layer
width=96
height=84

[com_9]
layer=com_8
x=7
y=6
type=text
width=33
height=14
font=p12_full
shadowed=yes
text=Herbs
colour=0xBFBC8F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_10]
layer=com_8
x=-17
y=-18
type=model
width=46
height=36
model=com_i330
zoom=424
xan=512
yan=0

[com_27]
layer=com_8
x=72
y=-1
type=model
buttontype=normal
width=16
height=33
model=com_i329
zoom=1739
xan=512
yan=0
option=Add

[com_28]
layer=com_8
x=72
y=53
type=model
buttontype=normal
width=16
height=30
model=com_i329
zoom=1934
xan=512
yan=1024
option=Remove

[com_30]
layer=com_8
x=52
y=74
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,0
fill=yes
colour=0x000000
activecolour=0x918F6D
overcolour=0x000000
activeovercolour=0x000000

[com_49]
layer=com_8
x=52
y=66
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,1
fill=yes
colour=0x000000
activecolour=0x969471
overcolour=0x000000
activeovercolour=0x000000

[com_51]
layer=com_8
x=52
y=58
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,2
fill=yes
colour=0x000000
activecolour=0x9C9975
overcolour=0x000000
activeovercolour=0x000000

[com_52]
layer=com_8
x=52
y=50
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,3
fill=yes
colour=0x000000
activecolour=0xA19E78
overcolour=0x000000
activeovercolour=0x000000

[com_53]
layer=com_8
x=52
y=42
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,4
fill=yes
colour=0x000000
activecolour=0xA6A37C
overcolour=0x000000
activeovercolour=0x000000

[com_54]
layer=com_8
x=52
y=34
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,5
fill=yes
colour=0x000000
activecolour=0xABA880
overcolour=0x000000
activeovercolour=0x000000

[com_55]
layer=com_8
x=52
y=26
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,6
fill=yes
colour=0x000000
activecolour=0xB0AD84
overcolour=0x000000
activeovercolour=0x000000

[com_56]
layer=com_8
x=52
y=18
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,7
fill=yes
colour=0x000000
activecolour=0xB5B288
overcolour=0x000000
activeovercolour=0x000000

[com_57]
layer=com_8
x=52
y=10
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,8
fill=yes
colour=0x000000
activecolour=0xBAB78C
overcolour=0x000000
activeovercolour=0x000000

[com_58]
layer=com_8
x=52
y=2
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_herb
script1=gt,9
fill=yes
colour=0x000000
activecolour=0xBFBC8F
overcolour=0x000000
activeovercolour=0x000000

[com_92]
layer=com_8
x=-42
y=-57
type=model
width=46
height=36
model=com_i330
zoom=623
xan=512
yan=0

[com_93]
layer=com_8
x=-52
y=-18
type=model
width=46
height=36
model=com_i330
zoom=805
xan=512
yan=0

[com_23]
x=453
y=21
type=model
width=57
height=71
model=com_i155
zoom=1955
xan=563
yan=312

[com_24]
x=12
y=39
type=model
width=42
height=35
model=com_i331
zoom=490
xan=512
yan=0

[com_25]
x=21
y=46
type=layer
width=122
height=56

[com_26]
layer=com_25
x=10
y=1
type=text
width=48
height=14
font=p12_full
shadowed=yes
text=Coffers:
colour=0xBFBC8F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_87]
layer=com_25
x=66
y=1
type=text
width=50
height=14
font=p12_full
shadowed=yes
text=500,000
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_88]
layer=com_25
x=66
y=20
type=text
buttontype=normal
width=43
height=14
font=p12_full
shadowed=yes
text=Deposit
colour=0xFFFFFF
activecolour=0x000000
overcolour=0xFFFF00
activeovercolour=0x000000
option=Deposit

[com_89]
layer=com_25
x=66
y=35
type=text
buttontype=normal
width=50
height=14
font=p12_full
shadowed=yes
text=Withdraw
colour=0xFFFFFF
activecolour=0x000000
overcolour=0xFFFF00
activeovercolour=0x000000
option=Withdraw

[com_32]
x=287
y=104
type=rect
width=22
height=86
fill=yes
colour=0x442D22
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_40]
x=218
y=142
type=model
width=34
height=45
model=com_i332
zoom=1328
xan=512
yan=0

[com_42]
x=256
y=142
type=model
width=34
height=45
model=com_i332
zoom=1328
xan=512
yan=0

[com_43]
x=238
y=105
type=layer
width=96
height=84

[com_29]
layer=com_43
x=52
y=74
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,0
fill=yes
colour=0x000000
activecolour=0x918F6D
overcolour=0x000000
activeovercolour=0x000000

[com_33]
layer=com_43
x=52
y=66
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,1
fill=yes
colour=0x000000
activecolour=0x969471
overcolour=0x000000
activeovercolour=0x000000

[com_34]
layer=com_43
x=52
y=58
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,2
fill=yes
colour=0x000000
activecolour=0x9C9975
overcolour=0x000000
activeovercolour=0x000000

[com_35]
layer=com_43
x=52
y=50
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,3
fill=yes
colour=0x000000
activecolour=0xA19E78
overcolour=0x000000
activeovercolour=0x000000

[com_36]
layer=com_43
x=52
y=42
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,4
fill=yes
colour=0x000000
activecolour=0xA6A37C
overcolour=0x000000
activeovercolour=0x000000

[com_37]
layer=com_43
x=52
y=34
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,5
fill=yes
colour=0x000000
activecolour=0xABA880
overcolour=0x000000
activeovercolour=0x000000

[com_38]
layer=com_43
x=52
y=26
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,6
fill=yes
colour=0x000000
activecolour=0xB0AD84
overcolour=0x000000
activeovercolour=0x000000

[com_39]
layer=com_43
x=52
y=18
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,7
fill=yes
colour=0x000000
activecolour=0xB5B288
overcolour=0x000000
activeovercolour=0x000000

[com_41]
layer=com_43
x=52
y=10
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,8
fill=yes
colour=0x000000
activecolour=0xBAB78C
overcolour=0x000000
activeovercolour=0x000000

[com_44]
layer=com_43
x=7
y=6
type=text
width=30
height=14
font=p12_full
shadowed=yes
text=Wood
colour=0xBFBC8F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_46]
layer=com_43
x=70
y=-1
type=model
buttontype=normal
width=16
height=33
model=com_i329
zoom=1739
xan=512
yan=0
option=Add

[com_47]
layer=com_43
x=72
y=53
type=model
buttontype=normal
width=16
height=30
model=com_i329
zoom=1934
xan=512
yan=1024
option=Remove

[com_48]
layer=com_43
x=52
y=2
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_wood
script1=gt,9
fill=yes
colour=0x000000
activecolour=0xBFBC8F
overcolour=0x000000
activeovercolour=0x000000

[com_45]
x=237
y=169
type=model
width=34
height=45
model=com_i332
zoom=837
xan=512
yan=0

[com_59]
x=355
y=232
type=layer
width=90
height=86

[com_50]
layer=com_59
x=49
y=-1
type=rect
width=22
height=86
fill=yes
colour=0x442D22
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_60]
layer=com_59
x=1
y=2
type=text
width=40
height=14
font=p12_full
shadowed=yes
text=Fishing
colour=0xBFBC8F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_62]
layer=com_59
x=70
y=-1
type=model
buttontype=normal
width=16
height=33
model=com_i329
zoom=1739
xan=512
yan=0
option=Add

[com_63]
layer=com_59
x=70
y=54
type=model
buttontype=normal
width=16
height=30
model=com_i329
zoom=1934
xan=512
yan=1024
option=Remove

[com_64]
layer=com_59
x=52
y=74
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,0
fill=yes
colour=0x000000
activecolour=0x918F6D
overcolour=0x000000
activeovercolour=0x000000

[com_65]
layer=com_59
x=52
y=66
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,1
fill=yes
colour=0x000000
activecolour=0x969471
overcolour=0x000000
activeovercolour=0x000000

[com_66]
layer=com_59
x=52
y=58
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,2
fill=yes
colour=0x000000
activecolour=0x9C9975
overcolour=0x000000
activeovercolour=0x000000

[com_68]
layer=com_59
x=52
y=50
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,3
fill=yes
colour=0x000000
activecolour=0xA19E78
overcolour=0x000000
activeovercolour=0x000000

[com_69]
layer=com_59
x=52
y=42
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,4
fill=yes
colour=0x000000
activecolour=0xA6A37C
overcolour=0x000000
activeovercolour=0x000000

[com_70]
layer=com_59
x=52
y=34
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,5
fill=yes
colour=0x000000
activecolour=0xABA880
overcolour=0x000000
activeovercolour=0x000000

[com_71]
layer=com_59
x=52
y=26
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,6
fill=yes
colour=0x000000
activecolour=0xB0AD84
overcolour=0x000000
activeovercolour=0x000000

[com_72]
layer=com_59
x=52
y=18
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,7
fill=yes
colour=0x000000
activecolour=0xB5B288
overcolour=0x000000
activeovercolour=0x000000

[com_73]
layer=com_59
x=52
y=10
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,8
fill=yes
colour=0x000000
activecolour=0xBAB78C
overcolour=0x000000
activeovercolour=0x000000

[com_74]
layer=com_59
x=52
y=2
type=rect
width=16
height=8
script1op1=push_varbit,misc_points_fish
script1=gt,9
fill=yes
colour=0x000000
activecolour=0xBFBC8F
overcolour=0x000000
activeovercolour=0x000000

[com_107]
layer=com_59
x=9
y=45
type=text
buttontype=normal
width=36
height=12
font=p11_full
shadowed=yes
text=Cooked
colour=0xBFBC8F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Cooked or raw fish?

[com_108]
layer=com_59
x=3
y=28
type=graphic
buttontype=normal
width=15
height=15
script1op1=push_varbit,misc_cooked
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Cooked or raw fish?

[com_61]
x=447
y=259
type=model
width=34
height=43
model=com_i333
zoom=833
xan=512
yan=0

[com_67]
x=66
y=232
type=rect
width=22
height=86
fill=yes
colour=0x442D22
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_78]
x=17
y=233
type=layer
width=74
height=84

[com_31]
layer=com_78
x=52
y=74
type=rect
width=16
height=8
script1op1=pushvar,if1
script1=gt,0
fill=yes
colour=0x000000
activecolour=0x918F6D
overcolour=0x000000
activeovercolour=0x000000

[com_75]
layer=com_78
x=52
y=66
type=rect
width=16
height=8
script1op1=pushvar,if1
script1=gt,1
fill=yes
colour=0x000000
activecolour=0x969471
overcolour=0x000000
activeovercolour=0x000000

[com_76]
layer=com_78
x=52
y=58
type=rect
width=16
height=8
script1op1=pushvar,if1
script1=gt,2
fill=yes
colour=0x000000
activecolour=0x9C9975
overcolour=0x000000
activeovercolour=0x000000

[com_77]
layer=com_78
x=52
y=50
type=rect
width=16
height=8
script1op1=pushvar,if1
script1=gt,3
fill=yes
colour=0x000000
activecolour=0xA49E78
overcolour=0x000000
activeovercolour=0x000000

[com_79]
layer=com_78
x=14
y=7
type=text
width=20
height=14
font=p12_full
shadowed=yes
text=Idle
colour=0xBFBC8F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_80]
layer=com_78
x=-7
y=43
type=model
width=53
height=31
model=com_i334
zoom=1227
xan=583
yan=2012

[com_81]
layer=com_78
x=52
y=42
type=rect
width=16
height=8
script1op1=pushvar,if1
script1=gt,4
fill=yes
colour=0x000000
activecolour=0xA6A37C
overcolour=0x000000
activeovercolour=0x000000

[com_82]
layer=com_78
x=52
y=34
type=rect
width=16
height=8
script1op1=pushvar,if1
script1=gt,5
fill=yes
colour=0x000000
activecolour=0xABA880
overcolour=0x000000
activeovercolour=0x000000

[com_83]
layer=com_78
x=52
y=26
type=rect
width=16
height=8
script1op1=pushvar,if1
script1=gt,6
fill=yes
colour=0x000000
activecolour=0xB0AD84
overcolour=0x000000
activeovercolour=0x000000

[com_84]
layer=com_78
x=52
y=18
type=rect
width=16
height=8
script1op1=pushvar,if1
script1=gt,7
fill=yes
colour=0x000000
activecolour=0xB5B288
overcolour=0x000000
activeovercolour=0x000000

[com_85]
layer=com_78
x=52
y=10
type=rect
width=16
height=8
script1op1=pushvar,if1
script1=gt,8
fill=yes
colour=0x000000
activecolour=0xBAB78C
overcolour=0x000000
activeovercolour=0x000000

[com_86]
layer=com_78
x=52
y=2
type=rect
width=16
height=8
script1op1=pushvar,if1
script1=gt,9
fill=yes
colour=0x000000
activecolour=0xBFBC8F
overcolour=0x000000
activeovercolour=0x000000

[com_90]
x=470
y=196
type=model
width=34
height=43
model=com_i333
zoom=1359
xan=512
yan=0

[com_91]
x=471
y=229
type=model
width=34
height=43
model=com_i333
zoom=1126
xan=512
yan=0

[com_94]
x=249
y=138
type=model
width=32
height=32
model=com_i335
zoom=442
xan=512
yan=0

[com_95]
x=243
y=255
type=model
buttontype=normal
width=43
height=43
model=com_i144
zoom=1850
xan=515
yan=18

[com_96]
x=254
y=307
type=text
width=24
height=14
font=p12_full
shadowed=yes
text=Help
colour=0xBFBC8F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_97]
x=9
y=124
type=text
width=4
height=2
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=Deposit money in
colour=0xBFBC8F
activecolour=0xBFBC8F
overcolour=0x000000
activeovercolour=0x000000

[com_98]
x=9
y=139
type=text
width=4
height=4
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=the coffers to
colour=0xBFBC8F
activecolour=0xBFBC8F
overcolour=0x000000
activeovercolour=0x000000

[com_99]
x=9
y=154
type=text
width=4
height=2
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=pay your subjects
colour=0xBFBC8F
activecolour=0xBFBC8F
overcolour=0x000000
activeovercolour=0x000000

[com_100]
x=9
y=169
type=text
width=4
height=2
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=and make them
colour=0xBFBC8F
activecolour=0xBFBC8F
overcolour=0x000000
activeovercolour=0x000000

[com_101]
x=9
y=184
type=text
width=4
height=2
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=work harder.
colour=0xBFBC8F
activecolour=0xBFBC8F
overcolour=0x000000
activeovercolour=0x000000

[com_102]
x=340
y=113
type=text
width=4
height=2
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=Use the arrows to
colour=0xBFBC8F
activecolour=0xBFBC8F
overcolour=0x000000
activeovercolour=0x000000

[com_103]
x=340
y=128
type=text
width=4
height=2
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=adjust the amount
colour=0xBFBC8F
activecolour=0xBFBC8F
overcolour=0x000000
activeovercolour=0x000000

[com_104]
x=340
y=143
type=text
width=4
height=2
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=of effort your
colour=0xBFBC8F
activecolour=0xBFBC8F
overcolour=0x000000
activeovercolour=0x000000

[com_105]
x=340
y=158
type=text
width=4
height=2
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=subjects spend
colour=0xBFBC8F
activecolour=0xBFBC8F
overcolour=0x000000
activeovercolour=0x000000

[com_106]
x=340
y=173
type=text
width=4
height=2
script1op1=pushvar,if2
script1=eq,1
font=p12_full
shadowed=yes
activetext=on each resource.
colour=0xBFBC8F
activecolour=0xBFBC8F
overcolour=0x000000
activeovercolour=0x000000
