type=layer
width=512
height=334

[component_12232]
x=210
y=136
type=model
width=32
height=32
model=com_i336
zoom=881
xan=410
yan=2046

[component_12233]
x=217
y=137
type=model
width=32
height=32
model=com_i365
zoom=824
xan=436
yan=7

[component_12234]
x=169
y=72
type=text
width=154
height=19
center=yes
font=q8_full
shadowed=yes
text=Rune-Draw
colour=0xE9AB73
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12235]
x=407
y=7
type=text
buttontype=close
width=93
height=17
font=q8_full
shadowed=yes
text=Close Window
colour=0xE9AB73
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[component_12236]
x=71
y=108
type=text
width=78
height=17
font=q8_full
shadowed=yes
text=Your Score
colour=0xC47630
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12237]
x=314
y=111
type=text
width=111
height=17
font=q8_full
shadowed=yes
text=opponent's Score
colour=0xC47630
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12240]
x=72
y=145
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12241]
x=105
y=145
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12242]
x=140
y=137
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12243]
x=173
y=131
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12244]
x=205
y=125
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12245]
x=69
y=172
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12246]
x=104
y=175
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12247]
x=139
y=167
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12248]
x=172
y=158
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12249]
x=204
y=154
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12250]
x=267
y=157
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12251]
x=301
y=158
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12252]
x=336
y=151
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12253]
x=370
y=142
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12254]
x=402
y=143
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12255]
x=266
y=188
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12256]
x=302
y=190
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12257]
x=337
y=183
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12258]
x=371
y=172
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12259]
x=404
y=172
type=model
width=25
height=24
model=com_i366
zoom=1027
xan=525
yan=762

[component_12260]
x=86
y=73
type=text
width=58
height=17
script1op1=push_varbit,varbit_230
center=yes
font=q8_full
text=DEATH
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12261]
x=61
y=244
type=text
width=81
height=18
center=yes
font=q8_full
shadowed=yes
text=Text
colour=0xC47630
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12262]
x=350
y=78
type=text
width=58
height=17
script1op1=push_varbit,varbit_231
center=yes
font=q8_full
text=DEATH
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12263]
x=348
y=253
type=text
width=85
height=19
center=yes
font=q8_full
shadowed=yes
text=Text
colour=0xC47630
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12264]
x=171
y=208
type=layer
width=62
height=43

[component_12238]
layer=component_12264
x=14
y=15
type=text
buttontype=normal
width=37
height=17
font=q8_full
shadowed=yes
text=Draw
colour=0xC47630
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000
option=Draw

[component_12265]
x=170
y=256
type=layer
width=63
height=43

[component_12239]
layer=component_12265
x=15
y=12
type=text
buttontype=normal
width=30
height=17
font=q8_full
shadowed=yes
text=Hold
colour=0xC47630
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000
option=Hold
