type=layer
width=512
height=334

[com_0]
x=0
y=0
type=rect
width=512
height=334
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_1]
x=260
y=166
type=model
width=32
height=32
model=com_i336
zoom=886
xan=416
yan=1023

[com_2]
x=222
y=145
type=model
width=32
height=32
model=com_i367
zoom=962
xan=450
yan=2039

[com_3]
x=406
y=11
type=text
buttontype=close
width=93
height=17
font=q8_full
shadowed=yes
text=Close Window
colour=0xE9AB73
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_4]
x=331
y=149
type=text
width=39
height=14
font=p12_full
shadowed=yes
text=8-East
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_5]
x=332
y=130
type=text
width=47
height=14
font=p12_full
shadowed=yes
text=6-South
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_6]
x=330
y=169
type=text
width=46
height=14
center=yes
font=p12_full
shadowed=yes
text=2-North
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_7]
x=330
y=188
type=text
width=38
height=14
font=p12_full
shadowed=yes
text=4-East
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_8]
x=330
y=207
type=text
width=55
height=14
font=p12_full
shadowed=yes
text=22-South
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_9]
x=298
y=107
type=text
width=119
height=14
font=b12_full
shadowed=yes
text=X marks the start!
colour=0xE9AB73
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_10]
x=188
y=74
type=text
width=129
height=17
font=q8_full
shadowed=yes
text=Dragontooth Island
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
