type=layer
width=512
height=334

[com_0]
x=241
y=160
type=model
width=32
height=32
model=com_i313
zoom=151
xan=509
yan=1536

[com_1]
x=235
y=150
type=model
width=32
height=32
model=com_i314
zoom=137
xan=493
yan=355

[com_2]
x=231
y=159
type=model
width=32
height=32
model=com_i315
zoom=150
xan=474
yan=32

[com_3]
x=232
y=157
type=model
width=32
height=32
model=com_i315
zoom=99
xan=474
yan=32

[com_4]
x=236
y=159
type=model
width=32
height=32
model=com_i315
zoom=307
xan=474
yan=32

[com_5]
x=236
y=159
type=model
width=32
height=32
model=com_i316
zoom=197
xan=159
yan=57

[com_6]
x=110
y=38
type=layer
width=335
height=259

[com_9]
layer=com_6
x=74
y=-5
type=model
width=32
height=32
model=obj_coins
zoom=0
xan=0
yan=0

[com_10]
layer=com_6
x=37
y=57
type=model
width=32
height=32
model=obj_coins
zoom=306
xan=353
yan=1927

[com_11]
layer=com_6
x=29
y=131
type=model
width=32
height=32
model=obj_coins
zoom=306
xan=328
yan=1916

[com_12]
layer=com_6
x=55
y=199
type=model
width=32
height=32
model=obj_coins
zoom=306
xan=311
yan=1735

[com_13]
layer=com_6
x=301
y=117
type=model
width=32
height=32
model=obj_coins
zoom=306
xan=361
yan=1883

[com_14]
layer=com_6
x=271
y=193
type=model
width=32
height=32
model=obj_coins
zoom=306
xan=360
yan=1905

[com_15]
layer=com_6
x=241
y=-11
type=model
width=32
height=32
model=obj_coins
zoom=306
xan=380
yan=1870

[com_16]
layer=com_6
x=292
y=39
type=model
width=25
height=45
model=obj_coins
zoom=306
xan=351
yan=1844

[com_7]
x=429
y=10
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0x5A747F
activecolour=0x000000
overcolour=0x83A6B5
activeovercolour=0x000000

[com_8]
x=233
y=148
type=model
width=32
height=32
model=com_i316
zoom=127
xan=159
yan=57
