type=layer
width=512
height=334

[com_0]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_1]
x=12
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_2]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_3]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_8]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_9]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_10]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_11]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_12]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_13]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_14]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_15]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_16]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_17]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_18]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_19]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_20]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_21]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_22]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_23]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_24]
x=364
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_25]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_26]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_27]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_28]
x=412
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_29]
x=412
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_30]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[com_31]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_32]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_33]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_34]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_35]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_36]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_37]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_38]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_39]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_40]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_41]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_42]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_43]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_44]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_45]
x=73
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_46]
x=109
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_47]
x=145
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_48]
x=181
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_49]
x=217
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_50]
x=253
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_51]
x=289
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_52]
x=325
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_53]
x=361
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_54]
x=397
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_55]
x=433
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_56]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_57]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_58]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_59]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_60]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_61]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_62]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_63]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_64]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_65]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_66]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_67]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_68]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_69]
x=37
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_70]
x=12
y=290
type=graphic
width=25
height=30
graphic=steelborder,2

[com_71]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[com_72]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_73]
x=475
y=290
type=graphic
width=25
height=30
graphic=steelborder,3

[com_74]
x=439
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_75]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_76]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_77]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_78]
x=396
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_79]
x=432
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_80]
x=459
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_81]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_82]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_83]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_84]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_85]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_86]
x=36
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_87]
x=17
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_88]
x=420
y=32
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0xA1A1A1
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_89]
x=162
y=30
type=text
width=194
height=14
center=yes
font=b12_full
shadowed=yes
text=Thessalia's Makeovers (Legs)
colour=0xC9800D
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_90]
x=59
y=249
type=rect
width=403
height=28
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_91]
x=85
y=250
type=rect
buttontype=select
width=25
height=25
script1op1=pushvar,if3
script1=eq,2
fill=yes
colour=0x7B6E32
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Khaki

[com_92]
x=110
y=250
type=rect
buttontype=select
width=25
height=25
script1op1=pushvar,if3
script1=eq,3
fill=yes
colour=0x262323
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Black

[com_93]
x=135
y=250
type=rect
buttontype=select
width=25
height=25
script1op1=pushvar,if3
script1=eq,4
fill=yes
colour=0x752F3B
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Crimson

[com_94]
x=160
y=250
type=rect
buttontype=select
width=25
height=25
script1op1=pushvar,if3
script1=eq,5
fill=yes
colour=0x3B3B4E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Navy

[com_95]
x=185
y=250
type=rect
buttontype=select
width=25
height=25
script1op1=pushvar,if3
script1=eq,6
fill=yes
colour=0xAA9045
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Straw

[com_96]
x=210
y=250
type=rect
buttontype=select
width=25
height=25
script1op1=pushvar,if3
script1=eq,7
fill=yes
colour=0xADA481
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=White

[com_97]
x=235
y=250
type=rect
buttontype=select
width=25
height=25
script1op1=pushvar,if3
script1=eq,8
fill=yes
colour=0x8B3B2A
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Red

[com_98]
x=260
y=250
type=rect
buttontype=select
width=25
height=25
script1op1=pushvar,if3
script1=eq,9
fill=yes
colour=0x2D5272
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Blue

[com_99]
x=285
y=250
type=rect
buttontype=select
width=25
height=25
script1op1=pushvar,if3
script1=eq,10
fill=yes
colour=0x2D723E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Green

[com_100]
x=310
y=250
type=rect
buttontype=select
width=25
height=25
script1op1=pushvar,if3
script1=eq,11
fill=yes
colour=0xA3970D
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Yellow

[com_101]
x=335
y=250
type=rect
buttontype=select
width=25
height=25
script1op1=pushvar,if3
script1=eq,12
fill=yes
colour=0x83537B
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Purple

[com_102]
x=360
y=250
type=rect
buttontype=select
width=25
height=25
script1op1=pushvar,if3
script1=eq,13
fill=yes
colour=0x9D642F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Orange

[com_103]
x=385
y=250
type=rect
buttontype=select
width=25
height=25
script1op1=pushvar,if3
script1=eq,14
fill=yes
colour=0xA17067
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Rose

[com_104]
x=410
y=250
type=rect
buttontype=select
width=25
height=25
script1op1=pushvar,if3
script1=eq,15
fill=yes
colour=0x829472
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Lime

[com_105]
x=435
y=250
type=rect
buttontype=select
width=25
height=25
script1op1=pushvar,if3
script1=eq,16
fill=yes
colour=0x728C94
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Cyan

[com_106]
x=60
y=250
type=rect
buttontype=select
width=25
height=25
script1op1=pushvar,if3
script1=eq,1
fill=yes
colour=0x1C6135
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Emerald

[confirm]
x=197
y=289
type=text
buttontype=normal
width=127
height=14
font=b12_full
shadowed=yes
text=CONFIRM (500 gold)
colour=0x00FF00
activecolour=0x000000
overcolour=0xFF0000
activeovercolour=0x000000

[com_108]
x=59
y=250
type=graphic
width=25
height=25
script1op1=pushvar,if3
script1=eq,1
activegraphic=overlay_multiway,0

[com_109]
x=84
y=250
type=graphic
width=25
height=25
script1op1=pushvar,if3
script1=eq,2
activegraphic=overlay_multiway,0

[com_110]
x=109
y=250
type=graphic
width=25
height=25
script1op1=pushvar,if3
script1=eq,3
activegraphic=overlay_multiway,0

[com_111]
x=134
y=250
type=graphic
width=25
height=25
script1op1=pushvar,if3
script1=eq,4
activegraphic=overlay_multiway,0

[com_112]
x=160
y=250
type=graphic
width=25
height=25
script1op1=pushvar,if3
script1=eq,5
activegraphic=overlay_multiway,0

[com_113]
x=185
y=250
type=graphic
width=25
height=25
script1op1=pushvar,if3
script1=eq,6
activegraphic=overlay_multiway,0

[com_114]
x=210
y=250
type=graphic
width=25
height=25
script1op1=pushvar,if3
script1=eq,7
activegraphic=overlay_multiway,0

[com_115]
x=235
y=250
type=graphic
width=25
height=25
script1op1=pushvar,if3
script1=eq,8
activegraphic=overlay_multiway,0

[com_116]
x=260
y=250
type=graphic
width=25
height=25
script1op1=pushvar,if3
script1=eq,9
activegraphic=overlay_multiway,0

[com_117]
x=285
y=250
type=graphic
width=25
height=25
script1op1=pushvar,if3
script1=eq,10
activegraphic=overlay_multiway,0

[com_118]
x=310
y=250
type=graphic
width=25
height=25
script1op1=pushvar,if3
script1=eq,11
activegraphic=overlay_multiway,0

[com_119]
x=335
y=250
type=graphic
width=25
height=25
script1op1=pushvar,if3
script1=eq,12
activegraphic=overlay_multiway,0

[com_120]
x=360
y=250
type=graphic
width=25
height=25
script1op1=pushvar,if3
script1=eq,13
activegraphic=overlay_multiway,0

[com_121]
x=385
y=250
type=graphic
width=25
height=25
script1op1=pushvar,if3
script1=eq,14
activegraphic=overlay_multiway,0

[com_122]
x=410
y=250
type=graphic
width=25
height=25
script1op1=pushvar,if3
script1=eq,15
activegraphic=overlay_multiway,0

[com_123]
x=435
y=250
type=graphic
width=25
height=25
script1op1=pushvar,if3
script1=eq,16
activegraphic=overlay_multiway,0

[com_124]
x=220
y=225
type=text
width=73
height=14
font=p12_full
shadowed=yes
text=Select colour
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_125]
x=90
y=180
type=model
width=32
height=32
model=obj_macro_mime_legs_womanwear
zoom=600
xan=0
yan=0

[com_126]
x=142
y=180
type=model
width=32
height=32
model=idk_woman_legs_shorts
zoom=600
xan=0
yan=0

[com_127]
x=195
y=180
type=model
width=32
height=32
model=idk_woman_legs_flares
zoom=600
xan=0
yan=0

[com_128]
x=248
y=180
type=model
width=32
height=32
model=obj_roguetrader_carpetsller_legs_womanwear
zoom=600
xan=0
yan=0

[com_129]
x=300
y=180
type=model
width=32
height=32
model=obj_priest_robe_womanwear
zoom=600
xan=0
yan=0

[com_130]
x=350
y=180
type=model
width=32
height=32
model=idk_woman_legs_turn_ups_4
zoom=600
xan=0
yan=0

[com_131]
x=400
y=180
type=model
width=32
height=32
model=idk_woman_legs_turn_ups_5
zoom=600
xan=0
yan=0

[com_132]
x=90
y=90
type=graphic
buttontype=select
width=30
height=100
script1op1=pushvar,if1
script1=eq,1
option=Plain

[com_133]
x=142
y=90
type=graphic
buttontype=select
width=30
height=100
script1op1=pushvar,if1
script1=eq,2
option=Shorts

[com_134]
x=195
y=90
type=graphic
buttontype=select
width=30
height=100
script1op1=pushvar,if1
script1=eq,3
option=Flares

[com_135]
x=248
y=90
type=graphic
buttontype=select
width=30
height=100
script1op1=pushvar,if1
script1=eq,4
option=Long Narrow Skirt

[com_136]
x=300
y=90
type=graphic
buttontype=select
width=30
height=100
script1op1=pushvar,if1
script1=eq,5
option=Long Skirt

[com_137]
x=350
y=90
type=graphic
buttontype=select
width=30
height=100
script1op1=pushvar,if1
script1=eq,7
option=Turn-ups

[com_138]
x=400
y=90
type=graphic
buttontype=select
width=30
height=100
script1op1=pushvar,if1
script1=eq,8
option=Short Skirt

[com_139]
x=90
y=100
type=graphic
width=25
height=25
script1op1=pushvar,if1
script1=eq,1
activegraphic=overlay_multiway,0

[com_140]
x=142
y=100
type=graphic
width=25
height=25
script1op1=pushvar,if1
script1=eq,2
activegraphic=overlay_multiway,0

[com_141]
x=195
y=100
type=graphic
width=25
height=25
script1op1=pushvar,if1
script1=eq,3
activegraphic=overlay_multiway,0

[com_142]
x=300
y=100
type=graphic
width=25
height=25
script1op1=pushvar,if1
script1=eq,5
activegraphic=overlay_multiway,0

[com_143]
x=248
y=100
type=graphic
width=25
height=25
script1op1=pushvar,if1
script1=eq,4
activegraphic=overlay_multiway,0

[com_144]
x=350
y=100
type=graphic
width=25
height=25
script1op1=pushvar,if1
script1=eq,7
activegraphic=overlay_multiway,0

[com_145]
x=400
y=100
type=graphic
width=25
height=25
script1op1=pushvar,if1
script1=eq,8
activegraphic=overlay_multiway,0

[com_146]
x=211
y=62
type=text
width=87
height=14
font=p12_full
shadowed=yes
text=Select leg style
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
