type=layer
width=512
height=334

[com_0]
x=2
y=68
type=rect
width=508
height=172
fill=yes
colour=0x202020
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_1]
x=6
y=72
type=rect
width=499
height=164
fill=yes
colour=0x404040
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_2]
x=12
y=20
type=layer
width=488
height=36

[com_3]
layer=com_2
x=94
y=-3
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
layer=com_2
x=182
y=6
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
layer=com_2
x=270
y=6
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
layer=com_2
x=358
y=6
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
layer=com_2
x=394
y=6
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_8]
layer=com_2
x=6
y=-1
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_9]
layer=com_2
x=60
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_10]
layer=com_2
x=96
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_11]
layer=com_2
x=132
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_12]
layer=com_2
x=168
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_13]
layer=com_2
x=204
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_14]
layer=com_2
x=240
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_15]
layer=com_2
x=276
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_16]
layer=com_2
x=312
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_17]
layer=com_2
x=348
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_18]
layer=com_2
x=384
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_19]
layer=com_2
x=420
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_20]
layer=com_2
x=428
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_21]
layer=com_2
x=0
y=0
type=graphic
width=25
height=30
graphic=steelborder,0

[com_22]
layer=com_2
x=60
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_23]
layer=com_2
x=96
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_24]
layer=com_2
x=132
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_25]
layer=com_2
x=168
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_26]
layer=com_2
x=204
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_27]
layer=com_2
x=240
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_28]
layer=com_2
x=276
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_29]
layer=com_2
x=312
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_30]
layer=com_2
x=348
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_31]
layer=com_2
x=384
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_32]
layer=com_2
x=420
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_33]
layer=com_2
x=25
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_34]
layer=com_2
x=463
y=0
type=graphic
width=25
height=30
graphic=steelborder,1

[com_35]
layer=com_2
x=427
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_36]
layer=com_2
x=463
y=7
type=graphic
width=25
height=30
graphic=steelborder,3

[com_37]
layer=com_2
x=25
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_38]
layer=com_2
x=0
y=7
type=graphic
width=25
height=30
graphic=steelborder,2

[com_39]
x=54
y=116
type=model
width=32
height=32
model=com_i16
zoom=550
xan=400
yan=0

[com_40]
x=178
y=116
type=model
width=32
height=32
model=com_i16
zoom=550
xan=400
yan=0

[com_41]
x=302
y=116
type=model
width=32
height=32
model=com_i16
zoom=550
xan=400
yan=0

[com_42]
x=426
y=116
type=model
width=32
height=32
model=com_i16
zoom=550
xan=400
yan=0

[com_43]
x=65
y=97
type=text
width=9
height=17
center=yes
font=q8_full
shadowed=yes
text=A
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_44]
x=189
y=97
type=text
width=9
height=17
center=yes
font=q8_full
shadowed=yes
text=A
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_45]
x=313
y=97
type=text
width=9
height=17
center=yes
font=q8_full
shadowed=yes
text=A
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_46]
x=437
y=97
type=text
width=9
height=17
center=yes
font=q8_full
shadowed=yes
text=A
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_47]
x=22
y=196
type=graphic
buttontype=normal
width=45
height=36
graphic=leftarrow,0

[com_48]
x=70
y=196
type=graphic
buttontype=normal
width=45
height=36
graphic=rightarrow,0

[com_49]
x=146
y=196
type=graphic
buttontype=normal
width=45
height=36
graphic=leftarrow,0

[com_50]
x=194
y=196
type=graphic
buttontype=normal
width=45
height=36
graphic=rightarrow,0

[com_51]
x=270
y=196
type=graphic
buttontype=normal
width=45
height=36
graphic=leftarrow,0

[com_52]
x=318
y=196
type=graphic
buttontype=normal
width=45
height=36
graphic=rightarrow,0

[com_53]
x=394
y=196
type=graphic
buttontype=normal
width=45
height=36
graphic=leftarrow,0

[com_54]
x=442
y=196
type=graphic
buttontype=normal
width=45
height=36
graphic=rightarrow,0

[com_55]
x=185
y=30
type=text
width=147
height=14
center=yes
font=b12_full
shadowed=yes
text=Combination Lock Door
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_56]
x=424
y=28
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0xC00000
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_57]
x=193
y=262
type=rect
buttontype=normal
width=128
height=32
fill=yes
colour=0x404040
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_58]
x=227
y=269
type=text
width=62
height=17
font=q8_full
shadowed=yes
text=ENTER
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
