type=layer
width=512
height=334

[com_0]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_1]
x=12
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_2]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_3]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_8]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_9]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_10]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_11]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_12]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_13]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_14]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_15]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_16]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_17]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_18]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_19]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_20]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_21]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_22]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_23]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_24]
x=364
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_25]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_26]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_27]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_28]
x=412
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_29]
x=412
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_30]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[com_31]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_32]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_33]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_34]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_35]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_36]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_37]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_38]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_39]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_40]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_41]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_42]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_43]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_44]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_45]
x=73
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_46]
x=109
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_47]
x=145
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_48]
x=181
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_49]
x=217
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_50]
x=253
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_51]
x=289
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_52]
x=325
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_53]
x=361
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_54]
x=397
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_55]
x=433
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_56]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_57]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_58]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_59]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_60]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_61]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_62]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_63]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_64]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_65]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_66]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_67]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_68]
x=36
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_69]
x=37
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_70]
x=12
y=290
type=graphic
width=25
height=30
graphic=steelborder,2

[com_71]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[com_72]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_73]
x=475
y=290
type=graphic
width=25
height=30
graphic=steelborder,3

[com_74]
x=439
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_75]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_76]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_77]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_78]
x=396
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_79]
x=432
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_80]
x=459
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_81]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_82]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_83]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_84]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_85]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_86]
x=36
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_87]
x=17
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_89]
x=52
y=280
type=model
width=32
height=32
model=standard_duel_8
zoom=1031
xan=105
yan=312

[com_90]
x=192
y=60
type=text
width=175
height=14
font=p12_full
shadowed=yes
text=Last fifty duels on this server:
colour=0xAA8822
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_91]
x=21
y=29
type=text
width=65
height=14
font=p12_full
shadowed=yes
text=Scoreboard
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_92]
x=423
y=29
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_93]
x=92
y=80
type=layer
width=378
height=227
scroll=752

[duel2]
layer=com_93
x=90
y=15
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel1]
layer=com_93
x=90
y=0
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel3]
layer=com_93
x=90
y=30
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel4]
layer=com_93
x=90
y=45
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel5]
layer=com_93
x=90
y=60
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel6]
layer=com_93
x=90
y=75
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel7]
layer=com_93
x=90
y=90
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel8]
layer=com_93
x=90
y=105
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel9]
layer=com_93
x=90
y=120
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel10]
layer=com_93
x=90
y=135
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel11]
layer=com_93
x=90
y=150
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel12]
layer=com_93
x=90
y=165
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel13]
layer=com_93
x=90
y=180
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel14]
layer=com_93
x=90
y=195
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel15]
layer=com_93
x=90
y=210
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel16]
layer=com_93
x=90
y=225
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel17]
layer=com_93
x=90
y=240
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel18]
layer=com_93
x=90
y=255
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel19]
layer=com_93
x=90
y=270
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel20]
layer=com_93
x=90
y=285
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel21]
layer=com_93
x=90
y=300
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel22]
layer=com_93
x=90
y=315
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel23]
layer=com_93
x=90
y=330
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel24]
layer=com_93
x=90
y=345
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel25]
layer=com_93
x=90
y=360
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel26]
layer=com_93
x=90
y=375
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel27]
layer=com_93
x=90
y=390
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel28]
layer=com_93
x=90
y=405
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel29]
layer=com_93
x=90
y=420
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel30]
layer=com_93
x=90
y=435
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel31]
layer=com_93
x=90
y=450
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel32]
layer=com_93
x=90
y=465
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel33]
layer=com_93
x=90
y=480
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel34]
layer=com_93
x=90
y=495
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel35]
layer=com_93
x=90
y=510
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel36]
layer=com_93
x=90
y=525
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel37]
layer=com_93
x=90
y=540
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel38]
layer=com_93
x=90
y=555
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel39]
layer=com_93
x=90
y=570
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel40]
layer=com_93
x=90
y=585
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel41]
layer=com_93
x=90
y=600
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel42]
layer=com_93
x=90
y=615
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel43]
layer=com_93
x=90
y=630
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel44]
layer=com_93
x=90
y=645
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel45]
layer=com_93
x=90
y=660
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel46]
layer=com_93
x=90
y=675
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel47]
layer=com_93
x=90
y=690
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel48]
layer=com_93
x=90
y=705
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel49]
layer=com_93
x=90
y=720
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[duel50]
layer=com_93
x=90
y=735
type=text
width=198
height=14
center=yes
font=p12_full
shadowed=yes
text=Crunchy (126) beat Crunchy2 (126)
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
