type=layer
width=512
height=334

[com_0]
x=15
y=266
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_1]
x=100
y=267
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_2]
x=184
y=267
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_3]
x=269
y=267
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
x=352
y=267
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
x=409
y=267
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
x=12
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_8]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_9]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_10]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_11]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_12]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_13]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_14]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_15]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_16]
x=100
y=258
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_17]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_18]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_19]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_20]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_21]
x=188
y=255
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_22]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_23]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_24]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_25]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_26]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_27]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_28]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_29]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_30]
x=364
y=259
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_31]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_32]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_33]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_34]
x=412
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_35]
x=412
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_36]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[com_37]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_38]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_39]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_40]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_41]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_42]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_43]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_44]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_45]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_46]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_47]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_48]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_49]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_50]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_51]
x=73
y=308
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_52]
x=108
y=308
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_53]
x=143
y=308
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_54]
x=178
y=308
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_55]
x=213
y=308
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_56]
x=248
y=308
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_57]
x=283
y=308
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_58]
x=318
y=308
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_59]
x=353
y=308
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_60]
x=388
y=308
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_61]
x=423
y=308
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_62]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_63]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_64]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_65]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_66]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_67]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_68]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_69]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_70]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_71]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_72]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_73]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_74]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_75]
x=38
y=308
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_76]
x=12
y=299
type=graphic
width=25
height=30
graphic=steelborder,2

[com_77]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[com_78]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_79]
x=475
y=299
type=graphic
width=25
height=30
graphic=steelborder,3

[com_80]
x=442
y=308
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_81]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_82]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_83]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_84]
x=396
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_85]
x=432
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_86]
x=459
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_87]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_88]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_89]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_90]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_91]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_92]
x=36
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_93]
x=17
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_94]
x=19
y=55
type=layer
width=137
height=122
scroll=348

[inv]
layer=com_94
x=8
y=16
type=inv
width=3
height=10
margin=10,1
option1=Remove 1
option2=Remove 5
option3=Remove 10
option4=Remove All
option5=Remove X

[com_102]
layer=com_94
x=1
y=1
type=text
width=64
height=14
font=p12_full
shadowed=yes
text=Your Stake:
colour=0xAA8822
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_95]
x=343
y=55
type=layer
width=135
height=122
scroll=348

[otherinv]
layer=com_95
x=10
y=13
type=inv
width=3
height=10
margin=10,1

[com_101]
layer=com_95
x=10
y=1
type=text
width=100
height=14
font=p12_full
shadowed=yes
text=Opponents Stake:
colour=0xAA8822
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_96]
x=180
y=253
type=layer
width=78
height=42

[accept]
layer=com_96
x=6
y=6
type=rect
buttontype=normal
width=66
height=31
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Accept stake and duel options

[accept_text]
layer=com_96
x=21
y=14
type=text
width=39
height=14
font=p12_full
shadowed=yes
text=Accept
colour=0x008000
activecolour=0x000000
overcolour=0x00FF00
activeovercolour=0x000000

[com_110]
layer=com_96
x=21
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_115]
layer=com_96
x=0
y=0
type=graphic
width=25
height=30
graphic=steelborder,0

[com_117]
layer=com_96
x=53
y=0
type=graphic
width=25
height=30
graphic=steelborder,1

[com_119]
layer=com_96
x=0
y=12
type=graphic
width=25
height=30
graphic=steelborder,2

[com_121]
layer=com_96
x=53
y=12
type=graphic
width=25
height=30
graphic=steelborder,3

[com_122]
layer=com_96
x=20
y=21
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_97]
x=267
y=253
type=layer
width=78
height=43

[decline]
layer=com_97
x=6
y=6
type=rect
buttontype=close
width=66
height=31
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_106]
layer=com_97
x=20
y=14
type=text
width=40
height=14
font=p12_full
shadowed=yes
text=Decline
colour=0x800000
activecolour=0x000000
overcolour=0xFF0000
activeovercolour=0x000000

[com_112]
layer=com_97
x=22
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_114]
layer=com_97
x=22
y=22
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_116]
layer=com_97
x=0
y=0
type=graphic
width=25
height=30
graphic=steelborder,0

[com_118]
layer=com_97
x=53
y=0
type=graphic
width=25
height=30
graphic=steelborder,1

[com_120]
layer=com_97
x=0
y=13
type=graphic
width=25
height=30
graphic=steelborder,2

[com_123]
layer=com_97
x=53
y=13
type=graphic
width=25
height=30
graphic=steelborder,3

[otherplayer]
x=21
y=29
type=text
width=69
height=14
font=p12_full
shadowed=yes
text=Dueling with:
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_107]
x=156
y=86
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_108]
x=156
y=50
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_109]
x=156
y=143
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_111]
x=156
y=114
type=graphic
width=36
height=36
graphic=miscgraphics,2

[status]
x=152
y=298
type=text
width=220
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player is allowed to forfeit the duel.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_124]
x=423
y=29
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[no_forfeit_text]
x=52
y=297
type=text
buttontype=normal
width=57
height=14
overlayer=com_161
font=p12_full
shadowed=yes
text=No Forfeit
colour=0xAA8822
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Toggle option

[no_magic_text]
x=52
y=231
type=text
buttontype=normal
width=50
height=14
overlayer=com_175
font=p12_full
shadowed=yes
text=No Magic
colour=0xAA8822
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Toggle option

[no_ranged_text]
x=52
y=185
type=text
buttontype=normal
width=60
height=14
overlayer=com_171
font=p12_full
shadowed=yes
text=No Ranged
colour=0xAA8822
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Toggle option

[no_melee_text]
x=53
y=208
type=text
buttontype=normal
width=51
height=14
overlayer=com_173
font=p12_full
shadowed=yes
text=No Melee
colour=0xAA8822
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Toggle option

[com_129]
x=331
y=54
type=graphic
width=36
height=36
graphic=miscgraphics,2

[no_potions_text]
x=401
y=192
type=text
buttontype=normal
width=53
height=14
overlayer=com_181
font=p12_full
shadowed=yes
text=No Drinks
colour=0xAA8822
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Toggle option

[no_food_text]
x=402
y=214
type=text
buttontype=normal
width=45
height=14
overlayer=com_183
font=p12_full
shadowed=yes
text=No Food
colour=0xAA8822
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Toggle option

[no_prayer_text]
x=402
y=237
type=text
buttontype=normal
width=56
height=14
overlayer=com_185
font=p12_full
shadowed=yes
text=No Prayer
colour=0xAA8822
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Toggle option

[no_movement_text]
x=402
y=259
type=text
buttontype=normal
width=76
height=14
overlayer=com_163
font=p12_full
shadowed=yes
text=No Movement
colour=0xAA8822
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Toggle option

[com_134]
x=331
y=87
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_135]
x=18
y=162
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_136]
x=53
y=162
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_137]
x=90
y=162
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_138]
x=126
y=162
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_139]
x=140
y=162
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_140]
x=346
y=162
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_141]
x=380
y=162
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_142]
x=415
y=162
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_143]
x=450
y=162
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_144]
x=458
y=162
type=graphic
width=36
height=36
graphic=steelborder2,0

[no_forfeit]
x=31
y=297
type=graphic
buttontype=normal
width=14
height=15
overlayer=com_161
script1op1=testbit,dueloptions,0
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_movement]
x=377
y=259
type=graphic
buttontype=normal
width=14
height=15
overlayer=com_163
script1op1=testbit,dueloptions,1
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[com_147]
x=331
y=142
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_148]
x=331
y=118
type=graphic
width=36
height=36
graphic=miscgraphics,2

[no_ranged]
x=31
y=185
type=graphic
buttontype=normal
width=14
height=15
overlayer=com_171
script1op1=testbit,dueloptions,4
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_melee]
x=31
y=208
type=graphic
buttontype=normal
width=14
height=15
overlayer=com_173
script1op1=testbit,dueloptions,5
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_magic]
x=31
y=230
type=graphic
buttontype=normal
width=14
height=15
overlayer=com_175
script1op1=testbit,dueloptions,6
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_potions]
x=377
y=192
type=graphic
buttontype=normal
width=14
height=15
overlayer=com_181
script1op1=testbit,dueloptions,7
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_food]
x=377
y=214
type=graphic
buttontype=normal
width=14
height=15
overlayer=com_183
script1op1=testbit,dueloptions,8
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_prayer]
x=377
y=237
type=graphic
buttontype=normal
width=14
height=15
overlayer=com_185
script1op1=testbit,dueloptions,9
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[obstacle_text]
x=401
y=282
type=text
buttontype=normal
width=57
height=14
overlayer=com_187
font=p12_full
shadowed=yes
text=Obstacles
colour=0xAA8822
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Toggle option

[obstacles]
x=377
y=281
type=graphic
buttontype=normal
width=14
height=15
overlayer=com_187
script1op1=testbit,dueloptions,10
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[com_157]
x=52
y=275
type=text
buttontype=normal
width=74
height=14
overlayer=com_179
font=p12_full
shadowed=yes
text=Fun Weapons
colour=0xAA8822
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Toggle option

[flower_power]
x=31
y=275
type=graphic
buttontype=normal
width=14
height=15
overlayer=com_179
script1op1=testbit,dueloptions,12
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_specs]
x=31
y=253
type=graphic
buttontype=normal
width=14
height=15
overlayer=com_177
script1op1=testbit,dueloptions,13
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Toggle option

[no_specs_text]
x=51
y=254
type=text
buttontype=normal
width=57
height=14
overlayer=com_177
font=p12_full
shadowed=yes
text=No Sp. Atk
colour=0xAA8822
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Toggle option

[com_161]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_162]
layer=com_161
x=99
y=0
type=text
width=220
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player is allowed to forfeit the duel.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_163]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_164]
layer=com_163
x=61
y=0
type=text
width=304
height=11
center=yes
font=p11_full
shadowed=yes
text=Players stand next to each other and aren't allowed to move.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_165]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_166]
layer=com_165
x=108
y=0
type=text
width=207
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player is allowed to use weapons.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_167]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_168]
layer=com_167
x=106
y=0
type=text
width=199
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player is allowed to use armour.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_169]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_170]
layer=com_169
x=105
y=0
type=text
width=208
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player is allowed to wear jewelry.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_171]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_172]
layer=com_171
x=90
y=0
type=text
width=238
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player is allowed to use ranged attacks.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_173]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_174]
layer=com_173
x=96
y=0
type=text
width=231
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player is allowed to use melee attacks.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_175]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_176]
layer=com_175
x=95
y=0
type=text
width=230
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player is allowed to use magic attacks.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_177]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_178]
layer=com_177
x=81
y=0
type=text
width=260
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to use special attacks.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_179]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_180]
layer=com_179
x=35
y=0
type=text
width=363
height=12
center=yes
font=p11_full
shadowed=yes
text=Both players will use a 'fun weapon', such as: flowers or rubber chicken.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_181]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_182]
layer=com_181
x=97
y=0
type=text
width=217
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to use drinks.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_183]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_184]
layer=com_183
x=102
y=0
type=text
width=209
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to use food.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_185]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_186]
layer=com_185
x=100
y=0
type=text
width=220
height=11
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to use prayer.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_187]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_188]
layer=com_187
x=101
y=0
type=text
width=211
height=11
center=yes
font=p11_full
shadowed=yes
text=The duel will be in an arena with obstacles.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_189]
x=244
y=72
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_190]
x=244
y=108
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_191]
x=244
y=154
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_192]
x=243
y=195
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_193]
x=188
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_194]
x=188
y=181
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_195]
x=300
y=159
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_196]
x=300
y=185
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_197]
x=226
y=94
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_198]
x=270
y=94
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_199]
x=218
y=133
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_200]
x=274
y=132
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_201]
x=244
y=54
type=graphic
buttontype=normal
width=36
height=36
overlayer=com_224
graphic=miscgraphics,0
option=Toggle option

[com_202]
x=203
y=93
type=graphic
buttontype=normal
width=36
height=36
overlayer=com_226
graphic=miscgraphics,0
option=Toggle option

[com_203]
x=244
y=93
type=graphic
buttontype=normal
width=36
height=36
overlayer=com_228
graphic=miscgraphics,0
option=Toggle option

[com_204]
x=285
y=94
type=graphic
buttontype=normal
width=36
height=36
overlayer=com_244
graphic=miscgraphics,0
option=Toggle option

[com_205]
x=188
y=132
type=graphic
buttontype=normal
width=36
height=36
overlayer=com_230
graphic=miscgraphics,0
option=Toggle option

[com_206]
x=244
y=132
type=graphic
buttontype=normal
width=36
height=36
overlayer=com_232
graphic=miscgraphics,0
option=Toggle option

[com_207]
x=300
y=132
type=graphic
buttontype=normal
width=36
height=36
overlayer=com_234
graphic=miscgraphics,0
option=Toggle option

[com_208]
x=244
y=172
type=graphic
buttontype=normal
width=36
height=36
overlayer=com_236
graphic=miscgraphics,0
option=Toggle option

[com_209]
x=300
y=212
type=graphic
buttontype=normal
width=36
height=36
overlayer=com_242
graphic=miscgraphics,0
option=Toggle option

[com_210]
x=243
y=211
type=graphic
buttontype=normal
width=36
height=36
overlayer=com_240
graphic=miscgraphics,0
option=Toggle option

[com_211]
x=189
y=212
type=graphic
buttontype=normal
width=36
height=36
overlayer=com_238
graphic=miscgraphics,0
option=Toggle option

[com_212]
x=190
y=94
type=inv
width=3
height=5
margin=24,8
slot1=wornicons,0:56,-38
slot2=wornicons,1:-41,1
slot3=wornicons,2:-56,1
slot4=wornicons,3
slot5=wornicons,5
slot6=wornicons,6
slot8=wornicons,7
slot10=wornicons,8
slot11=wornicons,9
slot12=:-55,40
slot13=wornicons,4:112,-40
slot14=wornicons,10:41,-159

[com_213]
x=246
y=56
type=model
width=32
height=32
script1op1=push_varbit,duelwornoptions0
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_214]
x=205
y=96
type=model
width=32
height=32
script1op1=push_varbit,duelwornoptions1
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_215]
x=247
y=95
type=model
width=32
height=32
script1op1=push_varbit,duelwornoptions2
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_216]
x=288
y=96
type=model
width=32
height=32
script1op1=push_varbit,duelwornoptions13
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_217]
x=191
y=135
type=model
width=32
height=32
script1op1=push_varbit,duelwornoptions3
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_218]
x=246
y=135
type=model
width=32
height=32
script1op1=push_varbit,duelwornoptions4
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_219]
x=301
y=134
type=model
width=32
height=32
script1op1=push_varbit,duelwornoptions5
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_220]
x=246
y=174
type=model
width=32
height=32
script1op1=push_varbit,duelwornoptions7
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_221]
x=190
y=215
type=model
width=32
height=32
script1op1=push_varbit,duelwornoptions9
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_222]
x=245
y=214
type=model
width=32
height=32
script1op1=push_varbit,duelwornoptions10
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_223]
x=302
y=215
type=model
width=32
height=32
script1op1=push_varbit,duelwornoptions12
script1=eq,0
model=com_i175
zoom=1294
xan=547
yan=1

[com_224]
x=44
y=313
type=layer
width=430
height=13
hide=yes

[com_225]
layer=com_224
x=70
y=0
type=text
width=287
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to wear items on their head.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_226]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_227]
layer=com_226
x=76
y=0
type=text
width=285
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to wear items on their back.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_228]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_229]
layer=com_228
x=69
y=0
type=text
width=308
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to wear items around their neck.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_230]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_231]
layer=com_230
x=25
y=0
type=text
width=399
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to use 2-handed items or items in their right hand.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_232]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_233]
layer=com_232
x=76
y=0
type=text
width=290
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to wear items on their torso.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_234]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_235]
layer=com_234
x=25
y=0
type=text
width=393
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to use 2-handed items or items in their left hand.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_236]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_237]
layer=com_236
x=73
y=0
type=text
width=284
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to wear items on their legs.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_238]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_239]
layer=com_238
x=74
y=0
type=text
width=293
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to wear items on their hands.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_240]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_241]
layer=com_240
x=82
y=0
type=text
width=284
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to wear items on their feet.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_242]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_243]
layer=com_242
x=69
y=0
type=text
width=300
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to wear items on their fingers.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_244]
x=44
y=312
type=layer
width=430
height=13
hide=yes

[com_245]
layer=com_244
x=74
y=0
type=text
width=294
height=12
center=yes
font=p11_full
shadowed=yes
text=Neither player will be allowed to have items in their quiver.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
