type=layer
width=512
height=334

[com_0]
x=243
y=138
type=model
width=35
height=35
model=if_questscroll
zoom=650
xan=400
yan=0

[com_1]
x=125
y=127
type=text
width=268
height=18
font=q8_full
text=Text
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_2]
x=433
y=11
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_3]
x=125
y=108
type=text
width=268
height=18
font=q8_full
text=Text
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_4]
x=125
y=146
type=text
width=268
height=18
font=q8_full
text=Text
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_5]
x=125
y=165
type=text
width=268
height=18
font=q8_full
text=Text
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_6]
x=168
y=216
type=text
width=162
height=17
center=yes
font=q8_full
text=Text
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_7]
x=369
y=207
type=model
width=32
height=32
model=com_i2
zoom=800
xan=473
yan=1991

[com_8]
x=125
y=184
type=text
width=268
height=18
font=q8_full
text=Text
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
