type=layer
width=512
height=334

[com_0]
x=37
y=37
type=layer
width=387
height=287

[scrollback]
layer=com_0
x=163
y=79
type=model
width=55
height=81
model=com_i161
zoom=643
xan=510
yan=0

[close]
x=424
y=28
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0xC00000
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[scroll]
x=48
y=78
type=layer
width=342
height=215
scroll=2000

[qj1]
layer=scroll
x=8
y=0
type=text
width=331
height=14
center=yes
font=p12_full
text=qj1
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj2]
layer=scroll
x=8
y=20
type=text
width=331
height=14
center=yes
font=p12_full
text=qj2
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj3]
layer=scroll
x=8
y=40
type=text
width=331
height=14
center=yes
font=p12_full
text=qj3
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj4]
layer=scroll
x=8
y=60
type=text
width=331
height=14
center=yes
font=p12_full
text=qj4
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj5]
layer=scroll
x=8
y=80
type=text
width=331
height=14
center=yes
font=p12_full
text=qj5
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj6]
layer=scroll
x=8
y=100
type=text
width=331
height=14
center=yes
font=p12_full
text=qj6
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj7]
layer=scroll
x=8
y=120
type=text
width=331
height=14
center=yes
font=p12_full
text=qj7
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj8]
layer=scroll
x=8
y=140
type=text
width=331
height=14
center=yes
font=p12_full
text=qj8
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj9]
layer=scroll
x=8
y=160
type=text
width=331
height=14
center=yes
font=p12_full
text=qj9
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj10]
layer=scroll
x=8
y=180
type=text
width=331
height=14
center=yes
font=p12_full
text=qj10
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj11]
layer=scroll
x=8
y=200
type=text
width=331
height=14
center=yes
font=p12_full
text=qj11
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj12]
layer=scroll
x=8
y=220
type=text
width=331
height=14
center=yes
font=p12_full
text=qj12
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj13]
layer=scroll
x=8
y=240
type=text
width=331
height=14
center=yes
font=p12_full
text=qj13
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj14]
layer=scroll
x=8
y=260
type=text
width=331
height=14
center=yes
font=p12_full
text=qj14
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj15]
layer=scroll
x=8
y=280
type=text
width=331
height=14
center=yes
font=p12_full
text=qj15
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj16]
layer=scroll
x=8
y=300
type=text
width=331
height=14
center=yes
font=p12_full
text=qj16
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj17]
layer=scroll
x=8
y=320
type=text
width=330
height=15
center=yes
font=p12_full
text=qj17
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj18]
layer=scroll
x=8
y=340
type=text
width=330
height=15
center=yes
font=p12_full
text=qj18
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj19]
layer=scroll
x=8
y=360
type=text
width=330
height=15
center=yes
font=p12_full
text=qj19
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj20]
layer=scroll
x=8
y=380
type=text
width=330
height=15
center=yes
font=p12_full
text=qj20
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj21]
layer=scroll
x=8
y=400
type=text
width=330
height=15
center=yes
font=p12_full
text=qj21
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj22]
layer=scroll
x=8
y=420
type=text
width=330
height=15
center=yes
font=p12_full
text=qj22
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj23]
layer=scroll
x=8
y=440
type=text
width=330
height=15
center=yes
font=p12_full
text=qj23
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj24]
layer=scroll
x=8
y=460
type=text
width=330
height=15
center=yes
font=p12_full
text=qj24
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj25]
layer=scroll
x=8
y=480
type=text
width=330
height=15
center=yes
font=p12_full
text=qj25
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj26]
layer=scroll
x=8
y=500
type=text
width=330
height=15
center=yes
font=p12_full
text=qj26
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj27]
layer=scroll
x=8
y=520
type=text
width=331
height=14
center=yes
font=p12_full
text=qj27
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj28]
layer=scroll
x=8
y=540
type=text
width=331
height=14
center=yes
font=p12_full
text=qj28
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj29]
layer=scroll
x=8
y=560
type=text
width=331
height=14
center=yes
font=p12_full
text=qj29
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj30]
layer=scroll
x=8
y=580
type=text
width=331
height=14
center=yes
font=p12_full
text=qj30
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj31]
layer=scroll
x=8
y=600
type=text
width=331
height=14
center=yes
font=p12_full
text=qj31
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj32]
layer=scroll
x=8
y=620
type=text
width=331
height=14
center=yes
font=p12_full
text=qj32
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj33]
layer=scroll
x=8
y=640
type=text
width=331
height=14
center=yes
font=p12_full
text=qj33
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj34]
layer=scroll
x=8
y=660
type=text
width=331
height=14
center=yes
font=p12_full
text=qj34
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj35]
layer=scroll
x=8
y=680
type=text
width=331
height=14
center=yes
font=p12_full
text=qj35
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj36]
layer=scroll
x=8
y=700
type=text
width=331
height=14
center=yes
font=p12_full
text=qj36
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj37]
layer=scroll
x=8
y=720
type=text
width=331
height=14
center=yes
font=p12_full
text=qj37
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj38]
layer=scroll
x=7
y=740
type=text
width=331
height=14
center=yes
font=p12_full
text=qj38
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj39]
layer=scroll
x=8
y=760
type=text
width=331
height=14
center=yes
font=p12_full
text=qj39
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj40]
layer=scroll
x=8
y=780
type=text
width=331
height=14
center=yes
font=p12_full
text=qj40
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj41]
layer=scroll
x=8
y=800
type=text
width=331
height=14
center=yes
font=p12_full
text=qj41
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj42]
layer=scroll
x=8
y=820
type=text
width=331
height=14
center=yes
font=p12_full
text=qj42
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj43]
layer=scroll
x=8
y=840
type=text
width=331
height=14
center=yes
font=p12_full
text=qj43
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj44]
layer=scroll
x=8
y=860
type=text
width=331
height=14
center=yes
font=p12_full
text=qj44
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj45]
layer=scroll
x=8
y=880
type=text
width=331
height=14
center=yes
font=p12_full
text=qj45
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj46]
layer=scroll
x=8
y=900
type=text
width=331
height=14
center=yes
font=p12_full
text=qj46
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj47]
layer=scroll
x=8
y=920
type=text
width=331
height=14
center=yes
font=p12_full
text=qj47
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj48]
layer=scroll
x=8
y=940
type=text
width=331
height=14
center=yes
font=p12_full
text=qj48
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj49]
layer=scroll
x=8
y=960
type=text
width=331
height=14
center=yes
font=p12_full
text=qj49
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj50]
layer=scroll
x=8
y=980
type=text
width=331
height=14
center=yes
font=p12_full
text=qj50
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj54]
layer=scroll
x=8
y=1000
type=text
width=331
height=14
center=yes
font=p12_full
text=qj51
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj55]
layer=scroll
x=8
y=1020
type=text
width=331
height=14
center=yes
font=p12_full
text=qj52
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj56]
layer=scroll
x=8
y=1040
type=text
width=331
height=14
center=yes
font=p12_full
text=qj53
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj57]
layer=scroll
x=8
y=1060
type=text
width=331
height=14
center=yes
font=p12_full
text=qj54
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj58]
layer=scroll
x=8
y=1080
type=text
width=331
height=14
center=yes
font=p12_full
text=qj55
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj59]
layer=scroll
x=8
y=1100
type=text
width=331
height=14
center=yes
font=p12_full
text=qj56
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj60]
layer=scroll
x=8
y=1120
type=text
width=331
height=14
center=yes
font=p12_full
text=qj57
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj61]
layer=scroll
x=8
y=1140
type=text
width=331
height=14
center=yes
font=p12_full
text=qj58
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj62]
layer=scroll
x=8
y=1160
type=text
width=331
height=14
center=yes
font=p12_full
text=qj59
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj63]
layer=scroll
x=8
y=1180
type=text
width=331
height=14
center=yes
font=p12_full
text=qj60
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj64]
layer=scroll
x=8
y=1200
type=text
width=331
height=14
center=yes
font=p12_full
text=qj61
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj65]
layer=scroll
x=8
y=1220
type=text
width=331
height=14
center=yes
font=p12_full
text=qj62
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj66]
layer=scroll
x=8
y=1240
type=text
width=331
height=14
center=yes
font=p12_full
text=qj63
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj67]
layer=scroll
x=8
y=1260
type=text
width=331
height=14
center=yes
font=p12_full
text=qj64
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj68]
layer=scroll
x=8
y=1280
type=text
width=331
height=14
center=yes
font=p12_full
text=qj65
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj69]
layer=scroll
x=8
y=1300
type=text
width=331
height=14
center=yes
font=p12_full
text=qj66
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj70]
layer=scroll
x=8
y=1320
type=text
width=331
height=14
center=yes
font=p12_full
text=qj67
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj71]
layer=scroll
x=8
y=1340
type=text
width=331
height=14
center=yes
font=p12_full
text=qj68
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj72]
layer=scroll
x=8
y=1360
type=text
width=331
height=14
center=yes
font=p12_full
text=qj69
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj73]
layer=scroll
x=8
y=1380
type=text
width=331
height=14
center=yes
font=p12_full
text=qj70
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj74]
layer=scroll
x=8
y=1400
type=text
width=331
height=14
center=yes
font=p12_full
text=qj71
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj75]
layer=scroll
x=8
y=1420
type=text
width=331
height=14
center=yes
font=p12_full
text=qj72
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj76]
layer=scroll
x=8
y=1440
type=text
width=331
height=14
center=yes
font=p12_full
text=qj73
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj77]
layer=scroll
x=8
y=1460
type=text
width=331
height=14
center=yes
font=p12_full
text=qj74
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj78]
layer=scroll
x=8
y=1480
type=text
width=331
height=14
center=yes
font=p12_full
text=qj75
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj79]
layer=scroll
x=8
y=1500
type=text
width=331
height=14
center=yes
font=p12_full
text=qj76
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj80]
layer=scroll
x=8
y=1520
type=text
width=331
height=14
center=yes
font=p12_full
text=qj77
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj81]
layer=scroll
x=8
y=1540
type=text
width=331
height=14
center=yes
font=p12_full
text=qj78
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj82]
layer=scroll
x=8
y=1560
type=text
width=331
height=14
center=yes
font=p12_full
text=qj79
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj83]
layer=scroll
x=8
y=1580
type=text
width=331
height=14
center=yes
font=p12_full
text=qj80
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj84]
layer=scroll
x=8
y=1600
type=text
width=331
height=14
center=yes
font=p12_full
text=qj81
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj85]
layer=scroll
x=8
y=1620
type=text
width=331
height=14
center=yes
font=p12_full
text=qj82
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj86]
layer=scroll
x=8
y=1640
type=text
width=331
height=14
center=yes
font=p12_full
text=qj83
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj87]
layer=scroll
x=8
y=1660
type=text
width=331
height=14
center=yes
font=p12_full
text=qj84
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj88]
layer=scroll
x=8
y=1680
type=text
width=331
height=14
center=yes
font=p12_full
text=qj85
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj89]
layer=scroll
x=8
y=1700
type=text
width=331
height=14
center=yes
font=p12_full
text=qj86
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj90]
layer=scroll
x=8
y=1720
type=text
width=331
height=14
center=yes
font=p12_full
text=qj87
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj91]
layer=scroll
x=8
y=1740
type=text
width=331
height=14
center=yes
font=p12_full
text=qj88
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj92]
layer=scroll
x=8
y=1760
type=text
width=331
height=14
center=yes
font=p12_full
text=qj89
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj93]
layer=scroll
x=8
y=1780
type=text
width=331
height=14
center=yes
font=p12_full
text=qj90
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj94]
layer=scroll
x=8
y=1800
type=text
width=331
height=14
center=yes
font=p12_full
text=qj91
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj95]
layer=scroll
x=8
y=1820
type=text
width=331
height=14
center=yes
font=p12_full
text=qj92
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj96]
layer=scroll
x=8
y=1840
type=text
width=331
height=14
center=yes
font=p12_full
text=qj93
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj97]
layer=scroll
x=8
y=1860
type=text
width=331
height=14
center=yes
font=p12_full
text=qj94
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj98]
layer=scroll
x=8
y=1880
type=text
width=331
height=14
center=yes
font=p12_full
text=qj95
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj99]
layer=scroll
x=8
y=1900
type=text
width=331
height=14
center=yes
font=p12_full
text=qj96
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj100]
layer=scroll
x=8
y=1920
type=text
width=331
height=14
center=yes
font=p12_full
text=qj97
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj101]
layer=scroll
x=8
y=1940
type=text
width=331
height=14
center=yes
font=p12_full
text=qj98
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj102]
layer=scroll
x=8
y=1960
type=text
width=331
height=14
center=yes
font=p12_full
text=qj99
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[qj103]
layer=scroll
x=8
y=1980
type=text
width=331
height=14
center=yes
font=p12_full
text=qj100
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[ifquestname]
x=53
y=56
type=text
width=77
height=17
font=q8_full
text=ifquestname
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
