type=layer
width=512
height=334

[component_13692]
x=220
y=137
type=model
width=32
height=32
model=com_i336
zoom=914
xan=481
yan=0

[component_13693]
x=88
y=44
type=text
width=335
height=17
font=q8_full
text=wom1
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13694]
x=88
y=60
type=text
width=335
height=17
font=q8_full
text=wom2
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13695]
x=88
y=76
type=text
width=335
height=17
font=q8_full
text=wom3
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13696]
x=88
y=92
type=text
width=335
height=17
font=q8_full
text=wom4
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13697]
x=88
y=108
type=text
width=335
height=17
font=q8_full
text=wom5
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13698]
x=88
y=124
type=text
width=335
height=17
font=q8_full
text=wom6
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13699]
x=88
y=140
type=text
width=335
height=17
font=q8_full
text=wom7
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13700]
x=88
y=156
type=text
width=335
height=17
font=q8_full
text=wom8
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13701]
x=88
y=172
type=text
width=335
height=17
font=q8_full
text=wom9
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13702]
x=88
y=188
type=text
width=335
height=17
font=q8_full
text=wom10
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13703]
x=88
y=204
type=text
width=335
height=17
font=q8_full
text=wom11
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13704]
x=88
y=220
type=text
width=335
height=17
font=q8_full
text=wom12
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13705]
x=88
y=236
type=text
width=335
height=17
font=q8_full
text=wom13
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13706]
x=88
y=252
type=text
width=335
height=17
font=q8_full
text=wom14
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13707]
x=88
y=268
type=text
width=335
height=17
font=q8_full
text=wom15
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13708]
x=88
y=284
type=text
width=335
height=17
font=q8_full
text=wom16
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13709]
x=470
y=9
type=text
buttontype=close
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0x888888
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
