type=layer
width=512
height=334

[component_12279]
x=392
y=3
type=rect
width=113
height=23
trans=192
fill=yes
colour=0x402000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12280]
x=396
y=7
type=text
width=74
height=14
font=b12_full
shadowed=yes
text=Windspeed:
colour=0xFF8800
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12281]
x=475
y=6
type=text
width=24
height=14
font=p12_full
shadowed=yes
text=high
colour=0xFFFF66
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
