type=layer
width=512
height=334

[component_14925]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14926]
x=12
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14927]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14928]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14929]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14930]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14931]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14932]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14933]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14934]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14935]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14936]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14937]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14938]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14939]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14940]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14941]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14942]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14943]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14944]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14945]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14946]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14947]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14948]
x=364
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14949]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14950]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14951]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14952]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_14953]
x=412
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14954]
x=412
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14955]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[component_14956]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_14957]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_14958]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_14959]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_14960]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_14961]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_14962]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_14963]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_14964]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_14965]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_14966]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_14967]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_14968]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_14969]
x=73
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14970]
x=109
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14971]
x=145
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14972]
x=181
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14973]
x=217
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14974]
x=253
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14975]
x=289
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14976]
x=325
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14977]
x=361
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14978]
x=397
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14979]
x=433
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14980]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14981]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14982]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14983]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14984]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14985]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14986]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14987]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14988]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14989]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14990]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14991]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14992]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14993]
x=37
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14994]
x=12
y=295
type=graphic
width=25
height=30
graphic=steelborder,2

[component_14995]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[component_14996]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14997]
x=475
y=295
type=graphic
width=25
height=30
graphic=steelborder,3

[component_14998]
x=439
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14999]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15000]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15001]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15002]
x=396
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15003]
x=432
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15004]
x=459
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15005]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15006]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15007]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15008]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15009]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15010]
x=36
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15011]
x=17
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15012]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15013]
x=455
y=69
type=graphic
width=25
height=30
graphic=steelborder,1

[component_15014]
x=455
y=275
type=graphic
width=25
height=30
graphic=steelborder,3

[component_15015]
x=323
y=69
type=graphic
width=25
height=30
graphic=steelborder,0

[component_15016]
x=323
y=275
type=graphic
width=25
height=30
graphic=steelborder,2

[component_15017]
x=459
y=99
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15018]
x=459
y=135
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15019]
x=459
y=171
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15020]
x=459
y=207
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15021]
x=459
y=243
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15022]
x=419
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15023]
x=383
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15024]
x=308
y=99
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15025]
x=347
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15026]
x=308
y=135
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15027]
x=308
y=171
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15028]
x=308
y=207
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15029]
x=308
y=243
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15030]
x=419
y=54
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15031]
x=383
y=54
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15032]
x=347
y=54
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15033]
x=244
y=100
type=graphic
width=51
height=82
graphic=keys,0

[component_15034]
x=329
y=75
type=rect
width=145
height=224
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15035]
x=8
y=29
type=text
width=496
height=17
center=yes
font=q8_full
shadowed=yes
text=BANK  PIN  SETTINGS
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15036]
x=460
y=29
type=text
buttontype=close
width=28
height=17
center=yes
font=q8_full
shadowed=yes
text=Exit
colour=0xFF0000
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[component_15037]
x=328
y=75
type=text
width=147
height=19
center=yes
font=q8_full
shadowed=yes
text=Messages
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15038]
x=328
y=107
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15039]
x=328
y=123
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15040]
x=328
y=139
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15041]
x=328
y=155
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15042]
x=328
y=171
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15043]
x=328
y=187
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15044]
x=328
y=203
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15045]
x=328
y=219
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15046]
x=328
y=235
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15047]
x=328
y=251
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15048]
x=328
y=267
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15049]
x=328
y=283
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15050]
x=32
y=230
type=graphic
width=25
height=30
graphic=steelborder,0

[component_15051]
x=32
y=275
type=graphic
width=25
height=30
graphic=steelborder,2

[component_15052]
x=271
y=275
type=graphic
width=25
height=30
graphic=steelborder,3

[component_15053]
x=271
y=230
type=graphic
width=25
height=30
graphic=steelborder,1

[component_15054]
x=57
y=215
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15055]
x=93
y=215
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15056]
x=129
y=215
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15057]
x=165
y=215
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15058]
x=201
y=215
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15059]
x=237
y=215
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15060]
x=57
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15061]
x=93
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15062]
x=129
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15063]
x=165
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15064]
x=201
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15065]
x=237
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15066]
x=17
y=251
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15067]
x=275
y=245
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15070]
x=38
y=236
type=layer
width=252
height=63

[component_15069]
layer=component_15070
x=0
y=0
type=graphic
width=104
height=104
graphic=tex_red,0

[component_15314]
layer=component_15070
x=104
y=0
type=graphic
width=104
height=104
graphic=tex_red,0

[component_15071]
layer=component_15070
x=208
y=0
type=graphic
width=90
height=98
graphic=tex_red,0

[component_15074]
layer=component_15070
x=0
y=0
type=layer
width=252
height=85
hide=yes

[component_15075]
layer=component_15074
x=0
y=11
type=text
buttontype=normal
width=252
height=17
center=yes
font=q8_full
shadowed=yes
text=Set a PIN
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFF7F00
activeovercolour=0x000000

[component_15076]
layer=component_15074
x=0
y=34
type=text
buttontype=normal
width=252
height=16
center=yes
font=q8_full
shadowed=yes
text=Change your recovery delay
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFF7F00
activeovercolour=0x000000

[component_15077]
x=38
y=214
type=layer
width=252
height=85
hide=yes

[component_15078]
layer=component_15077
x=0
y=24
type=text
buttontype=normal
width=252
height=16
center=yes
font=q8_full
shadowed=yes
text=Change your PIN
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFF7F00
activeovercolour=0x000000

[component_15079]
layer=component_15077
x=0
y=44
type=text
buttontype=normal
width=253
height=15
center=yes
font=q8_full
shadowed=yes
text=Delete your PIN
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFF7F00
activeovercolour=0x000000

[component_15080]
layer=component_15077
x=0
y=64
type=text
buttontype=normal
width=252
height=15
center=yes
font=q8_full
shadowed=yes
text=Change your recovery delay
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFF7F00
activeovercolour=0x000000

[component_15081]
x=38
y=236
type=layer
width=252
height=85
hide=yes

[component_15082]
layer=component_15081
x=0
y=23
type=text
buttontype=normal
width=252
height=15
center=yes
font=q8_full
shadowed=yes
text=Cancel the PIN that's pending
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFF7F00
activeovercolour=0x000000

[component_15315]
x=32
y=69
type=graphic
width=25
height=30
graphic=steelborder,0

[component_15316]
x=192
y=69
type=graphic
width=25
height=30
graphic=steelborder,1

[component_15083]
x=156
y=54
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15084]
x=120
y=54
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15085]
x=84
y=54
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15086]
x=48
y=54
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15087]
x=32
y=164
type=graphic
width=25
height=30
graphic=steelborder,2

[component_15088]
x=192
y=164
type=graphic
width=25
height=30
graphic=steelborder,3

[component_15089]
x=17
y=99
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15090]
x=17
y=135
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15091]
x=196
y=99
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15092]
x=196
y=135
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15093]
x=57
y=173
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15094]
x=93
y=173
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15095]
x=129
y=173
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15096]
x=165
y=173
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15103]
x=38
y=75
type=layer
width=173
height=113

[component_15097]
layer=component_15103
x=0
y=0
type=graphic
width=104
height=104
graphic=tex_brown,0

[component_15098]
layer=component_15103
x=104
y=0
type=graphic
width=104
height=104
graphic=tex_brown,0

[component_15099]
layer=component_15103
x=0
y=104
type=graphic
width=104
height=104
graphic=tex_brown,0

[component_15100]
layer=component_15103
x=104
y=104
type=graphic
width=104
height=104
graphic=tex_brown,0

[component_15102]
layer=component_15103
x=0
y=9
type=text
width=173
height=17
center=yes
font=q8_full
shadowed=yes
text=Your Bank PIN status:
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15105]
layer=component_15103
x=0
y=34
type=text
width=173
height=14
center=yes
font=b12_full
shadowed=yes
text=Unknown
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15104]
layer=component_15103
x=0
y=63
type=text
width=173
height=17
center=yes
font=q8_full
shadowed=yes
text=Recovery delay:
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15107]
layer=component_15103
x=0
y=88
type=text
width=173
height=14
center=yes
font=b12_full
shadowed=yes
text=X days
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15164]
x=22
y=210
type=text
width=286
height=14
font=p12_full
shadowed=yes
text=Use the buttons below to change your PIN settings
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15108]
x=8
y=8
type=layer
width=496
height=320
hide=yes

[component_15106]
layer=component_15108
x=10
y=18
type=rect
width=476
height=293
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15110]
layer=component_15108
x=1
y=76
type=text
width=496
height=17
center=yes
font=q8_full
shadowed=yes
text=Do you really wish to do that?
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15317]
layer=component_15108
x=102
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15109]
layer=component_15108
x=66
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15318]
layer=component_15108
x=30
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15111]
layer=component_15108
x=9
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15112]
layer=component_15108
x=138
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15113]
layer=component_15108
x=138
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15114]
layer=component_15108
x=354
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15115]
layer=component_15108
x=390
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15116]
layer=component_15108
x=426
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15117]
layer=component_15108
x=450
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15118]
layer=component_15108
x=102
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15119]
layer=component_15108
x=66
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15120]
layer=component_15108
x=30
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15121]
layer=component_15108
x=9
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15122]
layer=component_15108
x=354
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15123]
layer=component_15108
x=390
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15124]
layer=component_15108
x=426
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15125]
layer=component_15108
x=451
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15126]
layer=component_15108
x=174
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15127]
layer=component_15108
x=210
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15128]
layer=component_15108
x=246
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15129]
layer=component_15108
x=282
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15130]
layer=component_15108
x=318
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15131]
layer=component_15108
x=174
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15132]
layer=component_15108
x=210
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15133]
layer=component_15108
x=246
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15134]
layer=component_15108
x=282
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15135]
layer=component_15108
x=318
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15136]
layer=component_15108
x=138
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15137]
layer=component_15108
x=174
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15138]
layer=component_15108
x=210
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15139]
layer=component_15108
x=246
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15140]
layer=component_15108
x=282
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15141]
layer=component_15108
x=318
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15142]
layer=component_15108
x=138
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15143]
layer=component_15108
x=174
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15144]
layer=component_15108
x=210
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15145]
layer=component_15108
x=246
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15146]
layer=component_15108
x=282
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15147]
layer=component_15108
x=318
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15148]
layer=component_15108
x=354
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15149]
layer=component_15108
x=426
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15150]
layer=component_15108
x=390
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15151]
layer=component_15108
x=66
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15152]
layer=component_15108
x=102
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15153]
layer=component_15108
x=451
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15154]
layer=component_15108
x=354
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15155]
layer=component_15108
x=390
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15156]
layer=component_15108
x=426
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15157]
layer=component_15108
x=451
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15158]
layer=component_15108
x=9
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15159]
layer=component_15108
x=30
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15160]
layer=component_15108
x=102
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15161]
layer=component_15108
x=30
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15162]
layer=component_15108
x=66
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15163]
layer=component_15108
x=9
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15167]
layer=component_15108
x=9
y=145
type=layer
width=477
height=25

[component_15319]
layer=component_15167
x=1
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[component_15168]
layer=component_15167
x=105
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[component_15169]
layer=component_15167
x=209
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[component_15321]
layer=component_15167
x=313
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[component_15177]
layer=component_15167
x=417
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[component_15171]
layer=component_15108
x=9
y=148
type=text
buttontype=normal
width=478
height=17
center=yes
font=q8_full
shadowed=yes
text=Yes, I really want to do that.
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFF7F00
activeovercolour=0x000000

[component_15172]
layer=component_15108
x=9
y=216
type=layer
width=477
height=26

[component_15320]
layer=component_15172
x=1
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[component_15173]
layer=component_15172
x=105
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[component_15174]
layer=component_15172
x=209
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[component_15178]
layer=component_15172
x=313
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[component_15179]
layer=component_15172
x=417
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[component_15176]
layer=component_15108
x=9
y=220
type=text
buttontype=normal
width=478
height=17
center=yes
font=q8_full
shadowed=yes
text=No, forget I asked.
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFF7F00
activeovercolour=0x000000
