type=layer
width=512
height=334

[component_07425]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_07426]
x=12
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_07427]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_07428]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_07429]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_07430]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_07431]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_07432]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_07433]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_07434]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_07435]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_07436]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_07437]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_07438]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_07439]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_07445]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_08685]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_08686]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_08687]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_08688]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_08689]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_08690]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_08691]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_08692]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_08693]
x=364
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_08694]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_08695]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_08696]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_08697]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_08698]
x=412
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_08699]
x=412
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_08700]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[component_08701]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_08702]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_08703]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_08704]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_08705]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_08706]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_08707]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_08708]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_08709]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_08710]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_08711]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_08712]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_08713]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_08848]
x=73
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_08858]
x=109
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_08861]
x=145
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_08864]
x=181
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14212]
x=217
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14213]
x=253
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14214]
x=289
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14215]
x=325
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14216]
x=361
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14825]
x=397
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14826]
x=433
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14827]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14828]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14829]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14830]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14831]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14832]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14833]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14834]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14835]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14836]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14837]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14838]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14839]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14840]
x=37
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14841]
x=12
y=295
type=graphic
width=25
height=30
graphic=steelborder,2

[component_14842]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[component_14843]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14844]
x=475
y=295
type=graphic
width=25
height=30
graphic=steelborder,3

[component_14845]
x=439
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14846]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14847]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14848]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14849]
x=396
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14850]
x=432
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14851]
x=459
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14852]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14853]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14854]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14855]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14856]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14857]
x=36
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14858]
x=17
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14859]
x=455
y=272
type=graphic
width=25
height=30
graphic=steelborder,3

[component_14860]
x=347
y=281
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14861]
x=322
y=242
type=graphic
width=25
height=30
graphic=steelborder,0

[component_14862]
x=347
y=227
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14863]
x=383
y=227
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14864]
x=419
y=227
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14865]
x=455
y=242
type=graphic
width=25
height=30
graphic=steelborder,1

[component_14866]
x=322
y=272
type=graphic
width=25
height=30
graphic=steelborder,2

[component_14867]
x=383
y=281
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14868]
x=419
y=281
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14869]
x=375
y=95
type=graphic
width=66
height=82
graphic=chest,0

[component_14870]
x=411
y=157
type=graphic
width=77
height=82
graphic=coins,0

[component_14873]
x=33
y=103
type=graphic
buttontype=normal
width=64
height=64
overlayer=component_14893
graphic=number_button,0
option=Enter digit

[component_14874]
x=127
y=103
type=graphic
buttontype=normal
width=64
height=64
overlayer=component_14895
graphic=number_button,0
option=Enter digit

[component_14875]
x=221
y=103
type=graphic
buttontype=normal
width=64
height=64
overlayer=component_14897
graphic=number_button,0
option=Enter digit

[component_14876]
x=305
y=103
type=graphic
buttontype=normal
width=64
height=64
overlayer=component_14899
graphic=number_button,0
option=Enter digit

[component_14877]
x=33
y=175
type=graphic
buttontype=normal
width=64
height=64
overlayer=component_14901
graphic=number_button,0
option=Enter digit

[component_14878]
x=127
y=175
type=graphic
buttontype=normal
width=64
height=64
overlayer=component_14903
graphic=number_button,0
option=Enter digit

[component_14879]
x=221
y=175
type=graphic
buttontype=normal
width=64
height=64
overlayer=component_14905
graphic=number_button,0
option=Enter digit

[component_14880]
x=33
y=247
type=graphic
buttontype=normal
width=64
height=64
overlayer=component_14907
graphic=number_button,0
option=Enter digit

[component_14881]
x=127
y=247
type=graphic
buttontype=normal
width=64
height=64
overlayer=component_14909
graphic=number_button,0
option=Enter digit

[component_14882]
x=221
y=247
type=graphic
buttontype=normal
width=64
height=64
overlayer=component_14911
graphic=number_button,0
option=Enter digit

[component_14883]
x=37
y=149
type=text
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14884]
x=131
y=149
type=text
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14885]
x=225
y=149
type=text
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14886]
x=309
y=149
type=text
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14887]
x=37
y=221
type=text
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14888]
x=131
y=221
type=text
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14889]
x=225
y=221
type=text
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14890]
x=37
y=293
type=text
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14891]
x=131
y=293
type=text
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14892]
x=225
y=293
type=text
width=9
height=14
font=b12_full
text=0
colour=0xFF7F00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14893]
x=33
y=103
type=layer
width=64
height=64
hide=yes

[component_15310]
layer=component_14893
x=0
y=0
type=graphic
buttontype=normal
width=64
height=64
graphic=number_button,0

[component_14895]
x=127
y=103
type=layer
width=64
height=64
hide=yes

[component_14894]
layer=component_14895
x=0
y=0
type=graphic
buttontype=normal
width=64
height=64
graphic=number_button,0

[component_14897]
x=221
y=103
type=layer
width=64
height=64
hide=yes

[component_14896]
layer=component_14897
x=0
y=0
type=graphic
buttontype=normal
width=64
height=64
graphic=number_button,0

[component_14899]
x=305
y=103
type=layer
width=64
height=64
hide=yes

[component_14898]
layer=component_14899
x=0
y=0
type=graphic
buttontype=normal
width=64
height=64
graphic=number_button,0

[component_14901]
x=33
y=175
type=layer
width=64
height=64
hide=yes

[component_14900]
layer=component_14901
x=0
y=0
type=graphic
buttontype=normal
width=64
height=64
graphic=number_button,0

[component_14903]
x=127
y=175
type=layer
width=64
height=64
hide=yes

[component_14902]
layer=component_14903
x=0
y=0
type=graphic
buttontype=normal
width=64
height=64
graphic=number_button,0

[component_14905]
x=221
y=175
type=layer
width=64
height=64
hide=yes

[component_14904]
layer=component_14905
x=0
y=0
type=graphic
buttontype=normal
width=64
height=64
graphic=number_button,0

[component_14907]
x=33
y=247
type=layer
width=64
height=64
hide=yes

[component_14906]
layer=component_14907
x=0
y=0
type=graphic
buttontype=normal
width=64
height=64
graphic=number_button,0

[component_14909]
x=127
y=247
type=layer
width=64
height=64
hide=yes

[component_14908]
layer=component_14909
x=0
y=0
type=graphic
buttontype=normal
width=64
height=64
graphic=number_button,0

[component_14911]
x=221
y=247
type=layer
width=64
height=64
hide=yes

[component_14910]
layer=component_14911
x=0
y=0
type=graphic
buttontype=normal
width=64
height=64
graphic=number_button,0

[component_14913]
x=424
y=28
type=text
width=16
height=16
center=yes
font=q8_full
shadowed=yes
text=?
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14914]
x=440
y=28
type=text
width=16
height=16
center=yes
font=q8_full
shadowed=yes
text=?
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14915]
x=456
y=28
type=text
width=16
height=16
center=yes
font=q8_full
shadowed=yes
text=?
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14916]
x=472
y=28
type=text
width=16
height=16
center=yes
font=q8_full
shadowed=yes
text=?
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14917]
x=328
y=248
type=layer
width=146
height=48

[component_15311]
layer=component_14917
x=0
y=0
type=graphic
width=104
height=104
graphic=tex_brown,0

[component_15312]
layer=component_14917
x=104
y=-1
type=graphic
width=104
height=104
graphic=tex_brown,0

[component_14920]
x=18
y=57
type=text
width=476
height=14
center=yes
font=b12_full
shadowed=yes
text=Please enter your FOUR DIGIT PIN using the buttons below.
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14921]
x=327
y=274
type=text
buttontype=normal
width=148
height=17
center=yes
font=q8_full
shadowed=yes
text=I don't know it.
colour=0xFF0000
activecolour=0x000000
overcolour=0xFF7F00
activeovercolour=0x000000

[component_14922]
x=327
y=252
type=text
buttontype=normal
width=148
height=17
center=yes
font=q8_full
shadowed=yes
text=Exit
colour=0xFF0000
activecolour=0x000000
overcolour=0xFF7F00
activeovercolour=0x000000

[component_14923]
x=20
y=29
type=text
width=236
height=14
font=b12_full
shadowed=yes
text=YOUR PIN WILL BE DELETED IN X DAYS
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15313]
x=18
y=80
type=text
width=476
height=14
center=yes
font=b12_full
shadowed=yes
text=Click the Nth digit...
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
