type=layer
width=512
height=334

[component_04466]
x=88
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_04467]
x=88
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_04468]
x=88
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_04469]
x=88
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_04470]
x=176
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_05625]
x=176
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_05626]
x=176
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_05627]
x=176
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_05652]
x=264
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_05656]
x=352
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_05660]
x=264
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_05664]
x=264
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_05668]
x=264
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_05672]
x=352
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_05676]
x=352
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_05680]
x=352
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_05684]
x=67
y=50
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_05688]
x=82
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[component_05692]
x=67
y=86
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_05696]
x=67
y=122
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_05700]
x=67
y=158
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_05704]
x=67
y=194
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_07377]
x=67
y=212
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_07384]
x=425
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_07385]
x=425
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_07386]
x=425
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_07387]
x=425
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_07388]
x=425
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_07389]
x=425
y=218
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_07390]
x=107
y=245
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_07391]
x=143
y=245
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_07392]
x=179
y=245
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_07393]
x=215
y=245
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_07394]
x=251
y=245
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_07395]
x=287
y=245
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_07396]
x=323
y=245
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_07397]
x=359
y=245
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_07398]
x=388
y=245
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_07399]
x=107
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07400]
x=143
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07401]
x=179
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07402]
x=215
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07403]
x=251
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07404]
x=287
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07405]
x=323
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07406]
x=359
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07407]
x=395
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07408]
x=262
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07409]
x=82
y=236
type=graphic
width=25
height=30
graphic=steelborder,2

[component_07410]
x=421
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[component_07411]
x=421
y=236
type=graphic
width=25
height=30
graphic=steelborder,3

[component_07412]
x=298
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07413]
x=334
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07414]
x=370
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07415]
x=405
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07416]
x=226
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07417]
x=190
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07418]
x=154
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07419]
x=118
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07420]
x=87
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_07421]
x=93
y=30
type=text
width=245
height=14
font=b12_full
shadowed=yes
text=The Bank of RuneScape - Deposit Box
colour=0xFF981F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_07422]
x=367
y=32
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[component_07423]
x=127
y=71
type=inv
width=7
height=4
draggable=yes
margin=8,10
option1=Deposit 1
option2=Deposit 5
option3=Deposit 10
option4=Deposit All
option5=Deposit X
