type=layer
width=512
height=334

[component_04536]
x=418
y=303
type=text
width=75
height=14
script1op1=push_varbit,barrows_killed_count
script1=gt,9999
center=yes
font=p12_full
shadowed=yes
text=Kill Count: %1
activetext=Kill Count: Too Many!
colour=0x7D7D4B
activecolour=0x4D4D2F
overcolour=0x000000
activeovercolour=0x000000

[component_04537]
x=86
y=109
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[component_04538]
x=166
y=189
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[component_04539]
x=440
y=138
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[component_04540]
x=365
y=201
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[component_04541]
x=403
y=141
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[component_04542]
x=125
y=165
type=model
width=32
height=32
zoom=400
xan=0
yan=0
