type=layer
width=512
height=334

[component_04544]
x=0
y=0
type=rect
width=512
height=334
trans=125
fill=yes
colour=0x4D4D2F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_04549]
x=88
y=184
type=text
width=319
height=14
center=yes
font=b12_full
shadowed=yes
text=Which is the next shape in the above sequence?
colour=0x7D7D4B
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_04550]
x=61
y=222
type=model
buttontype=normal
width=93
height=93
zoom=500
xan=512
yan=0

[component_04551]
x=204
y=222
type=model
buttontype=normal
width=93
height=93
zoom=500
xan=512
yan=0

[component_04552]
x=347
y=222
type=model
buttontype=normal
width=93
height=93
zoom=500
xan=512
yan=0

[component_04557]
x=72
y=66
type=layer
width=355
height=93

[component_04545]
layer=component_04557
x=0
y=0
type=model
width=93
height=93
zoom=500
xan=512
yan=0

[component_04546]
layer=component_04557
x=93
y=0
type=model
width=93
height=93
zoom=500
xan=512
yan=0

[component_04547]
layer=component_04557
x=186
y=0
type=model
width=93
height=93
zoom=500
xan=512
yan=0

[component_04548]
layer=component_04557
x=292
y=18
type=model
width=48
height=39
model=com_i144
zoom=1299
xan=524
yan=19

[component_04553]
layer=component_04557
x=0
y=0
type=text
width=9
height=14
font=p12_full
shadowed=yes
text=1.
colour=0x7D7D4B
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_04554]
layer=component_04557
x=93
y=0
type=text
width=11
height=14
font=p12_full
shadowed=yes
text=2.
colour=0x7D7D4B
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_04555]
layer=component_04557
x=186
y=0
type=text
width=10
height=14
font=p12_full
shadowed=yes
text=3.
colour=0x7D7D4B
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_04556]
layer=component_04557
x=279
y=0
type=text
width=10
height=14
font=p12_full
shadowed=yes
text=4.
colour=0x7D7D4B
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
