type=layer
width=512
height=334

[component_14579]
x=219
y=136
type=model
width=32
height=32
model=com_i591
zoom=886
xan=420
yan=1

[component_14580]
x=360
y=170
type=model
width=32
height=32
model=com_i592
anim=flashing_x_off
zoom=1808
xan=420
yan=1

[component_14581]
x=190
y=57
type=text
width=133
height=17
font=q8_full
shadowed=yes
text=Blast Furnace Plan
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14582]
x=315
y=178
type=text
width=30
height=12
font=p11_full
text=Stove
colour=0x00FF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14583]
x=312
y=236
type=text
width=44
height=12
font=p11_full
shadowed=yes
text=Air Pump
colour=0x00FF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14584]
x=245
y=236
type=text
width=58
height=12
font=p11_full
shadowed=yes
text=Temp Gauge
colour=0x00FF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14585]
x=195
y=178
type=text
width=39
height=12
font=p11_full
shadowed=yes
text=Furnace
colour=0x00FF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14586]
x=133
y=177
type=text
width=51
height=12
font=p11_full
shadowed=yes
text=Dispenser
colour=0x00FF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14587]
x=193
y=121
type=text
width=49
height=22
center=yes
font=p11_full
shadowed=yes
text=Conveyer\nBelt
colour=0x00FF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14588]
x=252
y=123
type=text
width=25
height=12
center=yes
font=p11_full
shadowed=yes
text=Cogs
colour=0x00FF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14589]
x=201
y=218
type=text
width=28
height=12
center=yes
font=p11_full
shadowed=yes
text=Pipes
colour=0x00FF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14590]
x=359
y=148
type=text
width=24
height=12
center=yes
font=p11_full
shadowed=yes
text=Coke
colour=0x00FF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14591]
x=301
y=114
type=model
width=32
height=32
model=com_i592
anim=flashing_x_off
zoom=1808
xan=420
yan=1

[component_14592]
x=362
y=226
type=model
width=32
height=32
model=com_i592
anim=flashing_x_off
zoom=1808
xan=420
yan=1

[component_14593]
x=258
y=263
type=model
width=32
height=32
model=com_i592
anim=flashing_x_off
zoom=1808
xan=420
yan=1
