type=layer
width=512
height=334

[component_14459]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14460]
x=12
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14461]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14462]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14463]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14464]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14465]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14466]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14467]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14468]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14469]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14470]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14471]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14472]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14473]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14474]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14475]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14476]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14477]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14478]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14479]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14480]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14481]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14482]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14483]
x=364
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14484]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14485]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14486]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14487]
x=412
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14488]
x=412
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_14489]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[component_14490]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_14491]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_14492]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_14493]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_14494]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_14495]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_14496]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_14497]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_14498]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_14499]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_14500]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_14501]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_14502]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_14503]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_14504]
x=73
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14505]
x=109
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14506]
x=145
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14507]
x=181
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14508]
x=217
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14509]
x=253
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14510]
x=289
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14511]
x=325
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14512]
x=361
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14513]
x=397
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14514]
x=433
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14515]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14516]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14517]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14518]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14519]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14520]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14521]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14522]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14523]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14524]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14525]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14526]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14527]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14528]
x=37
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14529]
x=12
y=290
type=graphic
width=25
height=30
graphic=steelborder,2

[component_14530]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[component_14531]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14532]
x=475
y=290
type=graphic
width=25
height=30
graphic=steelborder,3

[component_14533]
x=439
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_14534]
x=120
y=60
type=text
buttontype=normal
width=45
height=14
script1op1=push_varbit,blast_furnace_iron_bars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=Iron: %1
colour=0x999999
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000

[component_14535]
x=180
y=29
type=text
width=156
height=14
center=yes
font=b12_full
shadowed=yes
text=Blast Furnace Bar Stock
colour=0xFF981F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14536]
x=420
y=29
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[component_14537]
x=28
y=60
type=text
buttontype=normal
width=63
height=14
script1op1=push_varbit,blast_furnace_bronze_bars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=Bronze: %1
colour=0x999999
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000
option=Take

[component_14538]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14539]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14540]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14541]
x=396
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14542]
x=432
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14543]
x=459
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14544]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14545]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14546]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14547]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14548]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14549]
x=36
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14550]
x=17
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_14551]
x=204
y=60
type=text
buttontype=normal
width=52
height=14
script1op1=push_varbit,blast_furnace_steel_bars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=Steel: %1
colour=0x999999
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000

[component_14552]
x=292
y=60
type=text
buttontype=normal
width=58
height=14
script1op1=push_varbit,blast_furnace_mithril_bars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=Mithril: %1
colour=0x999999
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000

[component_14553]
x=376
y=60
type=text
buttontype=normal
width=88
height=14
script1op1=push_varbit,blast_furnace_adamantite_bars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=Adamantite: %1
colour=0x999999
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000

[component_14554]
x=32
y=180
type=text
buttontype=normal
width=59
height=14
script1op1=push_varbit,blast_furnace_runite_bars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=Runite: %1
colour=0x999999
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000

[component_14555]
x=116
y=180
type=text
buttontype=normal
width=55
height=14
script1op1=push_varbit,blast_furnace_silver_bars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=Silver: %1
colour=0x999999
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000

[component_14556]
x=208
y=180
type=text
buttontype=normal
width=48
height=14
script1op1=push_varbit,blast_furnace_gold_bars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=Gold: %1
colour=0x999999
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000

[component_14558]
x=400
y=296
type=text
width=88
height=14
script1op1=push_varbit,blast_furnace_coal
script2op1=push_varbit,blast_furnace_coal_required
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=Coal to add: %2
activetext=Coal in furnace: %1
colour=0xFF981F
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000

[component_14559]
x=48
y=132
type=text
buttontype=normal
width=22
height=14
script1op1=push_varbit,blast_furnace_bronze_bars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=(All)
colour=0x999999
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000
option=Take

[component_14560]
x=132
y=132
type=text
buttontype=normal
width=22
height=14
script1op1=push_varbit,blast_furnace_iron_bars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=(All)
colour=0x999999
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000
option=Take

[component_14561]
x=220
y=132
type=text
buttontype=normal
width=22
height=14
script1op1=push_varbit,blast_furnace_steel_bars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=(All)
colour=0x999999
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000
option=Take

[component_14562]
x=308
y=132
type=text
buttontype=normal
width=22
height=14
script1op1=push_varbit,blast_furnace_mithril_bars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=(All)
colour=0x999999
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000
option=Take

[component_14563]
x=408
y=132
type=text
buttontype=normal
width=22
height=14
script1op1=push_varbit,blast_furnace_adamantite_bars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=(All)
colour=0x999999
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000
option=Take

[component_14564]
x=52
y=252
type=text
buttontype=normal
width=22
height=14
script1op1=push_varbit,blast_furnace_runite_bars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=(All)
colour=0x999999
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000
option=Take

[component_14565]
x=132
y=252
type=text
buttontype=normal
width=22
height=14
script1op1=push_varbit,blast_furnace_silver_bars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=(All)
colour=0x999999
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000
option=Take

[component_14566]
x=220
y=252
type=text
buttontype=normal
width=22
height=14
script1op1=push_varbit,blast_furnace_gold_bars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=(All)
colour=0x999999
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000
option=Take

[component_14568]
x=44
y=92
type=model
buttontype=normal
width=32
height=32
model=com_i582
zoom=400
xan=219
yan=1341

[component_14569]
x=128
y=92
type=model
buttontype=normal
width=32
height=32
model=com_i583
zoom=400
xan=219
yan=1341

[component_14570]
x=216
y=92
type=model
buttontype=normal
width=32
height=32
model=com_i584
zoom=400
xan=219
yan=1341

[component_14571]
x=304
y=92
type=model
buttontype=normal
width=32
height=32
model=com_i585
zoom=400
xan=219
yan=1341

[component_14572]
x=404
y=92
type=model
buttontype=normal
width=32
height=32
model=com_i586
zoom=400
xan=219
yan=1341

[component_14573]
x=44
y=212
type=model
buttontype=normal
width=32
height=32
model=com_i587
zoom=400
xan=219
yan=1341

[component_14574]
x=128
y=212
type=model
buttontype=normal
width=32
height=32
model=com_i588
zoom=400
xan=219
yan=1341

[component_14575]
x=216
y=212
type=model
buttontype=normal
width=32
height=32
model=com_i589
zoom=400
xan=219
yan=1341

[component_14577]
x=272
y=175
type=layer
width=105
height=101
hide=yes

[component_14557]
layer=component_14577
x=4
y=5
type=text
buttontype=normal
width=93
height=14
script1op1=push_varbit,blast_furnace_perfect_gold_bars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=Perfect gold: %1
colour=0x999999
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000

[component_14567]
layer=component_14577
x=36
y=77
type=text
buttontype=normal
width=22
height=14
script1op1=push_varbit,blast_furnace_perfect_gold_bars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=(All)
colour=0x999999
activecolour=0xFF981F
overcolour=0x000000
activeovercolour=0x000000
option=Take

[component_14576]
layer=component_14577
x=32
y=37
type=model
buttontype=normal
width=32
height=32
model=com_i590
zoom=400
xan=219
yan=1341
