type=layer
width=512
height=334

[component_14595]
x=190
y=10
type=text
width=147
height=14
font=p12_full
shadowed=yes
text=Blast Furnace Temp Gauge
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14596]
x=470
y=9
type=text
buttontype=close
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0x888888
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14597]
x=316
y=176
type=model
width=32
height=32
model=com_i593
zoom=908
xan=0
yan=0

[component_14598]
x=185
y=183
type=model
width=32
height=32
model=com_i594
zoom=960
xan=0
yan=0

[component_14599]
x=248
y=152
type=model
width=32
height=32
model=com_i595
zoom=172
xan=0
yan=0
