type=layer
width=512
height=334

[component_15501]
x=0
y=0
type=rect
width=512
height=334
colour=0x2E211B
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15502]
x=86
y=85
type=model
width=32
height=32
model=npc_gertrudescat_head
zoom=400
xan=9
yan=1950

[component_15503]
x=411
y=80
type=model
width=32
height=32
model=npc_2941_head
zoom=400
xan=17
yan=125

[component_15504]
x=381
y=217
type=model
width=32
height=32
model=com_i615
zoom=682
xan=512
yan=0

[component_15505]
x=98
y=217
type=model
width=32
height=32
model=com_i615
zoom=682
xan=512
yan=0

[component_15506]
x=243
y=77
type=model
width=32
height=32
model=com_i616
zoom=909
xan=512
yan=0

[component_15507]
x=220
y=188
type=graphic
buttontype=normal
width=72
height=36
graphic=combatboxes,0

[component_15508]
x=220
y=239
type=graphic
buttontype=normal
width=72
height=36
graphic=combatboxes,0

[component_15509]
x=70
y=184
type=text
width=80
height=17
center=yes
font=q8_full
text=Players Cat
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15510]
x=351
y=184
type=text
width=98
height=17
center=yes
font=q8_full
text=Opponents Cat
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15511]
x=252
y=86
type=text
width=16
height=14
font=b12_full
text=Vs
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15512]
x=235
y=199
type=text
width=40
height=14
font=p12_full
shadowed=yes
text=ACCEPT
colour=0x11D311
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15513]
x=234
y=250
type=text
width=43
height=14
font=p12_full
shadowed=yes
text=DECLINE
colour=0xAC1414
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15514]
x=87
y=210
type=text
width=51
height=17
center=yes
font=q8_full
text=Amount
colour=0xFF981F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15515]
x=375
y=210
type=text
width=51
height=17
center=yes
font=q8_full
text=Amount
colour=0xFF981F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15516]
x=62
y=235
type=text
width=100
height=14
center=yes
font=p12_full
shadowed=yes
text=0
colour=0xDDD117
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15517]
x=352
y=235
type=text
width=100
height=14
center=yes
font=p12_full
shadowed=yes
text=0
colour=0xDDD117
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15518]
x=50
y=252
type=model
width=32
height=32
model=com_i617
zoom=600
xan=512
yan=0

[component_15519]
x=146
y=252
type=model
width=32
height=32
model=com_i617
zoom=600
xan=512
yan=0

[component_15520]
x=50
y=252
type=model
buttontype=toggle
width=32
height=32
model=com_i618
activemodel=com_i619
zoom=600
xan=450
yan=0
option=Decrease Amount.

[component_15521]
x=146
y=252
type=model
buttontype=select
width=32
height=32
model=com_i620
activemodel=com_i621
zoom=600
xan=450
yan=0
option=Increase Amount.

[component_15522]
x=0
y=0
type=layer
width=512
height=334
hide=yes

[component_15523]
layer=component_15522
x=0
y=0
type=rect
width=512
height=334
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15524]
layer=component_15522
x=220
y=188
type=graphic
buttontype=normal
width=72
height=36
graphic=combatboxes,0
option=Yes.

[component_15525]
layer=component_15522
x=220
y=238
type=graphic
buttontype=normal
width=72
height=36
graphic=combatboxes,0
option=No.

[component_15526]
layer=component_15522
x=245
y=201
type=text
width=20
height=14
center=yes
font=p12_full
shadowed=yes
text=YES
colour=0x11D311
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15527]
layer=component_15522
x=248
y=249
type=text
width=16
height=14
center=yes
font=p12_full
shadowed=yes
text=NO
colour=0xAC1414
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15528]
layer=component_15522
x=180
y=145
type=text
width=152
height=14
center=yes
font=p12_full
text=Do you really want to bet X!
colour=0xDDD117
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
