type=layer
width=512
height=334

[component_15530]
x=383
y=24
type=text
width=32
height=17
font=q8_full
shadowed=yes
text=Text
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15531]
x=383
y=73
type=text
width=32
height=17
font=q8_full
shadowed=yes
text=Text
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15532]
x=465
y=24
type=model
width=32
height=32
model=npc_gertrudescat_head
zoom=1165
xan=10
yan=37

[component_15533]
x=466
y=72
type=model
width=32
height=32
model=npc_kittenpet1_head
zoom=1165
xan=32
yan=56

[component_15534]
x=443
y=43
type=text
width=14
height=14
font=p12_full
shadowed=yes
text=10
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15535]
x=442
y=91
type=text
width=14
height=14
font=p12_full
shadowed=yes
text=10
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15536]
x=480
y=302
type=graphic
width=25
height=25
graphic=staticons2,4

[component_15537]
x=136
y=120
type=layer
width=268
height=121
hide=yes

[component_15538]
layer=component_15537
x=119
y=32
type=model
width=32
height=32
model=com_i622
zoom=576
xan=512
yan=0

[component_15539]
layer=component_15537
x=72
y=28
type=text
width=124
height=17
center=yes
font=q8_full
text=Your cat has been
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15540]
layer=component_15537
x=110
y=49
type=text
width=59
height=17
font=q8_full
text=Defeated
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
