type=layer
width=512
height=334

[component_15182]
x=259
y=85
type=model
width=32
height=32
model=com_i601
zoom=246
xan=295
yan=0

[component_15183]
x=259
y=85
type=model
width=32
height=32
model=com_i602
anim=bob_locator_nose_rotate
activeanim=bob_locator_nose_rotate
zoom=246
xan=295
yan=0

[component_15184]
x=255
y=84
type=model
width=32
height=32
model=com_i603
anim=bob_locator_eyes
activeanim=bob_locator_eyes
zoom=246
xan=293
yan=0

[component_15185]
x=205
y=75
type=model
width=32
height=32
model=com_i603
anim=bob_locator_eyes
activeanim=bob_locator_eyes
zoom=246
xan=295
yan=110

[component_15186]
x=259
y=85
type=model
width=32
height=32
model=com_i604
anim=bob_locator_eyes
activeanim=bob_locator_eyes
zoom=246
xan=295
yan=0

[component_15187]
x=178
y=150
type=graphic
buttontype=normal
width=66
height=40
option=Turn anti-clockwise

[component_15188]
x=278
y=150
type=graphic
buttontype=normal
width=66
height=40
option=Turn clockwise

[component_15189]
x=259
y=85
type=model
width=32
height=32
script1op1=pushvar,if1
script1=eq,1
model=com_i605
activemodel=com_i606
zoom=246
xan=295
yan=0

[component_15190]
x=259
y=85
type=model
width=32
height=32
script1op1=pushvar,if1
script1=eq,2
model=com_i607
activemodel=com_i608
zoom=246
xan=295
yan=0

[component_15191]
x=428
y=12
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
