type=layer
width=512
height=334

[component_15832]
x=240
y=139
type=model
width=32
height=28
model=if_questscroll
zoom=604
xan=400
yan=0

[component_15833]
x=215
y=95
type=text
width=106
height=17
center=yes
font=q8_full
shadowed=yes
text=Congratulations!
colour=0xF5B405
activecolour=0x453C26
overcolour=0x000000
activeovercolour=0x000000

[component_15834]
x=373
y=84
type=text
buttontype=close
width=28
height=12
font=p11_full
text=Close
colour=0x823C1A
activecolour=0x000000
overcolour=0xDD5817
activeovercolour=0x000000

[component_15835]
x=142
y=117
type=text
width=219
height=14
center=yes
font=p12_full
text=Well done, you defeated the Champion!
colour=0x004000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15836]
x=93
y=153
type=model
width=85
height=105
model=obj_champions_challenge_earthwarrior
zoom=300
xan=347
yan=1517

[component_15837]
x=355
y=205
type=model
width=32
height=32
model=com_i659
zoom=273
xan=500
yan=138

[component_15838]
x=220
y=140
type=text
width=96
height=14
font=p12_full
text=You are awarded:
colour=0x400000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15839]
x=183
y=157
type=text
width=170
height=14
script1op1=pushvar,varp_621
center=yes
font=p12_full
text=%1 Slayer Xp
colour=0x004000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15840]
x=183
y=172
type=text
width=170
height=14
script1op1=pushvar,varp_620
center=yes
font=p12_full
text=%1 Hitpoint Xp
colour=0x004000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
