type=layer
width=512
height=334

[component_15337]
x=2
y=5
type=graphic
width=57
height=13
graphic=sworddecor,1

[component_15338]
x=421
y=5
type=graphic
width=57
height=13
graphic=sworddecor,0

[component_15339]
x=57
y=16
type=model
width=64
height=96
model=obj_pot_of_cream
zoom=183
xan=159
yan=36

[component_15340]
x=207
y=17
type=model
width=64
height=96
model=com_i613
zoom=183
xan=159
yan=36

[component_15341]
x=360
y=13
type=model
width=64
height=96
model=obj_cheese
zoom=400
xan=221
yan=1877

[component_15342]
x=38
y=16
type=text
buttontype=normal
width=100
height=93
script1op1=stat_level,cooking
script1=gt,20
center=yes
font=q8_full
text=\n\n\n\nChurn Cream
colour=0xA00000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Churn Cream

[component_15343]
x=189
y=16
type=text
buttontype=normal
width=100
height=93
script1op1=stat_level,cooking
script1=gt,37
center=yes
font=q8_full
text=\n\n\n\nChurn Butter
colour=0xA00000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Churn Butter

[component_15344]
x=342
y=16
type=text
buttontype=normal
width=100
height=93
script1op1=stat_level,cooking
script1=gt,47
center=yes
font=q8_full
text=\n\n\n\nChurn Cheese
colour=0xA00000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Churn Cheese

[component_15345]
x=8
y=3
type=text
width=464
height=17
center=yes
font=q8_full
text=What would you like to make?
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
