type=layer
width=512
height=334

[component_15323]
x=2
y=5
type=graphic
width=57
height=13
graphic=sworddecor,1

[component_15324]
x=421
y=5
type=graphic
width=57
height=13
graphic=sworddecor,0

[component_15325]
x=207
y=13
type=model
width=64
height=96
model=obj_cheese
zoom=400
xan=221
yan=1877

[component_15326]
x=189
y=16
type=text
buttontype=normal
width=100
height=93
script1op1=stat_level,cooking
script1=gt,47
center=yes
font=q8_full
text=\n\n\n\nChurn Cheese
colour=0xA00000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Churn Cheese

[component_15327]
x=8
y=3
type=text
width=460
height=15
center=yes
font=q8_full
text=What would you like to make in the churn?
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
