type=layer
width=512
height=334

[component_12291]
x=135
y=16
type=model
width=35
height=32
model=obj_iron_battleaxe
zoom=624
xan=521
yan=1288

[component_12292]
x=4
y=10
type=text
width=47
height=14
font=p12_full
shadowed=yes
text=Weapon:
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12293]
x=52
y=10
type=text
width=17
height=14
font=p12_full
shadowed=yes
text=%1
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12294]
x=4
y=40
type=text
width=114
height=14
font=p12_full
shadowed=yes
text=Choose Attack Style
colour=0x00C000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12295]
x=4
y=60
type=layer
width=145
height=190

[component_12296]
layer=component_12295
x=5
y=97
type=graphic
buttontype=select
width=72
height=36
script1op1=pushvar,com_mode
script1=eq,2
graphic=combatboxes,0
activegraphic=combatboxes,1

[component_12297]
layer=component_12295
x=5
y=51
type=graphic
buttontype=select
width=72
height=36
script1op1=pushvar,com_mode
script1=eq,1
graphic=combatboxes,0
activegraphic=combatboxes,1

[component_12298]
layer=component_12295
x=5
y=5
type=graphic
buttontype=select
width=72
height=36
script1op1=pushvar,com_mode
script1=eq,0
graphic=combatboxes,0
activegraphic=combatboxes,1

[component_12299]
layer=component_12295
x=22
y=103
type=graphic
width=34
height=24
graphic=combaticons3,13

[component_12300]
layer=component_12295
x=21
y=11
type=graphic
width=34
height=24
graphic=combaticons3,13

[component_12301]
layer=component_12295
x=22
y=57
type=graphic
width=34
height=24
graphic=combaticons3,14

[component_12302]
layer=component_12295
x=78
y=5
type=text
width=21
height=12
font=p11_full
shadowed=yes
text=Flick
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12303]
layer=component_12295
x=78
y=51
type=text
width=23
height=12
font=p11_full
shadowed=yes
text=Lash
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12304]
layer=component_12295
x=78
y=97
type=text
width=36
height=12
font=p11_full
shadowed=yes
text=Deflect
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12305]
layer=component_12295
x=78
y=64
type=text
width=58
height=12
font=p11_full
text=(Controlled)
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12306]
layer=component_12295
x=78
y=18
type=text
width=50
height=11
font=p11_full
text=(Accurate)
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12307]
layer=component_12295
x=78
y=110
type=text
width=58
height=11
font=p11_full
text=(Defensive)
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12308]
x=82
y=90
type=text
width=34
height=12
font=p11_full
text=(Slash)
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12309]
x=82
y=136
type=text
width=34
height=12
font=p11_full
text=(Slash)
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12310]
x=82
y=182
type=text
width=34
height=12
font=p11_full
text=(Slash)
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12323]
x=17
y=212
type=layer
width=158
height=24
hide=yes

[component_12311]
layer=component_12323
x=0
y=1
type=rect
buttontype=normal
width=156
height=23
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Use @gre@Special Attack

[component_12312]
layer=component_12323
x=131
y=1
type=graphic
width=25
height=30
graphic=steelborder,1

[component_12313]
layer=component_12323
x=0
y=1
type=graphic
width=25
height=30
graphic=steelborder,0

[component_12314]
layer=component_12323
x=6
y=-15
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12315]
layer=component_12323
x=42
y=-15
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12316]
layer=component_12323
x=78
y=-15
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12317]
layer=component_12323
x=114
y=-15
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12318]
layer=component_12323
x=5
y=3
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12319]
layer=component_12323
x=41
y=3
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12320]
layer=component_12323
x=77
y=3
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12321]
layer=component_12323
x=112
y=3
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12322]
layer=component_12323
x=115
y=3
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12324]
layer=component_12323
x=5
y=8
type=model
width=146
height=9
model=com_i3
zoom=1153
xan=500
yan=0

[component_12325]
layer=component_12323
x=3
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,99
model=com_i4
zoom=1153
xan=500
yan=0

[component_12326]
layer=component_12323
x=18
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,199
model=com_i4
zoom=1153
xan=500
yan=0

[component_12327]
layer=component_12323
x=33
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,299
model=com_i4
zoom=1153
xan=500
yan=0

[component_12328]
layer=component_12323
x=47
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,399
model=com_i4
zoom=1153
xan=500
yan=0

[component_12329]
layer=component_12323
x=61
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,499
model=com_i4
zoom=1153
xan=500
yan=0

[component_12330]
layer=component_12323
x=75
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,599
model=com_i4
zoom=1153
xan=500
yan=0

[component_12331]
layer=component_12323
x=90
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,699
model=com_i4
zoom=1153
xan=500
yan=0

[component_12332]
layer=component_12323
x=104
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,799
model=com_i4
zoom=1153
xan=500
yan=0

[component_12333]
layer=component_12323
x=118
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,899
model=com_i4
zoom=1153
xan=500
yan=0

[component_12334]
layer=component_12323
x=132
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,999
model=com_i4
zoom=1153
xan=500
yan=0

[component_12335]
layer=component_12323
x=20
y=7
type=text
width=117
height=11
script1op1=pushvar,sa_attack
script1=gt,0
font=p11_full
text=S P E C I A L  A T T A C K
activetext=@yel@ S P E C I A L  A T T A C K
colour=0x000010
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
