type=layer
width=512
height=334

[component_13976]
x=4
y=10
type=text
width=47
height=14
font=p12_full
shadowed=yes
text=Weapon:
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13977]
x=52
y=10
type=text
width=17
height=14
font=p12_full
shadowed=yes
text=%1
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13978]
x=4
y=40
type=text
width=114
height=14
font=p12_full
shadowed=yes
text=Choose Attack Style
colour=0x00C000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13979]
x=4
y=60
type=layer
width=145
height=190

[component_13980]
layer=component_13979
x=4
y=36
type=graphic
width=72
height=36
graphic=combatboxes,1
activegraphic=combatboxes,1

[component_13982]
layer=component_13979
x=4
y=108
type=graphic
buttontype=normal
width=72
height=36
graphic=combatboxes,0
activegraphic=combatboxes,1
option=Select

[component_13983]
layer=component_13979
x=23
y=41
type=graphic
width=34
height=24
graphic=combaticons,15

[component_13984]
layer=component_13979
x=25
y=111
type=graphic
width=30
height=30
graphic=prayeron,13

[component_13985]
layer=component_13979
x=77
y=36
type=text
width=19
height=12
font=p11_full
shadowed=yes
text=Kick
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13986]
layer=component_13979
x=78
y=119
type=text
width=60
height=12
font=p11_full
shadowed=yes
text=Aim and Fire
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13987]
layer=component_13979
x=77
y=48
type=text
width=64
height=12
font=p11_full
text=(Aggressive)
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13981]
x=132
y=25
type=model
width=32
height=32
model=obj_iron_battleaxe
zoom=624
xan=521
yan=1288

[component_13988]
x=81
y=121
type=text
width=36
height=11
font=p11_full
text=(Crush)
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
