type=layer
width=512
height=334

[component_06117]
x=17
y=231
type=layer
width=158
height=24
hide=yes

[component_06104]
layer=component_06117
x=0
y=1
type=rect
buttontype=normal
width=156
height=23
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Use @gre@Special Attack

[component_06105]
layer=component_06117
x=131
y=1
type=graphic
width=25
height=30
graphic=steelborder,1

[component_06106]
layer=component_06117
x=0
y=1
type=graphic
width=25
height=30
graphic=steelborder,0

[component_06107]
layer=component_06117
x=6
y=-15
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_06108]
layer=component_06117
x=42
y=-15
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_06109]
layer=component_06117
x=78
y=-15
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_06110]
layer=component_06117
x=114
y=-15
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_06111]
layer=component_06117
x=5
y=3
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_06112]
layer=component_06117
x=41
y=3
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_06113]
layer=component_06117
x=77
y=3
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_06115]
layer=component_06117
x=112
y=3
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_06116]
layer=component_06117
x=115
y=3
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_06118]
layer=component_06117
x=5
y=8
type=model
width=146
height=9
model=com_i3
zoom=1153
xan=500
yan=0

[component_06119]
layer=component_06117
x=3
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,99
model=com_i4
zoom=1153
xan=500
yan=0

[component_06120]
layer=component_06117
x=18
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,199
model=com_i4
zoom=1153
xan=500
yan=0

[component_06121]
layer=component_06117
x=33
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,299
model=com_i4
zoom=1153
xan=500
yan=0

[component_06122]
layer=component_06117
x=47
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,399
model=com_i4
zoom=1153
xan=500
yan=0

[component_06123]
layer=component_06117
x=61
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,499
model=com_i4
zoom=1153
xan=500
yan=0

[component_06124]
layer=component_06117
x=75
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,599
model=com_i4
zoom=1153
xan=500
yan=0

[component_06125]
layer=component_06117
x=90
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,699
model=com_i4
zoom=1153
xan=500
yan=0

[component_06126]
layer=component_06117
x=104
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,799
model=com_i4
zoom=1153
xan=500
yan=0

[component_06127]
layer=component_06117
x=118
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,899
model=com_i4
zoom=1153
xan=500
yan=0

[component_06128]
layer=component_06117
x=132
y=8
type=model
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,999
model=com_i4
zoom=1153
xan=500
yan=0

[component_06129]
layer=component_06117
x=20
y=7
type=text
width=117
height=11
script1op1=pushvar,sa_attack
script1=gt,0
font=p11_full
text=S P E C I A L  A T T A C K
activetext=@yel@S P E C I A L  A T T A C K
colour=0x000010
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06130]
x=135
y=16
type=model
width=35
height=32
model=obj_iron_battleaxe
zoom=624
xan=521
yan=1288

[component_06131]
x=4
y=10
type=text
width=47
height=14
font=p12_full
shadowed=yes
text=Weapon:
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06132]
x=52
y=10
type=text
width=17
height=14
font=p12_full
shadowed=yes
text=%1
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06133]
x=4
y=40
type=text
width=114
height=14
font=p12_full
shadowed=yes
text=Choose Attack Style
colour=0x00C000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06134]
x=4
y=51
type=layer
width=145
height=202

[component_06135]
layer=component_06134
x=5
y=98
type=graphic
buttontype=select
width=72
height=36
script1op1=pushvar,com_mode
script1=eq,2
graphic=combatboxes,0
activegraphic=combatboxes,1

[component_06136]
layer=component_06134
x=5
y=51
type=graphic
buttontype=select
width=72
height=36
script1op1=pushvar,com_mode
script1=eq,1
graphic=combatboxes,0
activegraphic=combatboxes,1

[component_06137]
layer=component_06134
x=5
y=5
type=graphic
buttontype=select
width=72
height=36
script1op1=pushvar,com_mode
script1=eq,0
graphic=combatboxes,0
activegraphic=combatboxes,1

[component_06138]
layer=component_06134
x=21
y=103
type=graphic
width=34
height=24
graphic=combaticons,19

[component_06139]
layer=component_06134
x=21
y=11
type=graphic
width=34
height=24
graphic=combaticons2,13

[component_06140]
layer=component_06134
x=21
y=57
type=graphic
width=34
height=24
graphic=combaticons2,14

[component_06141]
layer=component_06134
x=78
y=5
type=text
width=25
height=12
font=p11_full
shadowed=yes
text=Bash
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06142]
layer=component_06134
x=78
y=51
type=text
width=31
height=11
font=p11_full
shadowed=yes
text=Pound
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06143]
layer=component_06134
x=78
y=97
type=text
width=26
height=12
font=p11_full
shadowed=yes
text=Block
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06144]
layer=component_06134
x=78
y=64
type=text
width=64
height=11
font=p11_full
text=(Aggressive)
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06145]
layer=component_06134
x=78
y=18
type=text
width=50
height=11
font=p11_full
text=(Accurate)
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06146]
layer=component_06134
x=78
y=110
type=text
width=58
height=11
font=p11_full
text=(Defensive)
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06148]
x=82
y=81
type=text
width=36
height=11
font=p11_full
text=(Crush)
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06149]
x=81
y=129
type=text
width=36
height=11
font=p11_full
text=(Crush)
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06150]
x=82
y=174
type=text
width=36
height=11
font=p11_full
text=(Crush)
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
