type=layer
width=512
height=334

[component_01744]
x=2
y=5
type=graphic
width=57
height=13
graphic=sworddecor,1

[component_01745]
x=421
y=5
type=graphic
width=57
height=13
graphic=sworddecor,0

[component_13716]
x=207
y=13
type=model
width=64
height=96
zoom=400
xan=0
yan=0

[component_13717]
x=189
y=16
type=text
buttontype=normal
width=100
height=93
center=yes
font=q8_full
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Cook All

[component_13718]
x=189
y=16
type=text
buttontype=normal
width=100
height=93
center=yes
font=q8_full
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Cook X

[component_13719]
x=189
y=16
type=text
buttontype=normal
width=100
height=93
center=yes
font=q8_full
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Cook 5

[component_13720]
x=189
y=16
type=text
buttontype=normal
width=100
height=93
center=yes
font=q8_full
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Cook 1

[component_13721]
x=0
y=0
type=text
width=479
height=17
center=yes
font=q8_full
text=How many would you like to cook?
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
