type=layer
width=512
height=334

[component_15615]
x=103
y=37
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15616]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15617]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15618]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15619]
x=189
y=38
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15620]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15621]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15622]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15623]
x=277
y=40
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15624]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15625]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15626]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15627]
x=101
y=34
type=graphic
width=25
height=30
graphic=steelborder,0

[component_15628]
x=85
y=37
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15629]
x=337
y=40
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15630]
x=84
y=57
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15631]
x=84
y=79
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15632]
x=84
y=115
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15633]
x=84
y=150
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15634]
x=84
y=186
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15635]
x=84
y=222
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15636]
x=410
y=59
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15637]
x=410
y=95
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15638]
x=410
y=114
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15639]
x=410
y=150
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15640]
x=410
y=186
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15641]
x=410
y=222
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15642]
x=158
y=266
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15643]
x=193
y=266
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15644]
x=228
y=266
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15645]
x=263
y=266
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15646]
x=298
y=266
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15647]
x=301
y=266
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15648]
x=336
y=266
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15649]
x=371
y=266
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15650]
x=104
y=19
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15651]
x=120
y=19
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15652]
x=154
y=19
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15653]
x=190
y=19
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15654]
x=226
y=19
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15655]
x=262
y=19
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15656]
x=298
y=19
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15657]
x=334
y=19
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15658]
x=370
y=19
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15659]
x=337
y=98
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15660]
x=213
y=50
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15661]
x=123
y=266
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15662]
x=99
y=257
type=graphic
width=25
height=30
graphic=steelborder,2

[component_15663]
x=406
y=34
type=graphic
width=25
height=30
graphic=steelborder,1

[component_15664]
x=337
y=154
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15665]
x=406
y=257
type=graphic
width=25
height=30
graphic=steelborder,3

[component_15666]
x=247
y=50
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15667]
x=350
y=50
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15668]
x=317
y=50
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15669]
x=282
y=50
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15670]
x=337
y=207
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15671]
x=381
y=50
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15672]
x=180
y=50
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15673]
x=145
y=50
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15674]
x=123
y=50
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15675]
x=104
y=50
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15676]
x=338
y=221
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15677]
x=176
y=221
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15678]
x=105
y=221
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15679]
x=250
y=221
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15680]
x=389
y=50
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15681]
x=105
y=44
type=text
width=321
height=14
center=yes
font=b12_full
shadowed=yes
text=Amazing Farming Equipment Store
colour=0x7DD764
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15682]
x=168
y=104
type=inv
width=3
height=2
margin=64,32
option1=Remove

[component_15683]
x=168
y=232
type=inv
width=3
height=1
margin=64,0
option1=Remove 1
option2=Remove 5
option3=Remove All
option4=Remove X

[component_15684]
x=436
y=8
type=text
buttontype=close
width=68
height=12
font=p11_full
shadowed=yes
text=Close Window
colour=0x939292
activecolour=0xD6D5D5
overcolour=0xFFFFFF
activeovercolour=0x000000

[component_15685]
x=120
y=88
type=text
width=72
height=14
script1op1=push_varbit,farming_tools_rake
script1=gt,0
font=p12_full
shadowed=yes
text=Farming rake
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15686]
x=120
y=104
type=text
width=17
height=14
script1op1=push_varbit,farming_tools_rake
script1=gt,0
font=p12_full
shadowed=yes
text=%1
colour=0x872300
activecolour=0x7DD750
overcolour=0x000000
activeovercolour=0x000000

[component_15687]
x=120
y=120
type=text
width=31
height=12
script1op1=push_varbit,farming_tools_rake
script1=gt,0
font=p11_full
shadowed=yes
text=Max: 1
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15688]
x=216
y=88
type=text
width=67
height=14
script1op1=push_varbit,farming_tools_dibber
script1=gt,0
font=p12_full
shadowed=yes
text=Seed dibber
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15689]
x=216
y=104
type=text
width=17
height=14
script1op1=push_varbit,farming_tools_dibber
script1=gt,0
font=p12_full
shadowed=yes
text=%1
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15690]
x=216
y=120
type=text
width=31
height=12
script1op1=push_varbit,farming_tools_dibber
script1=gt,0
font=p11_full
shadowed=yes
text=Max: 1
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15691]
x=312
y=88
type=text
width=105
height=14
script1op1=push_varbit,farming_tools_spade
script1=gt,0
font=p12_full
shadowed=yes
text=All-purpose spade
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15692]
x=312
y=104
type=text
width=17
height=14
script1op1=push_varbit,farming_tools_spade
script1=gt,0
font=p12_full
shadowed=yes
text=%1
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15693]
x=312
y=120
type=text
width=31
height=12
script1op1=push_varbit,farming_tools_spade
script1=gt,0
font=p11_full
shadowed=yes
text=Max: 1
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15694]
x=120
y=152
type=text
width=58
height=14
script1op1=push_varbit,farming_tools_secateurs
script1=gt,0
font=p12_full
shadowed=yes
text=Secateurs
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15695]
x=120
y=168
type=text
width=17
height=14
script1op1=push_varbit,farming_tools_secateurs
script1=gt,0
font=p12_full
shadowed=yes
text=%1
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15696]
x=120
y=184
type=text
width=31
height=12
script1op1=push_varbit,farming_tools_secateurs
script1=gt,0
font=p11_full
shadowed=yes
text=Max: 1
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15697]
x=216
y=152
type=text
width=74
height=14
script1op1=push_varbit,farming_tools_wateringcan
script2op1=push_varbit,farming_tools_wateringcan
script2op2=subtract
script2op3=push_constant,1
script1=gt,0
font=p12_full
shadowed=yes
text=Watering Can
activetext=Watering Can (%2)
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15698]
x=216
y=168
type=text
width=8
height=14
script1op1=push_varbit,farming_tools_wateringcan
script1=gt,0
font=p12_full
shadowed=yes
text=0
activetext=1
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15699]
x=216
y=184
type=text
width=31
height=12
script1op1=push_varbit,farming_tools_wateringcan
script1=gt,0
font=p11_full
shadowed=yes
text=Max: 1
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15700]
x=312
y=152
type=text
width=95
height=14
script1op1=push_varbit,farming_tools_trowel
script1=gt,0
font=p12_full
shadowed=yes
text=Gardening trowel
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15701]
x=312
y=168
type=text
width=17
height=14
script1op1=push_varbit,farming_tools_trowel
script1=gt,0
font=p12_full
shadowed=yes
text=%1
colour=0x870000
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15702]
x=312
y=184
type=text
width=31
height=12
script1op1=push_varbit,farming_tools_trowel
script1=gt,0
font=p11_full
shadowed=yes
text=Max: 1
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15703]
x=120
y=216
type=text
width=82
height=14
script1op1=push_varbit,farming_tools_buckets
script1=gt,0
font=p12_full
shadowed=yes
text=Empty buckets
colour=0x870000
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15704]
x=120
y=232
type=text
width=17
height=14
script1op1=push_varbit,farming_tools_buckets
script1=gt,0
font=p12_full
shadowed=yes
text=%1
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15705]
x=120
y=248
type=text
width=37
height=12
script1op1=push_varbit,farming_tools_buckets
script1=gt,0
font=p11_full
shadowed=yes
text=Max: 31
colour=0x870000
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15706]
x=216
y=216
type=text
width=91
height=14
script1op1=push_varbit,farming_tools_compost
script1=gt,0
font=p12_full
shadowed=yes
text=Normal Compost
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15707]
x=216
y=232
type=text
width=17
height=14
script1op1=push_varbit,farming_tools_compost
script1=gt,0
font=p12_full
shadowed=yes
text=%1
colour=0x870000
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15708]
x=216
y=248
type=text
width=46
height=12
script1op1=push_varbit,farming_tools_compost
script1=gt,0
font=p11_full
shadowed=yes
text=Max: 255
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15709]
x=312
y=216
type=text
width=85
height=14
script1op1=push_varbit,farming_tools_supercompost
script1=gt,0
font=p12_full
shadowed=yes
text=Super Compost
colour=0x870000
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15710]
x=312
y=232
type=text
width=17
height=14
script1op1=push_varbit,farming_tools_supercompost
script1=gt,0
font=p12_full
shadowed=yes
text=%1
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000

[component_15711]
x=312
y=248
type=text
width=46
height=12
script1op1=push_varbit,farming_tools_supercompost
script1=gt,0
font=p11_full
shadowed=yes
text=Max: 255
colour=0x872300
activecolour=0x7DD764
overcolour=0x000000
activeovercolour=0x000000
