type=layer
width=512
height=334

[component_13104]
x=241
y=172
type=model
width=32
height=32
model=com_i395
anim=smokeoverlay
zoom=64
xan=2047
yan=2

[component_13105]
x=248
y=412
type=model
width=32
height=32
anim=smokeoverlay
zoom=64
xan=2047
yan=2

[component_13106]
x=257
y=39
type=model
width=32
height=32
anim=smokeoverlay
zoom=64
xan=2047
yan=2
