type=layer
width=512
height=334

[component_03210]
x=80
y=202
type=graphic
width=36
height=36
graphic=miscgraphics,7

[component_03211]
x=65
y=202
type=graphic
width=36
height=36
graphic=miscgraphics,7

[component_03212]
x=39
y=202
type=graphic
width=36
height=36
graphic=miscgraphics,7

[component_04461]
x=97
y=202
type=graphic
width=36
height=36
graphic=miscgraphics,8

[component_04462]
x=119
y=202
type=graphic
width=36
height=36
graphic=miscgraphics,8

[component_04463]
x=57
y=213
type=text
buttontype=normal
clientcode=205
width=83
height=14
font=b12_full
shadowed=yes
text=Stop Viewing
colour=0xFFFFFF
activecolour=0x000000
overcolour=0xFF0000
activeovercolour=0x000000

[component_04464]
x=81
y=99
type=model
width=28
height=28
model=loc_9391_8
anim=tzhaar_viewing_orb
zoom=2280
xan=166
yan=63

[component_02801]
x=25
y=46
type=model
width=28
height=28
model=loc_9391_8
anim=tzhaar_viewing_orb
zoom=2280
xan=166
yan=63

[component_15236]
x=137
y=46
type=model
width=28
height=28
model=loc_9391_8
anim=tzhaar_viewing_orb
zoom=2280
xan=166
yan=63

[component_15237]
x=25
y=152
type=model
width=28
height=28
model=loc_9391_8
anim=tzhaar_viewing_orb
zoom=2280
xan=166
yan=63

[component_15238]
x=137
y=152
type=model
width=28
height=28
model=loc_9391_8
anim=tzhaar_viewing_orb
zoom=2280
xan=166
yan=63

[component_15239]
x=76
y=119
type=text
buttontype=normal
width=38
height=14
script1op1=push_varbit,tzhaar_fightpit_orb
script1=eq,1
font=p12_full
shadowed=yes
text=Centre
colour=0xFFFF00
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000
option=View

[component_15240]
x=5
y=66
type=text
buttontype=normal
width=66
height=14
script1op1=push_varbit,tzhaar_fightpit_orb
script1=eq,2
font=p12_full
shadowed=yes
text=North-West
colour=0xFFFF00
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000
option=View

[component_15241]
x=119
y=66
type=text
buttontype=normal
width=63
height=14
script1op1=push_varbit,tzhaar_fightpit_orb
script1=eq,3
font=p12_full
shadowed=yes
text=North-East
colour=0xFFFF00
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000
option=View

[component_15242]
x=118
y=172
type=text
buttontype=normal
width=64
height=14
script1op1=push_varbit,tzhaar_fightpit_orb
script1=eq,4
font=p12_full
shadowed=yes
text=South-East
colour=0xFFFF00
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000
option=View

[component_15243]
x=6
y=172
type=text
buttontype=normal
width=67
height=14
script1op1=push_varbit,tzhaar_fightpit_orb
script1=eq,5
font=p12_full
shadowed=yes
text=South-West
colour=0xFFFF00
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000
option=View
