type=layer
width=512
height=334

[component_14171]
x=25
y=23
type=inv
width=1
height=1

[component_14172]
x=225
y=24
type=model
width=32
height=32
model=com_i551
zoom=1463
xan=291
yan=2032

[component_14173]
x=358
y=25
type=model
width=32
height=32
model=com_i552
zoom=2278
xan=400
yan=2030

[component_14174]
x=0
y=-1
type=text
width=480
height=17
center=yes
font=q8_full
text=Are you sure you want to destroy this object?
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14175]
x=226
y=32
type=text
buttontype=normal
width=100
height=17
center=yes
font=q8_full
text=Yes.
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Destroy Object

[component_14176]
x=362
y=32
type=text
buttontype=normal
width=100
height=17
center=yes
font=q8_full
text=No.
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Cancel

[component_14178]
x=408
y=0
type=graphic
width=57
height=13
graphic=sworddecor,0

[component_14179]
x=15
y=1
type=graphic
width=57
height=13
graphic=sworddecor,1

[component_14180]
x=0
y=50
type=layer
width=482
height=66

[component_14177]
layer=component_14180
x=0
y=24
type=text
width=480
height=16
center=yes
font=q8_full
colour=0x000088
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14181]
x=0
y=50
type=layer
width=482
height=66

[component_14182]
layer=component_14181
x=1
y=12
type=text
width=480
height=17
center=yes
font=q8_full
text=option2
colour=0x000088
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14183]
layer=component_14181
x=2
y=28
type=text
width=480
height=17
center=yes
font=q8_full
text=option2
colour=0x000088
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14184]
x=62
y=32
type=text
width=100
height=17
font=p12_full
text=Name
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
