type=layer
width=512
height=334

[component_11463]
x=0
y=0
type=rect
width=512
height=340
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_11464]
x=244
y=189
type=model
width=32
height=32
model=com_i349
zoom=739
xan=512
yan=0

[component_06198]
x=246
y=10
type=model
width=32
height=32
model=com_i158
zoom=1182
xan=512
yan=0

[component_11465]
x=57
y=76
type=model
width=70
height=92
model=obj_vial_empty
zoom=346
xan=116
yan=1942

[component_11466]
x=142
y=52
type=model
width=64
height=96
model=obj_stafforb
zoom=293
xan=590
yan=868

[component_11467]
x=220
y=73
type=model
width=64
height=96
model=obj_beer_glass
zoom=338
xan=147
yan=40

[component_11468]
x=307
y=69
type=model
width=64
height=96
model=obj_candle_lantern_unlit
zoom=741
xan=53
yan=1965

[component_11469]
x=392
y=66
type=model
width=64
height=96
model=obj_oil_lamp_unlit
zoom=687
xan=197
yan=1921

[component_11470]
x=143
y=170
type=model
width=64
height=96
model=obj_bullseye_lantern_lens
zoom=378
xan=427
yan=2031

[component_06199]
x=65
y=191
type=model
width=59
height=79
model=soulbane_falloff2_8
zoom=652
xan=125
yan=2042

[component_11471]
x=55
y=81
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make X

[component_11472]
x=55
y=81
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 10

[component_11473]
x=55
y=81
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 5

[component_11474]
x=55
y=81
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
text=\n\n\n\nVial
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 1

[component_11475]
x=135
y=81
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make X

[component_12394]
x=135
y=81
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 10

[component_12395]
x=135
y=81
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 5

[component_12396]
x=135
y=81
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
text=\n\n\n\nOrb
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 1

[component_12397]
x=216
y=82
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make X

[component_12398]
x=216
y=82
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 10

[component_12399]
x=216
y=82
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 5

[component_12400]
x=216
y=82
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
text=\n\n\n\nBeer Glass
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 1

[component_12401]
x=299
y=82
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make X

[component_12402]
x=299
y=82
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 10

[component_12403]
x=299
y=82
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 5

[component_12404]
x=299
y=82
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
text=\n\n\nCandle\nLantern
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 1

[component_12405]
x=383
y=82
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make X

[component_12406]
x=383
y=82
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 10

[component_12407]
x=383
y=82
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 5

[component_12408]
x=383
y=82
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
text=\n\n\nOil\nLamp
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 1

[component_12409]
x=135
y=209
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make X

[component_12410]
x=135
y=209
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 10

[component_12411]
x=135
y=209
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 5

[component_12412]
x=135
y=209
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
text=\n\n\nLantern\nLens
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 1

[component_06200]
x=55
y=209
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make X

[component_06201]
x=55
y=209
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 10

[component_06202]
x=55
y=209
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 5

[component_06203]
x=55
y=209
type=text
buttontype=normal
width=75
height=93
center=yes
font=q8_full
text=\n\n\n\nFishbowl
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 1

[component_12413]
x=30
y=18
type=text
width=464
height=17
center=yes
font=q8_full
text=What would you like to make?
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15349]
x=430
y=7
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0x604820
activecolour=0x000000
overcolour=0xA08048
activeovercolour=0x000000
