type=layer
width=512
height=334

[component_11943]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11944]
x=15
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11945]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11946]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11947]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11948]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11949]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11950]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11951]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11952]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11953]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11954]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11955]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11956]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11957]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11958]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11959]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11960]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11961]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11962]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11963]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11964]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11965]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11966]
x=359
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11967]
x=364
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11968]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11969]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11970]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11971]
x=406
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11972]
x=412
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_11973]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[component_11974]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_11975]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_11976]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_11977]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_11978]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_11979]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_11980]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_11981]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_11982]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_11983]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_11984]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_11985]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_11986]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_11987]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_11988]
x=73
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_11989]
x=109
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_11990]
x=145
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_11991]
x=181
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_11992]
x=217
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_11993]
x=253
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_11994]
x=289
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_11995]
x=325
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_11996]
x=361
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_11997]
x=397
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_11998]
x=433
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_11999]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12000]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12001]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12002]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12003]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12004]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12005]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12006]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12007]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12008]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12009]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12010]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12011]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12012]
x=37
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12013]
x=12
y=290
type=graphic
width=25
height=30
graphic=steelborder,2

[component_12014]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[component_12015]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12016]
x=475
y=290
type=graphic
width=25
height=30
graphic=steelborder,3

[component_12017]
x=439
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12018]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12019]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12020]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12021]
x=396
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12022]
x=432
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12023]
x=459
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12024]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12025]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12026]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12027]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12028]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12029]
x=36
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12030]
x=17
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12031]
x=21
y=29
type=text
width=197
height=14
font=b12_full
shadowed=yes
text=Ranging Guild Ticket Exchange
colour=0xCCAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12032]
x=423
y=29
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[component_12033]
x=76
y=65
type=inv
width=8
height=4
margin=15,15
option1=Value
option2=Buy
