type=layer
width=512
height=334

[component_06153]
x=115
y=189
type=model
width=32
height=33
model=com_i165
zoom=410
xan=6
yan=5

[component_06154]
x=80
y=98
type=model
width=32
height=32
model=com_i166
zoom=358
xan=528
yan=0

[component_06155]
x=184
y=227
type=model
width=35
height=34
model=com_i167
anim=pillory_key_rotate
zoom=422
xan=565
yan=0

[component_06186]
x=278
y=227
type=model
width=35
height=34
model=com_i168
anim=pillory_key_rotate
zoom=422
xan=565
yan=0

[component_06187]
x=373
y=227
type=model
width=35
height=34
model=com_i169
anim=pillory_key_rotate
zoom=422
xan=565
yan=0

[component_06188]
x=181
y=203
type=graphic
buttontype=normal
width=46
height=95

[component_06189]
x=271
y=204
type=graphic
buttontype=normal
width=51
height=90

[component_06190]
x=370
y=205
type=graphic
buttontype=normal
width=46
height=96

[component_06191]
x=473
y=10
type=text
buttontype=close
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06192]
x=180
y=25
type=model
width=34
height=33
script1op1=pushvar,macro_transmit
script1=gt,0
model=com_i170
activemodel=com_i171
anim=smalllock_rotate
activeanim=smalllock_rotate
zoom=1200
xan=498
yan=9

[component_06193]
x=230
y=25
type=model
width=32
height=32
script1op1=pushvar,macro_transmit
script1=gt,1
model=com_i170
activemodel=com_i171
anim=smalllock_rotate
activeanim=smalllock_rotate
zoom=1200
xan=498
yan=9

[component_06194]
x=280
y=25
type=model
width=32
height=32
script1op1=pushvar,macro_transmit
script1=gt,2
model=com_i170
activemodel=com_i171
anim=smalllock_rotate
activeanim=smalllock_rotate
zoom=1200
xan=498
yan=9

[component_06195]
x=330
y=25
type=model
width=32
height=32
script1op1=pushvar,macro_transmit
script1=gt,3
model=com_i170
activemodel=com_i171
activeanim=smalllock_rotate
zoom=1200
xan=498
yan=9

[component_06196]
x=380
y=25
type=model
width=32
height=32
script1op1=pushvar,macro_transmit
script1=gt,4
model=com_i170
activemodel=com_i171
anim=smalllock_rotate
activeanim=smalllock_rotate
zoom=1200
xan=498
yan=9

[component_06197]
x=430
y=25
type=model
width=32
height=32
script1op1=pushvar,macro_transmit
script1=gt,5
model=com_i170
activemodel=com_i171
anim=smalllock_rotate
activeanim=smalllock_rotate
zoom=1200
xan=498
yan=9
