type=layer
width=512
height=334

[component_14192]
x=-13
y=-6
type=rect
width=501
height=109
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14193]
x=190
y=19
type=model
width=32
height=32
model=com_i554
zoom=258
xan=500
yan=0

[component_14194]
x=17
y=20
type=model
width=32
height=32
model=com_i555
zoom=258
xan=500
yan=0

[component_14195]
x=190
y=20
type=model
width=32
height=32
model=com_i555
zoom=258
xan=500
yan=0

[component_14196]
x=365
y=18
type=model
width=32
height=32
model=com_i555
zoom=258
xan=500
yan=0

[component_14197]
x=37
y=36
type=model
buttontype=normal
width=60
height=60
model=obj_macro_quiz_jewel2
zoom=400
xan=0
yan=0

[component_14198]
x=212
y=39
type=model
buttontype=normal
width=60
height=60
model=obj_macro_quiz_jewel1
zoom=400
xan=0
yan=0

[component_14199]
x=386
y=36
type=model
buttontype=normal
width=60
height=60
model=obj_macro_quiz_tool2
zoom=446
xan=0
yan=0

[component_14200]
x=180
y=15
type=text
width=117
height=14
font=p12_full
shadowed=yes
text=Pick the odd one out.
colour=0xFFFF01
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
