type=layer
width=512
height=334

[component_14218]
x=241
y=124
type=model
width=40
height=12
model=com_i161
zoom=578
xan=496
yan=1

[component_14219]
x=120
y=46
type=text
width=93
height=17
font=q8_full
text=A....a lemming
colour=0xF342E10
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14220]
x=118
y=79
type=text
width=105
height=17
font=q8_full
text=B....a fryingpan
colour=0xF342E10
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14221]
x=118
y=111
type=text
width=325
height=17
font=q8_full
text=C....the disenfrachaised youth of 1940's Columbia
colour=0xF342E10
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14222]
x=117
y=20
type=text
width=45
height=17
font=q8_full
text=Is this:
colour=0xF1B1805
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14223]
x=142
y=143
type=rect
width=236
height=153
fill=yes
colour=0xF342E10
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14224]
x=147
y=147
type=rect
width=226
height=144
fill=yes
colour=0xF5F551D
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14225]
x=197
y=149
type=model
width=133
height=133
model=obj_macro_quiz_food1
zoom=400
xan=346
yan=1883

[component_14226]
x=437
y=0
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14227]
x=85
y=36
type=model
buttontype=normal
width=32
height=32
model=com_i558
zoom=4904
xan=540
yan=2043
option=select option A

[component_14228]
x=84
y=69
type=model
buttontype=normal
width=32
height=32
model=com_i559
zoom=4859
xan=490
yan=10
option=select option B

[component_14229]
x=83
y=102
type=model
buttontype=normal
width=32
height=32
model=com_i560
zoom=4579
xan=385
yan=24
option=select option C
