type=layer
width=512
height=334

[component_13934]
x=151
y=143
type=model
width=31
height=32
model=com_i45
anim=bear_headless_beast_walk
zoom=256
xan=0
yan=0

[component_13935]
x=151
y=143
type=model
width=31
height=32
model=com_i46
anim=bear_headless_beast_walk
zoom=255
xan=0
yan=0

[component_13936]
x=151
y=143
type=model
width=31
height=32
model=com_i47
anim=bear_headless_beast_walk
zoom=256
xan=0
yan=0

[component_13937]
x=64
y=60
type=model
width=31
height=32
model=com_i48
anim=bear_headless_beast_walk
zoom=360
xan=1900
yan=0

[component_13938]
x=151
y=60
type=model
width=31
height=32
model=com_i49
anim=bear_headless_beast_walk
zoom=360
xan=1900
yan=0

[component_13939]
x=238
y=60
type=model
width=31
height=32
model=com_i48
anim=bear_headless_beast_walk
zoom=360
xan=1900
yan=0

[component_13940]
x=60
y=143
type=model
width=31
height=32
model=com_i48
anim=bear_headless_beast_walk
zoom=360
xan=0
yan=0

[component_13941]
x=151
y=143
type=model
width=31
height=32
model=com_i48
anim=bear_headless_beast_walk
zoom=360
xan=0
yan=0

[component_13942]
x=242
y=143
type=model
width=31
height=32
model=com_i50
anim=bear_headless_beast_walk
zoom=360
xan=0
yan=0

[component_13943]
x=64
y=229
type=model
width=31
height=32
model=com_i51
anim=bear_headless_beast_walk
zoom=360
xan=150
yan=0

[component_13944]
x=150
y=230
type=model
width=31
height=32
model=com_i48
anim=bear_headless_beast_walk
zoom=360
xan=150
yan=0

[component_13945]
x=239
y=230
type=model
width=31
height=32
model=com_i48
anim=bear_headless_beast_walk
zoom=360
xan=150
yan=0

[component_13946]
x=151
y=139
type=model
width=31
height=32
model=com_i52
zoom=256
xan=0
yan=0

[component_13947]
x=60
y=139
type=model
width=31
height=32
model=com_i52
zoom=256
xan=0
yan=0

[component_13948]
x=242
y=139
type=model
width=31
height=32
model=com_i52
zoom=256
xan=0
yan=0

[component_13949]
x=429
y=10
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0x79613B
activecolour=0x000000
overcolour=0xAB8850
activeovercolour=0x000000

[component_13950]
x=34
y=317
type=text
width=80
height=17
center=yes
font=b12_full
text=DIAMOND
colour=0xCEAF7E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13951]
x=125
y=317
type=text
width=80
height=17
center=yes
font=b12_full
text=COINS
colour=0xCEAF7E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13952]
x=216
y=317
type=text
width=80
height=17
center=yes
font=b12_full
text=RING
colour=0xCEAF7E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13953]
x=378
y=150
type=text
buttontype=normal
width=70
height=14
font=b12_full
text=U N L O C K
colour=0x4F3F26
activecolour=0x000000
overcolour=0xD9AD66
activeovercolour=0x000000
option=U N L O C K

[component_13954]
x=49
y=4
type=model
buttontype=normal
width=54
height=33
zoom=400
xan=0
yan=0
option=Up (left)

[component_13955]
x=141
y=4
type=model
buttontype=normal
width=54
height=33
zoom=400
xan=0
yan=0
option=Up (middle)

[component_13956]
x=232
y=4
type=model
buttontype=normal
width=54
height=33
zoom=400
xan=0
yan=0
option=Up (right)

[component_13957]
x=47
y=285
type=model
buttontype=normal
width=54
height=33
zoom=400
xan=0
yan=0
option=Down (left)

[component_13958]
x=138
y=286
type=model
buttontype=normal
width=54
height=33
zoom=400
xan=0
yan=0
option=Down (middle)

[component_13959]
x=229
y=287
type=model
buttontype=normal
width=54
height=33
zoom=400
xan=0
yan=0
option=Down (right)
