type=layer
width=512
height=334

[component_14231]
x=241
y=194
type=model
width=34
height=33
model=com_i561
zoom=348
xan=519
yan=6

[component_14232]
x=410
y=279
type=model
width=32
height=32
model=com_i562
zoom=600
xan=391
yan=0

[component_14233]
x=238
y=140
type=model
width=32
height=32
model=com_i563
zoom=478
xan=125
yan=8

[component_14234]
x=240
y=262
type=model
width=42
height=38
model=com_i564
zoom=494
xan=395
yan=2047

[component_14235]
x=80
y=279
type=model
buttontype=normal
width=32
height=32
model=com_i565
zoom=607
xan=391
yan=0

[component_14236]
x=135
y=279
type=model
buttontype=normal
width=32
height=32
model=com_i566
zoom=607
xan=391
yan=0

[component_14237]
x=190
y=279
type=model
buttontype=normal
width=32
height=32
model=com_i567
zoom=607
xan=391
yan=0

[component_14238]
x=245
y=279
type=model
buttontype=normal
width=32
height=32
model=com_i568
zoom=600
xan=391
yan=0

[component_14239]
x=300
y=279
type=model
buttontype=normal
width=32
height=32
model=com_i569
zoom=600
xan=391
yan=0

[component_14240]
x=355
y=279
type=model
buttontype=normal
width=32
height=32
model=com_i570
zoom=600
xan=391
yan=0

[component_14241]
x=410
y=279
type=model
buttontype=normal
width=32
height=32
model=com_i562
zoom=600
xan=391
yan=0
