type=layer
width=512
height=334

[component_13714]
x=2
y=5
type=graphic
width=57
height=13
graphic=sworddecor,1

[component_13715]
x=421
y=5
type=graphic
width=57
height=13
graphic=sworddecor,0

[component_01746]
x=207
y=13
type=model
width=64
height=96
zoom=400
xan=0
yan=0

[component_01747]
x=189
y=16
type=text
buttontype=normal
width=100
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make All

[component_01748]
x=189
y=16
type=text
buttontype=normal
width=100
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make X

[component_02798]
x=189
y=16
type=text
buttontype=normal
width=100
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 5

[component_02799]
x=189
y=16
type=text
buttontype=normal
width=100
height=93
center=yes
font=q8_full
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 1

[component_02800]
x=0
y=0
type=text
width=479
height=17
center=yes
font=q8_full
text=How many would you like to make?
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
