type=layer
width=512
height=334

[component_15768]
x=369
y=424
type=model
width=32
height=32
model=com_i158
zoom=692
xan=512
yan=0

[component_15769]
x=190
y=431
type=text
width=400
height=17
center=yes
font=q8_full
text=Your password is only as safe as your computer.
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15770]
x=190
y=452
type=text
width=400
height=17
center=yes
font=q8_full
text=Install anti-virus software!
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15771]
x=333
y=411
type=text
width=119
height=14
font=p12_full
text=Message of the week
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15772]
x=71
y=484
type=model
width=32
height=32
model=com_i646
zoom=632
xan=0
yan=1954

[component_15773]
x=670
y=484
type=model
width=32
height=32
model=com_i646
zoom=632
xan=0
yan=122
