type=layer
width=512
height=334

[component_15792]
x=369
y=424
type=model
width=32
height=32
model=com_i158
zoom=692
xan=512
yan=0

[component_15793]
x=190
y=431
type=text
width=400
height=17
center=yes
font=q8_full
text=Your password is only as safe as your computer.
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15794]
x=190
y=452
type=text
width=400
height=17
center=yes
font=q8_full
text=Install anti-virus software!
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15795]
x=333
y=411
type=text
width=119
height=14
font=p12_full
text=Message of the week
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15796]
x=65
y=479
type=model
width=32
height=32
model=com_i647
zoom=687
xan=120
yan=228

[component_15797]
x=675
y=469
type=model
width=32
height=32
model=com_i648
zoom=656
xan=39
yan=201

[component_15798]
x=67
y=431
type=model
width=32
height=32
model=com_i651
zoom=1000
xan=458
yan=0

[component_15799]
x=659
y=446
type=model
width=32
height=32
model=com_i651
zoom=1300
xan=458
yan=0

[component_15800]
x=712
y=420
type=model
width=32
height=32
model=com_i651
zoom=1700
xan=458
yan=0
