type=layer
width=512
height=334

[component_15775]
x=369
y=424
type=model
width=32
height=32
model=com_i158
zoom=692
xan=512
yan=0

[component_15776]
x=190
y=431
type=text
width=400
height=17
center=yes
font=q8_full
text=Your password is only as safe as your computer.
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15777]
x=190
y=452
type=text
width=400
height=17
center=yes
font=q8_full
text=Install anti-virus software!
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15778]
x=333
y=411
type=text
width=119
height=14
font=p12_full
text=Message of the week
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15779]
x=65
y=479
type=model
width=32
height=32
model=com_i647
anim=intro_banner_security_lock
zoom=687
xan=120
yan=228

[component_15780]
x=679
y=468
type=model
width=32
height=32
model=com_i648
zoom=727
xan=105
yan=144

[component_15781]
x=10
y=434
type=model
width=32
height=32
model=com_i649
zoom=2135
xan=528
yan=0

[component_15782]
x=41
y=434
type=model
width=32
height=32
model=com_i649
zoom=2135
xan=528
yan=0

[component_15783]
x=72
y=434
type=model
width=32
height=32
model=com_i649
zoom=2135
xan=528
yan=0

[component_15784]
x=103
y=434
type=model
width=32
height=32
model=com_i649
zoom=2135
xan=528
yan=0

[component_15785]
x=133
y=434
type=model
width=32
height=32
model=com_i649
zoom=2135
xan=528
yan=0

[component_15786]
x=605
y=434
type=model
width=32
height=32
model=com_i650
zoom=2135
xan=528
yan=0

[component_15787]
x=636
y=434
type=model
width=32
height=32
model=com_i650
zoom=2135
xan=528
yan=0

[component_15788]
x=667
y=434
type=model
width=32
height=32
model=com_i650
zoom=2135
xan=528
yan=0

[component_15789]
x=698
y=434
type=model
width=32
height=32
model=com_i650
zoom=2135
xan=528
yan=0

[component_15790]
x=728
y=434
type=model
width=32
height=32
model=com_i650
zoom=2135
xan=528
yan=0
