type=layer
width=512
height=334

[component_13990]
x=290
y=154
type=model
width=32
height=32
model=com_i433
zoom=117
xan=520
yan=504

[component_13991]
x=408
y=12
type=text
buttontype=close
width=93
height=17
center=yes
font=q8_full
shadowed=yes
text=Close Window
colour=0xFFBF25
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13992]
x=377
y=225
type=text
buttontype=normal
width=35
height=58
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Aim left

[component_13993]
x=471
y=224
type=text
buttontype=normal
width=35
height=58
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Aim right

[component_13994]
x=410
y=192
type=text
buttontype=normal
width=63
height=34
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Aim up

[component_13995]
x=412
y=281
type=text
buttontype=normal
width=61
height=34
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Aim down

[component_13996]
x=429
y=242
type=text
buttontype=normal
width=24
height=24
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=FIRE!

[component_13997]
x=15
y=18
type=rect
width=107
height=85
fill=yes
colour=0xF251A09
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13998]
x=20
y=23
type=rect
width=97
height=75
fill=yes
colour=0xF926C1A
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13999]
x=59
y=46
type=model
width=32
height=32
model=com_i434
activemodel=com_i434
anim=paint_frog_travel
zoom=514
xan=199
yan=1950
