type=layer
width=512
height=334

[component_06029]
x=37
y=37
type=layer
width=387
height=287

[component_06034]
layer=component_06029
x=163
y=79
type=model
width=55
height=81
model=com_i161
zoom=643
xan=510
yan=0

[component_06030]
x=424
y=28
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0xC00000
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[component_06031]
x=48
y=78
type=layer
width=342
height=215
scroll=1000

[component_06033]
layer=component_06031
x=8
y=0
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item1
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06035]
layer=component_06031
x=8
y=20
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item2
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06036]
layer=component_06031
x=8
y=40
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item3
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06037]
layer=component_06031
x=8
y=60
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item4
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06038]
layer=component_06031
x=8
y=80
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item5
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06039]
layer=component_06031
x=8
y=100
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item6
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06040]
layer=component_06031
x=8
y=120
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item7
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06041]
layer=component_06031
x=8
y=140
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item8
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06042]
layer=component_06031
x=8
y=160
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item9
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06043]
layer=component_06031
x=8
y=180
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item10
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06044]
layer=component_06031
x=8
y=200
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item11
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06045]
layer=component_06031
x=8
y=220
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item12
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06046]
layer=component_06031
x=8
y=240
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item13
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06047]
layer=component_06031
x=8
y=260
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item14
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06048]
layer=component_06031
x=8
y=280
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item15
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06049]
layer=component_06031
x=8
y=300
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item16
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06050]
layer=component_06031
x=8
y=320
type=text
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item17
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06051]
layer=component_06031
x=8
y=340
type=text
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item18
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06052]
layer=component_06031
x=8
y=360
type=text
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item19
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06053]
layer=component_06031
x=8
y=380
type=text
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item20
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06054]
layer=component_06031
x=8
y=400
type=text
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item21
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06055]
layer=component_06031
x=8
y=420
type=text
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item22
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06056]
layer=component_06031
x=8
y=440
type=text
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item23
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06057]
layer=component_06031
x=8
y=460
type=text
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item24
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06058]
layer=component_06031
x=8
y=480
type=text
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item25
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06059]
layer=component_06031
x=8
y=500
type=text
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item26
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06060]
layer=component_06031
x=8
y=520
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item27
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06061]
layer=component_06031
x=8
y=540
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item28
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06062]
layer=component_06031
x=8
y=560
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item29
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06063]
layer=component_06031
x=8
y=580
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item30
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06064]
layer=component_06031
x=8
y=600
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item31
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06065]
layer=component_06031
x=8
y=620
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item32
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06066]
layer=component_06031
x=8
y=640
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item33
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06067]
layer=component_06031
x=8
y=660
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item34
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06068]
layer=component_06031
x=8
y=680
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item35
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06069]
layer=component_06031
x=8
y=700
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item36
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06070]
layer=component_06031
x=8
y=720
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item37
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06071]
layer=component_06031
x=7
y=740
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item38
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06072]
layer=component_06031
x=8
y=760
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item39
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06073]
layer=component_06031
x=8
y=780
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item40
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06074]
layer=component_06031
x=8
y=800
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item41
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06075]
layer=component_06031
x=8
y=820
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item42
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06076]
layer=component_06031
x=8
y=840
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item43
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06077]
layer=component_06031
x=8
y=860
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item44
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06078]
layer=component_06031
x=8
y=880
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item45
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06079]
layer=component_06031
x=8
y=900
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item46
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06080]
layer=component_06031
x=8
y=920
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item47
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06081]
layer=component_06031
x=8
y=940
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item48
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06082]
layer=component_06031
x=8
y=960
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item49
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06083]
layer=component_06031
x=8
y=980
type=text
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item50
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06032]
x=53
y=56
type=text
width=139
height=17
font=q8_full
text=List of needed items:
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
