type=layer
width=512
height=334

[component_06085]
x=-1
y=-1
type=rect
buttontype=close
width=514
height=336
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06086]
x=391
y=61
type=model
width=97
height=90
model=com_i162
zoom=190
xan=498
yan=0

[component_06093]
x=396
y=66
type=layer
width=82
height=83
hide=yes

[component_06087]
layer=component_06093
x=-4
y=-6
type=model
width=97
height=90
model=com_i163
zoom=190
xan=510
yan=762

[component_06094]
x=399
y=65
type=layer
width=82
height=83
hide=yes

[component_06088]
layer=component_06094
x=-9
y=-5
type=model
width=97
height=90
model=com_i163
zoom=190
xan=514
yan=1241

[component_06095]
x=398
y=63
type=layer
width=82
height=83
hide=yes

[component_06089]
layer=component_06095
x=-8
y=-2
type=model
width=98
height=84
model=com_i164
zoom=206
xan=495
yan=512

[component_06096]
x=395
y=67
type=layer
width=82
height=83
hide=yes

[component_06090]
layer=component_06096
x=-3
y=-5
type=model
width=96
height=84
model=com_i164
zoom=206
xan=521
yan=1024

[component_06097]
x=397
y=65
type=layer
width=82
height=83
hide=yes

[component_06091]
layer=component_06097
x=-7
y=0
type=model
width=96
height=85
model=com_i164
zoom=206
xan=416
yan=1536

[component_06098]
x=397
y=71
type=layer
width=82
height=83
hide=yes

[component_06092]
layer=component_06098
x=-11
y=-4
type=model
width=98
height=83
model=com_i164
zoom=206
xan=495
yan=0

[component_06099]
x=381
y=12
type=rect
buttontype=close
width=112
height=27
fill=yes
colour=0x857E09
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06100]
x=392
y=17
type=text
width=91
height=17
font=q8_full
shadowed=yes
text=Close window.
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[component_06101]
x=384
y=175
type=rect
buttontype=normal
width=112
height=27
fill=yes
colour=0x857E09
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_06102]
x=392
y=179
type=text
width=97
height=17
font=q8_full
shadowed=yes
text=Rotate mirror.
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000
