type=layer
width=512
height=334

[component_13769]
x=0
y=-1
type=text
width=480
height=17
center=yes
font=q8_full
text=Select an Option
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13770]
x=0
y=23
type=text
buttontype=normal
width=480
height=17
center=yes
font=q8_full
text=option1
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000

[component_13771]
x=0
y=47
type=text
buttontype=normal
width=480
height=17
center=yes
font=q8_full
text=option2
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000

[component_13772]
x=0
y=71
type=text
buttontype=pause
width=480
height=17
center=yes
font=q8_full
text=option3
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000

[component_13775]
x=126
y=1
type=layer
width=229
height=13

[component_13773]
layer=component_13775
x=0
y=0
type=graphic
width=57
height=13
graphic=sworddecor,1

[component_13774]
layer=component_13775
x=172
y=0
type=graphic
width=57
height=13
graphic=sworddecor,0

[component_13778]
x=2
y=1
type=layer
width=476
height=13
hide=yes

[component_13776]
layer=component_13778
x=0
y=0
type=graphic
width=57
height=13
graphic=sworddecor,1

[component_13777]
layer=component_13778
x=419
y=0
type=graphic
width=57
height=13
graphic=sworddecor,0
