type=layer
width=512
height=334

[component_13759]
x=0
y=-1
type=text
width=480
height=17
center=yes
font=q8_full
text=Select an Option
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13760]
x=0
y=31
type=text
buttontype=normal
width=480
height=17
center=yes
font=q8_full
text=option1
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000

[component_13761]
x=0
y=63
type=text
buttontype=pause
width=480
height=17
center=yes
font=q8_full
text=option2
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000

[component_13764]
x=126
y=1
type=layer
width=229
height=13

[component_13762]
layer=component_13764
x=0
y=0
type=graphic
width=57
height=13
graphic=sworddecor,1

[component_13763]
layer=component_13764
x=172
y=0
type=graphic
width=57
height=13
graphic=sworddecor,0

[component_13767]
x=2
y=1
type=layer
width=476
height=13
hide=yes

[component_13765]
layer=component_13767
x=0
y=0
type=graphic
width=57
height=13
graphic=sworddecor,1

[component_13766]
layer=component_13767
x=419
y=0
type=graphic
width=57
height=13
graphic=sworddecor,0
