type=layer
width=512
height=334

[component_14444]
x=0
y=-1
type=text
width=480
height=17
center=yes
font=q8_full
text=Select an Option
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14445]
x=0
y=31
type=text
buttontype=normal
width=480
height=17
center=yes
font=q8_full
text=option2
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000

[component_14446]
x=0
y=63
type=text
buttontype=normal
width=480
height=17
center=yes
font=q8_full
text=option3
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000

[component_14449]
x=126
y=1
type=layer
width=229
height=13

[component_14447]
layer=component_14449
x=0
y=0
type=graphic
width=57
height=13
graphic=sworddecor,1

[component_14448]
layer=component_14449
x=172
y=0
type=graphic
width=57
height=13
graphic=sworddecor,0

[component_14450]
x=2
y=1
type=layer
width=476
height=13
hide=yes

[component_14451]
layer=component_14450
x=0
y=0
type=graphic
width=57
height=13
graphic=sworddecor,1

[component_14452]
layer=component_14450
x=419
y=0
type=graphic
width=57
height=13
graphic=sworddecor,0
