type=layer
width=512
height=334

[component_12778]
x=34
y=34
type=model
width=32
height=32
zoom=796
xan=40
yan=1882

[component_12779]
x=111
y=0
type=text
width=350
height=17
center=yes
font=q8_full
text=Name
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12780]
x=111
y=27
type=text
width=350
height=17
center=yes
font=q8_full
text=Line1
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12781]
x=110
y=51
type=text
width=350
height=17
center=yes
font=q8_full
text=Line2
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
