type=layer
width=512
height=334

[component_12384]
x=414
y=34
type=model
width=32
height=32
zoom=796
xan=40
yan=166

[component_12385]
x=20
y=0
type=text
width=350
height=17
center=yes
font=q8_full
text=Name
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12386]
x=20
y=19
type=text
width=350
height=17
center=yes
font=q8_full
text=Line1
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12387]
x=20
y=40
type=text
width=350
height=17
center=yes
font=q8_full
text=Line2
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12388]
x=20
y=64
type=text
width=350
height=17
center=yes
font=q8_full
text=Line3
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
