type=layer
width=512
height=334

[component_08560]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,1
model=com_i237
activemodel=com_i238
zoom=1200
xan=350
yan=0

[component_08561]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,2
model=com_i239
activemodel=com_i240
zoom=1200
xan=350
yan=0

[component_08562]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,1
model=com_i241
activemodel=com_i242
zoom=1200
xan=350
yan=0

[component_08563]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,2
model=com_i243
activemodel=com_i244
zoom=1200
xan=350
yan=0

[component_08564]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,1
model=com_i245
activemodel=com_i246
zoom=1200
xan=350
yan=0

[component_14000]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,2
model=com_i247
activemodel=com_i248
zoom=1200
xan=350
yan=0

[component_14001]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,1
model=com_i249
activemodel=com_i250
zoom=1200
xan=350
yan=0

[component_14002]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,2
model=com_i251
activemodel=com_i252
zoom=1200
xan=350
yan=0

[component_14003]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,1
model=com_i253
activemodel=com_i254
zoom=1200
xan=350
yan=0

[component_14004]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,2
model=com_i255
activemodel=com_i256
zoom=1200
xan=350
yan=0

[component_14005]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,1
model=com_i257
activemodel=com_i258
zoom=1200
xan=350
yan=0

[component_14006]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,2
model=com_i259
activemodel=com_i260
zoom=1200
xan=350
yan=0

[component_14007]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,1
model=com_i261
activemodel=com_i262
zoom=1200
xan=350
yan=0

[component_14008]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,2
model=com_i263
activemodel=com_i264
zoom=1200
xan=350
yan=0

[component_14009]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,1
model=com_i265
activemodel=com_i266
zoom=1200
xan=350
yan=0

[component_14010]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,2
model=com_i267
activemodel=com_i268
zoom=1200
xan=350
yan=0

[component_14011]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,1
model=com_i269
activemodel=com_i270
zoom=1200
xan=350
yan=0

[component_14012]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,2
model=com_i271
activemodel=com_i272
zoom=1200
xan=350
yan=0

[component_14013]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,1
model=com_i273
activemodel=com_i274
zoom=1200
xan=350
yan=0

[component_14014]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,2
model=com_i275
activemodel=com_i276
zoom=1200
xan=350
yan=0

[component_14015]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,1
model=com_i277
activemodel=com_i278
zoom=1200
xan=350
yan=0

[component_14016]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,2
model=com_i279
activemodel=com_i280
zoom=1200
xan=350
yan=0

[component_14017]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,1
model=com_i281
activemodel=com_i282
zoom=1200
xan=350
yan=0

[component_14018]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,2
model=com_i283
activemodel=com_i284
zoom=1200
xan=350
yan=0

[component_14019]
x=248
y=130
type=model
width=32
height=32
model=com_i285
zoom=1200
xan=350
yan=0

[component_14020]
x=248
y=130
type=model
width=32
height=32
model=com_i286
zoom=1200
xan=350
yan=0

[component_14021]
x=119
y=125
type=layer
width=32
height=32
hide=yes

[component_14022]
layer=component_14021
x=129
y=5
type=model
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,2
model=com_i287
activemodel=com_i288
zoom=1200
xan=350
yan=0

[component_14023]
x=190
y=89
type=layer
width=32
height=32
hide=yes

[component_14024]
layer=component_14023
x=58
y=41
type=model
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,2
model=com_i289
activemodel=com_i290
zoom=1200
xan=350
yan=0

[component_14025]
x=184
y=162
type=layer
width=32
height=32
hide=yes

[component_14026]
layer=component_14025
x=64
y=-32
type=model
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,2
model=com_i291
activemodel=com_i292
zoom=1200
xan=350
yan=0

[component_14027]
x=266
y=56
type=layer
width=32
height=32
hide=yes

[component_14028]
layer=component_14027
x=-18
y=74
type=model
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,2
model=com_i293
activemodel=com_i294
zoom=1200
xan=350
yan=0

[component_14029]
x=268
y=90
type=layer
width=32
height=32
hide=yes

[component_14030]
layer=component_14029
x=-20
y=40
type=model
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,2
model=com_i295
activemodel=com_i296
zoom=1200
xan=350
yan=0

[component_14031]
x=227
y=203
type=layer
width=32
height=32
hide=yes

[component_14032]
layer=component_14031
x=21
y=-73
type=model
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,2
model=com_i297
activemodel=com_i298
zoom=1200
xan=350
yan=0

[component_14033]
x=269
y=162
type=layer
width=32
height=32
hide=yes

[component_14034]
layer=component_14033
x=-21
y=-32
type=model
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,2
model=com_i299
activemodel=com_i300
zoom=1200
xan=350
yan=0

[component_14035]
x=241
y=246
type=layer
width=32
height=32
hide=yes

[component_14036]
layer=component_14035
x=7
y=-116
type=model
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,2
model=com_i301
activemodel=com_i302
zoom=1200
xan=350
yan=0

[component_14037]
x=280
y=54
type=layer
width=32
height=32
hide=yes

[component_14038]
layer=component_14037
x=-32
y=76
type=model
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,2
model=com_i303
activemodel=com_i304
zoom=1200
xan=350
yan=0

[component_14039]
x=281
y=89
type=layer
width=32
height=32
hide=yes

[component_14040]
layer=component_14039
x=-33
y=41
type=model
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,2
model=com_i305
activemodel=com_i306
zoom=1200
xan=350
yan=0

[component_14041]
x=287
y=202
type=layer
width=32
height=32
hide=yes

[component_14042]
layer=component_14041
x=-39
y=-72
type=model
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,2
model=com_i307
activemodel=com_i308
zoom=1200
xan=350
yan=0

[component_14043]
x=324
y=88
type=layer
width=32
height=32
hide=yes

[component_14044]
layer=component_14043
x=-76
y=42
type=model
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,2
model=com_i309
activemodel=com_i310
zoom=1200
xan=350
yan=0

[component_14045]
x=461
y=15
type=text
buttontype=normal
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14046]
x=119
y=125
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14047]
x=163
y=89
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14048]
x=156
y=163
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14049]
x=205
y=57
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14050]
x=203
y=89
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14051]
x=196
y=206
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14052]
x=242
y=30
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14053]
x=241
y=246
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14054]
x=280
y=57
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14055]
x=281
y=89
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14056]
x=287
y=202
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14057]
x=324
y=90
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14058]
x=119
y=24
type=model
width=32
height=32
model=com_i235
zoom=1200
xan=350
yan=0

[component_14059]
x=119
y=55
type=model
width=32
height=32
model=com_i236
zoom=1200
xan=350
yan=0

[component_14060]
x=45
y=26
type=text
width=24
height=14
script1op1=push_varbit,forget_num_left
font=p12_full
shadowed=yes
text=x%1
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14061]
x=45
y=56
type=text
width=24
height=14
script1op1=push_varbit,forget_num_right
font=p12_full
shadowed=yes
text=x%1
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
