type=layer
width=512
height=334

[component_12587]
x=21
y=148
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12592]
x=86
y=148
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12593]
x=21
y=188
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12594]
x=86
y=188
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12595]
x=21
y=148
type=graphic
width=25
height=30
graphic=steelborder,0

[component_12596]
x=149
y=148
type=graphic
width=25
height=30
graphic=steelborder,1

[component_12597]
x=153
y=192
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_12598]
x=149
y=218
type=graphic
width=25
height=30
graphic=steelborder,3

[component_12599]
x=153
y=168
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_12600]
x=46
y=133
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12601]
x=82
y=133
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12602]
x=114
y=133
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12603]
x=6
y=173
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_12604]
x=6
y=203
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_12605]
x=21
y=218
type=graphic
width=25
height=30
graphic=steelborder,2

[component_12606]
x=46
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12607]
x=113
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12608]
x=82
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12609]
x=92
y=179
type=text
width=66
height=14
font=p12_full
shadowed=yes
text=Schematic 1
colour=0xAA8822
activecolour=0xAA3322
overcolour=0x000000
activeovercolour=0x000000

[component_12610]
x=92
y=199
type=text
width=68
height=14
font=p12_full
shadowed=yes
text=Schematic 2
colour=0xAA8822
activecolour=0xAA3322
overcolour=0x000000
activeovercolour=0x000000

[component_12611]
x=92
y=219
type=text
width=67
height=14
font=p12_full
shadowed=yes
text=Schematic 3
colour=0xAA8822
activecolour=0xAA3322
overcolour=0x000000
activeovercolour=0x000000

[component_12612]
x=29
y=159
type=text
width=69
height=14
font=p12_full
shadowed=yes
text=Show/Select
colour=0xAA8822
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12613]
x=70
y=179
type=graphic
buttontype=select
width=15
height=15
script1op1=pushvar,if1
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Select Schematic One

[component_12614]
x=70
y=199
type=graphic
buttontype=select
width=15
height=15
script1op1=pushvar,if2
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Select Schematic Two

[component_12615]
x=70
y=219
type=graphic
buttontype=select
width=36
height=36
script1op1=pushvar,if3
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Select Schematic Three

[component_12616]
x=38
y=179
type=graphic
buttontype=normal
width=15
height=15
script1op1=pushvar,if4
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Show Schematic One

[component_12617]
x=38
y=199
type=graphic
buttontype=normal
width=15
height=15
script1op1=pushvar,if5
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Show Schematic Two

[component_12618]
x=38
y=219
type=graphic
buttontype=normal
width=15
height=15
script1op1=pushvar,if6
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Show Schematic Three

[component_12619]
x=80
y=60
type=model
buttontype=normal
width=32
height=32
model=com_i373
activemodel=com_i374
zoom=1000
xan=500
yan=0
option=Rotate the image

[component_12620]
x=80
y=20
type=model
buttontype=normal
width=32
height=32
model=com_i375
activemodel=com_i376
zoom=1000
xan=500
yan=0
option=Move Schematic Up

[component_12621]
x=121
y=59
type=model
buttontype=normal
width=32
height=32
model=com_i375
activemodel=com_i376
zoom=1000
xan=500
yan=500
option=Move Schematic Right

[component_12622]
x=41
y=59
type=model
buttontype=normal
width=32
height=32
model=com_i375
activemodel=com_i376
zoom=1000
xan=500
yan=1530
option=Move Schematic Left

[component_12623]
x=80
y=99
type=model
buttontype=normal
width=32
height=32
model=com_i375
activemodel=com_i376
zoom=1000
xan=500
yan=1015
option=Move Schematic Down
