type=layer
width=512
height=334

[component_15072]
x=237
y=183
type=model
width=32
height=32
model=com_i598
zoom=256
xan=501
yan=0

[component_15073]
x=243
y=39
type=model
width=32
height=32
model=com_i597
zoom=799
xan=512
yan=2031

[component_15101]
x=103
y=256
type=model
width=32
height=32
model=com_i599
zoom=400
xan=106
yan=207

[component_15165]
x=340
y=223
type=model
width=32
height=32
model=com_i600
anim=cat_pounce
activeanim=cat_pounce
zoom=400
xan=73
yan=237
