type=layer
width=512
height=334

[component_13579]
x=420
y=34
type=model
width=32
height=32
model=obj_leather_cowl_manhead2
zoom=796
xan=40
yan=166

[component_13580]
x=237
y=8
type=text
width=30
height=17
center=yes
font=q8_full
text=Both
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13581]
x=235
y=39
type=text
width=35
height=17
center=yes
font=q8_full
text=Argh!
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13582]
x=34
y=34
type=model
width=32
height=32
model=obj_leather_cowl_manhead2
zoom=796
xan=40
yan=1882
