type=layer
width=512
height=334

[component_15193]
x=240
y=154
type=model
width=32
height=32
model=com_i609
zoom=191
xan=513
yan=0

[component_15194]
x=2
y=68
type=rect
width=508
height=172
fill=yes
colour=0x202020
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15195]
x=7
y=74
type=rect
width=499
height=164
fill=yes
colour=0x404040
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15232]
x=11
y=31
type=layer
width=488
height=36

[component_15196]
x=32
y=122
type=model
width=32
height=32
model=com_i16
zoom=800
xan=400
yan=0

[component_15197]
x=115
y=122
type=model
width=32
height=32
model=com_i16
zoom=800
xan=400
yan=0

[component_15198]
x=198
y=122
type=model
width=32
height=32
model=com_i16
zoom=800
xan=400
yan=0

[component_15199]
x=281
y=122
type=model
width=32
height=32
model=com_i16
zoom=800
xan=400
yan=0

[component_15200]
x=365
y=123
type=model
width=32
height=32
model=com_i16
zoom=800
xan=400
yan=0

[component_15201]
x=449
y=122
type=model
width=32
height=32
model=com_i16
zoom=800
xan=400
yan=0

[component_15202]
x=43
y=113
type=text
width=9
height=14
center=yes
font=b12_full
text=A
colour=0x505050
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15203]
x=126
y=113
type=text
width=9
height=14
center=yes
font=b12_full
text=A
colour=0x505050
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15204]
x=210
y=113
type=text
width=9
height=14
center=yes
font=b12_full
text=A
colour=0x505050
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15205]
x=292
y=114
type=text
width=9
height=14
center=yes
font=b12_full
text=A
colour=0x505050
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15206]
x=376
y=114
type=text
width=9
height=14
center=yes
font=b12_full
text=A
colour=0x505050
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15207]
x=460
y=114
type=text
width=9
height=14
center=yes
font=b12_full
text=A
colour=0x505050
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15208]
x=223
y=11
type=model
width=32
height=32
model=com_i610
zoom=278
xan=396
yan=6

[component_15209]
x=15
y=194
type=graphic
buttontype=normal
width=31
height=24
graphic=leftarrow_small,0

[component_15210]
x=51
y=194
type=graphic
buttontype=normal
width=31
height=24
graphic=rightarrow_small,0

[component_15211]
x=97
y=194
type=graphic
buttontype=normal
width=32
height=25
graphic=leftarrow_small,0

[component_15212]
x=133
y=194
type=graphic
buttontype=normal
width=32
height=25
graphic=rightarrow_small,0

[component_15213]
x=179
y=194
type=graphic
buttontype=normal
width=32
height=25
graphic=leftarrow_small,0

[component_15214]
x=216
y=194
type=graphic
buttontype=normal
width=32
height=25
graphic=rightarrow_small,0

[component_15215]
x=264
y=194
type=graphic
buttontype=normal
width=32
height=25
graphic=leftarrow_small,0

[component_15216]
x=300
y=194
type=graphic
buttontype=normal
width=32
height=25
graphic=rightarrow_small,0

[component_15217]
x=348
y=194
type=graphic
buttontype=normal
width=32
height=25
graphic=leftarrow_small,0

[component_15218]
x=384
y=194
type=graphic
buttontype=normal
width=32
height=25
graphic=rightarrow_small,0

[component_15219]
x=468
y=193
type=graphic
buttontype=normal
width=32
height=25
graphic=rightarrow_small,0

[component_15220]
x=433
y=193
type=graphic
buttontype=normal
width=32
height=25
graphic=leftarrow_small,0

[component_15221]
x=420
y=39
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[component_15222]
x=206
y=36
type=text
width=110
height=14
center=yes
font=b12_full
shadowed=yes
text=Name your cat ...
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15223]
x=193
y=262
type=rect
buttontype=normal
width=128
height=32
fill=yes
colour=0x404040
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15233]
x=229
y=269
type=text
width=53
height=14
font=b12_full
text=E N T E R
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15224]
x=32
y=397
type=model
width=20
height=32
model=obj_wileycatobject_light
zoom=400
xan=11
yan=1941

[component_15225]
x=469
y=395
type=model
width=32
height=32
model=obj_cavewitchcat
zoom=400
xan=11
yan=128

[component_15226]
x=69
y=250
type=model
width=32
height=32
model=com_i611
zoom=491
xan=612
yan=77

[component_15227]
x=89
y=252
type=model
width=32
height=32
model=com_i611
zoom=550
xan=612
yan=77

[component_15228]
x=417
y=249
type=model
width=32
height=32
model=com_i611
zoom=427
xan=612
yan=77

[component_15229]
x=398
y=251
type=model
width=32
height=32
model=com_i611
zoom=521
xan=612
yan=77
