type=layer
width=512
height=334

[component_13395]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13396]
x=12
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13397]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13398]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13399]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13400]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13401]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13402]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13403]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13404]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13405]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13406]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13407]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13408]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13409]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13410]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13411]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13412]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13413]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13414]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13415]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13416]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13417]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13418]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13419]
x=364
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13420]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13421]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13422]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13423]
x=412
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13424]
x=412
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_13425]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[component_13426]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_13427]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_13428]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_13429]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_13430]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_13431]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_13432]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_13433]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_13434]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_13435]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_13436]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_13437]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_13438]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_13439]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_13440]
x=73
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_13441]
x=109
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_13442]
x=145
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_13443]
x=181
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_13444]
x=217
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_13445]
x=253
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_13446]
x=289
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_13447]
x=325
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_13448]
x=361
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_13449]
x=397
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_13450]
x=433
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_13451]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13452]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13453]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13454]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13455]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13456]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13457]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13458]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13459]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13460]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13461]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13462]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13463]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13464]
x=37
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_13465]
x=12
y=290
type=graphic
width=25
height=30
graphic=steelborder,2

[component_13466]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[component_13467]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13468]
x=475
y=290
type=graphic
width=25
height=30
graphic=steelborder,3

[component_13469]
x=439
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_13470]
x=198
y=127
type=model
width=152
height=109
model=com_i398
zoom=133
xan=360
yan=1975

[component_13471]
x=231
y=29
type=text
width=45
height=14
center=yes
font=b12_full
shadowed=yes
text=Brooch
colour=0xFF981F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13472]
x=420
y=29
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[component_13473]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13474]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13475]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13476]
x=396
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13477]
x=432
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13478]
x=459
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13479]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13480]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13481]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13482]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13483]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13484]
x=36
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_13485]
x=17
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0
