type=layer
width=512
height=334

[component_12753]
x=0
y=0
type=rect
width=512
height=334
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12754]
x=0
y=0
type=layer
width=512
height=334

[component_12755]
layer=component_12754
x=242
y=172
type=model
width=32
height=32
model=com_i381
zoom=345
xan=520
yan=6

[component_12756]
x=0
y=0
type=layer
width=512
height=334

[component_12757]
layer=component_12756
x=239
y=171
type=model
width=32
height=32
model=com_i382
zoom=345
xan=520
yan=6

[component_12758]
x=0
y=0
type=layer
width=512
height=334

[component_12759]
layer=component_12758
x=236
y=173
type=model
width=32
height=32
model=com_i383
zoom=339
xan=521
yan=2043

[component_12760]
x=0
y=0
type=layer
width=512
height=334

[component_12761]
layer=component_12760
x=239
y=174
type=model
width=32
height=32
model=com_i384
zoom=332
xan=574
yan=2039

[component_12762]
x=445
y=13
type=layer
width=66
height=28

[component_12763]
layer=component_12762
x=19
y=5
type=text
buttontype=close
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12764]
x=0
y=0
type=layer
width=512
height=334

[component_12765]
layer=component_12764
x=239
y=171
type=model
width=32
height=32
model=com_i385
zoom=345
xan=520
yan=6

[component_12766]
x=0
y=0
type=layer
width=512
height=334

[component_12767]
layer=component_12766
x=236
y=173
type=model
width=32
height=32
model=com_i386
zoom=339
xan=521
yan=2043

[component_12768]
x=0
y=0
type=layer
width=512
height=334

[component_12769]
layer=component_12768
x=239
y=174
type=model
width=32
height=32
model=com_i387
zoom=332
xan=574
yan=2039

[component_12770]
x=0
y=46
type=layer
width=512
height=27
hide=yes

[component_12771]
layer=component_12770
x=0
y=5
type=text
width=512
height=14
center=yes
font=b12_full
shadowed=yes
text=That's it, it all makes sense now! If you were a dwarf, that is...
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
