type=layer
width=512
height=334

[component_12821]
x=0
y=0
type=layer
width=600
height=500

[component_12822]
x=249
y=279
type=model
width=32
height=32
model=com_i389
zoom=207
xan=41
yan=2036

[component_12823]
x=428
y=11
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[component_12824]
x=337
y=97
type=layer
width=155
height=170

[component_12825]
layer=component_12824
x=98
y=18
type=model
buttontype=select
width=32
height=32
script1op1=pushvar,if1
script1=eq,1
model=com_i390
activemodel=com_i391
zoom=1400
xan=397
yan=276
option=Set to 1

[component_12826]
layer=component_12824
x=119
y=50
type=model
buttontype=select
width=32
height=32
script1op1=pushvar,if1
script1=eq,2
model=com_i390
activemodel=com_i391
zoom=1400
xan=450
yan=460
option=Set to 2

[component_12827]
layer=component_12824
x=116
y=90
type=model
buttontype=select
width=32
height=32
script1op1=pushvar,if1
script1=eq,3
model=com_i390
activemodel=com_i391
zoom=1400
xan=404
yan=619
option=Set to 3

[component_12828]
layer=component_12824
x=95
y=121
type=model
buttontype=select
width=32
height=32
script1op1=pushvar,if1
script1=eq,4
model=com_i390
activemodel=com_i391
zoom=1400
xan=429
yan=819
option=Set to 4

[component_12829]
layer=component_12824
x=58
y=128
type=model
buttontype=select
width=32
height=32
script1op1=pushvar,if1
script1=eq,5
model=com_i390
activemodel=com_i391
zoom=1400
xan=435
yan=1048
option=Set to 5

[component_12830]
layer=component_12824
x=22
y=114
type=model
buttontype=select
width=30
height=35
script1op1=pushvar,if1
script1=eq,6
model=com_i390
activemodel=com_i391
zoom=1400
xan=444
yan=1216
option=Set to 6

[component_12831]
layer=component_12824
x=3
y=77
type=model
buttontype=select
width=30
height=35
script1op1=pushvar,if1
script1=eq,7
model=com_i390
activemodel=com_i391
zoom=1400
xan=499
yan=1425
option=Set to 7

[component_12832]
layer=component_12824
x=8
y=38
type=model
buttontype=select
width=30
height=30
script1op1=pushvar,if1
script1=eq,8
model=com_i390
activemodel=com_i391
zoom=1400
xan=468
yan=1642
option=Set to 8

[component_12833]
layer=component_12824
x=36
y=10
type=model
buttontype=select
width=30
height=35
script1op1=pushvar,if1
script1=eq,9
model=com_i390
activemodel=com_i391
zoom=1400
xan=421
yan=1821
option=Set to 9

[component_12834]
layer=component_12824
x=78
y=62
type=model
buttontype=normal
width=30
height=32
model=com_i392
activemodel=com_i393
zoom=1297
xan=467
yan=2026
option=Reset Safe
