type=layer
width=512
height=334

[component_12738]
x=0
y=0
type=rect
width=512
height=334
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12739]
x=243
y=170
type=model
width=32
height=32
model=com_i378
zoom=400
xan=117
yan=3

[component_12740]
x=243
y=170
type=model
width=32
height=32
model=obj_leather_cowl_manhead2
zoom=400
xan=90
yan=10

[component_12741]
x=243
y=170
type=model
width=32
height=32
model=com_i379
zoom=400
xan=117
yan=3

[component_12746]
x=0
y=1
type=layer
width=512
height=94

[component_12742]
layer=component_12746
x=80
y=15
type=text
width=350
height=17
center=yes
font=q8_full
shadowed=yes
text=Name
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12743]
layer=component_12746
x=80
y=37
type=text
width=350
height=17
center=yes
font=q8_full
text=Line1
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12744]
layer=component_12746
x=25
y=37
type=model
width=32
height=32
model=obj_leather_cowl_manhead2
zoom=796
xan=40
yan=1882

[component_12747]
x=70
y=291
type=layer
width=379
height=33

[component_12745]
layer=component_12747
x=10
y=8
type=text
width=350
height=17
center=yes
font=q8_full
text=Line1
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12748]
x=0
y=0
type=layer
width=512
height=334
hide=yes

[component_12749]
layer=component_12748
x=0
y=0
type=model
width=512
height=334
model=com_i380
zoom=114
xan=500
yan=0
