type=layer
width=512
height=334

[component_12064]
x=0
y=0
type=rect
width=600
height=400
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12070]
x=241
y=129
type=model
width=32
height=32
model=com_i336
zoom=930
xan=294
yan=60

[component_12072]
x=258
y=136
type=model
width=32
height=32
model=com_i361
zoom=948
xan=274
yan=70

[component_12080]
x=260
y=123
type=model
width=32
height=32
model=com_i362
anim=mini_statue_explodes
activeanim=mini_statue_explodes
zoom=1056
xan=229
yan=64
