type=layer
width=512
height=334

[component_14063]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,1
model=com_i435
activemodel=com_i436
zoom=1200
xan=350
yan=0

[component_14064]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,2
model=com_i437
activemodel=com_i438
zoom=1200
xan=350
yan=0

[component_14065]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,1
model=com_i439
activemodel=com_i440
zoom=1200
xan=350
yan=0

[component_14066]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,2
model=com_i441
activemodel=com_i442
zoom=1200
xan=350
yan=0

[component_14067]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,1
model=com_i443
activemodel=com_i444
zoom=1200
xan=350
yan=0

[component_14068]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,2
model=com_i445
activemodel=com_i446
zoom=1200
xan=350
yan=0

[component_14069]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,1
model=com_i447
activemodel=com_i448
zoom=1200
xan=350
yan=0

[component_14070]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,2
model=com_i449
activemodel=com_i450
zoom=1200
xan=350
yan=0

[component_14071]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,1
model=com_i451
activemodel=com_i452
zoom=1200
xan=350
yan=0

[component_14072]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,2
model=com_i453
activemodel=com_i454
zoom=1200
xan=350
yan=0

[component_14073]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,1
model=com_i455
activemodel=com_i456
zoom=1200
xan=350
yan=0

[component_14074]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,2
model=com_i457
activemodel=com_i458
zoom=1200
xan=350
yan=0

[component_14075]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,1
model=com_i459
activemodel=com_i460
zoom=1200
xan=350
yan=0

[component_14076]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,2
model=com_i461
activemodel=com_i462
zoom=1200
xan=350
yan=0

[component_14077]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,1
model=com_i463
activemodel=com_i464
zoom=1200
xan=350
yan=0

[component_14078]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,2
model=com_i465
activemodel=com_i466
zoom=1200
xan=350
yan=0

[component_14079]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,1
model=com_i467
activemodel=com_i468
zoom=1200
xan=350
yan=0

[component_14080]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,2
model=com_i469
activemodel=com_i470
zoom=1200
xan=350
yan=0

[component_14081]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,1
model=com_i471
activemodel=com_i472
zoom=1200
xan=350
yan=0

[component_14082]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,2
model=com_i473
activemodel=com_i474
zoom=1200
xan=350
yan=0

[component_14083]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,1
model=com_i475
activemodel=com_i476
zoom=1200
xan=350
yan=0

[component_14084]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,2
model=com_i477
activemodel=com_i478
zoom=1200
xan=350
yan=0

[component_14085]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,1
model=com_i479
activemodel=com_i480
zoom=1200
xan=350
yan=0

[component_14086]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,2
model=com_i481
activemodel=com_i482
zoom=1200
xan=350
yan=0

[component_14087]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if13
script1=eq,1
model=com_i483
activemodel=com_i484
zoom=1200
xan=350
yan=0

[component_14088]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if13
script1=eq,2
model=com_i485
activemodel=com_i486
zoom=1200
xan=350
yan=0

[component_14089]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if14
script1=eq,1
model=com_i487
activemodel=com_i488
zoom=1200
xan=350
yan=0

[component_14090]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if14
script1=eq,2
model=com_i489
activemodel=com_i490
zoom=1200
xan=350
yan=0

[component_14091]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if15
script1=eq,1
model=com_i491
activemodel=com_i492
zoom=1200
xan=350
yan=0

[component_14092]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if15
script1=eq,2
model=com_i493
activemodel=com_i494
zoom=1200
xan=350
yan=0

[component_14093]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if16
script1=eq,1
model=com_i495
activemodel=com_i496
zoom=1200
xan=350
yan=0

[component_14094]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if16
script1=eq,2
model=com_i497
activemodel=com_i498
zoom=1200
xan=350
yan=0

[component_14095]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if17
script1=eq,1
model=com_i499
activemodel=com_i500
zoom=1200
xan=350
yan=0

[component_14096]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if17
script1=eq,2
model=com_i501
activemodel=com_i502
zoom=1200
xan=350
yan=0

[component_14097]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if18
script1=eq,1
model=com_i503
activemodel=com_i504
zoom=1200
xan=350
yan=0

[component_14098]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if18
script1=eq,2
model=com_i505
activemodel=com_i506
zoom=1200
xan=350
yan=0

[component_14099]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if19
script1=eq,1
model=com_i507
activemodel=com_i508
zoom=1200
xan=350
yan=0

[component_14100]
x=248
y=130
type=model
width=32
height=32
script1op1=push_varbit,forget_if19
script1=eq,2
model=com_i509
activemodel=com_i510
zoom=1200
xan=350
yan=0

[component_14101]
x=248
y=130
type=model
width=32
height=32
model=com_i511
zoom=1200
xan=350
yan=0

[component_14102]
x=248
y=130
type=model
width=32
height=32
model=com_i512
zoom=1200
xan=350
yan=0

[component_14103]
x=142
y=123
type=layer
width=32
height=32
hide=yes

[component_14104]
layer=component_14103
x=106
y=7
type=model
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,2
model=com_i513
activemodel=com_i514
zoom=1200
xan=350
yan=0

[component_14105]
x=190
y=89
type=layer
width=32
height=32
hide=yes

[component_14106]
layer=component_14105
x=58
y=41
type=model
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,2
model=com_i515
activemodel=com_i516
zoom=1200
xan=350
yan=0

[component_14107]
x=184
y=162
type=layer
width=32
height=32
hide=yes

[component_14108]
layer=component_14107
x=64
y=-32
type=model
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,2
model=com_i517
activemodel=com_i518
zoom=1200
xan=350
yan=0

[component_14109]
x=266
y=56
type=layer
width=32
height=32
hide=yes

[component_14110]
layer=component_14109
x=-18
y=74
type=model
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,2
model=com_i519
activemodel=com_i520
zoom=1200
xan=350
yan=0

[component_14111]
x=165
y=165
type=layer
width=32
height=32
hide=yes

[component_14112]
layer=component_14111
x=83
y=-35
type=model
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,2
model=com_i521
activemodel=com_i522
zoom=1200
xan=350
yan=0

[component_14113]
x=227
y=203
type=layer
width=32
height=32
hide=yes

[component_14114]
layer=component_14113
x=21
y=-73
type=model
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,2
model=com_i523
activemodel=com_i524
zoom=1200
xan=350
yan=0

[component_14115]
x=202
y=201
type=layer
width=32
height=32
hide=yes

[component_14116]
layer=component_14115
x=46
y=-71
type=model
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,2
model=com_i525
activemodel=com_i526
zoom=1200
xan=350
yan=0

[component_14117]
x=314
y=203
type=layer
width=32
height=32
hide=yes

[component_14118]
layer=component_14117
x=-66
y=-73
type=model
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,2
model=com_i527
activemodel=com_i528
zoom=1200
xan=350
yan=0

[component_14119]
x=314
y=218
type=layer
width=40
height=40
hide=yes

[component_14120]
layer=component_14119
x=-66
y=-88
type=model
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,2
model=com_i529
activemodel=com_i530
zoom=1200
xan=350
yan=0

[component_14121]
x=314
y=233
type=layer
width=40
height=40
hide=yes

[component_14122]
layer=component_14121
x=-66
y=-103
type=model
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,2
model=com_i531
activemodel=com_i532
zoom=1200
xan=350
yan=0

[component_14123]
x=314
y=248
type=layer
width=40
height=40
hide=yes

[component_14124]
layer=component_14123
x=-66
y=-118
type=model
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,2
model=com_i533
activemodel=com_i534
zoom=1200
xan=350
yan=0

[component_14125]
x=314
y=263
type=layer
width=40
height=40
hide=yes

[component_14126]
layer=component_14125
x=-66
y=-133
type=model
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,2
model=com_i535
activemodel=com_i536
zoom=1200
xan=350
yan=0

[component_14127]
x=314
y=278
type=layer
width=40
height=40
hide=yes

[component_14128]
layer=component_14127
x=-66
y=-148
type=model
width=32
height=32
script1op1=push_varbit,forget_if13
script1=eq,2
model=com_i537
activemodel=com_i538
zoom=1200
xan=350
yan=0

[component_14129]
x=314
y=293
type=layer
width=40
height=40
hide=yes

[component_14130]
layer=component_14129
x=-66
y=-163
type=model
width=32
height=32
script1op1=push_varbit,forget_if14
script1=eq,2
model=com_i539
activemodel=com_i540
zoom=1200
xan=350
yan=0

[component_14131]
x=314
y=308
type=layer
width=40
height=40
hide=yes

[component_14132]
layer=component_14131
x=-66
y=-178
type=model
width=32
height=32
script1op1=push_varbit,forget_if15
script1=eq,2
model=com_i541
activemodel=com_i542
zoom=1200
xan=350
yan=0

[component_14133]
x=347
y=230
type=layer
width=32
height=50
hide=yes

[component_14134]
layer=component_14133
x=-99
y=-100
type=model
width=32
height=32
script1op1=push_varbit,forget_if16
script1=eq,2
model=com_i543
activemodel=com_i544
zoom=1200
xan=350
yan=0

[component_14135]
x=280
y=132
type=layer
width=120
height=32
hide=yes

[component_14136]
layer=component_14135
x=-32
y=-2
type=model
width=32
height=32
script1op1=push_varbit,forget_if17
script1=eq,2
model=com_i545
activemodel=com_i546
zoom=1200
xan=350
yan=0

[component_14137]
x=280
y=147
type=layer
width=130
height=45
hide=yes

[component_14138]
layer=component_14137
x=-32
y=-17
type=model
width=32
height=32
script1op1=push_varbit,forget_if18
script1=eq,2
model=com_i547
activemodel=com_i548
zoom=1200
xan=350
yan=0

[component_14139]
x=280
y=162
type=layer
width=180
height=80
hide=yes

[component_14140]
layer=component_14139
x=-32
y=-32
type=model
width=32
height=32
script1op1=push_varbit,forget_if19
script1=eq,2
model=com_i549
activemodel=com_i550
zoom=1200
xan=350
yan=0

[component_14141]
x=461
y=15
type=text
buttontype=normal
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Close

[component_14142]
x=83
y=124
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14143]
x=130
y=89
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14144]
x=121
y=162
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14145]
x=172
y=57
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14146]
x=165
y=165
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14147]
x=210
y=59
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14148]
x=204
y=204
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14149]
x=249
y=32
type=model
buttontype=normal
width=27
height=24
zoom=400
xan=0
yan=0
option=Set Junction

[component_14150]
x=249
y=162
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14151]
x=248
y=203
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14152]
x=290
y=61
type=model
buttontype=normal
width=28
height=28
zoom=400
xan=0
yan=0
option=Set Junction

[component_14153]
x=289
y=124
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14154]
x=294
y=203
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14155]
x=324
y=32
type=model
buttontype=normal
width=26
height=26
zoom=400
xan=0
yan=0
option=Set Junction

[component_14156]
x=330
y=94
type=model
buttontype=normal
width=26
height=26
zoom=400
xan=0
yan=0
option=Set Junction

[component_14157]
x=344
y=251
type=model
buttontype=normal
width=28
height=28
zoom=400
xan=0
yan=0
option=Set Junction

[component_14158]
x=365
y=62
type=model
buttontype=normal
width=27
height=27
zoom=400
xan=0
yan=0
option=Set Junction

[component_14159]
x=377
y=165
type=model
buttontype=normal
width=29
height=29
zoom=400
xan=0
yan=0
option=Set Junction

[component_14160]
x=383
y=203
type=model
buttontype=normal
width=32
height=32
zoom=400
xan=0
yan=0
option=Set Junction

[component_14161]
x=119
y=24
type=model
width=32
height=32
model=com_i235
zoom=1200
xan=350
yan=0

[component_14162]
x=119
y=55
type=model
width=32
height=32
model=com_i236
zoom=1200
xan=350
yan=0

[component_14163]
x=45
y=56
type=text
width=24
height=14
script1op1=push_varbit,forget_num_right
font=p12_full
shadowed=yes
text=x%1
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14164]
x=45
y=26
type=text
width=24
height=14
script1op1=push_varbit,forget_num_left
font=p12_full
shadowed=yes
text=x%1
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
