type=layer
width=512
height=334

[component_13570]
x=0
y=0
type=layer
width=512
height=334
hide=yes

[component_13562]
layer=component_13570
x=127
y=261
type=model
width=32
height=32
model=com_i415
zoom=1200
xan=496
yan=0

[component_13563]
layer=component_13570
x=254
y=50
type=model
width=32
height=32
model=com_i416
zoom=800
xan=500
yan=0

[component_13571]
x=0
y=0
type=layer
width=512
height=334
hide=yes

[component_13564]
layer=component_13571
x=153
y=32
type=model
width=32
height=32
model=com_i417
zoom=800
xan=500
yan=0

[component_13565]
layer=component_13571
x=176
y=295
type=model
width=32
height=32
model=com_i418
zoom=800
xan=500
yan=0

[component_13572]
x=0
y=0
type=layer
width=512
height=334
hide=yes

[component_13566]
layer=component_13572
x=137
y=136
type=model
width=32
height=32
model=com_i419
zoom=800
xan=500
yan=0

[component_13573]
x=0
y=0
type=layer
width=512
height=400
hide=yes

[component_13567]
layer=component_13573
x=262
y=40
type=model
width=32
height=32
model=com_i420
zoom=800
xan=500
yan=0

[component_13568]
layer=component_13573
x=199
y=128
type=model
width=32
height=32
model=com_i421
zoom=1200
xan=500
yan=0

[component_13574]
x=0
y=0
type=layer
width=512
height=400
hide=yes

[component_13569]
layer=component_13574
x=95
y=295
type=model
width=32
height=32
model=com_i422
zoom=800
xan=500
yan=0

[component_08508]
x=0
y=0
type=layer
width=512
height=334
hide=yes

[component_08506]
layer=component_08508
x=153
y=32
type=model
width=32
height=32
model=com_i417
zoom=800
xan=500
yan=0

[component_08507]
layer=component_08508
x=174
y=294
type=model
width=32
height=32
model=com_i423
zoom=800
xan=500
yan=0

[component_08509]
x=24
y=24
type=layer
width=512
height=334
hide=yes

[component_08510]
layer=component_08509
x=79
y=217
type=model
width=54
height=31
model=com_i424
zoom=800
xan=480
yan=0
