type=layer
width=512
height=334

[component_13487]
x=0
y=0
type=rect
width=512
height=388
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13488]
x=240
y=146
type=model
width=32
height=32
model=com_i399
zoom=204
xan=420
yan=0

[component_13489]
x=238
y=153
type=model
width=32
height=32
model=com_i400
zoom=204
xan=420
yan=0

[component_13502]
x=0
y=0
type=layer
width=512
height=334
hide=yes

[component_13490]
layer=component_13502
x=70
y=55
type=model
width=32
height=32
model=com_i401
zoom=410
xan=434
yan=15

[component_13491]
layer=component_13502
x=58
y=143
type=model
width=32
height=32
model=com_i402
zoom=414
xan=374
yan=26

[component_13492]
layer=component_13502
x=48
y=242
type=model
width=32
height=32
model=com_i403
zoom=355
xan=446
yan=22

[component_13493]
layer=component_13502
x=412
y=54
type=model
width=32
height=32
model=com_i404
zoom=428
xan=333
yan=19

[component_13494]
layer=component_13502
x=422
y=134
type=model
width=32
height=32
model=com_i405
zoom=400
xan=460
yan=2035

[component_13495]
layer=component_13502
x=428
y=237
type=model
width=32
height=32
model=com_i406
zoom=387
xan=500
yan=0

[component_13509]
layer=component_13502
x=124
y=55
type=text
width=102
height=47
center=yes
font=q8_full
text=-Drogokishuun-\nGoblins of the\nFierce Blades
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13510]
layer=component_13502
x=113
y=143
type=text
width=115
height=47
center=yes
font=q8_full
text=-Huzamogaarb-\nLive-Flesh Eaters\nof the Chaos God
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13511]
layer=component_13502
x=118
y=231
type=text
width=95
height=47
center=yes
font=q8_full
text=-Saragorgak-\nFootsoldiers of\nHoly Wrath
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13512]
layer=component_13502
x=289
y=56
type=text
width=95
height=47
font=q8_full
text=-Dorgeshuun-\nGoblins of the\nStrong Spears
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13513]
layer=component_13502
x=293
y=144
type=text
width=92
height=47
center=yes
font=q8_full
text=-Horogothgar-\nEaters of\nManflesh
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13514]
layer=component_13502
x=300
y=239
type=text
width=91
height=32
font=q8_full
text=-Yurkolgokh-\nThe Flatulent
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13503]
x=0
y=0
type=layer
width=512
height=334
hide=yes

[component_13496]
layer=component_13503
x=71
y=53
type=model
width=32
height=32
model=com_i407
zoom=421
xan=343
yan=2023

[component_13497]
layer=component_13503
x=60
y=141
type=model
width=32
height=32
model=com_i408
zoom=410
xan=455
yan=0

[component_13498]
layer=component_13503
x=50
y=230
type=model
width=32
height=32
model=com_i409
zoom=362
xan=584
yan=2016

[component_13499]
layer=component_13503
x=415
y=53
type=model
width=32
height=32
model=com_i410
zoom=404
xan=325
yan=2032

[component_13500]
layer=component_13503
x=422
y=138
type=model
width=34
height=32
model=com_i411
zoom=385
xan=435
yan=2014

[component_13501]
layer=component_13503
x=429
y=235
type=model
width=32
height=32
model=com_i412
zoom=424
xan=604
yan=15

[component_13515]
layer=component_13503
x=123
y=56
type=text
width=97
height=47
center=yes
font=q8_full
text=-Thorobshuun-\nGoblins of the\nHills
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13516]
layer=component_13503
x=116
y=142
type=text
width=104
height=47
center=yes
font=q8_full
text=-Garagorshuun-\nGoblins of the\nSea
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13517]
layer=component_13503
x=119
y=226
type=text
width=91
height=47
center=yes
font=q8_full
text=-Rekeshuun-\nGoblins of the\nNorth
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13518]
layer=component_13503
x=296
y=56
type=text
width=91
height=47
center=yes
font=q8_full
text=-Ekeleshuun-\nGoblins of the\nEast
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13519]
layer=component_13503
x=298
y=142
type=text
width=91
height=47
center=yes
font=q8_full
text=-Idithuun-\nGoblins of the\nSouth
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13520]
layer=component_13503
x=298
y=225
type=text
width=100
height=47
center=yes
font=q8_full
text=-Narogoshuun-\nGoblins of the\nWest
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13504]
x=425
y=14
type=text
buttontype=close
width=74
height=14
font=p12_full
text=Close Window
activetext=Closes Interface
colour=0x808080
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[component_13507]
x=349
y=282
type=layer
width=63
height=52

[component_13505]
layer=component_13507
x=11
y=10
type=graphic
buttontype=normal
width=45
height=36
graphic=rightarrow,0

[component_13508]
x=107
y=279
type=layer
width=63
height=52

[component_13506]
layer=component_13508
x=8
y=12
type=graphic
buttontype=normal
width=45
height=36
graphic=leftarrow,0

[component_13523]
x=0
y=0
type=layer
width=512
height=388
hide=yes

[component_13521]
layer=component_13523
x=352
y=68
type=model
width=32
height=32
model=com_i413
zoom=965
xan=436
yan=9

[component_13522]
layer=component_13523
x=341
y=136
type=model
width=32
height=32
model=com_i414
zoom=936
xan=497
yan=10

[component_13528]
x=0
y=0
type=layer
width=512
height=388
hide=yes

[component_13524]
layer=component_13528
x=62
y=57
type=text
width=172
height=77
font=q8_full
text=Goblin tradition holds that\ntheir race was created by\na war-god in order to\nfight a war against other\ngods.
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13525]
layer=component_13528
x=59
y=185
type=text
width=165
height=77
font=q8_full
text=(They never name their\ngod, so whether it is the\nsame as any of the gods\nworshipped by the other\nraces is unknown.)
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13526]
layer=component_13528
x=289
y=56
type=text
width=152
height=107
font=q8_full
text=The legends also speak\nof goblins fighting\nagainst goblins during\nthe wars, so it is likely\nthat gods other than\ntheir creators used\nthem as footsoldiers.
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13527]
layer=component_13528
x=289
y=183
type=text
width=160
height=92
font=q8_full
text=Although goblins are still\nwarlike, it is probable\nthat in earlier ages\nthey were more\norganised than they\nare now,
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13532]
x=0
y=0
type=layer
width=512
height=388
hide=yes

[component_13529]
layer=component_13532
x=74
y=55
type=text
width=147
height=62
font=q8_full
text=especially if they were\nunder the direct\ncommand of one or\nmore gods.
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13530]
layer=component_13532
x=70
y=151
type=text
width=134
height=107
font=q8_full
text=This is corroborated\nby finds unearthed\nat various\narchaeological sites,\nincluding the large\nexcavation east of\nVarrock.
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13531]
layer=component_13532
x=292
y=52
type=text
width=142
height=92
font=q8_full
text=Armour and weapons\nhave been found,\nobviously made to fit\ngoblins but far more\nwell-made than their\ncurrent equipment.
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13536]
x=0
y=0
type=layer
width=512
height=334
hide=yes

[component_13533]
layer=component_13536
x=63
y=53
type=text
width=178
height=182
font=q8_full
text=Almost every piece of\nancient goblin equipment\nhas one of a number\nof symbols on it,\nand by correlating these\nsymbols with the\nsketchy records that\nsurvive from the\nThird Age it has been\npossible to identify\ntwelve distinct goblin tribes\nor regiments.
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13534]
layer=component_13536
x=282
y=55
type=text
width=168
height=122
font=q8_full
text=The separate identities of\nthe tribes have long\nsince dissolved and\nno goblins remember the\nsymbols, although their\ngenerals may still\nrecognize the ancient\ntribal names.
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13535]
layer=component_13536
x=286
y=199
type=text
width=146
height=62
font=q8_full
text=In the following pages\nI present a list of\nthe tribes and their\nsymbols.
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
