type=layer
width=512
height=334

[component_04472]
x=7
y=11
type=rect
width=497
height=310
fill=yes
colour=0x806102
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_04473]
x=13
y=17
type=rect
width=484
height=298
fill=yes
colour=0x422502
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_04474]
x=319
y=24
type=rect
width=168
height=282
fill=yes
colour=0x543E04
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_04475]
x=78
y=167
type=model
width=91
height=94
model=com_i115
zoom=328
xan=0
yan=0

[component_04476]
x=62
y=130
type=model
buttontype=select
width=26
height=27
model=com_i116
zoom=328
xan=0
yan=0
option=turn tile

[component_04477]
x=93
y=131
type=model
buttontype=select
width=27
height=25
model=com_i117
zoom=328
xan=0
yan=0
option=turn tile

[component_04478]
x=124
y=131
type=model
buttontype=select
width=26
height=26
model=com_i118
zoom=328
xan=0
yan=0
option=turn tile

[component_04479]
x=154
y=131
type=model
buttontype=select
width=26
height=26
model=com_i119
zoom=328
xan=0
yan=0
option=turn tile

[component_04480]
x=186
y=131
type=model
buttontype=select
width=26
height=26
model=com_i120
zoom=328
xan=0
yan=0
option=turn tile

[component_04481]
x=63
y=162
type=model
buttontype=select
width=26
height=26
model=com_i121
zoom=328
xan=0
yan=0
option=turn tile

[component_04482]
x=93
y=162
type=model
buttontype=select
width=26
height=26
model=com_i122
zoom=328
xan=0
yan=0
option=turn tile

[component_04483]
x=123
y=162
type=model
buttontype=select
width=26
height=26
model=com_i123
zoom=328
xan=0
yan=0
option=turn tile

[component_04484]
x=154
y=162
type=model
buttontype=select
width=26
height=26
model=com_i124
zoom=328
xan=0
yan=0
option=turn tile

[component_04485]
x=186
y=162
type=model
buttontype=select
width=26
height=26
model=com_i125
zoom=328
xan=0
yan=0
option=turn tile

[component_04486]
x=63
y=192
type=model
buttontype=select
width=26
height=26
model=com_i126
zoom=328
xan=0
yan=0
option=turn tile

[component_04487]
x=93
y=192
type=model
buttontype=select
width=26
height=26
model=com_i127
zoom=328
xan=0
yan=0
option=turn tile

[component_04488]
x=123
y=192
type=model
buttontype=select
width=26
height=26
model=com_i128
zoom=328
xan=0
yan=0
option=turn tile

[component_04489]
x=154
y=192
type=model
buttontype=select
width=26
height=26
model=com_i129
zoom=328
xan=0
yan=0
option=turn tile

[component_04490]
x=185
y=192
type=model
buttontype=select
width=26
height=26
model=com_i130
zoom=328
xan=0
yan=0
option=turn tile

[component_04491]
x=63
y=222
type=model
buttontype=select
width=26
height=26
model=com_i131
zoom=328
xan=0
yan=0
option=turn tile

[component_04492]
x=93
y=222
type=model
buttontype=select
width=26
height=26
model=com_i132
zoom=328
xan=0
yan=0
option=turn tile

[component_04493]
x=123
y=222
type=model
buttontype=select
width=26
height=26
model=com_i133
zoom=328
xan=0
yan=0
option=turn tile

[component_04494]
x=154
y=222
type=model
buttontype=select
width=26
height=26
model=com_i134
zoom=328
xan=0
yan=0
option=turn tile

[component_04495]
x=186
y=222
type=model
buttontype=select
width=26
height=26
model=com_i135
zoom=328
xan=0
yan=0
option=turn tile

[component_04496]
x=63
y=254
type=model
buttontype=select
width=26
height=26
model=com_i136
zoom=328
xan=0
yan=0
option=turn tile

[component_04497]
x=93
y=254
type=model
buttontype=select
width=26
height=26
model=com_i137
zoom=328
xan=0
yan=0
option=turn tile

[component_04498]
x=124
y=253
type=model
buttontype=select
width=26
height=26
model=com_i138
zoom=328
xan=0
yan=0
option=turn tile

[component_04499]
x=154
y=253
type=model
buttontype=select
width=26
height=26
model=com_i139
zoom=328
xan=0
yan=0
option=turn tile

[component_04500]
x=185
y=254
type=model
buttontype=select
width=26
height=26
model=com_i140
zoom=328
xan=0
yan=0
option=turn tile

[component_04501]
x=313
y=145
type=model
buttontype=normal
width=157
height=164
model=com_i141
zoom=336
xan=2036
yan=2
option=Reset puzzle

[component_04502]
x=343
y=89
type=model
width=121
height=58
model=com_i142
zoom=1021
xan=2037
yan=1519

[component_04503]
x=401
y=29
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
