type=layer
width=512
height=334

[component_14607]
x=424
y=28
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0xC00000
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[component_14608]
x=212
y=75
type=model
width=55
height=81
model=com_i425
zoom=671
xan=510
yan=0

[component_14609]
x=61
y=68
type=text
width=331
height=14
center=yes
font=p12_full
text=lj1
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14610]
x=61
y=84
type=text
width=331
height=14
center=yes
font=p12_full
text=lj2
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14611]
x=61
y=100
type=text
width=331
height=14
center=yes
font=p12_full
text=lj3
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14612]
x=61
y=116
type=text
width=331
height=14
center=yes
font=p12_full
text=lj4
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14613]
x=61
y=132
type=text
width=331
height=14
center=yes
font=p12_full
text=lj5
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14614]
x=61
y=148
type=text
width=331
height=14
center=yes
font=p12_full
text=lj6
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14615]
x=61
y=164
type=text
width=331
height=14
center=yes
font=p12_full
text=lj7
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14616]
x=61
y=180
type=text
width=331
height=14
center=yes
font=p12_full
text=lj8
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14617]
x=61
y=196
type=text
width=331
height=14
center=yes
font=p12_full
text=lj9
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14618]
x=61
y=212
type=text
width=331
height=14
center=yes
font=p12_full
text=lj10
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14619]
x=61
y=228
type=text
width=331
height=14
center=yes
font=p12_full
text=lj11
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14620]
x=58
y=63
type=layer
width=340
height=23

[component_14621]
layer=component_14620
x=12
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=>>>
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14622]
layer=component_14620
x=306
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=<<<
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14623]
x=58
y=79
type=layer
width=340
height=23

[component_14624]
layer=component_14623
x=12
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=>>>
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14625]
layer=component_14623
x=306
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=<<<
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14626]
x=58
y=95
type=layer
width=340
height=23

[component_14627]
layer=component_14626
x=12
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=>>>
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14628]
layer=component_14626
x=306
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=<<<
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14629]
x=58
y=111
type=layer
width=340
height=23

[component_14630]
layer=component_14629
x=12
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=>>>
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14631]
layer=component_14629
x=306
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=<<<
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14632]
x=58
y=127
type=layer
width=340
height=23

[component_14633]
layer=component_14632
x=12
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=>>>
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14634]
layer=component_14632
x=306
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=<<<
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14635]
x=58
y=143
type=layer
width=340
height=23

[component_14636]
layer=component_14635
x=12
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=>>>
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14637]
layer=component_14635
x=306
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=<<<
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14638]
x=58
y=159
type=layer
width=340
height=23

[component_14639]
layer=component_14638
x=12
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=>>>
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14640]
layer=component_14638
x=306
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=<<<
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14641]
x=58
y=175
type=layer
width=340
height=23

[component_14642]
layer=component_14641
x=12
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=>>>
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14643]
layer=component_14641
x=306
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=<<<
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14644]
x=58
y=191
type=layer
width=340
height=23

[component_14645]
layer=component_14644
x=12
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=>>>
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14646]
layer=component_14644
x=306
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=<<<
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14647]
x=58
y=207
type=layer
width=340
height=23

[component_14648]
layer=component_14647
x=12
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=>>>
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14649]
layer=component_14647
x=306
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=<<<
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14650]
x=58
y=223
type=layer
width=340
height=23

[component_14651]
layer=component_14650
x=12
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=>>>
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14652]
layer=component_14650
x=306
y=5
type=text
width=18
height=14
center=yes
font=p12_full
shadowed=yes
text=<<<
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14653]
x=101
y=38
type=text
width=244
height=14
font=p12_full
shadowed=yes
text=Items I need to get for King Roald's garden:
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
