type=layer
width=512
height=334

[component_12090]
x=40
y=62
type=layer
width=450
height=15
hide=yes

[component_13552]
layer=component_12090
x=0
y=0
type=text
width=451
height=17
center=yes
font=b12_full
shadowed=yes
text=Five hundred years have passed since the rule of King Alvis,
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12092]
x=40
y=77
type=layer
width=451
height=18
hide=yes

[component_13553]
layer=component_12092
x=0
y=1
type=text
width=451
height=18
center=yes
font=b12_full
shadowed=yes
text=saviour of Keldagrim, victim of his own inventions.
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12100]
x=40
y=107
type=layer
width=450
height=18
hide=yes

[component_13554]
layer=component_12100
x=0
y=0
type=text
width=450
height=16
center=yes
font=b12_full
shadowed=yes
text=Founder of the Consortium, the gathering of mining companies
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12103]
x=39
y=124
type=layer
width=450
height=18
hide=yes

[component_13555]
layer=component_12103
x=0
y=1
type=text
width=450
height=17
center=yes
font=b12_full
shadowed=yes
text=that were to serve the monarchy, eventually the monarchy came
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12111]
x=39
y=142
type=layer
width=449
height=14
hide=yes

[component_13556]
layer=component_12111
x=0
y=0
type=text
width=451
height=15
center=yes
font=b12_full
shadowed=yes
text=to serve the Consortium.
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13548]
x=38
y=167
type=layer
width=452
height=15
hide=yes

[component_13557]
layer=component_13548
x=0
y=0
type=text
width=452
height=15
center=yes
font=b12_full
shadowed=yes
text=By the time of his death, the monarchy was all but abolished.
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13549]
x=38
y=181
type=layer
width=453
height=16
hide=yes

[component_13558]
layer=component_13549
x=0
y=0
type=text
width=452
height=16
center=yes
font=b12_full
shadowed=yes
text=By now, the Kings of Keldagrim are but a distant memory...
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13550]
x=38
y=196
type=layer
width=453
height=18
hide=yes

[component_13559]
layer=component_13550
x=0
y=1
type=text
width=453
height=18
center=yes
font=b12_full
shadowed=yes
text=with only the statue of King Alvis to remind the people of the
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13551]
x=39
y=212
type=layer
width=452
height=16
hide=yes

[component_13560]
layer=component_13551
x=0
y=0
type=text
width=451
height=13
center=yes
font=b12_full
shadowed=yes
text=old days.
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
