type=layer
width=512
height=334

[component_12812]
x=34
y=34
type=layer
width=32
height=32

[component_12813]
x=306
y=119
type=model
width=32
height=32
model=com_i388
zoom=543
xan=427
yan=13

[component_12814]
x=95
y=114
type=text
width=239
height=17
center=yes
font=q8_full
text=Whatever text you need goes here!
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12815]
x=179
y=218
type=text
width=96
height=17
font=q8_full
text=Combi for lock
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12816]
x=427
y=10
type=text
buttontype=close
width=74
height=14
center=yes
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00
activecolour=0xFFFFFF
overcolour=0xFFFFFF
activeovercolour=0x000000

[component_12817]
x=95
y=140
type=text
width=239
height=17
center=yes
font=q8_full
text=Text
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12818]
x=95
y=166
type=text
width=239
height=17
center=yes
font=q8_full
text=Text
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12819]
x=95
y=192
type=text
width=239
height=17
center=yes
font=q8_full
text=Text
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
