type=layer
width=512
height=334

[component_14655]
x=31
y=42
type=text
buttontype=normal
width=440
height=17
font=p12_full
text=option1
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000

[component_14656]
x=31
y=60
type=text
buttontype=normal
width=440
height=17
font=p12_full
text=option1
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000

[component_14657]
x=31
y=78
type=text
buttontype=normal
width=440
height=17
font=p12_full
text=option3
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000

[component_14658]
x=10
y=42
type=text
width=18
height=17
center=yes
font=p12_full
text=[A]
colour=0x0000FF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14659]
x=10
y=60
type=text
width=18
height=17
center=yes
font=p12_full
text=[B]
colour=0x0000FF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14660]
x=10
y=78
type=text
width=18
height=17
center=yes
font=p12_full
text=[C]
colour=0x0000FF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14661]
x=38
y=5
type=text
width=460
height=14
font=p12_full
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14662]
x=38
y=21
type=text
width=460
height=14
font=p12_full
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14663]
x=4
y=5
type=text
width=30
height=14
font=p12_full
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
