type=layer
width=512
height=334

[component_14665]
x=57
y=39
type=inv
buttontype=normal
width=6
height=1
margin=32,0
option1=Pick

[component_14666]
x=193
y=3
type=text
width=86
height=17
font=q8_full
text=Pick a kitten
colour=0xAA0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14667]
x=284
y=5
type=graphic
width=57
height=13
graphic=sworddecor,0

[component_14668]
x=132
y=5
type=graphic
width=57
height=13
graphic=sworddecor,1
