type=layer
width=512
height=334

[component_03250]
x=295
y=279
type=model
width=32
height=32
model=com_i59
zoom=288
xan=139
yan=144

[component_03251]
x=310
y=115
type=model
width=32
height=32
model=com_i60
zoom=500
xan=80
yan=650

[component_03252]
x=400
y=135
type=model
width=32
height=32
model=com_i60
zoom=500
xan=89
yan=650

[component_03253]
x=310
y=115
type=model
width=32
height=32
model=com_i61
zoom=500
xan=80
yan=650

[component_03254]
x=310
y=115
type=model
width=32
height=32
model=com_i62
zoom=500
xan=80
yan=650

[component_03255]
x=352
y=149
type=model
width=32
height=32
model=com_i62
zoom=325
xan=87
yan=714

[component_03256]
x=209
y=158
type=model
width=32
height=32
model=com_i62
zoom=566
xan=148
yan=644

[component_03257]
x=310
y=115
type=model
width=32
height=32
model=com_i63
activeanim=roguesden_interface_gear7
zoom=500
xan=80
yan=650

[component_03258]
x=310
y=115
type=model
width=32
height=32
model=com_i35
anim=roguesden_interface_gear6
zoom=500
xan=80
yan=650

[component_03271]
x=310
y=115
type=model
width=32
height=32
model=com_i36
activeanim=roguesden_interface_gear3
zoom=500
xan=80
yan=650

[component_03272]
x=310
y=115
type=model
width=32
height=32
model=com_i64
activeanim=roguesden_interface_gear9
zoom=500
xan=80
yan=650

[component_03273]
x=310
y=115
type=model
width=32
height=32
model=com_i37
activeanim=roguesden_interface_gear8
zoom=500
xan=80
yan=650

[component_03274]
x=310
y=115
type=model
width=32
height=32
model=com_i65
activeanim=roguesden_interface_gear1
zoom=500
xan=80
yan=650

[component_13727]
x=0
y=0
type=layer
width=512
height=320
hide=yes

[component_03265]
layer=component_13727
x=310
y=115
type=model
width=32
height=32
model=com_i38
anim=roguesden_interface_gear5
activeanim=roguesden_interface_gear5
zoom=500
xan=80
yan=650

[component_13728]
x=0
y=0
type=layer
width=512
height=320
hide=yes

[component_03266]
layer=component_13728
x=310
y=115
type=model
width=32
height=32
model=com_i54
anim=roguesden_interface_gear5
activeanim=roguesden_interface_gear5
zoom=500
xan=80
yan=650

[component_13729]
x=0
y=0
type=layer
width=512
height=320
hide=yes

[component_03267]
layer=component_13729
x=310
y=115
type=model
width=32
height=32
model=com_i55
anim=roguesden_interface_gear5
activeanim=roguesden_interface_gear5
zoom=500
xan=80
yan=650

[component_13730]
x=0
y=0
type=layer
width=512
height=320
hide=yes

[component_03268]
layer=component_13730
x=310
y=115
type=model
width=32
height=32
model=com_i56
anim=roguesden_interface_gear5
activeanim=roguesden_interface_gear5
zoom=500
xan=80
yan=650

[component_13731]
x=0
y=0
type=layer
width=512
height=320
hide=yes

[component_03269]
layer=component_13731
x=310
y=115
type=model
width=32
height=32
model=com_i57
anim=roguesden_interface_gear5
activeanim=roguesden_interface_gear5
zoom=500
xan=80
yan=650

[component_13732]
x=0
y=0
type=layer
width=512
height=320
hide=yes

[component_03270]
layer=component_13732
x=310
y=115
type=model
width=32
height=32
model=com_i58
anim=roguesden_interface_gear5
activeanim=roguesden_interface_gear5
zoom=500
xan=80
yan=650

[component_13733]
x=0
y=0
type=layer
width=512
height=320
hide=yes

[component_03259]
layer=component_13733
x=310
y=115
type=model
width=32
height=32
model=com_i66
anim=roguesden_interface_gear4
activeanim=roguesden_interface_gear4
zoom=500
xan=80
yan=650

[component_13734]
x=0
y=0
type=layer
width=512
height=320
hide=yes

[component_03260]
layer=component_13734
x=310
y=115
type=model
width=32
height=32
model=com_i67
anim=roguesden_interface_gear4
activeanim=roguesden_interface_gear4
zoom=500
xan=80
yan=650

[component_13735]
x=0
y=0
type=layer
width=512
height=320
hide=yes

[component_03261]
layer=component_13735
x=310
y=115
type=model
width=32
height=32
model=com_i68
anim=roguesden_interface_gear4
activeanim=roguesden_interface_gear4
zoom=500
xan=80
yan=650

[component_13736]
x=0
y=0
type=layer
width=512
height=320
hide=yes

[component_03262]
layer=component_13736
x=310
y=115
type=model
width=32
height=32
model=com_i69
anim=roguesden_interface_gear4
activeanim=roguesden_interface_gear4
zoom=500
xan=80
yan=650

[component_13737]
x=0
y=0
type=layer
width=512
height=320
hide=yes

[component_03263]
layer=component_13737
x=310
y=115
type=model
width=32
height=32
model=com_i70
anim=roguesden_interface_gear4
activeanim=roguesden_interface_gear4
zoom=500
xan=80
yan=650

[component_13738]
x=0
y=0
type=layer
width=512
height=320
hide=yes

[component_03264]
layer=component_13738
x=310
y=115
type=model
width=32
height=32
model=com_i71
anim=roguesden_interface_gear4
activeanim=roguesden_interface_gear4
zoom=500
xan=80
yan=650

[component_13739]
x=0
y=0
type=layer
width=512
height=320
hide=yes

[component_03275]
layer=component_13739
x=310
y=115
type=model
width=32
height=32
model=com_i72
anim=roguesden_interface_gear2
activeanim=roguesden_interface_gear2
zoom=500
xan=80
yan=650

[component_13740]
x=0
y=0
type=layer
width=512
height=320
hide=yes

[component_13722]
layer=component_13740
x=310
y=115
type=model
width=32
height=32
model=com_i73
anim=roguesden_interface_gear2
activeanim=roguesden_interface_gear2
zoom=500
xan=80
yan=650

[component_13741]
x=0
y=0
type=layer
width=512
height=320
hide=yes

[component_13723]
layer=component_13741
x=310
y=115
type=model
width=32
height=32
model=com_i74
anim=roguesden_interface_gear2
activeanim=roguesden_interface_gear2
zoom=500
xan=80
yan=650

[component_13742]
x=0
y=0
type=layer
width=512
height=320
hide=yes

[component_13724]
layer=component_13742
x=310
y=115
type=model
width=32
height=32
model=com_i75
anim=roguesden_interface_gear2
activeanim=roguesden_interface_gear2
zoom=500
xan=80
yan=650

[component_13743]
x=0
y=0
type=layer
width=512
height=320
hide=yes

[component_13725]
layer=component_13743
x=310
y=115
type=model
width=32
height=32
model=com_i76
anim=roguesden_interface_gear2
activeanim=roguesden_interface_gear2
zoom=500
xan=80
yan=650

[component_13744]
x=0
y=0
type=layer
width=512
height=320
hide=yes

[component_13726]
layer=component_13744
x=310
y=115
type=model
width=32
height=32
model=com_i77
anim=roguesden_interface_gear2
activeanim=roguesden_interface_gear2
zoom=500
xan=80
yan=650

[component_13745]
x=422
y=16
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[component_13746]
x=98
y=160
type=rect
buttontype=normal
width=120
height=80
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place a gear here!

[component_13747]
x=351
y=125
type=rect
buttontype=normal
width=120
height=120
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place a gear here!

[component_13748]
x=135
y=39
type=rect
buttontype=normal
width=120
height=120
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place a gear here!
