type=layer
width=512
height=334

[component_13750]
x=34
y=34
type=layer
width=32
height=32

[component_13751]
x=236
y=98
type=model
width=100
height=100
model=com_i427
zoom=1046
xan=500
yan=0

[component_13752]
x=214
y=107
type=model
width=100
height=100
model=com_i428
zoom=1046
xan=500
yan=0

[component_13753]
x=421
y=20
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFFFF
activecolour=0xFFFF00
overcolour=0x000000
activeovercolour=0x000000

[component_13754]
x=366
y=187
type=model
buttontype=normal
width=100
height=100
script1op1=inv_count,inventory:inv,roguesden_puzzle_mosaic_tile1
script1=gt,0
activemodel=com_i429
zoom=1046
xan=500
yan=0

[component_13755]
x=365
y=45
type=model
buttontype=normal
width=100
height=100
script1op1=inv_count,inventory:inv,roguesden_puzzle_mosaic_tile2
script1=gt,0
activemodel=com_i430
zoom=1046
xan=500
yan=0

[component_13756]
x=46
y=47
type=model
buttontype=normal
width=100
height=100
script1op1=inv_count,inventory:inv,roguesden_puzzle_mosaic_tile3
script1=gt,0
activemodel=com_i431
zoom=1046
xan=500
yan=0

[component_13757]
x=42
y=189
type=model
buttontype=normal
width=100
height=100
script1op1=inv_count,inventory:inv,roguesden_puzzle_mosaic_tile4
script1=gt,0
activemodel=com_i432
zoom=1046
xan=500
yan=0
