type=layer
width=512
height=334

[component_03237]
x=26
y=-62
type=model
width=32
height=32
script1op1=inv_count,inventory:inv,roguesden_gear1
script1=gt,0
activemodel=com_i53
zoom=1096
xan=500
yan=0

[component_03238]
x=114
y=-61
type=model
width=32
height=32
script1op1=inv_count,inventory:inv,roguesden_gear2
script1=gt,0
activemodel=com_i54
zoom=1121
xan=500
yan=0

[component_03239]
x=24
y=16
type=model
width=32
height=32
script1op1=inv_count,inventory:inv,roguesden_gear3
script1=gt,0
activemodel=com_i55
zoom=1039
xan=500
yan=0

[component_03240]
x=113
y=19
type=model
width=32
height=32
script1op1=inv_count,inventory:inv,roguesden_gear4
script1=gt,0
activemodel=com_i56
zoom=1068
xan=500
yan=0

[component_03241]
x=24
y=69
type=model
width=32
height=32
script1op1=inv_count,inventory:inv,roguesden_gear5
script1=gt,0
activemodel=com_i57
zoom=788
xan=500
yan=0

[component_03242]
x=115
y=103
type=model
width=32
height=32
script1op1=inv_count,inventory:inv,roguesden_gear6
script1=gt,0
activemodel=com_i58
zoom=1084
xan=500
yan=0

[component_03243]
x=16
y=12
type=rect
buttontype=normal
width=65
height=65
script1op1=push_varbit,roguesden_puzzle_gear
script1=eq,1
colour=0xFFFF00
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x000000

[component_03244]
x=104
y=12
type=rect
buttontype=normal
width=65
height=65
script1op1=push_varbit,roguesden_puzzle_gear
script1=eq,2
colour=0xFFFF00
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x000000

[component_03245]
x=16
y=96
type=rect
buttontype=normal
width=65
height=65
script1op1=push_varbit,roguesden_puzzle_gear
script1=eq,3
colour=0xFFFF00
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x000000

[component_03246]
x=104
y=96
type=rect
buttontype=normal
width=65
height=65
script1op1=push_varbit,roguesden_puzzle_gear
script1=eq,4
colour=0xFFFF00
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x000000

[component_03247]
x=16
y=180
type=rect
buttontype=normal
width=65
height=65
script1op1=push_varbit,roguesden_puzzle_gear
script1=eq,5
colour=0xFFFF00
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x000000

[component_03248]
x=104
y=180
type=rect
buttontype=normal
width=65
height=65
script1op1=push_varbit,roguesden_puzzle_gear
script1=eq,6
colour=0xFFFF00
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x000000
