type=layer
width=512
height=334

[component_14379]
x=0
y=0
type=rect
width=512
height=334
fill=yes
colour=0xF622C0C
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14380]
x=0
y=144
type=rect
width=512
height=20
fill=yes
colour=0x00000F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14381]
x=138
y=30
type=rect
width=232
height=236
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14382]
x=144
y=37
type=rect
width=220
height=222
fill=yes
colour=0xF585858
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14383]
x=155
y=48
type=rect
width=43
height=43
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14384]
x=259
y=48
type=rect
width=43
height=43
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14385]
x=207
y=48
type=rect
width=43
height=43
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14386]
x=154
y=99
type=rect
width=43
height=43
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14387]
x=311
y=48
type=rect
width=43
height=43
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14388]
x=206
y=100
type=rect
width=43
height=43
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14389]
x=258
y=100
type=rect
width=43
height=43
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14390]
x=310
y=100
type=rect
width=43
height=43
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14391]
x=155
y=152
type=rect
width=43
height=43
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14392]
x=206
y=151
type=rect
width=43
height=43
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14393]
x=259
y=151
type=rect
width=43
height=43
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14394]
x=310
y=152
type=rect
width=43
height=43
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14395]
x=154
y=204
type=rect
width=43
height=43
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14396]
x=206
y=204
type=rect
width=43
height=43
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14397]
x=259
y=203
type=rect
width=43
height=43
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14398]
x=311
y=203
type=rect
width=43
height=43
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14399]
x=160
y=53
type=rect
buttontype=normal
width=33
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place-rune

[component_14400]
x=212
y=53
type=rect
buttontype=normal
width=33
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place-rune

[component_14401]
x=264
y=53
type=rect
buttontype=normal
width=33
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place-rune

[component_14402]
x=316
y=53
type=rect
buttontype=normal
width=33
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place-rune

[component_14403]
x=159
y=105
type=rect
buttontype=normal
width=33
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place-rune

[component_14404]
x=211
y=105
type=rect
buttontype=normal
width=33
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place-rune

[component_14405]
x=263
y=105
type=rect
buttontype=normal
width=33
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place-rune

[component_14406]
x=315
y=105
type=rect
buttontype=normal
width=33
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place-rune

[component_14407]
x=160
y=157
type=rect
buttontype=normal
width=33
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place-rune

[component_14408]
x=211
y=157
type=rect
buttontype=normal
width=33
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place-rune

[component_14409]
x=264
y=157
type=rect
buttontype=normal
width=33
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place-rune

[component_14410]
x=315
y=157
type=rect
buttontype=normal
width=33
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place-rune

[component_14411]
x=159
y=209
type=rect
buttontype=normal
width=33
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place-rune

[component_14412]
x=211
y=209
type=rect
buttontype=normal
width=33
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place-rune

[component_14413]
x=264
y=209
type=rect
buttontype=normal
width=33
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place-rune

[component_14414]
x=316
y=209
type=rect
buttontype=normal
width=33
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Place-rune

[component_14415]
x=280
y=295
type=rect
width=89
height=31
fill=yes
colour=0x202020
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14416]
x=391
y=67
type=rect
width=113
height=174
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14417]
x=402
y=79
type=rect
width=93
height=149
fill=yes
colour=0xF585858
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14418]
x=9
y=63
type=rect
width=113
height=174
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14419]
x=19
y=76
type=rect
width=93
height=149
fill=yes
colour=0xF585858
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14420]
x=289
y=302
type=text
buttontype=normal
width=69
height=14
font=p12_full
shadowed=yes
text=open casket
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14421]
x=430
y=13
type=text
buttontype=normal
width=71
height=14
font=p12_full
shadowed=yes
text=close window
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14422]
x=7
y=283
type=layer
width=42
height=42

[component_14423]
layer=component_14422
x=5
y=5
type=model
width=32
height=32
script1op1=pushvar,if1
script1=eq,5
model=com_i571
zoom=600
xan=500
yan=0

[component_14424]
layer=component_14422
x=5
y=5
type=model
width=32
height=32
script1op1=pushvar,if1
script1=eq,1
activemodel=com_i571
zoom=600
xan=500
yan=0

[component_14425]
x=64
y=283
type=layer
width=42
height=42

[component_14426]
layer=component_14425
x=5
y=5
type=model
width=32
height=32
script1op1=pushvar,if1
script1=eq,1
activemodel=com_i571
zoom=600
xan=500
yan=0

[component_14427]
layer=component_14425
x=5
y=5
type=model
width=32
height=32
script1op1=pushvar,if1
script1=eq,5
model=com_i571
zoom=600
xan=500
yan=0

[component_14428]
x=117
y=283
type=layer
width=42
height=42

[component_14429]
layer=component_14428
x=5
y=5
type=model
width=32
height=32
script1op1=pushvar,if1
script1=eq,1
activemodel=com_i571
zoom=600
xan=500
yan=0

[component_14430]
layer=component_14428
x=5
y=5
type=model
width=32
height=32
script1op1=pushvar,if1
script1=eq,5
model=com_i571
zoom=600
xan=500
yan=0

[component_14431]
x=171
y=282
type=layer
width=42
height=42

[component_14432]
layer=component_14431
x=5
y=5
type=model
width=32
height=32
script1op1=pushvar,if1
script1=eq,1
activemodel=com_i571
zoom=600
xan=500
yan=0

[component_14433]
layer=component_14431
x=5
y=5
type=model
width=32
height=32
script1op1=pushvar,if1
script1=eq,5
model=com_i571
zoom=600
xan=500
yan=0

[component_14434]
x=226
y=282
type=layer
width=42
height=42

[component_14435]
layer=component_14434
x=5
y=5
type=model
width=32
height=32
script1op1=pushvar,if1
script1=eq,1
activemodel=com_i571
zoom=600
xan=500
yan=0

[component_14436]
layer=component_14434
x=5
y=5
type=model
width=32
height=32
script1op1=pushvar,if1
script1=eq,5
model=com_i571
zoom=600
xan=500
yan=0

[component_14437]
x=11
y=289
type=model
buttontype=normal
width=32
height=32
model=com_i573
zoom=600
xan=500
yan=1050

[component_14438]
x=68
y=288
type=model
buttontype=normal
width=32
height=32
model=com_i574
zoom=600
xan=500
yan=1050

[component_14439]
x=121
y=289
type=model
buttontype=normal
width=32
height=32
model=com_i575
zoom=600
xan=500
yan=1050

[component_14440]
x=176
y=288
type=model
buttontype=normal
width=32
height=32
model=com_i577
zoom=600
xan=500
yan=1050

[component_14441]
x=230
y=287
type=model
buttontype=normal
width=32
height=32
model=com_i572
zoom=652
xan=500
yan=1050

[component_14442]
x=159
y=53
type=inv
width=4
height=4
margin=20,20
