type=layer
width=512
height=334

[component_14245]
x=0
y=0
type=rect
width=512
height=334
fill=yes
colour=0xF622C0C
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14246]
x=0
y=150
type=rect
width=511
height=19
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14247]
x=5
y=89
type=rect
width=86
height=145
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14248]
x=470
y=90
type=rect
width=86
height=145
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14249]
x=99
y=0
type=rect
width=359
height=334
fill=yes
colour=0xF303030
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14250]
x=107
y=0
type=rect
width=343
height=334
fill=yes
colour=0xF585858
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14251]
x=12
y=98
type=rect
width=71
height=130
fill=yes
colour=0xF585858
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14252]
x=479
y=99
type=rect
width=71
height=130
fill=yes
colour=0xF585858
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14253]
x=7
y=53
type=rect
width=84
height=24
fill=yes
colour=0xF312314
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14254]
x=16
y=57
type=text
buttontype=normal
width=72
height=18
font=p12_full
shadowed=yes
text=open casket
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14255]
x=14
y=29
type=text
buttontype=normal
width=75
height=16
font=p12_full
shadowed=yes
text=close window
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14256]
x=114
y=4
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14257]
x=151
y=4
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14258]
x=188
y=4
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14259]
x=225
y=4
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14260]
x=262
y=4
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14261]
x=299
y=4
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14262]
x=336
y=4
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14263]
x=373
y=4
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14264]
x=410
y=4
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14265]
x=114
y=41
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14266]
x=151
y=41
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14267]
x=188
y=41
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14268]
x=225
y=41
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14269]
x=262
y=41
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14270]
x=299
y=41
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14271]
x=336
y=41
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14272]
x=373
y=41
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14273]
x=410
y=41
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14274]
x=114
y=78
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14275]
x=151
y=78
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14276]
x=188
y=78
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14277]
x=225
y=78
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14278]
x=262
y=78
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14279]
x=299
y=78
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14280]
x=336
y=78
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14281]
x=373
y=78
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14282]
x=410
y=78
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14283]
x=114
y=115
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14284]
x=151
y=115
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14285]
x=188
y=115
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14286]
x=225
y=115
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14287]
x=262
y=115
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14288]
x=299
y=115
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14289]
x=336
y=115
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14290]
x=373
y=115
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14291]
x=410
y=115
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14292]
x=114
y=152
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14293]
x=151
y=152
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14294]
x=188
y=152
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14295]
x=225
y=152
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14296]
x=262
y=152
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14297]
x=299
y=152
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14298]
x=336
y=152
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14299]
x=373
y=152
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14300]
x=410
y=152
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14301]
x=114
y=189
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14302]
x=151
y=189
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14303]
x=188
y=189
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14304]
x=225
y=189
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14305]
x=262
y=189
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14306]
x=299
y=189
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14307]
x=336
y=189
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14308]
x=373
y=189
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14309]
x=410
y=189
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14310]
x=114
y=226
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14311]
x=151
y=226
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14312]
x=188
y=226
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14313]
x=225
y=226
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14314]
x=262
y=226
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14315]
x=299
y=226
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14316]
x=336
y=226
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14317]
x=373
y=226
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14318]
x=410
y=226
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14319]
x=114
y=263
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14320]
x=151
y=263
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14321]
x=188
y=263
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14322]
x=225
y=263
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14323]
x=262
y=263
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14324]
x=299
y=263
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14325]
x=336
y=263
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14326]
x=373
y=263
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14327]
x=410
y=263
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14328]
x=115
y=300
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14329]
x=151
y=300
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14330]
x=189
y=300
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14331]
x=225
y=300
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14332]
x=262
y=300
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14333]
x=299
y=300
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14334]
x=336
y=300
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14335]
x=373
y=300
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14336]
x=410
y=300
type=rect
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14337]
x=4
y=284
type=layer
width=47
height=48

[component_14347]
layer=component_14337
x=8
y=8
type=model
width=32
height=32
model=com_i571
zoom=600
xan=500
yan=0

[component_14357]
layer=component_14337
x=8
y=8
type=model
width=32
height=32
activemodel=com_i572
zoom=600
xan=500
yan=0

[component_14338]
x=3
y=234
type=layer
width=47
height=48

[component_14348]
layer=component_14338
x=8
y=8
type=model
width=32
height=32
model=com_i571
zoom=600
xan=500
yan=0

[component_14358]
layer=component_14338
x=8
y=8
type=model
width=32
height=32
activemodel=com_i572
zoom=600
xan=500
yan=0

[component_14339]
x=3
y=184
type=layer
width=47
height=48

[component_14349]
layer=component_14339
x=8
y=8
type=model
width=32
height=32
model=com_i571
zoom=600
xan=500
yan=0

[component_14359]
layer=component_14339
x=8
y=8
type=model
width=32
height=32
activemodel=com_i572
zoom=600
xan=500
yan=0

[component_14340]
x=3
y=134
type=layer
width=47
height=48

[component_14350]
layer=component_14340
x=8
y=8
type=model
width=32
height=32
model=com_i571
zoom=600
xan=500
yan=0

[component_14360]
layer=component_14340
x=8
y=8
type=model
width=32
height=32
activemodel=com_i572
zoom=600
xan=500
yan=0

[component_14341]
x=3
y=84
type=layer
width=47
height=48

[component_14351]
layer=component_14341
x=8
y=8
type=model
width=32
height=32
model=com_i571
zoom=600
xan=500
yan=0

[component_14361]
layer=component_14341
x=8
y=8
type=model
width=32
height=32
activemodel=com_i572
zoom=600
xan=500
yan=0

[component_14342]
x=52
y=134
type=layer
width=47
height=48

[component_14352]
layer=component_14342
x=8
y=8
type=model
width=32
height=32
model=com_i571
zoom=600
xan=500
yan=0

[component_14362]
layer=component_14342
x=8
y=8
type=model
width=32
height=32
activemodel=com_i572
zoom=600
xan=500
yan=0

[component_14343]
x=52
y=184
type=layer
width=47
height=48

[component_14353]
layer=component_14343
x=8
y=8
type=model
width=32
height=32
model=com_i571
zoom=600
xan=500
yan=0

[component_14363]
layer=component_14343
x=8
y=8
type=model
width=32
height=32
activemodel=com_i572
zoom=600
xan=500
yan=0

[component_14344]
x=52
y=234
type=layer
width=47
height=48

[component_14354]
layer=component_14344
x=8
y=8
type=model
width=32
height=32
model=com_i571
zoom=600
xan=500
yan=0

[component_14364]
layer=component_14344
x=8
y=8
type=model
width=32
height=32
activemodel=com_i572
zoom=600
xan=500
yan=0

[component_14345]
x=53
y=284
type=layer
width=47
height=48

[component_14355]
layer=component_14345
x=8
y=8
type=model
width=32
height=32
model=com_i571
zoom=600
xan=500
yan=0

[component_14365]
layer=component_14345
x=8
y=8
type=model
width=32
height=32
activemodel=com_i572
zoom=600
xan=500
yan=0

[component_14346]
x=52
y=84
type=layer
width=47
height=48

[component_14356]
layer=component_14346
x=8
y=8
type=model
width=32
height=32
model=com_i571
zoom=600
xan=500
yan=0

[component_14366]
layer=component_14346
x=8
y=8
type=model
width=32
height=32
activemodel=com_i572
zoom=600
xan=500
yan=0

[component_14367]
x=12
y=292
type=model
buttontype=normal
width=32
height=32
model=com_i573
zoom=600
xan=500
yan=1050

[component_14368]
x=11
y=242
type=model
buttontype=normal
width=32
height=32
model=com_i574
zoom=600
xan=500
yan=1050

[component_14369]
x=9
y=193
type=model
buttontype=normal
width=32
height=32
model=com_i575
zoom=600
xan=500
yan=1050

[component_14370]
x=9
y=92
type=model
buttontype=normal
width=32
height=32
model=com_i576
zoom=600
xan=500
yan=1050

[component_14371]
x=10
y=142
type=model
buttontype=normal
width=32
height=32
model=com_i577
zoom=600
xan=500
yan=1050

[component_14372]
x=59
y=143
type=model
buttontype=normal
width=32
height=32
model=com_i578
zoom=600
xan=500
yan=1050

[component_14373]
x=59
y=193
type=model
buttontype=normal
width=32
height=32
model=com_i579
zoom=600
xan=500
yan=1050

[component_14374]
x=60
y=242
type=model
buttontype=normal
width=32
height=32
model=com_i580
zoom=600
xan=500
yan=1050

[component_14375]
x=61
y=292
type=model
buttontype=normal
width=32
height=32
model=com_i581
zoom=600
xan=500
yan=1050

[component_14376]
x=60
y=92
type=model
buttontype=normal
width=32
height=32
model=com_i572
zoom=600
xan=500
yan=0

[component_14377]
x=114
y=4
type=inv
width=9
height=9
margin=5,5
