type=layer
width=512
height=334

[component_02303]
x=106
y=-15
type=rect
width=400
height=400
fill=yes
colour=0x1A1A1A
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_02305]
x=178
y=-32
type=model
width=32
height=32
model=com_i35
anim=roguesden_interface_gear6
activeanim=roguesden_interface_gear6
zoom=482
xan=351
yan=24

[component_02308]
x=428
y=237
type=model
width=32
height=32
model=com_i36
anim=roguesden_interface_gear3
activeanim=roguesden_interface_gear3
zoom=443
xan=537
yan=509

[component_02309]
x=39
y=-47
type=model
width=32
height=32
model=com_i37
anim=roguesden_interface_gear8
activeanim=roguesden_interface_gear8
zoom=361
xan=419
yan=89

[component_03215]
x=227
y=-214
type=model
width=32
height=32
model=com_i38
anim=roguesden_interface_gear5
activeanim=roguesden_interface_gear5
zoom=455
xan=369
yan=3

[component_03216]
x=34
y=34
type=layer
width=32
height=32

[component_03217]
x=244
y=152
type=model
width=32
height=32
model=com_i39
zoom=603
xan=528
yan=3

[component_03218]
x=245
y=158
type=model
width=32
height=32
model=com_i40
zoom=625
xan=500
yan=0

[component_03219]
x=129
y=44
type=inv
width=3
height=3
margin=83,83
option1=Rotate-Clockwise
option2=Rotate-AntiClockwise

[component_03220]
x=421
y=20
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[component_03221]
x=129
y=48
type=model
width=32
height=32
model=com_i41
anim=roguesden_interface_dial
zoom=800
xan=491
yan=522

[component_03222]
x=245
y=48
type=model
width=32
height=32
model=com_i41
anim=roguesden_interface_dial
zoom=800
xan=491
yan=522

[component_03223]
x=358
y=48
type=model
width=32
height=32
model=com_i41
anim=roguesden_interface_dial
zoom=800
xan=491
yan=522

[component_03224]
x=129
y=162
type=model
width=32
height=32
model=com_i41
anim=roguesden_interface_dial
zoom=800
xan=491
yan=522

[component_03225]
x=245
y=162
type=model
width=32
height=32
model=com_i41
anim=roguesden_interface_dial
zoom=800
xan=491
yan=522

[component_03226]
x=358
y=162
type=model
width=32
height=32
model=com_i41
anim=roguesden_interface_dial
zoom=800
xan=491
yan=522

[component_03227]
x=129
y=274
type=model
width=32
height=32
model=com_i41
anim=roguesden_interface_dial
zoom=800
xan=491
yan=522

[component_03228]
x=245
y=274
type=model
width=32
height=32
model=com_i41
anim=roguesden_interface_dial
zoom=800
xan=491
yan=522

[component_03229]
x=358
y=274
type=model
width=32
height=32
model=com_i41
anim=roguesden_interface_dial
zoom=800
xan=491
yan=522

[component_03230]
x=423
y=96
type=model
width=32
height=32
model=com_i42
zoom=1126
xan=571
yan=269

[component_03231]
x=425
y=224
type=model
width=32
height=32
model=com_i42
zoom=1126
xan=484
yan=1945

[component_03232]
x=62
y=89
type=model
width=32
height=32
model=com_i42
zoom=1126
xan=512
yan=22

[component_03233]
x=60
y=223
type=model
width=32
height=32
model=com_i42
zoom=1126
xan=569
yan=1737
