type=layer
width=512
height=334

[component_13783]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15351]
x=394
y=239
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15356]
x=307
y=239
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15357]
x=220
y=239
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15358]
x=132
y=239
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15359]
x=34
y=26
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15360]
x=34
y=86
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15361]
x=34
y=146
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15362]
x=34
y=206
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15363]
x=34
y=239
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15364]
x=122
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15365]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15366]
x=122
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15367]
x=122
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15368]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15369]
x=118
y=239
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15370]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15371]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15372]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15373]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15374]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15375]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15376]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15377]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15378]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15379]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15380]
x=394
y=26
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15381]
x=394
y=81
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15382]
x=394
y=141
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15383]
x=394
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_15384]
x=13
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15385]
x=13
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15386]
x=13
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15387]
x=13
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15388]
x=13
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15389]
x=13
y=228
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15390]
x=13
y=252
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_15391]
x=467
y=51
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15392]
x=467
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15393]
x=467
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15394]
x=467
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15395]
x=50
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15396]
x=467
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15397]
x=467
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15398]
x=467
y=264
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_15399]
x=81
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15400]
x=112
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15401]
x=145
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15402]
x=179
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15403]
x=213
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15404]
x=249
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15405]
x=284
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15406]
x=320
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15407]
x=355
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15408]
x=391
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15409]
x=427
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15410]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15411]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15412]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15413]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15414]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15415]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15416]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15417]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15418]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15419]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15420]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15421]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15422]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15423]
x=49
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_15424]
x=28
y=275
type=graphic
width=25
height=30
graphic=steelborder,2

[component_15425]
x=463
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[component_15426]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15427]
x=463
y=275
type=graphic
width=25
height=30
graphic=steelborder,3

[component_15428]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15429]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15430]
x=28
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[component_15431]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15432]
x=396
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15433]
x=432
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15434]
x=452
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15435]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15436]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15437]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15438]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15439]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15440]
x=34
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_15441]
x=200
y=29
type=text
width=92
height=14
font=b12_full
shadowed=yes
text=Silver Casting
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15442]
x=402
y=31
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15443]
x=67
y=68
type=layer
width=380
height=225

[component_15444]
layer=component_15443
x=8
y=6
type=layer
width=86
height=100

[component_15445]
layer=component_15444
x=26
y=3
type=inv
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[component_15446]
layer=component_15444
x=11
y=37
type=text
width=65
height=38
center=yes
font=p12_full
shadowed=yes
text=Make\n Saradomin \nSymbol
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15447]
layer=component_15443
x=8
y=6
type=layer
width=86
height=100
hide=yes

[component_15448]
layer=component_15447
x=24
y=8
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[component_15449]
layer=component_15447
x=1
y=42
type=text
width=83
height=50
center=yes
font=p12_full
shadowed=yes
text=You need a \nHoly Symbol\n mould to make\n this item.
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15451]
layer=component_15443
x=10
y=116
type=layer
width=86
height=100

[component_15452]
layer=component_15451
x=26
y=3
type=inv
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[component_15453]
layer=component_15451
x=15
y=38
type=text
width=51
height=38
center=yes
font=p12_full
shadowed=yes
text=Make\n Zamorak\nSymbol
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15454]
layer=component_15443
x=10
y=116
type=layer
width=86
height=100
hide=yes

[component_15455]
layer=component_15454
x=24
y=8
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[component_15456]
layer=component_15454
x=1
y=42
type=text
width=83
height=50
center=yes
font=p12_full
shadowed=yes
text=You need an \nUnholy Symbol\n mould to make\n this item.
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15458]
layer=component_15443
x=96
y=6
type=layer
width=86
height=100

[component_15459]
layer=component_15458
x=26
y=3
type=inv
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[component_15460]
layer=component_15458
x=26
y=37
type=text
width=32
height=38
center=yes
font=p12_full
shadowed=yes
text=Make\nSilver\nSickle
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15461]
layer=component_15443
x=96
y=6
type=layer
width=86
height=100
hide=yes

[component_15462]
layer=component_15461
x=26
y=3
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[component_15463]
layer=component_15461
x=10
y=36
type=text
width=68
height=50
center=yes
font=p12_full
shadowed=yes
text=You need a \nsickle mould\n to make\n this item.
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15465]
layer=component_15443
x=101
y=116
type=layer
width=86
height=100

[component_15466]
layer=component_15465
x=26
y=3
type=inv
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[component_15467]
layer=component_15465
x=16
y=34
type=text
width=52
height=38
center=yes
font=p12_full
shadowed=yes
text=Make\nLightning\nRod
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15468]
layer=component_15443
x=101
y=116
type=layer
width=86
height=100
hide=yes

[component_15469]
layer=component_15468
x=26
y=3
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[component_15470]
layer=component_15468
x=10
y=36
type=text
width=65
height=62
center=yes
font=p12_full
shadowed=yes
text=You need a \nlightning \nrod mould\n to make\n this item.
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15472]
layer=component_15443
x=191
y=5
type=layer
width=86
height=100

[component_15473]
layer=component_15472
x=26
y=3
type=inv
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[component_15474]
layer=component_15472
x=26
y=37
type=text
width=29
height=26
center=yes
font=p12_full
shadowed=yes
text=Make\nTiara
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15475]
layer=component_15443
x=191
y=5
type=layer
width=86
height=100
hide=yes

[component_15476]
layer=component_15475
x=26
y=3
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[component_15477]
layer=component_15475
x=10
y=36
type=text
width=69
height=50
center=yes
font=p12_full
shadowed=yes
text=You need a\n Tiara Mould \nto make\n a tiara.
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15480]
layer=component_15443
x=284
y=5
type=layer
width=86
height=100

[component_15481]
layer=component_15480
x=24
y=8
type=inv
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[component_15482]
layer=component_15480
x=4
y=43
type=text
width=78
height=26
center=yes
font=p12_full
shadowed=yes
text=Make demonic\nsigil
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15483]
layer=component_15443
x=284
y=5
type=layer
width=86
height=100
hide=yes

[component_15484]
layer=component_15483
x=24
y=8
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[component_15485]
layer=component_15483
x=3
y=42
type=text
width=80
height=50
center=yes
font=p12_full
shadowed=yes
text=You need a\n demonic sigil\nmould to make\nthis item.
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15450]
x=298
y=298
type=text
width=4
height=4
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15457]
x=298
y=299
type=text
width=4
height=4
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15464]
x=298
y=299
type=text
width=4
height=4
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15471]
x=297
y=299
type=text
width=4
height=4
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15478]
x=297
y=298
type=text
width=4
height=4
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15479]
x=297
y=298
type=text
width=4
height=4
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15486]
x=297
y=298
type=text
width=4
height=4
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
