type=layer
width=512
height=334

[component_12051]
x=116
y=23
type=graphic
buttontype=normal
width=20
height=20
overlayer=component_12102
script1op1=inv_count,wornitems:wear,slayer_staff
script2op1=inv_count,inventory:inv,deathrune
script3op1=inv_count,inventory:inv,mindrune
script4op1=stat_level,magic
script5op1=stat_level,slayer
script1=gt,0
script2=gt,0
script3=gt,3
script4=gt,49
script5=gt,54
graphic=magicoff2,5
activegraphic=magicon2,5

[component_12053]
x=52
y=75
type=graphic
buttontype=normal
width=20
height=20
overlayer=component_12063
script1op1=inv_count,inventory:inv,airrune
script1op2=inv_count,inventory:inv,smokerune
script1op3=inv_count,inventory:inv,mistrune
script1op4=inv_count,inventory:inv,dustrune
script1op5=inv_contains,wornitems:wear,staff_of_air
script1op6=inv_contains,wornitems:wear,air_battlestaff
script1op7=inv_contains,wornitems:wear,mystic_air_staff
script2op1=inv_count,inventory:inv,bloodrune
script3op1=stat_level,magic
script1=gt,4
script2=gt,0
script3=gt,61
graphic=magicoff,31
activegraphic=magicon,31

[component_12054]
x=116
y=75
type=graphic
buttontype=normal
width=20
height=20
overlayer=component_12071
script1op1=inv_count,inventory:inv,waterrune
script1op2=inv_count,inventory:inv,steamrune
script1op3=inv_count,inventory:inv,mistrune
script1op4=inv_count,inventory:inv,mudrune
script1op5=inv_contains,wornitems:wear,staff_of_water
script1op6=inv_contains,wornitems:wear,water_battlestaff
script1op7=inv_contains,wornitems:wear,mystic_water_staff
script1op8=inv_contains,wornitems:wear,mud_battlestaff
script1op9=inv_contains,wornitems:wear,mystic_mud_staff
script2op1=inv_count,inventory:inv,airrune
script2op2=inv_count,inventory:inv,smokerune
script2op3=inv_count,inventory:inv,mistrune
script2op4=inv_count,inventory:inv,dustrune
script2op5=inv_contains,wornitems:wear,staff_of_air
script2op6=inv_contains,wornitems:wear,air_battlestaff
script2op7=inv_contains,wornitems:wear,mystic_air_staff
script3op1=inv_count,inventory:inv,bloodrune
script4op1=stat_level,magic
script1=gt,6
script2=gt,4
script3=gt,0
script4=gt,64
graphic=magicoff,33
activegraphic=magicon,33

[component_12055]
x=52
y=126
type=graphic
buttontype=normal
width=20
height=20
overlayer=component_12081
script1op1=inv_count,inventory:inv,earthrune
script1op2=inv_count,inventory:inv,dustrune
script1op3=inv_count,inventory:inv,lavarune
script1op4=inv_count,inventory:inv,mudrune
script1op5=inv_contains,wornitems:wear,staff_of_earth
script1op6=inv_contains,wornitems:wear,earth_battlestaff
script1op7=inv_contains,wornitems:wear,mystic_earth_staff
script1op8=inv_contains,wornitems:wear,lava_battlestaff
script1op9=inv_contains,wornitems:wear,mystic_lava_staff
script1op10=inv_contains,wornitems:wear,mud_battlestaff
script1op11=inv_contains,wornitems:wear,mystic_mud_staff
script2op1=inv_count,inventory:inv,airrune
script2op2=inv_count,inventory:inv,smokerune
script2op3=inv_count,inventory:inv,mistrune
script2op4=inv_count,inventory:inv,dustrune
script2op5=inv_contains,wornitems:wear,staff_of_air
script2op6=inv_contains,wornitems:wear,air_battlestaff
script2op7=inv_contains,wornitems:wear,mystic_air_staff
script3op1=inv_count,inventory:inv,bloodrune
script4op1=stat_level,magic
script1=gt,6
script2=gt,4
script3=gt,0
script4=gt,69
graphic=magicoff,36
activegraphic=magicon,36

[component_12056]
x=116
y=126
type=graphic
buttontype=normal
width=20
height=20
overlayer=component_12091
script1op1=inv_count,inventory:inv,firerune
script1op2=inv_count,inventory:inv,steamrune
script1op3=inv_count,inventory:inv,smokerune
script1op4=inv_count,inventory:inv,lavarune
script1op5=inv_contains,wornitems:wear,staff_of_fire
script1op6=inv_contains,wornitems:wear,fire_battlestaff
script1op7=inv_contains,wornitems:wear,mystic_fire_staff
script1op8=inv_contains,wornitems:wear,lava_battlestaff
script1op9=inv_contains,wornitems:wear,mystic_lava_staff
script2op1=inv_count,inventory:inv,airrune
script2op2=inv_count,inventory:inv,smokerune
script2op3=inv_count,inventory:inv,mistrune
script2op4=inv_count,inventory:inv,dustrune
script2op5=inv_contains,wornitems:wear,staff_of_air
script2op6=inv_contains,wornitems:wear,air_battlestaff
script2op7=inv_contains,wornitems:wear,mystic_air_staff
script3op1=inv_count,inventory:inv,bloodrune
script4op1=stat_level,magic
script1=gt,6
script2=gt,4
script3=gt,0
script4=gt,74
graphic=magicoff,37
activegraphic=magicon,37

[component_12057]
x=3
y=178
type=layer
width=186
height=85

[component_12058]
layer=component_12057
x=3
y=9
type=rect
width=178
height=72
colour=0x726451
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12059]
layer=component_12057
x=4
y=10
type=rect
width=176
height=70
colour=0x726451
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12060]
layer=component_12057
x=4
y=10
type=rect
width=177
height=71
colour=0x2E2B23
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12061]
layer=component_12057
x=5
y=11
type=rect
width=174
height=68
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13537]
x=34
y=213
type=text
width=120
height=14
center=yes
font=p12_full
shadowed=yes
text=Select a Combat Spell
colour=0xB0A392
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12063]
x=5
y=184
type=layer
width=182
height=76
hide=yes

[component_13538]
layer=component_12063
x=3
y=5
type=rect
width=174
height=68
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12065]
layer=component_12063
x=3
y=4
type=text
width=174
height=16
center=yes
font=p12_full
shadowed=yes
text=Level 62 : Wind Wave
colour=0xFFF000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12066]
layer=component_12063
x=3
y=17
type=text
width=174
height=15
center=yes
font=p11_full
shadowed=yes
text=A high level Air missile
colour=0x6B6F33
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13539]
layer=component_12063
x=38
y=35
type=model
width=28
height=28
model=obj_airrune
zoom=900
xan=512
yan=1024

[component_12067]
layer=component_12063
x=114
y=35
type=model
width=28
height=28
model=obj_bloodrune
zoom=900
xan=512
yan=1024

[component_12068]
layer=component_12063
x=40
y=62
type=text
width=25
height=11
script1op1=inv_count,inventory:inv,airrune
script1op2=inv_count,inventory:inv,smokerune
script1op3=inv_count,inventory:inv,mistrune
script1op4=inv_count,inventory:inv,dustrune
script1op5=inv_contains,wornitems:wear,staff_of_air
script1op6=inv_contains,wornitems:wear,air_battlestaff
script1op7=inv_contains,wornitems:wear,mystic_air_staff
script1=gt,4
center=yes
font=p11_full
shadowed=yes
text=%1/5
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[component_12069]
layer=component_12063
x=116
y=62
type=text
width=23
height=11
script1op1=inv_count,inventory:inv,bloodrune
script1=gt,0
center=yes
font=p11_full
shadowed=yes
text=%1/1
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[component_12071]
x=5
y=184
type=layer
width=182
height=76
hide=yes

[component_13540]
layer=component_12071
x=3
y=5
type=rect
width=174
height=68
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12073]
layer=component_12071
x=2
y=3
type=text
width=182
height=20
center=yes
font=p12_full
shadowed=yes
text=Level 65 : Water Wave
colour=0xFFF000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12074]
layer=component_12071
x=3
y=17
type=text
width=181
height=21
center=yes
font=p11_full
shadowed=yes
text=A high level Water missile
colour=0x6B6F33
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13541]
layer=component_12071
x=26
y=35
type=model
width=28
height=28
model=obj_waterrune
zoom=900
xan=512
yan=1024

[component_12075]
layer=component_12071
x=78
y=35
type=model
width=28
height=28
model=obj_airrune
zoom=900
xan=512
yan=1024

[component_12076]
layer=component_12071
x=130
y=35
type=model
width=28
height=28
model=obj_bloodrune
zoom=900
xan=512
yan=1024

[component_12077]
layer=component_12071
x=28
y=62
type=text
width=24
height=11
script1op1=inv_count,inventory:inv,waterrune
script1op2=inv_count,inventory:inv,steamrune
script1op3=inv_count,inventory:inv,mistrune
script1op4=inv_count,inventory:inv,mudrune
script1op5=inv_contains,wornitems:wear,staff_of_water
script1op6=inv_contains,wornitems:wear,water_battlestaff
script1op7=inv_contains,wornitems:wear,mystic_water_staff
script1op8=inv_contains,wornitems:wear,mud_battlestaff
script1op9=inv_contains,wornitems:wear,mystic_mud_staff
script1=gt,6
center=yes
font=p11_full
shadowed=yes
text=%1/7
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[component_12078]
layer=component_12071
x=80
y=62
type=text
width=25
height=11
script1op1=inv_count,inventory:inv,airrune
script1op2=inv_count,inventory:inv,smokerune
script1op3=inv_count,inventory:inv,mistrune
script1op4=inv_count,inventory:inv,dustrune
script1op5=inv_contains,wornitems:wear,staff_of_air
script1op6=inv_contains,wornitems:wear,air_battlestaff
script1op7=inv_contains,wornitems:wear,mystic_air_staff
script1=gt,4
center=yes
font=p11_full
shadowed=yes
text=%1/5
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[component_12079]
layer=component_12071
x=132
y=62
type=text
width=23
height=11
script1op1=inv_count,inventory:inv,bloodrune
script1=gt,0
center=yes
font=p11_full
shadowed=yes
text=%1/1
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[component_12081]
x=5
y=184
type=layer
width=182
height=76
hide=yes

[component_13542]
layer=component_12081
x=3
y=5
type=rect
width=174
height=68
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12083]
layer=component_12081
x=2
y=4
type=text
width=174
height=14
center=yes
font=p12_full
shadowed=yes
text=Level 70 : Earth Wave
colour=0xFFF000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12084]
layer=component_12081
x=3
y=17
type=text
width=174
height=252
center=yes
font=p11_full
shadowed=yes
text=A high level Earth missile
colour=0x6B6F33
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13543]
layer=component_12081
x=26
y=35
type=model
width=28
height=28
model=obj_earthrune
zoom=900
xan=512
yan=1024

[component_12085]
layer=component_12081
x=78
y=35
type=model
width=28
height=28
model=obj_airrune
zoom=900
xan=512
yan=1024

[component_12086]
layer=component_12081
x=130
y=35
type=model
width=28
height=28
model=obj_bloodrune
zoom=900
xan=512
yan=1024

[component_12087]
layer=component_12081
x=28
y=62
type=text
width=24
height=11
script1op1=inv_count,inventory:inv,earthrune
script1op2=inv_count,inventory:inv,dustrune
script1op3=inv_count,inventory:inv,lavarune
script1op4=inv_count,inventory:inv,mudrune
script1op5=inv_contains,wornitems:wear,staff_of_earth
script1op6=inv_contains,wornitems:wear,earth_battlestaff
script1op7=inv_contains,wornitems:wear,mystic_earth_staff
script1op8=inv_contains,wornitems:wear,lava_battlestaff
script1op9=inv_contains,wornitems:wear,mystic_lava_staff
script1op10=inv_contains,wornitems:wear,mud_battlestaff
script1op11=inv_contains,wornitems:wear,mystic_mud_staff
script1=gt,6
center=yes
font=p11_full
shadowed=yes
text=%1/7
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[component_12088]
layer=component_12081
x=80
y=62
type=text
width=25
height=11
script1op1=inv_count,inventory:inv,airrune
script1op2=inv_count,inventory:inv,smokerune
script1op3=inv_count,inventory:inv,mistrune
script1op4=inv_count,inventory:inv,dustrune
script1op5=inv_contains,wornitems:wear,staff_of_air
script1op6=inv_contains,wornitems:wear,air_battlestaff
script1op7=inv_contains,wornitems:wear,mystic_air_staff
script1=gt,4
center=yes
font=p11_full
shadowed=yes
text=%1/5
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[component_12089]
layer=component_12081
x=132
y=62
type=text
width=23
height=11
script1op1=inv_count,inventory:inv,bloodrune
script1=gt,0
center=yes
font=p11_full
shadowed=yes
text=%1/1
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[component_12091]
x=5
y=184
type=layer
width=182
height=76
hide=yes

[component_13544]
layer=component_12091
x=3
y=5
type=rect
width=174
height=68
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12093]
layer=component_12091
x=2
y=4
type=text
width=178
height=294
center=yes
font=p12_full
shadowed=yes
text=Level 75 : Fire Wave
colour=0xFFF000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12094]
layer=component_12091
x=3
y=17
type=text
width=178
height=14
center=yes
font=p11_full
shadowed=yes
text=A high level Fire missile
colour=0x6B6F33
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13545]
layer=component_12091
x=26
y=35
type=model
width=28
height=28
model=obj_firerune
zoom=900
xan=512
yan=1024

[component_12095]
layer=component_12091
x=78
y=35
type=model
width=28
height=28
model=obj_airrune
zoom=900
xan=512
yan=1024

[component_12096]
layer=component_12091
x=130
y=35
type=model
width=28
height=28
model=obj_bloodrune
zoom=900
xan=512
yan=1024

[component_12097]
layer=component_12091
x=28
y=62
type=text
width=24
height=11
script1op1=inv_count,inventory:inv,firerune
script1op2=inv_count,inventory:inv,steamrune
script1op3=inv_count,inventory:inv,smokerune
script1op4=inv_count,inventory:inv,lavarune
script1op5=inv_contains,wornitems:wear,staff_of_fire
script1op6=inv_contains,wornitems:wear,fire_battlestaff
script1op7=inv_contains,wornitems:wear,mystic_fire_staff
script1op8=inv_contains,wornitems:wear,lava_battlestaff
script1op9=inv_contains,wornitems:wear,mystic_lava_staff
script1=gt,6
center=yes
font=p11_full
shadowed=yes
text=%1/7
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[component_12098]
layer=component_12091
x=80
y=62
type=text
width=25
height=11
script1op1=inv_count,inventory:inv,airrune
script1op2=inv_count,inventory:inv,smokerune
script1op3=inv_count,inventory:inv,mistrune
script1op4=inv_count,inventory:inv,dustrune
script1op5=inv_contains,wornitems:wear,staff_of_air
script1op6=inv_contains,wornitems:wear,air_battlestaff
script1op7=inv_contains,wornitems:wear,mystic_air_staff
script1=gt,4
center=yes
font=p11_full
shadowed=yes
text=%1/5
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[component_12099]
layer=component_12091
x=132
y=62
type=text
width=23
height=11
script1op1=inv_count,inventory:inv,bloodrune
script1=gt,0
center=yes
font=p11_full
shadowed=yes
text=%1/1
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[component_12101]
x=143
y=169
type=text
buttontype=normal
width=36
height=14
font=p12_full
shadowed=yes
text=cancel
colour=0x808080
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12102]
x=5
y=184
type=layer
width=182
height=76
hide=yes

[component_13546]
layer=component_12102
x=3
y=5
type=rect
width=174
height=68
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12104]
layer=component_12102
x=2
y=4
type=text
width=175
height=15
center=yes
font=p12_full
shadowed=yes
text=Level 50 : Magic Dart
colour=0xFFF000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12105]
layer=component_12102
x=3
y=17
type=text
width=174
height=12
center=yes
font=p11_full
shadowed=yes
text=A magic dart of slaying
colour=0x6B6F33
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13547]
layer=component_12102
x=26
y=35
type=model
width=28
height=28
model=obj_slayer_staff
zoom=2369
xan=323
yan=459

[component_12106]
layer=component_12102
x=78
y=35
type=model
width=28
height=28
model=obj_deathrune
zoom=900
xan=512
yan=1024

[component_12107]
layer=component_12102
x=130
y=35
type=model
width=28
height=28
model=obj_mindrune
zoom=900
xan=512
yan=1024

[component_12108]
layer=component_12102
x=28
y=62
type=text
width=23
height=12
script1op1=inv_count,wornitems:wear,slayer_staff
script1=gt,0
center=yes
font=p11_full
shadowed=yes
text=%1/1
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[component_12109]
layer=component_12102
x=80
y=62
type=text
width=23
height=12
script1op1=inv_count,inventory:inv,deathrune
script1=gt,0
center=yes
font=p11_full
shadowed=yes
text=%1/1
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[component_12110]
layer=component_12102
x=132
y=62
type=text
width=24
height=12
script1op1=inv_count,inventory:inv,mindrune
script1=gt,3
center=yes
font=p11_full
shadowed=yes
text=%1/4
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[component_12112]
x=5
y=184
type=layer
width=182
height=76
hide=yes

[component_12113]
layer=component_12112
x=3
y=5
type=rect
width=174
height=68
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12114]
layer=component_12112
x=2
y=4
type=text
width=175
height=14
center=yes
font=p12_full
shadowed=yes
text=Level 39 : Crumble Undead
colour=0xFFF000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12115]
layer=component_12112
x=3
y=17
type=text
width=174
height=22
center=yes
font=p11_full
shadowed=yes
text=Hits skeletons, ghosts,\nshades & zombies hard
colour=0x6B6F33
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12116]
layer=component_12112
x=26
y=35
type=model
width=28
height=28
model=obj_earthrune
zoom=900
xan=512
yan=1024

[component_12117]
layer=component_12112
x=78
y=35
type=model
width=28
height=28
model=obj_airrune
zoom=900
xan=512
yan=1024

[component_12118]
layer=component_12112
x=130
y=35
type=model
width=28
height=28
model=obj_chaosrune
zoom=900
xan=512
yan=1024

[component_12119]
layer=component_12112
x=28
y=62
type=text
width=26
height=12
script1op1=inv_count,inventory:inv,earthrune
script1op2=inv_count,inventory:inv,dustrune
script1op3=inv_count,inventory:inv,lavarune
script1op4=inv_count,inventory:inv,mudrune
script1op5=inv_contains,wornitems:wear,staff_of_earth
script1op6=inv_contains,wornitems:wear,earth_battlestaff
script1op7=inv_contains,wornitems:wear,mystic_earth_staff
script1op8=inv_contains,wornitems:wear,lava_battlestaff
script1op9=inv_contains,wornitems:wear,mystic_lava_staff
script1op10=inv_contains,wornitems:wear,mud_battlestaff
script1op11=inv_contains,wornitems:wear,mystic_mud_staff
script1=gt,1
center=yes
font=p11_full
shadowed=yes
text=%1/2
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[component_12120]
layer=component_12112
x=80
y=62
type=text
width=26
height=12
script1op1=inv_count,inventory:inv,airrune
script1op2=inv_count,inventory:inv,smokerune
script1op3=inv_count,inventory:inv,mistrune
script1op4=inv_count,inventory:inv,dustrune
script1op5=inv_contains,wornitems:wear,staff_of_air
script1op6=inv_contains,wornitems:wear,air_battlestaff
script1op7=inv_contains,wornitems:wear,mystic_air_staff
script1=gt,1
center=yes
font=p11_full
shadowed=yes
text=%1/2
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[component_12121]
layer=component_12112
x=132
y=62
type=text
width=23
height=11
script1op1=inv_count,inventory:inv,chaosrune
script1=gt,0
center=yes
font=p11_full
shadowed=yes
text=%1/1
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[component_12052]
x=52
y=23
type=graphic
buttontype=normal
width=20
height=20
overlayer=component_12112
script1op1=inv_count,inventory:inv,earthrune
script1op2=inv_count,inventory:inv,dustrune
script1op3=inv_count,inventory:inv,lavarune
script1op4=inv_count,inventory:inv,mudrune
script1op5=inv_contains,wornitems:wear,staff_of_earth
script1op6=inv_contains,wornitems:wear,earth_battlestaff
script1op7=inv_contains,wornitems:wear,mystic_earth_staff
script1op8=inv_contains,wornitems:wear,lava_battlestaff
script1op9=inv_contains,wornitems:wear,mystic_lava_staff
script1op10=inv_contains,wornitems:wear,mud_battlestaff
script1op11=inv_contains,wornitems:wear,mystic_mud_staff
script2op1=inv_count,inventory:inv,airrune
script2op2=inv_count,inventory:inv,smokerune
script2op3=inv_count,inventory:inv,mistrune
script2op4=inv_count,inventory:inv,dustrune
script2op5=inv_contains,wornitems:wear,staff_of_air
script2op6=inv_contains,wornitems:wear,air_battlestaff
script2op7=inv_contains,wornitems:wear,mystic_air_staff
script3op1=inv_count,inventory:inv,chaosrune
script4op1=stat_level,magic
script1=gt,1
script2=gt,1
script3=gt,0
script4=gt,38
graphic=magicoff,19
activegraphic=magicon,19
