type=layer
width=512
height=334

[component_12347]
x=-1
y=0
type=rect
width=512
height=334
trans=120
fill=yes
colour=0x202020
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12348]
x=427
y=7
type=text
buttontype=close
width=74
height=14
font=p12_full
text=Close Window
colour=0xAEADA7
activecolour=0x000000
overcolour=0xCFCDC0
activeovercolour=0x000000

[component_12360]
x=250
y=122
type=graphic
width=36
height=36
overlayer=component_12370
graphic=miscgraphics,4

[component_12361]
x=227
y=122
type=graphic
width=36
height=36
overlayer=component_12370
graphic=miscgraphics,4

[component_12362]
x=205
y=122
type=graphic
width=36
height=36
overlayer=component_12370
graphic=miscgraphics,4

[component_12363]
x=271
y=122
type=graphic
width=36
height=36
overlayer=component_12370
graphic=miscgraphics,6

[component_12366]
x=48
y=69
type=layer
width=395
height=235

[component_12349]
layer=component_12366
x=39
y=162
type=model
width=32
height=32
model=obj_favour_dummy_key
zoom=238
xan=328
yan=20

[component_12350]
layer=component_12366
x=191
y=37
type=model
width=32
height=32
model=com_i368
zoom=234
xan=207
yan=309

[component_12351]
layer=component_12366
x=39
y=162
type=model
width=32
height=32
model=obj_favour_dummy_key
zoom=238
xan=328
yan=20

[component_12352]
layer=component_12366
x=95
y=185
type=model
width=32
height=32
model=obj_favour_dummy_key
zoom=308
xan=328
yan=20

[component_12353]
layer=component_12366
x=152
y=187
type=model
width=32
height=32
model=obj_favour_dummy_key
zoom=441
xan=328
yan=20

[component_12354]
layer=component_12366
x=205
y=181
type=model
width=32
height=32
model=obj_favour_dummy_key
zoom=616
xan=328
yan=20

[component_12355]
layer=component_12366
x=253
y=171
type=model
width=32
height=32
model=obj_favour_dummy_key
zoom=700
xan=328
yan=20

[component_12356]
layer=component_12366
x=295
y=149
type=model
width=32
height=32
model=obj_favour_dummy_key
zoom=700
xan=328
yan=20

[component_12357]
layer=component_12366
x=343
y=82
type=model
buttontype=normal
width=43
height=47
overlayer=component_12372
model=com_i369
zoom=1451
xan=513
yan=1887

[component_12358]
layer=component_12366
x=157
y=11
type=text
width=100
height=14
center=yes
font=b12_full
shadowed=yes
text=**********
colour=0xA6A692
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12359]
layer=component_12366
x=119
y=30
type=text
width=168
height=12
center=yes
font=p11_full
shadowed=yes
text=************************
colour=0xA6A692
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12364]
layer=component_12366
x=168
y=66
type=text
buttontype=normal
width=81
height=12
font=p11_full
shadowed=yes
text=Remove this key
colour=0xA6A692
activecolour=0x000000
overcolour=0xF8BF888
activeovercolour=0x000000

[component_12365]
layer=component_12366
x=156
y=94
type=text
width=105
height=12
center=yes
font=p11_full
shadowed=yes
text=***************
colour=0xA6A692
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12371]
layer=component_12366
x=-11
y=68
type=model
buttontype=normal
width=54
height=71
overlayer=component_12368
model=com_i370
zoom=1035
xan=593
yan=153

[component_12368]
x=36
y=136
type=layer
width=54
height=71
hide=yes

[component_12369]
layer=component_12368
x=12
y=20
type=model
width=32
height=32
model=com_i371
zoom=1035
xan=593
yan=153

[component_12370]
x=214
y=134
type=layer
width=85
height=15
hide=yes

[component_12367]
layer=component_12370
x=2
y=1
type=text
buttontype=normal
width=81
height=12
font=p11_full
shadowed=yes
text=Remove this key
colour=0xF8BF888
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12372]
x=382
y=135
type=layer
width=54
height=71
hide=yes

[component_12373]
layer=component_12372
x=14
y=23
type=model
width=32
height=32
model=com_i372
zoom=1451
xan=513
yan=1887
