type=layer
width=512
height=334

[component_14207]
x=384
y=14
type=model
width=32
height=32
model=com_i556
zoom=400
xan=251
yan=2041

[component_14208]
x=456
y=19
type=model
width=32
height=32
model=com_i557
zoom=537
xan=236
yan=2046

[component_14210]
x=351
y=17
type=layer
width=140
height=20

[component_14209]
layer=component_14210
x=108
y=2
type=text
width=29
height=12
script1op1=push_varbit,favour_percentage
font=p11_full
shadowed=yes
text=%1 %
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14211]
layer=component_14210
x=10
y=2
type=text
width=95
height=12
font=p11_full
shadowed=yes
text=@gre@* @yel@Tai Bwo Favour @gre@*
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
