type=layer
width=512
height=334

[component_14201]
x=95
y=37
type=rect
width=300
height=170
fill=yes
colour=0x808040
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14202]
x=223
y=215
type=model
width=32
height=32
model=com_i553
zoom=404
xan=523
yan=0

[component_14203]
x=102
y=41
type=inv
width=7
height=4
draggable=yes
margin=10,4
option1=@gre@Value
option2=Pack @red@1
option3=Pack @red@5
option4=Pack @red@All
option5=Pack @red@X

[component_14204]
x=457
y=12
type=text
buttontype=close
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_14205]
x=131
y=186
type=text
width=226
height=17
font=q8_full
shadowed=yes
text=@yel@Tai Bwo Wannai @red@ Parcel Service
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
