type=layer
width=512
height=334

[component_12469]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12470]
x=15
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12471]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12472]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12473]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12474]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12475]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12476]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12477]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12478]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12479]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12480]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12481]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12482]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12483]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12484]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12485]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12486]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12487]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12488]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12489]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12490]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12491]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12492]
x=359
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12493]
x=364
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12494]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12495]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12496]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12497]
x=406
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12498]
x=412
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[component_12499]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[component_12500]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_12501]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_12502]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_12503]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_12504]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_12505]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_12506]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[component_12507]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_12508]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_12509]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_12510]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_12511]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_12512]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_12513]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[component_12514]
x=73
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12515]
x=109
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12516]
x=145
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12517]
x=181
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12518]
x=217
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12519]
x=253
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12520]
x=289
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12521]
x=325
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12522]
x=361
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12523]
x=397
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12524]
x=433
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12525]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12526]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12527]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12528]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12529]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12530]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12531]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12532]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12533]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12534]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12535]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12536]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12537]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12538]
x=37
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12539]
x=12
y=290
type=graphic
width=25
height=30
graphic=steelborder,2

[component_12540]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[component_12541]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12542]
x=475
y=290
type=graphic
width=25
height=30
graphic=steelborder,3

[component_12543]
x=439
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12544]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12545]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12546]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12547]
x=396
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12548]
x=432
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12549]
x=459
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12550]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12551]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12552]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12553]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12554]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12555]
x=36
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12556]
x=17
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12557]
x=204
y=28
type=text
width=105
height=17
font=q8_full
shadowed=yes
text=Teleport Option
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12558]
x=164
y=108
type=text
width=185
height=14
center=yes
font=b12_full
shadowed=yes
text=%1
colour=0xF99B15
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12559]
x=164
y=136
type=text
width=185
height=14
font=b12_full
shadowed=yes
text=...wants to teleport you to...
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12560]
x=164
y=168
type=text
width=185
height=14
center=yes
font=b12_full
shadowed=yes
text=%2
colour=0xF99B15
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12561]
x=164
y=232
type=text
width=185
height=14
center=yes
font=b12_full
shadowed=yes
text=Do you accept?
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12562]
x=432
y=32
type=graphic
width=57
height=13
graphic=sworddecor,0

[component_12563]
x=24
y=32
type=graphic
width=57
height=13
graphic=sworddecor,1

[component_12564]
x=160
y=255
type=layer
width=87
height=52

[component_12566]
layer=component_12564
x=10
y=10
type=rect
buttontype=normal
width=66
height=31
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Accept

[component_12567]
layer=component_12564
x=25
y=18
type=text
width=39
height=14
font=p12_full
shadowed=yes
text=Accept
colour=0x00C000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12570]
layer=component_12564
x=25
y=-11
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12573]
layer=component_12564
x=4
y=4
type=graphic
width=25
height=30
graphic=steelborder,0

[component_12575]
layer=component_12564
x=57
y=4
type=graphic
width=25
height=30
graphic=steelborder,1

[component_12577]
layer=component_12564
x=4
y=17
type=graphic
width=25
height=30
graphic=steelborder,2

[component_12579]
layer=component_12564
x=57
y=17
type=graphic
width=25
height=30
graphic=steelborder,3

[component_12580]
layer=component_12564
x=26
y=26
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12565]
x=267
y=255
type=layer
width=88
height=52

[component_12568]
layer=component_12565
x=10
y=10
type=rect
buttontype=normal
width=66
height=31
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Decline

[component_12569]
layer=component_12565
x=24
y=18
type=text
width=40
height=14
font=p12_full
shadowed=yes
text=Decline
colour=0xC00000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12571]
layer=component_12565
x=25
y=-11
type=graphic
width=36
height=36
graphic=steelborder2,0

[component_12572]
layer=component_12565
x=27
y=26
type=graphic
width=36
height=36
graphic=miscgraphics,3

[component_12574]
layer=component_12565
x=4
y=4
type=graphic
width=25
height=30
graphic=steelborder,0

[component_12576]
layer=component_12565
x=57
y=4
type=graphic
width=25
height=30
graphic=steelborder,1

[component_12578]
layer=component_12565
x=4
y=17
type=graphic
width=25
height=30
graphic=steelborder,2

[component_12581]
layer=component_12565
x=57
y=17
type=graphic
width=25
height=30
graphic=steelborder,3

[component_12582]
x=400
y=66
type=model
width=31
height=27
model=spot_teleport_other_impact
anim=teleport_other_interface_right
zoom=768
xan=1024
yan=0

[component_12583]
x=84
y=266
type=model
width=32
height=32
model=spot_teleport_other_impact
anim=teleport_other_interface
zoom=768
xan=0
yan=0
