type=layer
width=512
height=334

[component_12284]
x=0
y=0
type=rect
width=512
height=334
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12285]
x=237
y=59
type=text
width=28
height=14
center=yes
font=b12_full
shadowed=yes
text=Text
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
