type=layer
width=512
height=334

[component_15489]
x=34
y=275
type=layer
width=450
height=24
hide=yes

[component_15490]
layer=component_15489
x=0
y=0
type=text
width=450
height=24
center=yes
font=p12_full
shadowed=yes
text=Text
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
