type=layer
width=512
height=334

[component_12803]
x=21
y=0
type=text
width=441
height=17
center=yes
font=q8_full
text=Line1
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12804]
x=21
y=16
type=text
width=441
height=17
center=yes
font=q8_full
text=Line2
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12805]
x=21
y=32
type=text
width=441
height=17
center=yes
font=q8_full
text=Line3
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12806]
x=21
y=48
type=text
width=441
height=17
center=yes
font=q8_full
text=Line4
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12807]
x=21
y=64
type=text
width=441
height=17
center=yes
font=q8_full
text=Line5
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
