type=layer
width=512
height=334

[component_04559]
x=241
y=127
type=model
width=35
height=35
model=com_i145
zoom=477
xan=498
yan=1

[component_04560]
x=241
y=127
type=model
width=35
height=35
model=com_i146
activemodel=com_i147
zoom=477
xan=498
yan=1

[component_04561]
x=241
y=127
type=model
width=35
height=35
model=com_i148
zoom=477
xan=498
yan=1

[component_04562]
x=434
y=9
type=text
buttontype=normal
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[component_04563]
x=253
y=11
type=text
width=20
height=17
center=yes
font=q8_full
shadowed=yes
text=%1
colour=0xFF981F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_04657]
x=28
y=55
type=layer
width=201
height=241
hide=yes

[component_04658]
layer=component_04657
x=87
y=-9
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_04659]
x=29
y=56
type=layer
width=201
height=241
hide=yes

[component_04660]
layer=component_04659
x=86
y=6
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_04661]
x=28
y=54
type=layer
width=201
height=241
hide=yes

[component_04662]
layer=component_04661
x=87
y=24
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_04663]
x=28
y=54
type=layer
width=201
height=241
hide=yes

[component_04664]
layer=component_04663
x=87
y=40
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_04665]
x=28
y=54
type=layer
width=201
height=241
hide=yes

[component_04666]
layer=component_04665
x=87
y=56
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_04667]
x=28
y=54
type=layer
width=201
height=241
hide=yes

[component_04668]
layer=component_04667
x=87
y=72
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_04669]
x=28
y=54
type=layer
width=201
height=241
hide=yes

[component_04670]
layer=component_04669
x=87
y=87
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_04671]
x=28
y=54
type=layer
width=201
height=241
hide=yes

[component_04672]
layer=component_04671
x=87
y=104
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_04673]
x=28
y=54
type=layer
width=201
height=241
hide=yes

[component_04674]
layer=component_04673
x=87
y=120
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_04675]
x=28
y=54
type=layer
width=201
height=241
hide=yes

[component_04676]
layer=component_04675
x=87
y=136
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_04677]
x=28
y=54
type=layer
width=201
height=241
hide=yes

[component_04678]
layer=component_04677
x=87
y=154
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_04908]
x=29
y=56
type=layer
width=201
height=241
hide=yes

[component_05991]
layer=component_04908
x=86
y=168
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_05992]
x=28
y=54
type=layer
width=201
height=241
hide=yes

[component_06166]
layer=component_05992
x=86
y=184
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_06167]
x=28
y=54
type=layer
width=201
height=241
hide=yes

[component_06168]
layer=component_06167
x=87
y=201
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_06169]
x=28
y=54
type=layer
width=201
height=241
hide=yes

[component_06170]
layer=component_06169
x=88
y=217
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_06171]
x=282
y=55
type=layer
width=201
height=241
hide=yes

[component_06172]
layer=component_06171
x=88
y=-8
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_08618]
x=282
y=55
type=layer
width=201
height=241
hide=yes

[component_12420]
layer=component_08618
x=88
y=5
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_12421]
x=282
y=55
type=layer
width=201
height=241
hide=yes

[component_12422]
layer=component_12421
x=88
y=23
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_12423]
x=282
y=55
type=layer
width=201
height=241
hide=yes

[component_12750]
layer=component_12423
x=88
y=39
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_12751]
x=282
y=55
type=layer
width=201
height=241
hide=yes

[component_13295]
layer=component_12751
x=88
y=56
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_13296]
x=282
y=55
type=layer
width=201
height=241
hide=yes

[component_13297]
layer=component_13296
x=88
y=72
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_13298]
x=282
y=80
type=layer
width=201
height=241
hide=yes

[component_13299]
layer=component_13298
x=89
y=63
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_13300]
x=282
y=55
type=layer
width=201
height=241
hide=yes

[component_13301]
layer=component_13300
x=89
y=104
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_13302]
x=282
y=55
type=layer
width=201
height=241
hide=yes

[component_13303]
layer=component_13302
x=89
y=120
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_13304]
x=282
y=55
type=layer
width=201
height=241
hide=yes

[component_13305]
layer=component_13304
x=89
y=135
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_13306]
x=282
y=55
type=layer
width=201
height=241
hide=yes

[component_13307]
layer=component_13306
x=88
y=151
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_13308]
x=282
y=55
type=layer
width=201
height=241
hide=yes

[component_13309]
layer=component_13308
x=88
y=168
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_13310]
x=282
y=55
type=layer
width=201
height=241
hide=yes

[component_13311]
layer=component_13310
x=88
y=184
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_13312]
x=282
y=55
type=layer
width=201
height=241
hide=yes

[component_13313]
layer=component_13312
x=88
y=199
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_13314]
x=282
y=55
type=layer
width=201
height=241
hide=yes

[component_13315]
layer=component_13314
x=88
y=215
type=model
width=32
height=32
model=com_i32
zoom=500
xan=200
yan=0

[component_13316]
x=27
y=54
type=text
width=202
height=17
font=q8_full
text=line1
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13317]
x=27
y=70
type=text
width=202
height=17
font=q8_full
text=line2
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13318]
x=27
y=86
type=text
width=202
height=17
font=q8_full
text=line3
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13319]
x=27
y=102
type=text
width=202
height=17
font=q8_full
text=line4
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13320]
x=27
y=118
type=text
width=202
height=17
font=q8_full
text=line5
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13321]
x=27
y=134
type=text
width=202
height=17
font=q8_full
text=line6
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13322]
x=27
y=150
type=text
width=202
height=17
font=q8_full
text=line7
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13323]
x=27
y=166
type=text
width=202
height=17
font=q8_full
text=line8
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13324]
x=27
y=182
type=text
width=202
height=17
font=q8_full
text=line9
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13325]
x=27
y=198
type=text
width=202
height=17
font=q8_full
text=line10
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13326]
x=27
y=214
type=text
width=202
height=17
font=q8_full
text=line11
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13327]
x=27
y=230
type=text
width=202
height=17
font=q8_full
text=line12
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13328]
x=27
y=246
type=text
width=202
height=17
font=q8_full
text=line13
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13329]
x=27
y=262
type=text
width=202
height=17
font=q8_full
text=line14
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13330]
x=27
y=278
type=text
width=202
height=17
font=q8_full
text=line15
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13331]
x=283
y=54
type=text
width=202
height=17
font=q8_full
text=line16
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13332]
x=283
y=70
type=text
width=202
height=17
font=q8_full
text=line17
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13333]
x=283
y=86
type=text
width=202
height=17
font=q8_full
text=line18
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13334]
x=283
y=102
type=text
width=202
height=17
font=q8_full
text=line19
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13335]
x=283
y=118
type=text
width=202
height=17
font=q8_full
text=line20
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13336]
x=283
y=134
type=text
width=202
height=17
font=q8_full
text=line21
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13337]
x=283
y=150
type=text
width=202
height=17
font=q8_full
text=line22
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13338]
x=283
y=166
type=text
width=202
height=17
font=q8_full
text=line23
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13339]
x=283
y=182
type=text
width=202
height=17
font=q8_full
text=line24
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13340]
x=283
y=198
type=text
width=202
height=17
font=q8_full
text=line25
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13341]
x=283
y=214
type=text
width=202
height=17
font=q8_full
text=line26
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13342]
x=283
y=230
type=text
width=202
height=17
font=q8_full
text=line27
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13343]
x=283
y=246
type=text
width=202
height=17
font=q8_full
text=line28
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13344]
x=283
y=262
type=text
width=202
height=17
font=q8_full
text=line28
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13345]
x=283
y=278
type=text
width=202
height=17
font=q8_full
text=line29
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13347]
x=94
y=298
type=layer
width=45
height=36

[component_13346]
layer=component_13347
x=0
y=-1
type=graphic
buttontype=normal
width=45
height=36
graphic=leftarrow,0

[component_13349]
x=366
y=295
type=layer
width=45
height=36

[component_13348]
layer=component_13349
x=0
y=0
type=graphic
buttontype=normal
width=45
height=36
graphic=rightarrow,0

[component_13350]
x=9
y=300
type=text
width=49
height=17
center=yes
font=q8_full
text=page%1
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_13351]
x=455
y=300
type=text
width=52
height=17
center=yes
font=q8_full
text=page%2
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
