type=layer
width=512
height=334

[component_12161]
x=34
y=275
type=layer
width=504
height=66

[component_08681]
layer=component_12161
x=35
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,1
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_08682]
layer=component_12161
x=56
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,2
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_08683]
layer=component_12161
x=77
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,3
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_08684]
layer=component_12161
x=98
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,4
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_08923]
layer=component_12161
x=119
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,5
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_08924]
layer=component_12161
x=140
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,6
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_08925]
layer=component_12161
x=161
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,7
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_08926]
layer=component_12161
x=182
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,8
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_08927]
layer=component_12161
x=203
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,9
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_08928]
layer=component_12161
x=224
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,10
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_08929]
layer=component_12161
x=245
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,11
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_08930]
layer=component_12161
x=266
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,12
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_08931]
layer=component_12161
x=287
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,13
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_08932]
layer=component_12161
x=308
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,14
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_08933]
layer=component_12161
x=329
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,15
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_12156]
layer=component_12161
x=350
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,16
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_12157]
layer=component_12161
x=371
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,17
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_12158]
layer=component_12161
x=392
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,18
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_12159]
layer=component_12161
x=413
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,19
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_12160]
layer=component_12161
x=434
y=25
type=rect
width=21
height=10
trans=128
script1op1=pushvar,tutorial_progress_overlay
script1=gt,20
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[component_12224]
x=25
y=298
type=text
width=42
height=14
font=p12_full
shadowed=yes
text=% Done
colour=0x888888
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12225]
x=214
y=313
type=text
width=134
height=14
font=p12_full
shadowed=yes
text=Tutorial Island Progress
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12226]
x=69
y=300
type=rect
width=421
height=10
trans=128
colour=0x808080
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12227]
x=0
y=206
type=layer
width=512
height=128

[component_12228]
layer=component_12227
x=228
y=29
type=model
width=32
height=32
model=com_i311
anim=pvpa_dungeon_palantir_idle
zoom=1500
xan=0
yan=0

[component_12229]
layer=component_12227
x=54
y=49
type=text
width=390
height=14
center=yes
font=b12_full
text=Please follow the instructions below
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12230]
layer=component_12227
x=54
y=64
type=text
width=390
height=14
center=yes
font=b12_full
text=to advance in the tutorial.
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
