type=layer
width=512
height=334

[component_12131]
x=230
y=122
type=model
width=32
height=32
model=com_i363
zoom=177
xan=526
yan=515

[component_12132]
x=343
y=200
type=model
width=32
height=32
model=com_i364
zoom=184
xan=493
yan=527

[component_12133]
x=149
y=197
type=model
width=32
height=32
model=com_i364
zoom=184
xan=513
yan=514

[component_12134]
x=430
y=9
type=text
buttontype=close
width=74
height=14
center=yes
font=p12_full
shadowed=yes
text=Close Window
colour=0xFEA924
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[component_12135]
x=138
y=153
type=text
width=34
height=17
center=yes
font=q8_full
shadowed=yes
text=Time
colour=0xFEA924
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12136]
x=138
y=176
type=text
width=38
height=18
center=yes
font=p12_full
shadowed=yes
text=4:17
colour=0xF4BE68
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12137]
x=341
y=177
type=text
width=23
height=14
center=yes
font=p12_full
shadowed=yes
text=300
colour=0xF4BE68
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_12138]
x=319
y=155
type=text
width=65
height=17
font=q8_full
shadowed=yes
text=XP score
colour=0xFEA924
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
