type=layer
width=512
height=334

[component_15844]
x=0
y=0
type=rect
width=541
height=373
trans=24
fill=yes
colour=0x53340C
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[component_15845]
x=236
y=319
type=model
width=32
height=32
model=loc_10673i2_8
zoom=340
xan=249
yan=0

[component_15846]
x=236
y=319
type=model
width=32
height=32
model=com_i660
zoom=340
xan=249
yan=0

[component_15848]
x=236
y=319
type=model
width=32
height=32
model=com_i661
zoom=340
xan=249
yan=0

[component_15849]
x=297
y=217
type=model
width=32
height=32
model=com_i662
zoom=400
xan=228
yan=2047

[component_15850]
x=229
y=114
type=layer
width=123
height=279
hide=yes

[component_15847]
layer=component_15850
x=7
y=205
type=model
width=32
height=32
model=com_i663
zoom=340
xan=249
yan=0

[component_15872]
layer=component_15850
x=68
y=103
type=model
width=32
height=32
model=com_i664
zoom=400
xan=228
yan=2047

[component_15851]
x=236
y=319
type=model
width=32
height=32
model=com_i665
zoom=340
xan=249
yan=0

[component_15853]
x=146
y=107
type=layer
width=206
height=341
hide=yes

[component_15852]
layer=component_15853
x=90
y=212
type=model
width=32
height=32
model=com_i666
zoom=340
xan=249
yan=0

[component_15873]
layer=component_15853
x=151
y=110
type=model
width=32
height=32
model=com_i667
zoom=400
xan=228
yan=2047

[component_15854]
x=236
y=319
type=model
width=32
height=32
model=com_i668
zoom=340
xan=249
yan=0

[component_15856]
x=58
y=118
type=layer
width=294
height=288
hide=yes

[component_15855]
layer=component_15856
x=178
y=201
type=model
width=32
height=32
model=com_i669
zoom=340
xan=249
yan=0

[component_15874]
layer=component_15856
x=239
y=99
type=model
width=32
height=32
model=com_i670
zoom=400
xan=228
yan=2047

[component_15857]
x=236
y=319
type=model
width=32
height=32
model=com_i671
zoom=340
xan=249
yan=0

[component_15859]
x=42
y=174
type=layer
width=310
height=267
hide=yes

[component_15858]
layer=component_15859
x=194
y=145
type=model
width=32
height=32
model=com_i672
zoom=340
xan=249
yan=0

[component_15875]
layer=component_15859
x=255
y=43
type=model
width=32
height=32
model=com_i673
zoom=400
xan=228
yan=2047

[component_15860]
x=236
y=319
type=model
width=32
height=32
model=com_i674
zoom=340
xan=249
yan=0

[component_15862]
x=117
y=155
type=layer
width=235
height=266
hide=yes

[component_15861]
layer=component_15862
x=119
y=164
type=model
width=32
height=32
model=com_i675
zoom=340
xan=249
yan=0

[component_15876]
layer=component_15862
x=180
y=62
type=model
width=32
height=32
model=com_i676
zoom=400
xan=228
yan=2047

[component_15863]
x=470
y=8
type=text
buttontype=close
width=31
height=14
center=yes
font=p12_full
shadowed=yes
text=Close
colour=0xFF6633
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[component_15864]
x=154
y=115
type=rect
buttontype=normal
width=65
height=56
trans=255
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Paint yellow

[component_15865]
x=188
y=171
type=rect
buttontype=normal
width=31
height=31
trans=255
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Paint yellow

[component_15866]
x=236
y=118
type=rect
buttontype=normal
width=45
height=68
trans=255
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Paint red

[component_15867]
x=65
y=125
type=rect
buttontype=normal
width=62
height=54
trans=255
colour=0x00FF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Paint green

[component_15868]
x=71
y=181
type=rect
buttontype=normal
width=46
height=52
trans=255
colour=0xFF00FF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Paint pink

[component_15869]
x=127
y=175
type=rect
buttontype=normal
width=61
height=49
trans=255
colour=0x0000FF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Paint blue

[component_15870]
x=234
y=47
type=model
width=32
height=32
model=com_i616
zoom=656
xan=524
yan=0

[component_15871]
x=204
y=54
type=text
width=90
height=17
center=yes
font=q8_full
text=Pick a colour
colour=0x333300
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
