type=layer
width=512
height=334

[com_0]
x=12
y=20
type=layer
width=488
height=36

[com_1]
layer=com_0
x=94
y=-3
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_2]
layer=com_0
x=182
y=6
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_3]
layer=com_0
x=270
y=6
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
layer=com_0
x=358
y=6
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
layer=com_0
x=394
y=6
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
layer=com_0
x=6
y=-1
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
layer=com_0
x=60
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_8]
layer=com_0
x=96
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_9]
layer=com_0
x=132
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_10]
layer=com_0
x=168
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_11]
layer=com_0
x=204
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_12]
layer=com_0
x=240
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_13]
layer=com_0
x=276
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_14]
layer=com_0
x=312
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_15]
layer=com_0
x=348
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_16]
layer=com_0
x=384
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_17]
layer=com_0
x=420
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_18]
layer=com_0
x=428
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_19]
layer=com_0
x=0
y=0
type=graphic
width=25
height=30
graphic=steelborder,0

[com_20]
layer=com_0
x=60
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_21]
layer=com_0
x=96
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_22]
layer=com_0
x=132
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_23]
layer=com_0
x=168
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_24]
layer=com_0
x=204
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_25]
layer=com_0
x=240
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_26]
layer=com_0
x=276
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_27]
layer=com_0
x=312
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_28]
layer=com_0
x=348
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_29]
layer=com_0
x=384
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_30]
layer=com_0
x=420
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_31]
layer=com_0
x=25
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_32]
layer=com_0
x=463
y=0
type=graphic
width=25
height=30
graphic=steelborder,1

[com_33]
layer=com_0
x=427
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_34]
layer=com_0
x=463
y=7
type=graphic
width=25
height=30
graphic=steelborder,3

[com_35]
layer=com_0
x=25
y=16
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_36]
layer=com_0
x=0
y=7
type=graphic
width=25
height=30
graphic=steelborder,2

[com_37]
x=241
y=150
type=model
width=35
height=35
model=com_i31
zoom=465
xan=503
yan=1

[com_38]
x=75
y=30
type=text
width=360
height=14
center=yes
font=b12_full
shadowed=yes
text=The Blurberry Cocktail Guide
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_39]
x=424
y=28
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0xC00000
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[cook_obj]
x=122
y=142
type=model
width=32
height=32
zoom=260
xan=124
yan=1916

[page_title]
x=63
y=71
type=text
width=150
height=17
center=yes
font=q8_full
text=title1
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[leftarrow_layer]
x=18
y=298
type=layer
width=45
height=36

[leftarrow]
layer=leftarrow_layer
x=0
y=0
type=graphic
buttontype=normal
width=45
height=36
graphic=leftarrow,0

[rightarrow_layer]
x=448
y=298
type=layer
width=45
height=36

[rightarrow]
layer=rightarrow_layer
x=0
y=0
type=graphic
buttontype=normal
width=45
height=36
graphic=rightarrow,0

[index]
x=20
y=28
type=text
buttontype=normal
width=28
height=11
font=p11_full
shadowed=yes
text=Index
colour=0xC00000
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[text_left]
x=20
y=160
type=text
width=230
height=17
font=q8_full
text=line1
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_48]
x=20
y=176
type=text
width=230
height=17
font=q8_full
text=line2
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_49]
x=20
y=192
type=text
width=230
height=17
font=q8_full
text=line3
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_50]
x=20
y=208
type=text
width=230
height=17
font=q8_full
text=line4
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_51]
x=20
y=224
type=text
width=230
height=17
font=q8_full
text=line5
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_52]
x=20
y=240
type=text
width=230
height=17
font=q8_full
text=line6
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_53]
x=20
y=256
type=text
width=230
height=17
font=q8_full
text=line7
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_54]
x=20
y=272
type=text
width=230
height=17
font=q8_full
text=line8
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text_right]
x=285
y=80
type=text
width=215
height=17
font=q8_full
text=line1
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_56]
x=285
y=100
type=text
width=215
height=17
font=q8_full
text=line2
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_57]
x=285
y=120
type=text
width=215
height=17
font=q8_full
text=line3
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_58]
x=285
y=140
type=text
width=215
height=17
font=q8_full
text=line4
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_59]
x=285
y=160
type=text
width=215
height=17
font=q8_full
text=line5
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_60]
x=285
y=180
type=text
width=215
height=17
font=q8_full
text=line6
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_61]
x=285
y=200
type=text
width=215
height=17
font=q8_full
text=line7
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_62]
x=285
y=220
type=text
width=215
height=17
font=q8_full
text=line8
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_63]
x=285
y=240
type=text
width=215
height=17
font=q8_full
text=line9
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_64]
x=285
y=260
type=text
width=215
height=17
font=q8_full
text=line10
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_65]
x=285
y=280
type=text
width=215
height=17
font=q8_full
text=line11
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
