type=layer
width=512
height=334

[com_0]
x=244
y=152
type=model
width=35
height=35
model=com_i44
zoom=651
xan=2041
yan=6

[title]
x=120
y=110
type=text
width=276
height=17
center=yes
font=q8_full
shadowed=yes
text=Choose the stat you wish to be advanced!
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[close]
x=433
y=12
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[attack]
x=148
y=140
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,1
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Attack

[strength]
x=180
y=140
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,2
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Strength

[ranged]
x=212
y=140
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,3
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Ranged

[magic]
x=244
y=140
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,4
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Magic

[defence]
x=276
y=140
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,5
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Defence

[hitpoints]
x=308
y=140
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,6
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Hitpoints

[prayer]
x=340
y=140
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,7
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Prayer

[agility]
x=148
y=176
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,8
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Agility

[herblore]
x=180
y=176
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,9
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Herblore

[thieving]
x=212
y=176
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,10
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Thieving

[crafting]
x=244
y=176
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,11
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Crafting

[runecraft]
x=276
y=176
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,12
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Runecraft

[mining]
x=148
y=212
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,13
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Mining

[smithing]
x=180
y=212
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,14
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Smithing

[fishing]
x=212
y=212
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,15
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Fishing

[cooking]
x=244
y=212
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,16
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Cooking

[firemaking]
x=276
y=212
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,17
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Firemaking

[woodcutting]
x=308
y=212
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,18
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Woodcutting

[fletching]
x=340
y=212
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,19
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Fletching

[slayer]
x=308
y=176
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,20
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Slayer

[farming]
x=340
y=176
type=graphic
buttontype=normal
width=25
height=25
script1op1=pushvar,if1
script1=eq,21
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Farming

[confirm]
x=232
y=244
type=text
buttontype=normal
width=44
height=14
font=p12_full
shadowed=yes
text=Confirm
colour=0x00C000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_25]
x=148
y=140
type=graphic
width=25
height=25
graphic=staticons,0

[com_26]
x=180
y=140
type=graphic
width=25
height=25
graphic=staticons,1

[com_27]
x=212
y=140
type=graphic
width=25
height=25
graphic=staticons,3

[com_28]
x=244
y=140
type=graphic
width=25
height=25
graphic=staticons,5

[com_29]
x=276
y=140
type=graphic
width=25
height=25
graphic=staticons,2

[com_30]
x=308
y=140
type=graphic
width=25
height=25
graphic=staticons,6

[com_31]
x=340
y=140
type=graphic
width=25
height=25
graphic=staticons,4

[com_32]
x=148
y=176
type=graphic
width=25
height=25
graphic=staticons,7

[com_33]
x=180
y=176
type=graphic
width=25
height=25
graphic=staticons,8

[com_34]
x=212
y=176
type=graphic
width=25
height=25
graphic=staticons,9

[com_35]
x=244
y=176
type=graphic
width=25
height=25
graphic=staticons,10

[com_36]
x=276
y=176
type=graphic
width=25
height=25
graphic=staticons2,0

[com_37]
x=148
y=212
type=graphic
width=25
height=25
graphic=staticons,12

[com_38]
x=180
y=212
type=graphic
width=25
height=25
graphic=staticons,13

[com_39]
x=212
y=212
type=graphic
width=25
height=25
graphic=staticons,14

[com_40]
x=244
y=212
type=graphic
width=25
height=25
graphic=staticons,15

[com_41]
x=276
y=212
type=graphic
width=25
height=25
graphic=staticons,16

[com_42]
x=308
y=212
type=graphic
width=25
height=25
graphic=staticons,17

[com_43]
x=340
y=212
type=graphic
width=25
height=25
graphic=staticons,11

[com_44]
x=308
y=176
type=graphic
width=25
height=25
graphic=staticons2,1

[com_45]
x=340
y=176
type=graphic
width=25
height=25
graphic=staticons2,2
