type=layer
width=512
height=334

[com_0]
x=2
y=5
type=graphic
width=57
height=13
graphic=sworddecor,1

[com_1]
x=421
y=5
type=graphic
width=57
height=13
graphic=sworddecor,0

[com_2]
x=8
y=3
type=text
width=464
height=17
center=yes
font=q8_full
text=What would you like to smelt?
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_3]
x=25
y=37
type=inv
width=8
height=1
margin=25,0

[com_4]
x=25
y=37
type=model
width=32
height=32
model=obj_bronze_bar
zoom=550
xan=224
yan=177

[com_5]
x=82
y=37
type=model
width=32
height=32
model=obj_bronze_bar
zoom=550
xan=224
yan=177

[com_6]
x=139
y=37
type=model
width=32
height=32
model=obj_bronze_bar
zoom=550
xan=224
yan=177

[com_7]
x=196
y=37
type=model
width=32
height=32
model=obj_bronze_bar
zoom=550
xan=224
yan=177

[com_8]
x=253
y=37
type=model
width=32
height=32
model=obj_bronze_bar
zoom=550
xan=224
yan=177

[com_9]
x=310
y=37
type=model
width=32
height=32
model=obj_bronze_bar
zoom=550
xan=224
yan=177

[com_10]
x=367
y=37
type=model
width=32
height=32
model=obj_bronze_bar
zoom=550
xan=224
yan=177

[com_11]
x=424
y=37
type=model
width=32
height=32
model=obj_bronze_bar
zoom=550
xan=224
yan=177

[com_12]
x=15
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt X @lre@Bronze

[com_13]
x=15
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 10 @lre@Bronze

[com_14]
x=15
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 5 @lre@Bronze

[com_15]
x=15
y=28
type=text
buttontype=normal
width=50
height=62
script1op1=stat_level,smithing
script1=gt,0
center=yes
font=p12_full
text=\n\n\n\nBronze
colour=0xA00000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 1 @lre@Bronze

[com_16]
x=72
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt X @lre@Iron

[com_17]
x=72
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 10 @lre@Iron

[com_18]
x=72
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 5 @lre@Iron

[com_19]
x=72
y=28
type=text
buttontype=normal
width=50
height=62
script1op1=stat_level,smithing
script1=gt,14
center=yes
font=p12_full
text=\n\n\n\nIron
colour=0xA00000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 1 @lre@Iron

[com_20]
x=129
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt X @lre@Silver

[com_21]
x=129
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 10 @lre@Silver

[com_22]
x=129
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 5 @lre@Silver

[com_23]
x=129
y=28
type=text
buttontype=normal
width=50
height=62
script1op1=stat_level,smithing
script1=gt,19
center=yes
font=p12_full
text=\n\n\n\nSilver
colour=0xA00000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 1 @lre@Silver

[com_24]
x=186
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt X @lre@Steel

[com_25]
x=186
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 10 @lre@Steel

[com_26]
x=186
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 5 @lre@Steel

[com_27]
x=186
y=28
type=text
buttontype=normal
width=50
height=62
script1op1=stat_level,smithing
script1=gt,29
center=yes
font=p12_full
text=\n\n\n\nSteel
colour=0xA00000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 1 @lre@Steel

[com_28]
x=243
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt X @lre@Gold

[com_29]
x=243
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 10 @lre@Gold

[com_30]
x=243
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 5 @lre@Gold

[com_31]
x=243
y=28
type=text
buttontype=normal
width=50
height=62
script1op1=stat_level,smithing
script1=gt,39
center=yes
font=p12_full
text=\n\n\n\nGold
colour=0xA00000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 1 @lre@Gold

[com_32]
x=300
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt X @lre@Mithril

[com_33]
x=300
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 10 @lre@Mithril

[com_34]
x=300
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 5 @lre@Mithril

[com_35]
x=300
y=28
type=text
buttontype=normal
width=50
height=62
script1op1=stat_level,smithing
script1=gt,49
center=yes
font=p12_full
text=\n\n\n\nMithril
colour=0xA00000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 1 @lre@Mithril

[com_36]
x=357
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt X @lre@Adamant

[com_37]
x=357
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 10 @lre@Adamant

[com_38]
x=357
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 5 @lre@Adamant

[com_39]
x=357
y=28
type=text
buttontype=normal
width=50
height=62
script1op1=stat_level,smithing
script1=gt,69
center=yes
font=p12_full
text=\n\n\n\nAdamant
colour=0xA00000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 1 @lre@Adamant

[com_40]
x=414
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt X @lre@Rune

[com_41]
x=414
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 10 @lre@Rune

[com_42]
x=414
y=28
type=text
buttontype=normal
width=50
height=62
center=yes
font=p12_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 5 @lre@Rune

[com_43]
x=414
y=28
type=text
buttontype=normal
width=50
height=62
script1op1=stat_level,smithing
script1=gt,84
center=yes
font=p12_full
text=\n\n\n\nRune
colour=0xA00000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Smelt 1 @lre@Rune
