type=layer
width=512
height=334

[com_0]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_1]
x=12
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_2]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_3]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_8]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_9]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_10]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_11]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_12]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_13]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_14]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_15]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_16]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_17]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_18]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_19]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_20]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_21]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_22]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_23]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_24]
x=364
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_25]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_26]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_27]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_28]
x=412
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_29]
x=412
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_30]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[com_31]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_32]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_33]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_34]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_35]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_36]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_37]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_38]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_39]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_40]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_41]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_42]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_43]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_44]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_45]
x=73
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_46]
x=109
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_47]
x=145
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_48]
x=181
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_49]
x=217
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_50]
x=253
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_51]
x=289
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_52]
x=325
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_53]
x=361
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_54]
x=397
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_55]
x=433
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_56]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_57]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_58]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_59]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_60]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_61]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_62]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_63]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_64]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_65]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_66]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_67]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_68]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_69]
x=37
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_70]
x=12
y=290
type=graphic
width=25
height=30
graphic=steelborder,2

[com_71]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[com_72]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_73]
x=475
y=290
type=graphic
width=25
height=30
graphic=steelborder,3

[com_74]
x=439
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_75]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_76]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_77]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_78]
x=396
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_79]
x=432
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_80]
x=459
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_81]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_82]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_83]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_84]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_85]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_86]
x=36
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_87]
x=17
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_88]
x=116
y=191
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,9
center=yes
font=p12_full
text=Warhammer
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_89]
x=424
y=28
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0xC00000
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_90]
x=18
y=141
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,4
center=yes
font=p12_full
text=Sword
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_91]
x=18
y=241
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,6
center=yes
font=p12_full
text=Long sword
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_92]
x=18
y=191
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,5
center=yes
font=p12_full
text=Scimitar
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_93]
x=18
y=291
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,14
center=yes
font=p12_full
text=2 hand sword
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_94]
x=73
y=219
type=text
width=34
height=14
script1op1=pushvar,smithbars
script1=gt,1
center=yes
font=p12_full
shadowed=yes
text=2bars
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_95]
x=73
y=269
type=text
width=33
height=14
script1op1=pushvar,smithbars
script1=gt,2
font=p12_full
shadowed=yes
text=3bars
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_96]
x=116
y=91
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,1
center=yes
font=p12_full
text=Axe
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_97]
x=116
y=241
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,10
center=yes
font=p12_full
text=Battle axe
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_98]
x=116
y=141
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,2
center=yes
font=p12_full
text=Mace
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_99]
x=18
y=91
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,0
center=yes
font=p12_full
text=Dagger
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_100]
x=171
y=219
type=text
width=33
height=14
script1op1=pushvar,smithbars
script1=gt,2
font=p12_full
shadowed=yes
text=3bars
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[other_layer]
x=410
y=209
type=layer
width=80
height=46

[com_101]
layer=other_layer
x=0
y=32
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,6
center=yes
font=p12_full
text=other
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_137]
layer=other_layer
x=55
y=10
type=text
width=25
height=14
script1op1=pushvar,smithbars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_103]
x=214
y=91
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,11
center=yes
font=p12_full
text=Chain body
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_104]
x=214
y=141
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,16
center=yes
font=p12_full
text=Plate legs
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_105]
x=214
y=191
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,16
center=yes
font=p12_full
text=Plate skirt
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_106]
x=214
y=241
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,18
center=yes
font=p12_full
text=Plate body
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_107]
x=312
y=91
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,3
center=yes
font=p12_full
text=Medium helm
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_108]
x=312
y=141
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,7
center=yes
font=p12_full
text=Full helm
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_109]
x=312
y=191
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,8
center=yes
font=p12_full
text=Square shield
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_110]
x=312
y=241
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,12
center=yes
font=p12_full
text=Kite shield
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_111]
x=406
y=191
type=text
width=88
height=14
script1op1=pushvar,modified_smith
script1=gt,7
center=yes
font=p12_full
text=Throwing knives
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_112]
x=410
y=91
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script2op1=pushvar,if1
script1=gt,4
script2=eq,1
center=yes
font=p12_full
text=Dart tips
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_113]
x=410
y=141
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,5
center=yes
font=p12_full
text=Arrowtips
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_114]
x=269
y=69
type=text
width=33
height=14
script1op1=pushvar,smithbars
script1=gt,2
font=p12_full
shadowed=yes
text=3bars
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_115]
x=269
y=119
type=text
width=33
height=14
script1op1=pushvar,smithbars
script1=gt,2
font=p12_full
shadowed=yes
text=3bars
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_116]
x=269
y=169
type=text
width=33
height=14
script1op1=pushvar,smithbars
script1=gt,2
font=p12_full
shadowed=yes
text=3bars
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_117]
x=269
y=219
type=text
width=33
height=14
script1op1=pushvar,smithbars
script1=gt,4
font=p12_full
shadowed=yes
text=5bars
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_118]
x=367
y=119
type=text
width=34
height=14
script1op1=pushvar,smithbars
script1=gt,1
center=yes
font=p12_full
shadowed=yes
text=2bars
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_119]
x=367
y=169
type=text
width=34
height=14
script1op1=pushvar,smithbars
script1=gt,1
center=yes
font=p12_full
shadowed=yes
text=2bars
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_120]
x=367
y=219
type=text
width=33
height=14
script1op1=pushvar,smithbars
script1=gt,2
font=p12_full
shadowed=yes
text=3bars
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_121]
x=73
y=169
type=text
width=34
height=14
script1op1=pushvar,smithbars
script1=gt,1
center=yes
font=p12_full
shadowed=yes
text=2bars
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_122]
x=12
y=30
type=text
width=488
height=14
center=yes
font=b12_full
shadowed=yes
text=What would you like to make?
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_123]
x=171
y=169
type=text
width=33
height=14
script1op1=pushvar,smithbars
script1=gt,2
font=p12_full
shadowed=yes
text=3bars
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[column1]
x=42
y=60
type=inv
width=1
height=5
margin=66,18
option1=Make
option2=Make 5
option3=Make 10

[column2]
x=140
y=60
type=inv
width=1
height=5
margin=66,18
option1=Make
option2=Make 5
option3=Make 10

[column3]
x=238
y=60
type=inv
width=1
height=5
margin=66,18
option1=Make
option2=Make 5
option3=Make 10

[column4]
x=336
y=60
type=inv
width=1
height=5
margin=66,18
option1=Make
option2=Make 5
option3=Make 10

[column5]
x=434
y=60
type=inv
width=1
height=5
margin=66,18
option1=Make set
option2=Make 5 sets
option3=Make 10 sets

[com_129]
x=73
y=119
type=text
width=25
height=14
script1op1=pushvar,smithbars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_130]
x=73
y=69
type=text
width=25
height=14
script1op1=pushvar,smithbars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_131]
x=171
y=69
type=text
width=25
height=14
script1op1=pushvar,smithbars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_132]
x=367
y=69
type=text
width=25
height=14
script1op1=pushvar,smithbars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_133]
x=465
y=69
type=text
width=25
height=14
script1op1=pushvar,smithbars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_134]
x=171
y=119
type=text
width=25
height=14
script1op1=pushvar,smithbars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_135]
x=465
y=119
type=text
width=25
height=14
script1op1=pushvar,smithbars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_136]
x=465
y=169
type=text
width=25
height=14
script1op1=pushvar,smithbars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[stud_layer]
x=410
y=259
type=layer
width=80
height=46

[com_139]
layer=stud_layer
x=0
y=32
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,6
center=yes
font=p12_full
text=Studs
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_140]
layer=stud_layer
x=55
y=10
type=text
width=25
height=14
script1op1=pushvar,smithbars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[claws_layer]
x=116
y=259
type=layer
width=89
height=46

[com_141]
layer=claws_layer
x=55
y=10
type=text
width=34
height=14
script1op1=pushvar,smithbars
script1=gt,1
center=yes
font=p12_full
shadowed=yes
text=2bars
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_142]
layer=claws_layer
x=0
y=32
type=text
width=80
height=14
script1op1=pushvar,modified_smith
script1=gt,13
center=yes
font=p12_full
text=Claws
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[column_claws]
layer=claws_layer
x=24
y=0
type=inv
width=4
height=4
option1=Make
option2=Make 5
option3=Make 10

[com_145]
x=209
y=260
type=layer
width=119
height=49

[com_146]
layer=com_145
x=55
y=10
type=text
width=25
height=14
script1op1=pushvar,smithbars
script1=gt,0
center=yes
font=p12_full
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_147]
layer=com_145
x=24
y=0
type=inv
width=4
height=4
option1=Make
option2=Make 5
option3=Make 10

[com_148]
layer=com_145
x=12
y=31
type=text
width=95
height=14
script1op1=pushvar,if2
script1=eq,1
center=yes
font=p12_full
text=Oil lantern frame
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000

[com_149]
x=367
y=269
type=text
width=25
height=14
script1op1=pushvar,smithbars
script1=gt,0
font=p12_full
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000
overcolour=0x000000
activeovercolour=0x000000

[com_150]
x=337
y=292
type=text
width=28
height=14
script1op1=pushvar,modified_smith
script1=gt,4
center=yes
font=p12_full
text=Nails
colour=0x000000
activecolour=0xFFFFFF
overcolour=0x000000
activeovercolour=0x000000
