type=layer
width=512
height=334

[com_0]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_1]
x=12
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_2]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_3]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_8]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_9]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_10]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_11]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_12]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_13]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_14]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_15]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_16]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_17]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_18]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_19]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_20]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_21]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_22]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_23]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_24]
x=364
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_25]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_26]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_27]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_28]
x=412
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_29]
x=412
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_30]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[com_31]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_32]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_33]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_34]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_35]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_36]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_37]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_38]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_39]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_40]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_41]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_42]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_43]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_44]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_45]
x=73
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_46]
x=109
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_47]
x=145
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_48]
x=217
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_49]
x=253
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_50]
x=289
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_51]
x=361
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_52]
x=397
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_53]
x=433
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_54]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_55]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_56]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_57]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_58]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_59]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_60]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_61]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_62]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_63]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_64]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_65]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_66]
x=37
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_67]
x=12
y=290
type=graphic
width=25
height=30
graphic=steelborder,2

[com_68]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[com_69]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_70]
x=475
y=290
type=graphic
width=25
height=30
graphic=steelborder,3

[com_71]
x=439
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_72]
x=288
y=42
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_73]
x=324
y=42
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_74]
x=182
y=290
type=graphic
width=25
height=30
graphic=steelborder,0

[com_75]
x=396
y=42
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_76]
x=252
y=42
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_77]
x=432
y=42
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_78]
x=458
y=42
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_79]
x=216
y=42
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_80]
x=180
y=42
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_81]
x=144
y=42
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_82]
x=108
y=42
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_83]
x=72
y=42
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_84]
x=181
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_85]
x=37
y=42
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_86]
x=360
y=42
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_87]
x=18
y=42
type=graphic
width=36
height=36
graphic=steelborder2,0

[otherinv1]
x=377
y=96
type=invtext
width=1
height=14
center=yes
font=b12_full
shadowed=yes
colour=0xFFFFFF
margin=0,2

[com_89]
x=60
y=62
type=text
width=146
height=14
font=b12_full
shadowed=yes
text=You are about to give:
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_90]
x=290
y=62
type=text
width=168
height=14
font=b12_full
shadowed=yes
text=In return you will receive:
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_91]
x=139
y=27
type=text
width=240
height=14
center=yes
font=p12_full
shadowed=yes
text=Are you sure you want to make this trade?
colour=0x00FFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_92]
x=107
y=43
type=text
width=298
height=11
font=p11_full
shadowed=yes
text=There is NO WAY to reverse a trade if you change your mind
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_93]
x=239
y=243
type=graphic
width=36
height=36
graphic=miscgraphics,2

[inv2]
x=77
y=96
type=invtext
width=2
height=14
center=yes
font=p12_full
shadowed=yes
colour=0xFFFFFF
margin=0,2

[otherinv2]
x=317
y=96
type=invtext
width=2
height=14
center=yes
font=p12_full
shadowed=yes
colour=0xFFFFFF
margin=0,2

[com_96]
x=239
y=278
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_97]
x=241
y=275
type=graphic
width=36
height=36
graphic=steelborder2,0

[inv1]
x=136
y=96
type=invtext
width=1
height=14
center=yes
font=b12_full
shadowed=yes
colour=0xFFFFFF
margin=0,2

[com_99]
x=425
y=27
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0xFF0000
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_100]
x=307
y=290
type=graphic
width=25
height=30
graphic=steelborder,1

[com_101]
x=325
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[accept]
x=188
y=296
type=rect
buttontype=normal
width=66
height=18
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_103]
x=203
y=297
type=text
width=39
height=14
font=p12_full
shadowed=yes
text=Accept
colour=0x00C000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[decline]
x=260
y=296
type=rect
buttontype=close
width=66
height=18
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_105]
x=274
y=297
type=text
width=40
height=14
font=p12_full
shadowed=yes
text=Decline
colour=0xC00000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_106]
x=239
y=99
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_107]
x=239
y=63
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_108]
x=239
y=171
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_109]
x=207
y=275
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_110]
x=239
y=207
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_111]
x=239
y=135
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_112]
x=271
y=275
type=graphic
width=36
height=36
graphic=steelborder2,0

[inv_nothing]
x=72
y=83
type=text
width=129
height=14
center=yes
font=b12_full
shadowed=yes
text=Absolutely nothing!
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[otherinv_nothing]
x=311
y=84
type=text
width=129
height=14
center=yes
font=b12_full
shadowed=yes
text=Absolutely nothing!
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
