type=layer
width=512
height=334

[com_0]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_1]
x=12
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_2]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_3]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_8]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_9]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_10]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_11]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_12]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_13]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_14]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_15]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_16]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_17]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_18]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_19]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_20]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_21]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_22]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_23]
x=364
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_24]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_25]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_26]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_27]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_28]
x=412
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_29]
x=412
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_30]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[com_31]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_32]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_33]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_34]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_35]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_36]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_37]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_38]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_39]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_40]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_41]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_42]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_43]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_44]
x=73
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_45]
x=109
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_46]
x=145
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_47]
x=181
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_48]
x=217
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_49]
x=253
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_50]
x=289
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_51]
x=325
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_52]
x=361
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_53]
x=397
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_54]
x=433
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_55]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_56]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_57]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_58]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_59]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_60]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_61]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_62]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_63]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_64]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_65]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_66]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_67]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_68]
x=37
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_69]
x=12
y=295
type=graphic
width=25
height=30
graphic=steelborder,2

[com_70]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[com_71]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_72]
x=475
y=295
type=graphic
width=25
height=30
graphic=steelborder,3

[com_73]
x=439
y=304
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_74]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_75]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_76]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_77]
x=396
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_78]
x=432
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_79]
x=459
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_80]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_81]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_82]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_83]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_84]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_85]
x=36
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_86]
x=17
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_87]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_88]
x=455
y=69
type=graphic
width=25
height=30
graphic=steelborder,1

[com_89]
x=455
y=275
type=graphic
width=25
height=30
graphic=steelborder,3

[com_90]
x=323
y=69
type=graphic
width=25
height=30
graphic=steelborder,0

[com_91]
x=323
y=275
type=graphic
width=25
height=30
graphic=steelborder,2

[com_92]
x=459
y=99
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_93]
x=459
y=135
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_94]
x=459
y=171
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_95]
x=459
y=207
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_96]
x=459
y=243
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_97]
x=419
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_98]
x=383
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_99]
x=308
y=99
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_100]
x=347
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_101]
x=308
y=135
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_102]
x=308
y=171
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_103]
x=308
y=207
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_104]
x=308
y=243
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_105]
x=419
y=54
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_106]
x=383
y=54
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_107]
x=347
y=54
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_108]
x=244
y=100
type=graphic
width=51
height=82
graphic=keys,0

[com_109]
x=329
y=75
type=rect
width=145
height=224
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_110]
x=8
y=29
type=text
width=496
height=17
center=yes
font=q8_full
shadowed=yes
text=BANK  PIN  SETTINGS
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_111]
x=460
y=29
type=text
buttontype=close
width=28
height=17
center=yes
font=q8_full
shadowed=yes
text=Exit
colour=0xFF0000
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_112]
x=328
y=75
type=text
width=147
height=19
center=yes
font=q8_full
shadowed=yes
text=Messages
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_113]
x=328
y=107
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_114]
x=328
y=123
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_115]
x=328
y=139
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_116]
x=328
y=155
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_117]
x=328
y=171
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_118]
x=328
y=187
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_119]
x=328
y=203
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_120]
x=328
y=219
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_121]
x=328
y=235
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_122]
x=328
y=251
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_123]
x=328
y=267
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_124]
x=328
y=283
type=text
width=147
height=14
center=yes
font=p12_full
colour=0xFFFF7F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_125]
x=32
y=230
type=graphic
width=25
height=30
graphic=steelborder,0

[com_126]
x=32
y=275
type=graphic
width=25
height=30
graphic=steelborder,2

[com_127]
x=271
y=275
type=graphic
width=25
height=30
graphic=steelborder,3

[com_128]
x=271
y=230
type=graphic
width=25
height=30
graphic=steelborder,1

[com_129]
x=57
y=215
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_130]
x=93
y=215
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_131]
x=129
y=215
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_132]
x=165
y=215
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_133]
x=201
y=215
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_134]
x=237
y=215
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_135]
x=57
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_136]
x=93
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_137]
x=129
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_138]
x=165
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_139]
x=201
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_140]
x=237
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_141]
x=17
y=251
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_142]
x=275
y=245
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_143]
x=38
y=236
type=layer
width=252
height=63

[com_144]
layer=com_143
x=0
y=0
type=graphic
width=104
height=104
graphic=tex_red,0

[com_145]
layer=com_143
x=104
y=0
type=graphic
width=104
height=104
graphic=tex_red,0

[com_146]
layer=com_143
x=208
y=0
type=graphic
width=90
height=98
graphic=tex_red,0

[com_147]
layer=com_143
x=0
y=0
type=layer
width=252
height=85
hide=yes

[com_148]
layer=com_147
x=0
y=11
type=text
buttontype=normal
width=252
height=17
center=yes
font=q8_full
shadowed=yes
text=Set a PIN
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFF7F00
activeovercolour=0x000000

[com_149]
layer=com_147
x=0
y=34
type=text
buttontype=normal
width=252
height=16
center=yes
font=q8_full
shadowed=yes
text=Change your recovery delay
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFF7F00
activeovercolour=0x000000

[com_150]
x=38
y=214
type=layer
width=252
height=85
hide=yes

[com_151]
layer=com_150
x=0
y=24
type=text
buttontype=normal
width=252
height=16
center=yes
font=q8_full
shadowed=yes
text=Change your PIN
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFF7F00
activeovercolour=0x000000

[com_152]
layer=com_150
x=0
y=44
type=text
buttontype=normal
width=253
height=15
center=yes
font=q8_full
shadowed=yes
text=Delete your PIN
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFF7F00
activeovercolour=0x000000

[com_153]
layer=com_150
x=0
y=64
type=text
buttontype=normal
width=252
height=15
center=yes
font=q8_full
shadowed=yes
text=Change your recovery delay
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFF7F00
activeovercolour=0x000000

[com_154]
x=38
y=236
type=layer
width=252
height=85
hide=yes

[com_155]
layer=com_154
x=0
y=23
type=text
buttontype=normal
width=252
height=15
center=yes
font=q8_full
shadowed=yes
text=Cancel the PIN that's pending
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFF7F00
activeovercolour=0x000000

[com_156]
x=32
y=69
type=graphic
width=25
height=30
graphic=steelborder,0

[com_157]
x=192
y=69
type=graphic
width=25
height=30
graphic=steelborder,1

[com_158]
x=156
y=54
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_159]
x=120
y=54
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_160]
x=84
y=54
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_161]
x=48
y=54
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_162]
x=32
y=164
type=graphic
width=25
height=30
graphic=steelborder,2

[com_163]
x=192
y=164
type=graphic
width=25
height=30
graphic=steelborder,3

[com_164]
x=17
y=99
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_165]
x=17
y=135
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_166]
x=196
y=99
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_167]
x=196
y=135
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_168]
x=57
y=173
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_169]
x=93
y=173
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_170]
x=129
y=173
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_171]
x=165
y=173
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_172]
x=38
y=75
type=layer
width=173
height=113

[com_173]
layer=com_172
x=0
y=0
type=graphic
width=104
height=104
graphic=tex_brown,0

[com_174]
layer=com_172
x=104
y=0
type=graphic
width=104
height=104
graphic=tex_brown,0

[com_175]
layer=com_172
x=0
y=104
type=graphic
width=104
height=104
graphic=tex_brown,0

[com_176]
layer=com_172
x=104
y=104
type=graphic
width=104
height=104
graphic=tex_brown,0

[com_177]
layer=com_172
x=0
y=9
type=text
width=173
height=17
center=yes
font=q8_full
shadowed=yes
text=Your Bank PIN status:
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_178]
layer=com_172
x=0
y=34
type=text
width=173
height=14
center=yes
font=b12_full
shadowed=yes
text=Unknown
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_179]
layer=com_172
x=0
y=63
type=text
width=173
height=17
center=yes
font=q8_full
shadowed=yes
text=Recovery delay:
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_180]
layer=com_172
x=0
y=88
type=text
width=173
height=14
center=yes
font=b12_full
shadowed=yes
text=X days
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_181]
x=22
y=210
type=text
width=286
height=14
font=p12_full
shadowed=yes
text=Use the buttons below to change your PIN settings
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_182]
x=8
y=8
type=layer
width=496
height=320
hide=yes

[com_183]
layer=com_182
x=10
y=18
type=rect
width=476
height=293
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_184]
layer=com_182
x=1
y=76
type=text
width=496
height=17
center=yes
font=q8_full
shadowed=yes
text=Do you really wish to do that?
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_185]
layer=com_182
x=102
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_186]
layer=com_182
x=66
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_187]
layer=com_182
x=30
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_188]
layer=com_182
x=9
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_189]
layer=com_182
x=138
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_190]
layer=com_182
x=138
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_191]
layer=com_182
x=354
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_192]
layer=com_182
x=390
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_193]
layer=com_182
x=426
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_194]
layer=com_182
x=450
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_195]
layer=com_182
x=102
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_196]
layer=com_182
x=66
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_197]
layer=com_182
x=30
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_198]
layer=com_182
x=9
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_199]
layer=com_182
x=354
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_200]
layer=com_182
x=390
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_201]
layer=com_182
x=426
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_202]
layer=com_182
x=451
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_203]
layer=com_182
x=174
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_204]
layer=com_182
x=210
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_205]
layer=com_182
x=246
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_206]
layer=com_182
x=282
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_207]
layer=com_182
x=318
y=125
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_208]
layer=com_182
x=174
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_209]
layer=com_182
x=210
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_210]
layer=com_182
x=246
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_211]
layer=com_182
x=282
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_212]
layer=com_182
x=318
y=155
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_213]
layer=com_182
x=138
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_214]
layer=com_182
x=174
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_215]
layer=com_182
x=210
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_216]
layer=com_182
x=246
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_217]
layer=com_182
x=282
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_218]
layer=com_182
x=318
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_219]
layer=com_182
x=138
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_220]
layer=com_182
x=174
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_221]
layer=com_182
x=210
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_222]
layer=com_182
x=246
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_223]
layer=com_182
x=282
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_224]
layer=com_182
x=318
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_225]
layer=com_182
x=354
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_226]
layer=com_182
x=426
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_227]
layer=com_182
x=390
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_228]
layer=com_182
x=66
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_229]
layer=com_182
x=102
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_230]
layer=com_182
x=451
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_231]
layer=com_182
x=354
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_232]
layer=com_182
x=390
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_233]
layer=com_182
x=426
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_234]
layer=com_182
x=451
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_235]
layer=com_182
x=9
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_236]
layer=com_182
x=30
y=196
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_237]
layer=com_182
x=102
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_238]
layer=com_182
x=30
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_239]
layer=com_182
x=66
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_240]
layer=com_182
x=9
y=227
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_241]
layer=com_182
x=9
y=145
type=layer
width=477
height=25

[com_242]
layer=com_241
x=1
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[com_243]
layer=com_241
x=105
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[com_244]
layer=com_241
x=209
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[com_245]
layer=com_241
x=313
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[com_246]
layer=com_241
x=417
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[com_247]
layer=com_182
x=9
y=148
type=text
buttontype=normal
width=478
height=17
center=yes
font=q8_full
shadowed=yes
text=Yes, I really want to do that.
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFF7F00
activeovercolour=0x000000

[com_248]
layer=com_182
x=9
y=216
type=layer
width=477
height=26

[com_249]
layer=com_248
x=1
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[com_250]
layer=com_248
x=105
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[com_251]
layer=com_248
x=209
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[com_252]
layer=com_248
x=313
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[com_253]
layer=com_248
x=417
y=1
type=graphic
width=104
height=104
graphic=tex_red,0

[com_254]
layer=com_182
x=9
y=220
type=text
buttontype=normal
width=478
height=17
center=yes
font=q8_full
shadowed=yes
text=No, forget I asked.
colour=0xFFFF00
activecolour=0x000000
overcolour=0xFF7F00
activeovercolour=0x000000
