type=layer
width=512
height=334

[com_0]
x=88
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_1]
x=88
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_2]
x=88
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_3]
x=88
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
x=176
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
x=176
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
x=176
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
x=176
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_8]
x=264
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_9]
x=352
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_10]
x=264
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_11]
x=264
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_12]
x=264
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_13]
x=352
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_14]
x=352
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_15]
x=352
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_16]
x=67
y=50
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_17]
x=82
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[com_18]
x=67
y=86
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_19]
x=67
y=122
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_20]
x=67
y=158
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_21]
x=67
y=194
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_22]
x=67
y=212
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_23]
x=425
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_24]
x=425
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_25]
x=425
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_26]
x=425
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_27]
x=425
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_28]
x=425
y=218
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_29]
x=107
y=245
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_30]
x=143
y=245
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_31]
x=179
y=245
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_32]
x=215
y=245
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_33]
x=251
y=245
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_34]
x=287
y=245
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_35]
x=323
y=245
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_36]
x=359
y=245
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_37]
x=388
y=245
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_38]
x=107
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_39]
x=143
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_40]
x=179
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_41]
x=215
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_42]
x=251
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_43]
x=287
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_44]
x=323
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_45]
x=359
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_46]
x=395
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_47]
x=262
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_48]
x=82
y=236
type=graphic
width=25
height=30
graphic=steelborder,2

[com_49]
x=421
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[com_50]
x=421
y=236
type=graphic
width=25
height=30
graphic=steelborder,3

[com_51]
x=298
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_52]
x=334
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_53]
x=370
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_54]
x=405
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_55]
x=226
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_56]
x=190
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_57]
x=154
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_58]
x=118
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_59]
x=87
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[title]
x=93
y=30
type=text
width=245
height=14
font=b12_full
shadowed=yes
text=The Bank of RuneScape - Deposit Box
colour=0xFF981F
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[close]
x=367
y=32
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[inv]
x=127
y=71
type=inv
width=7
height=4
draggable=yes
margin=8,10
option1=Deposit 1
option2=Deposit 5
option3=Deposit 10
option4=Deposit All
option5=Deposit X
