type=layer
width=512
height=334

[com_0]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_1]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_2]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_3]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_8]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_9]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_10]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_11]
x=324
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_12]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_13]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_14]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_15]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_16]
x=324
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_17]
x=324
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_18]
x=324
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_19]
x=324
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_20]
x=96
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[com_21]
x=81
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_22]
x=81
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_23]
x=81
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_24]
x=81
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_25]
x=81
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_26]
x=81
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_27]
x=81
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_28]
x=397
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_29]
x=397
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_30]
x=397
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_31]
x=397
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_32]
x=397
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_33]
x=397
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_34]
x=397
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_35]
x=109
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_36]
x=145
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_37]
x=181
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_38]
x=217
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_39]
x=253
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_40]
x=289
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_41]
x=325
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_42]
x=361
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_43]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_44]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_45]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_46]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_47]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_48]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_49]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_50]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_51]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_52]
x=96
y=290
type=graphic
width=25
height=30
graphic=steelborder,2

[com_53]
x=393
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[com_54]
x=393
y=290
type=graphic
width=25
height=30
graphic=steelborder,3

[com_55]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_56]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_57]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_58]
x=377
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_59]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_60]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_61]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_62]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_63]
x=101
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_64]
x=127
y=30
type=text
width=192
height=14
font=b12_full
shadowed=yes
text=What would you like to make?
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_65]
x=341
y=28
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0xC00000
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[ring_mould]
x=56
y=74
type=layer
width=400
height=66

[com_67]
layer=ring_mould
x=184
y=5
type=model
width=32
height=32
model=obj_ring_mould
zoom=571
xan=300
yan=302

[com_68]
layer=ring_mould
x=0
y=40
type=text
width=400
height=14
center=yes
font=p12_full
shadowed=yes
text=You need a ring mould to craft rings.
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[rings_title]
x=90
y=59
type=text
width=332
height=14
center=yes
font=b12_full
shadowed=yes
text=Rings
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[rings_layer]
x=56
y=84
type=layer
width=400
height=38

[rings_inv]
layer=rings_layer
x=66
y=3
type=inv
width=7
height=1
margin=8,0
option1=Make
option2=Make 5
option3=Make 10

[rings1]
layer=rings_layer
x=107
y=6
type=model
width=32
height=32
zoom=100
xan=0
yan=0

[rings2]
layer=rings_layer
x=147
y=6
type=model
width=32
height=32
zoom=100
xan=0
yan=0

[rings3]
layer=rings_layer
x=187
y=6
type=model
width=32
height=32
zoom=100
xan=0
yan=0

[rings4]
layer=rings_layer
x=227
y=6
type=model
width=32
height=32
zoom=100
xan=0
yan=0

[rings5]
layer=rings_layer
x=267
y=6
type=model
width=32
height=32
zoom=100
xan=0
yan=0

[rings6]
layer=rings_layer
x=307
y=6
type=model
width=32
height=32
zoom=100
xan=0
yan=0

[necklace_mould]
x=56
y=162
type=layer
width=400
height=66

[com_73]
layer=necklace_mould
x=184
y=7
type=model
width=32
height=32
model=obj_necklace_mould
zoom=571
xan=300
yan=302

[com_74]
layer=necklace_mould
x=0
y=40
type=text
width=400
height=14
center=yes
font=p12_full
shadowed=yes
text=You need a necklace mould to craft necklaces.
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[necklaces_title]
x=90
y=147
type=text
width=332
height=14
center=yes
font=b12_full
shadowed=yes
text=Necklaces
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[necklaces_layer]
x=56
y=172
type=layer
width=400
height=38

[necklaces_inv]
layer=necklaces_layer
x=66
y=3
type=inv
width=7
height=1
margin=8,0
option1=Make
option2=Make 5
option3=Make 10

[necklaces1]
layer=necklaces_layer
x=111
y=-4
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[necklaces2]
layer=necklaces_layer
x=151
y=-4
type=model
width=32
height=32
zoom=200
xan=0
yan=0

[necklaces3]
layer=necklaces_layer
x=191
y=-4
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[necklaces4]
layer=necklaces_layer
x=231
y=-4
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[necklaces5]
layer=necklaces_layer
x=271
y=-4
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[necklaces6]
layer=necklaces_layer
x=311
y=-4
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[amulet_mould]
x=56
y=250
type=layer
width=400
height=66

[com_79]
layer=amulet_mould
x=184
y=6
type=model
width=32
height=32
model=obj_amulet_mould
zoom=571
xan=300
yan=302

[com_80]
layer=amulet_mould
x=0
y=40
type=text
width=400
height=14
center=yes
font=p12_full
shadowed=yes
text=You need an amulet mould to craft amulets.
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[amulets_title]
x=90
y=235
type=text
width=332
height=14
center=yes
font=b12_full
shadowed=yes
text=Amulets
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[amulets_layer]
x=56
y=260
type=layer
width=400
height=38

[amulets_inv]
layer=amulets_layer
x=66
y=3
type=inv
width=7
height=1
margin=8,0
option1=Make
option2=Make 5
option3=Make 10

[amulets1]
layer=amulets_layer
x=116
y=-19
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[amulets2]
layer=amulets_layer
x=156
y=-19
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[amulets3]
layer=amulets_layer
x=196
y=-19
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[amulets4]
layer=amulets_layer
x=236
y=-19
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[amulets5]
layer=amulets_layer
x=276
y=-19
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[amulets6]
layer=amulets_layer
x=316
y=-19
type=model
width=32
height=32
zoom=400
xan=0
yan=0
