type=layer
width=512
height=334

[com_0]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_1]
x=12
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_2]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_3]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_8]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_9]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_10]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_11]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_12]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_13]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_14]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_15]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_16]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_17]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_18]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_19]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_20]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_21]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_22]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_23]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_24]
x=364
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_25]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_26]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_27]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_28]
x=412
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_29]
x=412
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_30]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[com_31]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_32]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_33]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_34]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_35]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_36]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_37]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_38]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_39]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_40]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_41]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_42]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_43]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_44]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_45]
x=73
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_46]
x=109
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_47]
x=145
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_48]
x=181
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_49]
x=217
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_50]
x=253
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_51]
x=289
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_52]
x=325
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_53]
x=361
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_54]
x=397
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_55]
x=433
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_56]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_57]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_58]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_59]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_60]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_61]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_62]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_63]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_64]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_65]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_66]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_67]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_68]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_69]
x=37
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_70]
x=12
y=290
type=graphic
width=25
height=30
graphic=steelborder,2

[com_71]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[com_72]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_73]
x=475
y=290
type=graphic
width=25
height=30
graphic=steelborder,3

[com_74]
x=439
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_75]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_76]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_77]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_78]
x=396
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_79]
x=432
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_80]
x=459
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_81]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_82]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_83]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_84]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_85]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_86]
x=36
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_87]
x=17
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_88]
x=150
y=27
type=text
width=204
height=17
center=yes
font=q8_full
text=What would you like to make?
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_89]
x=415
y=29
type=text
buttontype=normal
width=72
height=14
font=p12_full
shadowed=yes
text=Close window
colour=0x808080
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_90]
x=26
y=56
type=model
width=64
height=96
script1op1=stat_level,crafting
script1=lt,13
model=obj_leather_armour
activemodel=obj_leather_armour
zoom=400
xan=500
yan=0

[com_91]
x=22
y=76
type=text
width=72
height=100
script1op1=stat_level,crafting
script1=lt,14
center=yes
font=q8_full
shadowed=yes
text=\n\n\n\n\nArmour
colour=0x0099FF
activecolour=0xCC0000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_92]
x=21
y=100
type=text
width=4
height=4
script1op1=stat_level,crafting
script1=lt,14
font=p12_full
activetext=Not Available
colour=0x000000
activecolour=0xCC0000
overcolour=0x000000
activeovercolour=0x000000

[com_93]
x=154
y=48
type=model
width=64
height=96
script1op1=stat_level,crafting
script1=lt,1
model=obj_gauntlets_of_cooking
activemodel=obj_gauntlets_of_cooking
zoom=500
xan=500
yan=0

[com_94]
x=150
y=76
type=text
width=72
height=100
script1op1=stat_level,crafting
script1=lt,1
center=yes
font=q8_full
shadowed=yes
text=\n\n\n\n\nGloves
colour=0x0099FF
activecolour=0xCC0000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_95]
x=149
y=100
type=text
width=4
height=4
script1op1=stat_level,crafting
script1=lt,1
font=p12_full
activetext=Not Available
colour=0x000000
activecolour=0xCC0000
overcolour=0x000000
activeovercolour=0x000000

[com_96]
x=282
y=72
type=model
width=64
height=96
script1op1=stat_level,crafting
script1=lt,6
model=obj_ikov_bootsoflightness
activemodel=obj_ikov_bootsoflightness
zoom=400
xan=100
yan=100

[com_97]
x=278
y=76
type=text
width=72
height=100
script1op1=stat_level,crafting
script1=lt,7
center=yes
font=q8_full
shadowed=yes
text=\n\n\n\n\nBoots
colour=0x0099FF
activecolour=0xCC0000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_98]
x=277
y=100
type=text
width=4
height=4
script1op1=stat_level,crafting
script1=lt,7
font=p12_full
activetext=Not Available
colour=0x000000
activecolour=0xCC0000
overcolour=0x000000
activeovercolour=0x000000

[com_99]
x=432
y=52
type=model
width=64
height=96
script1op1=stat_level,crafting
script1=lt,10
model=obj_leather_vambraces
activemodel=obj_leather_vambraces
zoom=350
xan=600
yan=0

[com_100]
x=406
y=76
type=text
width=72
height=100
script1op1=stat_level,crafting
script1=lt,11
center=yes
font=q8_full
shadowed=yes
text=\n\n\n\n\nVambraces
colour=0x0099FF
activecolour=0xCC0000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_101]
x=405
y=100
type=text
width=4
height=4
script1op1=stat_level,crafting
script1=lt,11
font=p12_full
activetext=Not Available
colour=0x000000
activecolour=0xCC0000
overcolour=0x000000
activeovercolour=0x000000

[com_102]
x=92
y=190
type=model
width=64
height=96
script1op1=stat_level,crafting
script1=lt,17
model=obj_leather_chaps
activemodel=obj_leather_chaps
zoom=700
xan=500
yan=0

[com_103]
x=86
y=202
type=text
width=72
height=100
script1op1=stat_level,crafting
script1=lt,18
center=yes
font=q8_full
shadowed=yes
text=\n\n\n\n\nChaps
colour=0x0099FF
activecolour=0xCC0000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_104]
x=85
y=226
type=text
width=4
height=4
script1op1=stat_level,crafting
script1=lt,18
font=p12_full
activetext=Not Available
colour=0x000000
activecolour=0xCC0000
overcolour=0x000000
activeovercolour=0x000000

[com_105]
x=221
y=204
type=model
width=64
height=96
script1op1=stat_level,crafting
script1=lt,37
model=obj_leather_cowl
activemodel=obj_leather_cowl
zoom=350
xan=150
yan=100

[com_106]
x=214
y=202
type=text
width=72
height=100
script1op1=stat_level,crafting
script1=lt,38
center=yes
font=q8_full
shadowed=yes
text=\n\n\n\n\nCoif
colour=0x0099FF
activecolour=0xCC0000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_107]
x=213
y=226
type=text
width=4
height=4
script1op1=stat_level,crafting
script1=lt,38
font=p12_full
activetext=Not Available
colour=0x000000
activecolour=0xCC0000
overcolour=0x000000
activeovercolour=0x000000

[com_108]
x=349
y=202
type=model
width=64
height=96
script1op1=stat_level,crafting
script1=lt,9
model=com_i43
activemodel=com_i43
zoom=350
xan=150
yan=100

[com_109]
x=342
y=202
type=text
width=72
height=100
script1op1=stat_level,crafting
script1=lt,9
center=yes
font=q8_full
shadowed=yes
text=\n\n\n\n\nCowl
colour=0x0099FF
activecolour=0xCC0000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_110]
x=341
y=226
type=text
width=4
height=4
script1op1=stat_level,crafting
script1=lt,9
font=p12_full
activetext=Not Available
colour=0x000000
activecolour=0xCC0000
overcolour=0x000000
activeovercolour=0x000000

[com_111]
x=22
y=76
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make 10 @lre@Leather bodies

[com_112]
x=22
y=76
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make 5 @lre@Leather bodies

[com_113]
x=22
y=76
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make @lre@Leather body

[com_114]
x=150
y=76
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make 10 pairs of @lre@Leather gloves

[com_115]
x=150
y=76
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make 5 pairs of @lre@Leather gloves

[com_116]
x=150
y=76
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make pair of @lre@Leather gloves

[com_117]
x=278
y=76
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make 10 pairs of @lre@Leather boots

[com_118]
x=278
y=76
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make 5 pairs of @lre@Leather boots

[com_119]
x=278
y=76
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make pair of @lre@Leather boots

[com_120]
x=406
y=76
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make 10 pairs of @lre@Leather vambraces

[com_121]
x=406
y=76
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make 5 pairs of @lre@Leather vambraces

[com_122]
x=406
y=76
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make pair of @lre@Leather vambraces

[com_123]
x=86
y=202
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make 10 pairs of @lre@Leather chaps

[com_124]
x=86
y=202
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make 5 pairs of @lre@Leather chaps

[com_125]
x=86
y=202
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make pair of @lre@Leather chaps

[com_126]
x=214
y=202
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make 10 @lre@Coifs

[com_127]
x=214
y=202
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make 5 @lre@Coifs

[com_128]
x=214
y=202
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make @lre@Coif

[com_129]
x=342
y=202
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make 10 @lre@Cowls

[com_130]
x=342
y=202
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make 5 @lre@Cowls

[com_131]
x=342
y=202
type=text
buttontype=normal
width=72
height=100
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Make @lre@Cowl
