type=layer
width=512
height=334

[com_0]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_1]
x=394
y=239
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_2]
x=307
y=239
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_3]
x=220
y=239
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
x=132
y=239
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
x=34
y=26
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
x=34
y=86
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
x=34
y=146
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_8]
x=34
y=206
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_9]
x=34
y=239
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_10]
x=122
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_11]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_12]
x=122
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_13]
x=122
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_14]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_15]
x=118
y=239
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_16]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_17]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_18]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_19]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_20]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_21]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_22]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_23]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_24]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_25]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_26]
x=394
y=26
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_27]
x=394
y=81
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_28]
x=394
y=141
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_29]
x=394
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_30]
x=13
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_31]
x=13
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_32]
x=13
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_33]
x=13
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_34]
x=13
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_35]
x=13
y=228
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_36]
x=13
y=252
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_37]
x=467
y=51
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_38]
x=467
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_39]
x=467
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_40]
x=467
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_41]
x=50
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_42]
x=467
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_43]
x=467
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_44]
x=467
y=264
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_45]
x=81
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_46]
x=112
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_47]
x=145
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_48]
x=179
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_49]
x=213
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_50]
x=249
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_51]
x=284
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_52]
x=320
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_53]
x=355
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_54]
x=391
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_55]
x=427
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_56]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_57]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_58]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_59]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_60]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_61]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_62]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_63]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_64]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_65]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_66]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_67]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_68]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_69]
x=49
y=284
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_70]
x=28
y=275
type=graphic
width=25
height=30
graphic=steelborder,2

[com_71]
x=463
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[com_72]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_73]
x=463
y=275
type=graphic
width=25
height=30
graphic=steelborder,3

[com_74]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_75]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_76]
x=28
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[com_77]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_78]
x=396
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_79]
x=432
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_80]
x=452
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_81]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_82]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_83]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_84]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_85]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_86]
x=34
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_87]
x=200
y=29
type=text
width=92
height=14
font=b12_full
shadowed=yes
text=Silver Casting
colour=0x00FFAA44
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_88]
x=402
y=31
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0x00FFAA44
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_89]
x=67
y=68
type=layer
width=380
height=225

[com_90]
layer=com_89
x=8
y=6
type=layer
width=86
height=100

[com_91]
layer=com_90
x=26
y=3
type=inv
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[com_92]
layer=com_90
x=11
y=37
type=text
width=65
height=38
center=yes
font=p12_full
shadowed=yes
text=Make\n Saradomin \nSymbol
colour=0x00FFAA44
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_93]
layer=com_89
x=8
y=6
type=layer
width=86
height=100
hide=yes

[com_94]
layer=com_93
x=24
y=8
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[com_95]
layer=com_93
x=1
y=42
type=text
width=83
height=50
center=yes
font=p12_full
shadowed=yes
text=You need a \nHoly Symbol\n mould to make\n this item.
colour=0x00FFAA44
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_96]
layer=com_89
x=10
y=116
type=layer
width=86
height=100

[com_97]
layer=com_96
x=26
y=3
type=inv
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[com_98]
layer=com_96
x=15
y=38
type=text
width=51
height=38
center=yes
font=p12_full
shadowed=yes
text=Make\n Zamorak\nSymbol
colour=0x00FFAA44
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_99]
layer=com_89
x=10
y=116
type=layer
width=86
height=100
hide=yes

[com_100]
layer=com_99
x=24
y=8
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[com_101]
layer=com_99
x=1
y=42
type=text
width=83
height=50
center=yes
font=p12_full
shadowed=yes
text=You need an \nUnholy Symbol\n mould to make\n this item.
colour=0x00FFAA44
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_102]
layer=com_89
x=96
y=6
type=layer
width=86
height=100

[com_103]
layer=com_102
x=26
y=3
type=inv
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[com_104]
layer=com_102
x=26
y=37
type=text
width=32
height=38
center=yes
font=p12_full
shadowed=yes
text=Make\nSilver\nSickle
colour=0x00FFAA44
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_105]
layer=com_89
x=96
y=6
type=layer
width=86
height=100
hide=yes

[com_106]
layer=com_105
x=26
y=3
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[com_107]
layer=com_105
x=10
y=36
type=text
width=68
height=50
center=yes
font=p12_full
shadowed=yes
text=You need a \nsickle mould\n to make\n this item.
colour=0x00FFAA44
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_108]
layer=com_89
x=101
y=116
type=layer
width=86
height=100

[com_109]
layer=com_108
x=26
y=3
type=inv
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[com_110]
layer=com_108
x=16
y=34
type=text
width=52
height=38
center=yes
font=p12_full
shadowed=yes
text=Make\nLightning\nRod
colour=0x00FFAA44
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_111]
layer=com_89
x=101
y=116
type=layer
width=86
height=100
hide=yes

[com_112]
layer=com_111
x=26
y=3
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[com_113]
layer=com_111
x=10
y=36
type=text
width=65
height=62
center=yes
font=p12_full
shadowed=yes
text=You need a \nlightning \nrod mould\n to make\n this item.
colour=0x00FFAA44
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_114]
layer=com_89
x=191
y=5
type=layer
width=86
height=100

[com_115]
layer=com_114
x=26
y=3
type=inv
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[com_116]
layer=com_114
x=26
y=37
type=text
width=29
height=26
center=yes
font=p12_full
shadowed=yes
text=Make\nTiara
colour=0x00FFAA44
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_117]
layer=com_89
x=191
y=5
type=layer
width=86
height=100
hide=yes

[com_118]
layer=com_117
x=26
y=3
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[com_119]
layer=com_117
x=10
y=36
type=text
width=69
height=50
center=yes
font=p12_full
shadowed=yes
text=You need a\n Tiara Mould \nto make\n a tiara.
colour=0x00FFAA44
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_120]
layer=com_89
x=284
y=5
type=layer
width=86
height=100

[com_121]
layer=com_120
x=24
y=8
type=inv
width=1
height=1
option1=Make 1
option2=Make 5
option3=Make 10

[com_122]
layer=com_120
x=4
y=43
type=text
width=78
height=26
center=yes
font=p12_full
shadowed=yes
text=Make demonic\nsigil
colour=0x00FFAA44
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_123]
layer=com_89
x=284
y=5
type=layer
width=86
height=100
hide=yes

[com_124]
layer=com_123
x=24
y=8
type=model
width=32
height=32
zoom=400
xan=0
yan=0

[com_125]
layer=com_123
x=3
y=42
type=text
width=80
height=50
center=yes
font=p12_full
shadowed=yes
text=You need a\n demonic sigil\nmould to make\nthis item.
colour=0x00FFAA44
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_126]
x=298
y=298
type=text
width=4
height=4
font=p12_full
shadowed=yes
colour=0x00FFFF00
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_127]
x=298
y=299
type=text
width=4
height=4
font=p12_full
shadowed=yes
colour=0x00FFFF00
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_128]
x=298
y=299
type=text
width=4
height=4
font=p12_full
shadowed=yes
colour=0x00FFFF00
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_129]
x=297
y=299
type=text
width=4
height=4
font=p12_full
shadowed=yes
colour=0x00FFFF00
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_130]
x=297
y=298
type=text
width=4
height=4
font=p12_full
shadowed=yes
colour=0x00FFFF00
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_131]
x=297
y=298
type=text
width=4
height=4
font=p12_full
shadowed=yes
colour=0x00FFFF00
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000

[com_132]
x=297
y=298
type=text
width=4
height=4
font=p12_full
shadowed=yes
colour=0x00FFFF00
activecolour=0x00000000
overcolour=0x00000000
activeovercolour=0x00000000
