type=layer
width=512
height=334

[com_0]
x=1
y=1
type=rect
width=512
height=334
fill=yes
colour=0x352D1E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_1]
x=427
y=7
type=text
buttontype=close
width=74
height=14
font=p12_full
text=Close Window
colour=0x81704F
activecolour=0x000000
overcolour=0xB69E6F
activeovercolour=0x000000

[com_2]
x=240
y=375
type=model
width=32
height=32
model=com_i317
zoom=304
xan=0
yan=1536

[horror_fire]
x=90
y=153
type=model
width=32
height=32
model=com_i318
zoom=381
xan=512
yan=0

[horror_air]
x=158
y=29
type=model
width=32
height=32
model=com_i319
zoom=437
xan=512
yan=0

[horror_earth]
x=320
y=28
type=model
width=32
height=32
model=com_i320
zoom=412
xan=512
yan=0

[horror_water]
x=388
y=156
type=model
width=32
height=32
model=com_i321
zoom=380
xan=512
yan=0

[horror_ranging]
x=319
y=272
type=model
width=32
height=32
model=com_i322
zoom=426
xan=489
yan=1986

[horror_melee]
x=161
y=269
type=model
width=32
height=32
model=com_i323
zoom=368
xan=512
yan=0
