type=layer
width=512
height=334

[com_0]
x=453
y=48
type=model
width=32
height=32
model=com_i326
zoom=512
xan=0
yan=0

[com_1]
x=445
y=68
type=text
width=47
height=14
font=p12_full
shadowed=yes
text=Runelink
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_2]
x=445
y=84
type=text
width=45
height=12
script1op1=pushvar,boardgames_runelink_rank
font=p11_full
shadowed=yes
text=Rank: %1
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
