type=layer
width=512
height=334

[com_0]
x=414
y=34
type=model
width=32
height=32
zoom=796
xan=40
yan=166

[com_1]
x=20
y=0
type=text
width=350
height=17
center=yes
font=q8_full
text=Name
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_2]
x=20
y=28
type=text
width=350
height=17
center=yes
font=q8_full
text=Line1
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_3]
x=20
y=56
type=text
width=350
height=17
center=yes
font=q8_full
text=Line2
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_4]
x=20
y=80
type=text
buttontype=pause
width=350
height=17
center=yes
font=q8_full
text=Click here to continue
colour=0xFFFF00
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
