type=layer
width=512
height=334

[com_0]
x=21
y=13
type=text
width=441
height=17
center=yes
font=q8_full
text=Line1
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_1]
x=21
y=45
type=text
width=442
height=18
center=yes
font=q8_full
text=Line2
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_2]
x=69
y=77
type=text
buttontype=pause
width=350
height=17
center=yes
font=q8_full
text=Click here to continue
colour=0xFFFF00
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
