type=layer
width=512
height=334

[com_0]
x=40
y=26
type=model
width=32
height=32
zoom=400
xan=40
yan=1882

[com_1]
x=111
y=45
type=text
width=350
height=17
center=yes
font=q8_full
text=Line1
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_2]
x=111
y=13
type=text
width=350
height=17
center=yes
font=q8_full
text=Line1
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_3]
x=111
y=80
type=text
buttontype=pause
width=350
height=17
center=yes
font=q8_full
text=Click here to continue
colour=0xFFFF00
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
