type=layer
width=512
height=334

[swordl]
x=2
y=5
type=graphic
width=57
height=13
graphic=sworddecor,1

[swordr]
x=421
y=5
type=graphic
width=57
height=13
graphic=sworddecor,0

[model_a]
x=14
y=13
type=model
width=64
height=96
zoom=400
xan=0
yan=0

[model_b]
x=111
y=13
type=model
width=64
height=96
zoom=400
xan=0
yan=0

[model_c]
x=208
y=13
type=model
width=64
height=96
zoom=400
xan=0
yan=0

[model_d]
x=305
y=13
type=model
width=64
height=96
zoom=400
xan=0
yan=0

[model_e]
x=402
y=13
type=model
width=64
height=96
zoom=400
xan=0
yan=0

[makex_a]
x=1
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make X

[make10_a]
x=1
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 10

[make5_a]
x=1
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 5

[make1_a]
x=1
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 1

[makex_b]
x=98
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make X

[make10_b]
x=98
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 10

[make5_b]
x=98
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 5

[make1_b]
x=98
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 1

[makex_c]
x=195
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make X

[make10_c]
x=195
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 10

[make5_c]
x=195
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 5

[make1_c]
x=195
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 1

[makex_d]
x=292
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make X

[make10_d]
x=292
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 10

[make5_d]
x=292
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 5

[make1_d]
x=292
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 1

[makex_e]
x=389
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make X

[make10_e]
x=389
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 10

[make5_e]
x=389
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
shadowed=yes
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 5

[make1_e]
x=389
y=16
type=text
buttontype=normal
width=90
height=93
center=yes
font=q8_full
colour=0x000000
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000
option=Make 1

[prompt]
x=8
y=3
type=text
width=464
height=17
center=yes
font=q8_full
text=What would you like to make?
colour=0x800000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
