[com_0]
type=rect
x=0
y=0
width=765
height=503

[com_1]
type=graphic
x=132
y=13
width=503
height=47
graphic=titlescroll,0

[com_2]
type=graphic
x=20
y=74
width=343
height=90
graphic=button_brown_big,0

[com_3]
type=graphic
x=405
y=74
width=343
height=90
graphic=button_brown_big,0

[com_4]
type=graphic
x=20
y=184
width=229
height=90
graphic=button_brown,0

[com_5]
type=graphic
x=268
y=184
width=229
height=90
graphic=button_brown,0

[com_6]
type=graphic
x=518
y=184
width=229
height=90
graphic=button_brown,0

[com_7]
type=graphic
x=143
y=291
width=229
height=90
graphic=button_brown,0

[com_8]
type=graphic
x=394
y=291
buttontype=close
width=229
height=90
graphic=button_red,0

[com_9]
type=graphic
x=24
y=188
width=51
height=82
graphic=keys,0

[com_10]
type=graphic
x=409
y=78
width=79
height=82
graphic=letter,0

[com_11]
type=graphic
x=24
y=78
width=69
height=82
graphic=key,0

[com_12]
type=graphic
x=272
y=188
width=74
height=82
graphic=pen,0

[com_13]
type=graphic
x=522
y=188
width=77
height=82
graphic=coins,0

[com_14]
type=graphic
x=155
y=296
width=66
height=82
graphic=chest,0

[com_15]
type=graphic
x=405
y=295
width=66
height=83
graphic=startgame,0

[com_16]
type=text
x=303
y=19
width=156
height=17
font=q8_full
text=Welcome to Runescape
colour=0xFF0000

[com_17]
type=text
x=267
y=39
clientcode=660
width=227
height=14
center=yes
font=p12_full
text=You last logged in @red@%1@bla@ days ago from @red@%2

[com_18]
type=text
x=86
y=83
clientcode=661
width=275
height=74
center=yes
font=p12_full
text=1\n2\n3\n4\n5\n6
colour=0xFFFF00

[com_19]
type=text
x=492
y=86
width=249
height=26
center=yes
font=p12_full
shadowed=yes
text=Jagex Staff will NEVER email you. We use the\nmessage centre on this website instead.
colour=0xFFFF00

[com_20]
type=text
x=527
y=122
clientcode=662
width=176
height=26
center=yes
font=p12_full
shadowed=yes
text=You have %1 unread messages\nin your message centre.
colour=0xFFFF00

[com_21]
type=text
x=95
y=218
clientcode=663
width=130
height=26
center=yes
font=p12_full
shadowed=yes
text=Last Password Change:\n%1
colour=0xFFFF00

[com_22]
type=text
x=361
y=218
clientcode=664
width=118
height=26
center=yes
font=p12_full
shadowed=yes
text=You have not yet set\nany contact dtails.
colour=0xFFFF00

[com_23]
type=text
x=599
y=199
clientcode=665
width=145
height=62
center=yes
font=p12_full
shadowed=yes
text=1\n2\n3\n4\n5
colour=0xFFFF00

[com_24]
type=text
x=484
y=328
width=126
height=14
font=b12_full
shadowed=yes
text=CLICK HERE TO PLAY
colour=0xFFFFFF

[com_25]
type=text
x=223
y=314
width=145
height=50
center=yes
font=p12_full
shadowed=yes
text=1\n2\n3\n4
colour=0xFFFF00

[com_26]
type=tooltip
x=19
y=74
clientcode=668
width=344
height=90
text=To change your recovery questions:\n1) Logout and return to the frontpage of this website.\n2) Choose 'Set new recovery questions'.

[com_27]
type=tooltip
x=405
y=73
width=343
height=92
text=To view your messages:\n1) Logout and return to the frontpage of this website.\n2) Choose 'Read your messages from Jagex'.

[com_28]
type=tooltip
x=518
y=184
clientcode=667
width=229
height=91
text=To start or cancel a subscription:\n1) Logout and return to the frontpage of this website.\n2) Choose the relevant option from the 'membership' section.\n\nNote: If you are a credit card subscriber a top-up payment will\nautomatically be taken when 3 days credit remain.\n(unless you cancel your subscription, which can be done at any time.)

[com_29]
type=tooltip
x=268
y=184
width=229
height=91
text=To change your contact details:\n1) Logout and return to the frontpage of this website.\n2) Choose 'Set new contact details'.

[com_30]
type=tooltip
x=20
y=184
width=229
height=91
text=To change your password:\n1) Logout and return to the frontpage of this website.\n2) Choose 'Change your password'.
