type=layer
width=512
height=334

[com_0]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_1]
x=12
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_2]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_3]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_8]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_9]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_10]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_11]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_12]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_13]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_14]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_15]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_16]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_17]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_18]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_19]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_20]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_21]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_22]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_23]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_24]
x=364
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_25]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_26]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_27]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_28]
x=412
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_29]
x=412
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_30]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[com_31]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_32]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_33]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_34]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_35]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_36]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_37]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_38]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_39]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_40]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_41]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_42]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_43]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_44]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_45]
x=73
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_46]
x=109
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_47]
x=145
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_48]
x=181
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_49]
x=217
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_50]
x=253
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_51]
x=289
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_52]
x=325
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_53]
x=361
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_54]
x=397
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_55]
x=433
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_56]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_57]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_58]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_59]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_60]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_61]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_62]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_63]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_64]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_65]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_66]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_67]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_68]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_69]
x=37
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_70]
x=12
y=290
type=graphic
width=25
height=30
graphic=steelborder,2

[com_71]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[com_72]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_73]
x=475
y=290
type=graphic
width=25
height=30
graphic=steelborder,3

[com_74]
x=439
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_75]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_76]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_77]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_78]
x=396
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_79]
x=432
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_80]
x=459
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_81]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_82]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_83]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_84]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_85]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_86]
x=36
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_87]
x=17
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_88]
x=36
y=20
type=layer
width=440
height=299

[com_89]
x=28
y=29
type=text
width=457
height=14
font=b12_full
shadowed=yes
text=Welcome to RuneScape - Use the buttons below to design your player
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_90]
x=190
y=155
type=model
clientcode=327
width=136
height=168
zoom=650
xan=150
yan=0

[accept]
x=223
y=266
type=rect
buttontype=normal
clientcode=326
width=66
height=31
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Accept

[com_92]
x=237
y=274
type=text
width=39
height=14
font=p12_full
shadowed=yes
text=Accept
colour=0x00C000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_93]
x=217
y=260
type=graphic
width=25
height=30
graphic=steelborder,0

[com_94]
x=270
y=260
type=graphic
width=25
height=30
graphic=steelborder,1

[com_95]
x=217
y=273
type=graphic
width=25
height=30
graphic=steelborder,2

[com_96]
x=270
y=273
type=graphic
width=25
height=30
graphic=steelborder,3

[com_97]
x=326
y=74
type=graphic
buttontype=normal
clientcode=314
width=45
height=36
graphic=leftarrow,0
option=Recolour hair

[com_98]
x=90
y=151
type=text
width=31
height=14
font=p12_full
shadowed=yes
text=Torso
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_99]
x=27
y=68
type=graphic
buttontype=normal
clientcode=300
width=45
height=36
graphic=leftarrow,0
option=Change head

[com_100]
x=27
y=103
type=graphic
buttontype=normal
clientcode=302
width=45
height=36
graphic=leftarrow,0
option=Change jaw

[com_101]
x=27
y=138
type=graphic
buttontype=normal
clientcode=304
width=45
height=36
graphic=leftarrow,0
option=Change torso

[com_102]
x=27
y=173
type=graphic
buttontype=normal
clientcode=306
width=45
height=36
graphic=leftarrow,0
option=Change arms

[com_103]
x=27
y=208
type=graphic
buttontype=normal
clientcode=308
width=45
height=36
graphic=leftarrow,0
option=Change hands

[com_104]
x=27
y=243
type=graphic
buttontype=normal
clientcode=310
width=45
height=36
graphic=leftarrow,0
option=Change legs

[com_105]
x=27
y=278
type=graphic
buttontype=normal
clientcode=312
width=45
height=36
graphic=leftarrow,0
option=Change feet

[com_106]
x=140
y=68
type=graphic
buttontype=normal
clientcode=301
width=45
height=36
graphic=rightarrow,0
option=Change head

[com_107]
x=140
y=103
type=graphic
buttontype=normal
clientcode=303
width=45
height=36
graphic=rightarrow,0
option=Change jaw

[com_108]
x=140
y=138
type=graphic
buttontype=normal
clientcode=305
width=45
height=36
graphic=rightarrow,0
option=Change torso

[com_109]
x=140
y=173
type=graphic
buttontype=normal
clientcode=307
width=45
height=36
graphic=rightarrow,0
option=Change arms

[com_110]
x=140
y=208
type=graphic
buttontype=normal
clientcode=309
width=45
height=36
graphic=rightarrow,0
option=Change hands

[com_111]
x=140
y=243
type=graphic
buttontype=normal
clientcode=311
width=45
height=36
graphic=rightarrow,0
option=Change legs

[com_112]
x=140
y=278
type=graphic
buttontype=normal
clientcode=313
width=45
height=36
graphic=rightarrow,0
option=Change feet

[com_113]
x=90
y=184
type=text
width=29
height=14
font=p12_full
shadowed=yes
text=Arms
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_114]
x=91
y=254
type=text
width=27
height=14
font=p12_full
shadowed=yes
text=Legs
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_115]
x=91
y=79
type=text
width=28
height=14
font=p12_full
shadowed=yes
text=Head
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_116]
x=88
y=219
type=text
width=35
height=14
font=p12_full
shadowed=yes
text=Hands
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_117]
x=91
y=288
type=text
width=25
height=14
font=p12_full
shadowed=yes
text=Feet
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_118]
x=94
y=114
type=text
width=21
height=14
font=p12_full
shadowed=yes
text=Jaw
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_119]
x=440
y=74
type=graphic
buttontype=normal
clientcode=315
width=45
height=36
graphic=rightarrow,0
option=Recolour hair

[com_120]
x=326
y=144
type=graphic
buttontype=normal
clientcode=318
width=45
height=36
graphic=leftarrow,0
option=Recolour legs

[com_121]
x=326
y=109
type=graphic
buttontype=normal
clientcode=316
width=45
height=36
graphic=leftarrow,0
option=Recolour torso

[com_122]
x=326
y=179
type=graphic
buttontype=normal
clientcode=320
width=45
height=36
graphic=leftarrow,0
option=Recolour feet

[com_123]
x=326
y=214
type=graphic
buttontype=normal
clientcode=322
width=45
height=36
graphic=leftarrow,0
option=Recolour skin

[com_124]
x=87
y=55
type=text
width=34
height=11
font=p11_full
shadowed=yes
text=Design
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_125]
x=440
y=109
type=graphic
buttontype=normal
clientcode=317
width=45
height=36
graphic=rightarrow,0
option=Recolour torso

[com_126]
x=391
y=55
type=text
width=33
height=11
font=p11_full
shadowed=yes
text=Colour
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_127]
x=440
y=144
type=graphic
buttontype=normal
clientcode=319
width=45
height=36
graphic=rightarrow,0
option=Recolour legs

[com_128]
x=440
y=179
type=graphic
buttontype=normal
clientcode=321
width=45
height=36
graphic=rightarrow,0
option=Recolour feet

[com_129]
x=440
y=214
type=graphic
buttontype=normal
clientcode=323
width=45
height=36
graphic=rightarrow,0
option=Recolour skin

[com_130]
x=394
y=86
type=text
width=22
height=14
font=p12_full
shadowed=yes
text=Hair
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_131]
x=390
y=121
type=text
width=31
height=14
font=p12_full
shadowed=yes
text=Torso
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_132]
x=392
y=155
type=text
width=27
height=14
font=p12_full
shadowed=yes
text=Legs
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_133]
x=393
y=225
type=text
width=23
height=14
font=p12_full
shadowed=yes
text=Skin
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_134]
x=393
y=191
type=text
width=25
height=14
font=p12_full
shadowed=yes
text=Feet
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_135]
x=235
y=245
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_136]
x=236
y=282
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_137]
x=390
y=258
type=text
width=36
height=11
font=p11_full
shadowed=yes
text=Gender
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_138]
x=325
y=271
type=graphic
buttontype=normal
clientcode=324
width=72
height=36
graphic=combatboxes,0
activegraphic=combatboxes,1
option=Male

[com_139]
x=417
y=271
type=graphic
buttontype=normal
clientcode=325
width=72
height=36
graphic=combatboxes,0
activegraphic=combatboxes,1
option=Female

[com_140]
x=348
y=281
type=text
width=26
height=14
font=p12_full
shadowed=yes
text=Male
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_141]
x=435
y=281
type=text
width=39
height=14
font=p12_full
shadowed=yes
text=Female
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
