type=layer
width=512
height=334

[title]
x=0
y=5
type=text
width=480
height=17
center=yes
font=q8_full
text=Title
colour=0x0000FF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[line1]
x=0
y=26
type=text
width=480
height=17
center=yes
font=q8_full
text=Line1
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[line2]
x=0
y=42
type=text
width=480
height=17
center=yes
font=q8_full
text=Line2
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[line3]
x=0
y=58
type=text
width=480
height=17
center=yes
font=q8_full
text=Line3
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[line4]
x=0
y=74
type=text
width=480
height=17
center=yes
font=q8_full
text=Line4
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
