type=layer
width=512
height=334

[com_0]
x=113
y=28
type=text
width=58
height=11
font=p11_full
shadowed=yes
text=Energy left:
colour=0x2DED01
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_1]
x=129
y=40
type=text
width=28
height=14
script1op1=runenergy
center=yes
font=p12_full
shadowed=yes
text=%1%
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_2]
x=53
y=108
type=graphic
buttontype=select
width=36
height=36
script1op1=pushvar,option_nodef
script1=eq,0
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[com_3]
x=101
y=108
type=graphic
buttontype=select
width=36
height=36
script1op1=pushvar,option_nodef
script1=eq,1
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[com_4]
x=9
y=44
type=graphic
buttontype=select
width=36
height=36
script1op1=pushvar,option_run
script1=eq,0
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[com_5]
x=53
y=44
type=graphic
buttontype=select
width=36
height=36
script1op1=pushvar,option_run
script1=eq,1
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[com_6]
x=47
y=4
type=text
width=101
height=14
font=b12_full
shadowed=yes
text=Player controls
colour=0x00FFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_7]
x=56
y=88
type=text
width=79
height=14
font=p12_full
shadowed=yes
text=Auto retaliate
colour=0xEE7C02
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_8]
x=109
y=118
type=text
width=20
height=14
font=p12_full
shadowed=yes
text=Off
colour=0xFFFF00
activecolour=0xFF8000
overcolour=0x000000
activeovercolour=0x000000

[com_9]
x=63
y=118
type=text
width=15
height=14
font=p12_full
shadowed=yes
text=On
colour=0xFFFF00
activecolour=0xFF8000
overcolour=0x000000
activeovercolour=0x000000

[com_10]
x=14
y=25
type=text
width=68
height=14
font=p12_full
shadowed=yes
text=Move speed
colour=0x2DED01
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_11]
x=61
y=54
type=text
width=21
height=14
font=p12_full
shadowed=yes
text=Run
colour=0xFFFF00
activecolour=0xFF8000
overcolour=0x000000
activeovercolour=0x000000

[com_12]
x=15
y=54
type=text
width=25
height=14
font=p12_full
shadowed=yes
text=Walk
colour=0xFFFF00
activecolour=0xFF8000
overcolour=0x000000
activeovercolour=0x000000

[com_26]
x=45
y=153
type=text
width=99
height=14
font=p12_full
shadowed=yes
text=Emote animations
colour=0x02DE01
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_35]
x=104
y=55
type=text
width=76
height=11
font=p11_full
shadowed=yes
text=Weight carried:
colour=0x2DED01
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_36]
x=128
y=66
type=text
width=30
height=14
script1op1=runweight
center=yes
font=p12_full
shadowed=yes
text=%1kg
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_40]
x=5
y=168
type=layer
width=166
height=90
scroll=240

[com_13]
layer=com_40
x=45
y=33
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_14]
layer=com_40
x=86
y=3
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_15]
layer=com_40
x=3
y=63
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_16]
layer=com_40
x=127
y=3
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_17]
layer=com_40
x=3
y=33
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_18]
layer=com_40
x=127
y=63
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_19]
layer=com_40
x=45
y=63
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_20]
layer=com_40
x=3
y=3
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_21]
layer=com_40
x=45
y=3
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_22]
layer=com_40
x=86
y=33
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_23]
layer=com_40
x=127
y=33
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_24]
layer=com_40
x=86
y=63
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_25]
layer=com_40
x=6
y=69
type=text
width=28
height=11
font=p11_full
shadowed=yes
text=Wave
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_27]
layer=com_40
x=135
y=10
type=text
width=20
height=11
font=p11_full
shadowed=yes
text=Bow
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_28]
layer=com_40
x=130
y=70
type=text
width=30
height=11
font=p11_full
shadowed=yes
text=Dance
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_29]
layer=com_40
x=6
y=39
type=text
width=30
height=11
center=yes
font=p11_full
shadowed=yes
text=Angry
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_30]
layer=com_40
x=91
y=11
type=text
width=25
height=11
center=yes
font=p11_full
shadowed=yes
text=Think
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_31]
layer=com_40
x=45
y=70
type=text
width=35
height=11
font=p11_full
shadowed=yes
text=Beckon
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_32]
layer=com_40
x=13
y=10
type=text
width=17
height=11
font=p11_full
shadowed=yes
text=Yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_33]
layer=com_40
x=57
y=11
type=text
width=13
height=11
center=yes
font=p11_full
shadowed=yes
text=No
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_34]
layer=com_40
x=53
y=40
type=text
width=18
height=11
font=p11_full
shadowed=yes
text=Cry
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_37]
layer=com_40
x=90
y=40
type=text
width=29
height=11
font=p11_full
shadowed=yes
text=Laugh
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_38]
layer=com_40
x=130
y=40
type=text
width=30
height=11
font=p11_full
shadowed=yes
text=Cheer
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_39]
layer=com_40
x=93
y=70
type=text
width=22
height=11
font=p11_full
shadowed=yes
text=Clap
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_41]
layer=com_40
x=45
y=180
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_42]
layer=com_40
x=86
y=151
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_43]
layer=com_40
x=127
y=151
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_44]
layer=com_40
x=3
y=180
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_45]
layer=com_40
x=45
y=151
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_46]
layer=com_40
x=49
y=182
type=text
width=28
height=11
script1op1=push_varbit,emote_glasswall
script1=eq,0
font=p11_full
shadowed=yes
text=Glass
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_47]
layer=com_40
x=52
y=193
type=text
width=21
height=11
script1op1=push_varbit,emote_glasswall
script1=eq,0
font=p11_full
shadowed=yes
text=Wall
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_48]
layer=com_40
x=94
y=164
type=text
width=20
height=11
script1op1=push_varbit,emote_glassbox
script1=eq,0
font=p11_full
shadowed=yes
text=Box
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_49]
layer=com_40
x=90
y=153
type=text
width=28
height=11
script1op1=push_varbit,emote_glassbox
script1=eq,0
font=p11_full
shadowed=yes
text=Glass
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_50]
layer=com_40
x=132
y=153
type=text
width=26
height=11
script1op1=push_varbit,emote_climbrope
script1=eq,0
font=p11_full
shadowed=yes
text=Climb
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_51]
layer=com_40
x=133
y=164
type=text
width=25
height=11
script1op1=push_varbit,emote_climbrope
script1=eq,0
font=p11_full
shadowed=yes
text=Rope
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_52]
layer=com_40
x=10
y=187
type=text
width=23
height=11
script1op1=push_varbit,emote_lean
script1=eq,0
font=p11_full
shadowed=yes
text=Lean
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_53]
layer=com_40
x=52
y=153
type=text
width=23
height=11
font=p11_full
shadowed=yes
text=Blow
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_54]
layer=com_40
x=53
y=164
type=text
width=21
height=11
font=p11_full
shadowed=yes
text=Kiss
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_55]
layer=com_40
x=3
y=92
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_56]
layer=com_40
x=45
y=92
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_57]
layer=com_40
x=86
y=92
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_58]
layer=com_40
x=127
y=92
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_59]
layer=com_40
x=3
y=121
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_60]
layer=com_40
x=45
y=121
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_61]
layer=com_40
x=86
y=121
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_62]
layer=com_40
x=127
y=121
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_63]
layer=com_40
x=3
y=151
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_64]
layer=com_40
x=8
y=98
type=text
width=27
height=12
font=p11_full
shadowed=yes
text=Panic
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_65]
layer=com_40
x=55
y=98
type=text
width=15
height=12
font=p11_full
shadowed=yes
text=Jig
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_66]
layer=com_40
x=93
y=98
type=text
width=22
height=12
font=p11_full
shadowed=yes
text=Spin
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_67]
layer=com_40
x=133
y=94
type=text
width=25
height=12
font=p11_full
shadowed=yes
text=Head
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_68]
layer=com_40
x=133
y=103
type=text
width=25
height=12
font=p11_full
shadowed=yes
text=Bang
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_69]
layer=com_40
x=12
y=122
type=text
width=18
height=12
font=p11_full
shadowed=yes
text=Joy
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_70]
layer=com_40
x=9
y=132
type=text
width=25
height=12
font=p11_full
shadowed=yes
text=Jump
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_71]
layer=com_40
x=49
y=122
type=text
width=29
height=12
font=p11_full
shadowed=yes
text=Rasp'
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_72]
layer=com_40
x=49
y=132
type=text
width=28
height=12
font=p11_full
shadowed=yes
text=berry
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_73]
layer=com_40
x=93
y=127
type=text
width=24
height=12
font=p11_full
shadowed=yes
text=Yawn
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_74]
layer=com_40
x=129
y=127
type=text
width=32
height=12
font=p11_full
shadowed=yes
text=Salute
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_75]
layer=com_40
x=6
y=156
type=text
width=30
height=12
font=p11_full
shadowed=yes
text=Shrug
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_76]
layer=com_40
x=86
y=180
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_77]
layer=com_40
x=127
y=180
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_78]
layer=com_40
x=3
y=209
type=graphic
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_79]
layer=com_40
x=89
y=182
type=text
width=31
height=12
script1op1=push_varbit,lost_tribe_quest
script1=lt,7
font=p11_full
shadowed=yes
text=Goblin
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_80]
layer=com_40
x=130
y=182
type=text
width=31
height=12
script1op1=push_varbit,lost_tribe_quest
script1=lt,7
font=p11_full
shadowed=yes
text=Goblin
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_81]
layer=com_40
x=94
y=193
type=text
width=20
height=12
script1op1=push_varbit,lost_tribe_quest
script1=lt,7
font=p11_full
shadowed=yes
text=Bow
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_82]
layer=com_40
x=130
y=193
type=text
width=30
height=12
script1op1=push_varbit,lost_tribe_quest
script1=lt,7
font=p11_full
shadowed=yes
text=Dance
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_83]
layer=com_40
x=3
y=215
type=text
width=35
height=12
script1op1=push_varbit,emote_terrified
script1=eq,0
font=p11_full
shadowed=yes
text=Scared
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
