type=layer
width=512
height=334

[com_0]
x=90
y=61
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_1]
x=91
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_2]
x=89
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_3]
x=87
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
x=90
y=213
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
x=100
y=63
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_8]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_9]
x=188
y=64
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_10]
x=102
y=216
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_11]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_12]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_13]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_14]
x=276
y=60
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_15]
x=188
y=213
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_16]
x=326
y=82
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_17]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_18]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_19]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_20]
x=276
y=213
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_21]
x=326
y=142
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_22]
x=325
y=62
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_23]
x=325
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_24]
x=325
y=214
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_25]
x=85
y=58
type=graphic
width=25
height=30
graphic=steelborder,0

[com_26]
x=70
y=88
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_27]
x=70
y=124
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_28]
x=70
y=160
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_29]
x=70
y=196
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_30]
x=70
y=224
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_31]
x=394
y=84
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_32]
x=394
y=106
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_33]
x=394
y=140
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_34]
x=394
y=176
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_35]
x=394
y=212
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_36]
x=110
y=257
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_37]
x=146
y=257
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_38]
x=182
y=257
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_39]
x=218
y=257
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_40]
x=254
y=257
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_41]
x=290
y=257
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_42]
x=326
y=257
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_43]
x=362
y=257
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_44]
x=218
y=43
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_45]
x=254
y=43
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_46]
x=289
y=43
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_47]
x=325
y=43
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_48]
x=357
y=43
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_49]
x=264
y=69
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_50]
x=182
y=43
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_51]
x=85
y=248
type=graphic
width=25
height=30
graphic=steelborder,2

[com_52]
x=390
y=58
type=graphic
width=25
height=30
graphic=steelborder,1

[com_53]
x=390
y=248
type=graphic
width=25
height=30
graphic=steelborder,3

[com_54]
x=300
y=69
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_55]
x=336
y=69
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_56]
x=372
y=69
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_57]
x=377
y=69
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_58]
x=228
y=69
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_59]
x=192
y=69
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_60]
x=156
y=69
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_61]
x=89
y=69
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_62]
x=123
y=69
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_63]
x=110
y=43
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_64]
x=146
y=43
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_65]
x=320
y=220
type=layer
width=78
height=42

[select]
layer=com_65
x=6
y=6
type=rect
buttontype=normal
width=66
height=31
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Challenge player

[com_68]
layer=com_65
x=21
y=14
type=text
width=35
height=14
font=p12_full
shadowed=yes
text=Select
colour=0x008000
activecolour=0x000000
overcolour=0x00FF00
activeovercolour=0x000000

[com_69]
layer=com_65
x=21
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_70]
layer=com_65
x=0
y=0
type=graphic
width=25
height=30
graphic=steelborder,0

[com_71]
layer=com_65
x=53
y=0
type=graphic
width=25
height=30
graphic=steelborder,1

[com_72]
layer=com_65
x=0
y=13
type=graphic
width=25
height=30
graphic=steelborder,2

[com_73]
layer=com_65
x=53
y=13
type=graphic
width=25
height=30
graphic=steelborder,3

[com_74]
layer=com_65
x=21
y=22
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_66]
x=97
y=65
type=text
width=130
height=14
font=p12_full
shadowed=yes
text=Challenge: Select Game
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_75]
x=338
y=66
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_76]
x=115
y=121
type=layer
width=272
height=77

[draughts_radio]
layer=com_76
x=8
y=28
type=graphic
buttontype=select
width=14
height=15
script1op1=pushvar,if1
script1=eq,0
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Select game

[runelink_radio]
layer=com_76
x=8
y=58
type=graphic
buttontype=select
width=14
height=15
script1op1=pushvar,if1
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
option=Select game

[draughts_text]
layer=com_76
x=37
y=28
type=text
buttontype=normal
width=52
height=14
font=p12_full
shadowed=yes
text=Draughts
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Select game

[runelink_text]
layer=com_76
x=37
y=58
type=text
buttontype=normal
width=47
height=14
font=p12_full
shadowed=yes
text=Runelink
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Select game

[draughts_rank]
layer=com_76
x=112
y=28
type=text
width=64
height=14
font=p12_full
shadowed=yes
text=100 vs 100
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[runelink_rank]
layer=com_76
x=112
y=58
type=text
width=64
height=14
font=p12_full
shadowed=yes
text=100 vs 100
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_83]
layer=com_76
x=37
y=3
type=text
width=34
height=14
font=p12_full
shadowed=yes
text=Game:
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_84]
layer=com_76
x=112
y=3
type=text
width=155
height=14
font=p12_full
shadowed=yes
text=Ranks (mine vs opponents):
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
