type=layer
width=512
height=334

[com_0]
x=-10
y=42
type=model
width=32
height=32
model=obj_macro_mime_mask_manhead
zoom=613
xan=17
yan=1783

[com_1]
x=457
y=41
type=model
width=32
height=32
model=obj_macro_mime_mask_manhead
zoom=622
xan=26
yan=240

[com_2]
x=87
y=56
type=text
buttontype=normal
width=26
height=17
center=yes
font=q8_full
shadowed=yes
text=Cry
colour=0x8686AF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_3]
x=80
y=24
type=text
buttontype=normal
width=38
height=17
center=yes
font=q8_full
shadowed=yes
text=Think
colour=0x8686AF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_4]
x=148
y=24
type=text
buttontype=normal
width=40
height=17
center=yes
font=q8_full
shadowed=yes
text=Laugh
colour=0x8686AF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_5]
x=144
y=56
type=text
buttontype=normal
width=43
height=17
center=yes
font=q8_full
shadowed=yes
text=Dance
colour=0x8686AF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_6]
x=220
y=25
type=text
buttontype=normal
width=75
height=17
center=yes
font=q8_full
shadowed=yes
text=Climb Rope
colour=0x8686AF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_7]
x=218
y=56
type=text
buttontype=normal
width=79
height=17
center=yes
font=q8_full
shadowed=yes
text=Lean on air
colour=0x8686AF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_8]
x=324
y=56
type=text
buttontype=normal
width=69
height=17
center=yes
font=q8_full
shadowed=yes
text=Glass Wall
colour=0x8686AF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_9]
x=326
y=25
type=text
buttontype=normal
width=66
height=17
center=yes
font=q8_full
shadowed=yes
text=Glass Box
colour=0x8686AF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
