type=layer
width=512
height=334

[com_20]
x=20
y=0
type=layer
width=475
height=62

[com_0]
layer=com_20
x=49
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,0
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_1]
layer=com_20
x=70
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,4
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_2]
layer=com_20
x=91
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,9
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_3]
layer=com_20
x=112
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,14
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_4]
layer=com_20
x=133
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,19
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_5]
layer=com_20
x=154
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,24
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_6]
layer=com_20
x=175
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,29
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_7]
layer=com_20
x=196
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,34
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_8]
layer=com_20
x=217
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,39
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_9]
layer=com_20
x=238
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,44
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_10]
layer=com_20
x=259
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,49
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_11]
layer=com_20
x=280
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,54
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_12]
layer=com_20
x=301
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,59
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_13]
layer=com_20
x=322
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,64
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_14]
layer=com_20
x=343
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,69
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_15]
layer=com_20
x=364
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,74
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_16]
layer=com_20
x=385
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,79
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_17]
layer=com_20
x=406
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,84
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_18]
layer=com_20
x=427
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,89
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_19]
layer=com_20
x=448
y=23
type=rect
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,94
fill=yes
colour=0x000000
activecolour=0x8080FF
overcolour=0x000000
activeovercolour=0x000000

[com_21]
layer=com_20
x=0
y=20
type=text
width=36
height=14
font=p12_full
shadowed=yes
text=Water:
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_22]
layer=com_20
x=0
y=42
type=text
width=23
height=14
font=p12_full
shadowed=yes
text=Net:
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_23]
layer=com_20
x=183
y=42
type=text
width=35
height=14
font=p12_full
shadowed=yes
text=Catch:
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_24]
layer=com_20
x=372
y=42
type=text
width=51
height=14
font=p12_full
shadowed=yes
text=Time left:
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_25]
layer=com_20
x=49
y=23
type=rect
width=421
height=10
trans=128
colour=0x808080
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_26]
layer=com_20
x=31
y=42
type=text
width=28
height=14
font=p12_full
shadowed=yes
text=Okay
colour=0x00FF24
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_27]
layer=com_20
x=31
y=42
type=text
width=41
height=14
font=p12_full
shadowed=yes
text=Ripped!
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_28]
layer=com_20
x=225
y=42
type=text
width=44
height=14
font=p12_full
shadowed=yes
text=Nothing
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_29]
layer=com_20
x=429
y=42
type=text
width=43
height=14
font=p12_full
shadowed=yes
text=10 mins
colour=0xFFFFFF
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
