type=layer
width=512
height=334

[com_0]
x=240
y=141
type=model
width=32
height=32
model=com_i33
zoom=491
xan=484
yan=3

[com_1]
x=96
y=97
type=model
width=32
height=32
model=pileofrope_8
zoom=591
xan=155
yan=2037

[com_2]
x=98
y=154
type=model
width=32
height=32
model=obj_swamppaste
zoom=385
xan=218
yan=115

[com_3]
x=93
y=254
type=model
width=32
height=32
model=obj_bucket_wax
zoom=478
xan=148
yan=1752

[com_4]
x=163
y=92
type=text
width=256
height=17
font=q8_full
text=Use rope to repair the Trawler's nets.
colour=0x4A4028
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_5]
x=160
y=152
type=text
width=221
height=17
font=q8_full
text=Use Swamp Paste to repair leaks
colour=0x4A4028
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_6]
x=161
y=174
type=text
width=113
height=17
font=q8_full
text=in the Ship's hull.
colour=0x4A4028
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_7]
x=161
y=227
type=text
width=232
height=17
font=q8_full
text=If all else fails you can always try
colour=0x4A4028
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_8]
x=162
y=249
type=text
width=202
height=17
font=q8_full
text=and bail the water out as well!
colour=0x4A4028
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_9]
x=219
y=60
type=text
width=85
height=17
font=q8_full
shadowed=yes
text=How to play:
colour=0xE5BD5D
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_10]
x=430
y=7
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0x808080
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000
