type=layer
width=512
height=334

[com_0]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_1]
x=12
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_2]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_3]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_8]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_9]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_10]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_11]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_12]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_13]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_14]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_15]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_16]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_17]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_18]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_19]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_20]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_21]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_22]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_23]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_24]
x=364
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_25]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_26]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_27]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_28]
x=412
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_29]
x=412
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_30]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[com_31]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_32]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_33]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_34]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_35]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_36]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_37]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_38]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_39]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_40]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_41]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_42]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_43]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_44]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_45]
x=73
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_46]
x=109
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_47]
x=145
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_48]
x=181
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_49]
x=217
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_50]
x=253
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_51]
x=289
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_52]
x=325
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_53]
x=361
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_54]
x=397
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_55]
x=433
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_56]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_57]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_58]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_59]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_60]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_61]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_62]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_63]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_64]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_65]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_66]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_67]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_68]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_69]
x=37
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_70]
x=12
y=290
type=graphic
width=25
height=30
graphic=steelborder,2

[com_71]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[com_72]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_73]
x=475
y=290
type=graphic
width=25
height=30
graphic=steelborder,3

[com_74]
x=439
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[inv]
x=76
y=65
type=inv
width=8
height=5
margin=15,15
option1=Withdraw 1
option2=Withdraw All

[com_76]
x=211
y=31
type=text
width=88
height=14
center=yes
font=b12_full
shadowed=yes
text=Trawler Catch
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_77]
x=433
y=32
type=text
buttontype=close
width=55
height=11
font=p11_full
shadowed=yes
text=Dump Items
colour=0xAA4444
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_78]
x=73
y=292
type=text
width=367
height=14
font=p12_full
shadowed=yes
text=Click Dump Items to close the window and discard remaining items.
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_79]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_80]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_81]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_82]
x=396
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_83]
x=432
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_84]
x=459
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_85]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_86]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_87]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_88]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_89]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_90]
x=36
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_91]
x=17
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0
