type=layer
width=512
height=334

[com_0]
x=4
y=45
type=text
width=185
height=14
center=yes
font=p12_full
shadowed=yes
text=To reduce memory requirements
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_1]
x=4
y=60
type=text
width=185
height=14
center=yes
font=p12_full
shadowed=yes
text=music & sounds are only
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_2]
x=4
y=75
type=text
width=185
height=14
center=yes
font=p12_full
shadowed=yes
text=available in the high-detail
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_3]
x=4
y=145
type=text
width=185
height=14
center=yes
font=p12_full
shadowed=yes
text=If you wish to hear these
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_4]
x=4
y=160
type=text
width=185
height=14
center=yes
font=p12_full
shadowed=yes
text=please switch versions, but
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_5]
x=4
y=175
type=text
width=185
height=14
center=yes
font=p12_full
shadowed=yes
text=bear in mind things will run
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_6]
x=4
y=190
type=text
width=185
height=14
center=yes
font=p12_full
shadowed=yes
text=more slowly as a result.
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_7]
x=4
y=90
type=text
width=185
height=14
center=yes
font=p12_full
shadowed=yes
text=version of the game.
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
