type=layer
width=512
height=334

[com_0]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_1]
x=12
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_2]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_3]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_8]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_9]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_10]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_11]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_12]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_13]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_14]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_15]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_16]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_17]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_18]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_19]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_20]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_21]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_22]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_23]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_24]
x=364
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_25]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_26]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_27]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_28]
x=412
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_29]
x=412
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_30]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[com_31]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_32]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_33]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_34]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_35]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_36]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_37]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_38]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_39]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_40]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_41]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_42]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_43]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_44]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_45]
x=73
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_46]
x=109
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_47]
x=145
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_48]
x=217
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_49]
x=253
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_50]
x=289
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_51]
x=361
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_52]
x=397
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_53]
x=433
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_54]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_55]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_56]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_57]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_58]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_59]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_60]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_61]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_62]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_63]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_64]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_65]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_66]
x=37
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_67]
x=325
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_68]
x=12
y=290
type=graphic
width=25
height=30
graphic=steelborder,2

[com_69]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[com_70]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_71]
x=475
y=290
type=graphic
width=25
height=30
graphic=steelborder,3

[com_72]
x=439
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_73]
x=288
y=31
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_74]
x=324
y=31
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_75]
x=396
y=31
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_76]
x=252
y=31
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_77]
x=432
y=31
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_78]
x=458
y=31
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_79]
x=216
y=31
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_80]
x=180
y=31
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_81]
x=144
y=31
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_82]
x=108
y=31
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_83]
x=72
y=31
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_84]
x=181
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_85]
x=47
y=31
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_86]
x=360
y=31
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_87]
x=18
y=31
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_88]
x=216
y=28
type=text
width=80
height=14
center=yes
font=p12_full
shadowed=yes
text=Fractional still
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_89]
x=425
y=29
type=text
buttontype=normal
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000
option=Close

[com_90]
x=408
y=120
type=model
width=32
height=32
model=com_i149
zoom=500
xan=512
yan=0

[com_91]
x=410
y=103
type=text
width=26
height=14
center=yes
font=p12_full
text=Heat
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_92]
x=72
y=120
type=model
width=32
height=32
model=com_i149
zoom=500
xan=512
yan=0

[com_93]
x=63
y=103
type=text
width=52
height=14
center=yes
font=p12_full
text=Pressure
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_94]
x=72
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,0
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1536

[com_95]
x=72
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,1
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1664

[com_96]
x=72
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,2
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1792

[com_97]
x=72
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,3
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1920

[com_98]
x=72
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,4
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=0

[com_99]
x=72
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,5
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=128

[com_100]
x=72
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,6
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=256

[com_101]
x=72
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,7
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=384

[com_102]
x=72
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,8
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=512

[com_103]
x=72
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,9
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=640

[com_104]
x=72
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,10
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=768

[com_105]
x=72
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,11
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=896

[com_106]
x=72
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,12
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1024

[com_107]
x=408
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,13
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1536

[com_108]
x=408
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,14
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1664

[com_109]
x=408
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,15
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1792

[com_110]
x=408
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,16
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1920

[com_111]
x=408
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,17
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=0

[com_112]
x=408
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,18
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=128

[com_113]
x=408
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,19
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=256

[com_114]
x=408
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,20
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=384

[com_115]
x=408
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,21
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=512

[com_116]
x=408
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,22
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=640

[com_117]
x=408
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,23
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=768

[com_118]
x=408
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,24
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=896

[com_119]
x=408
y=120
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,25
script1=eq,0
model=com_i150
zoom=400
xan=512
yan=1024

[com_120]
x=190
y=120
type=model
buttontype=normal
width=150
height=100
model=com_i151
zoom=600
xan=512
yan=0
option=Click this to add coal.

[com_121]
x=242
y=129
type=text
width=49
height=14
font=p12_full
text=Add Coal
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_122]
x=72
y=240
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,26
script1=eq,1
activemodel=com_i152
zoom=1000
xan=512
yan=1024

[com_123]
x=72
y=240
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,27
script1=eq,1
activemodel=com_i152
zoom=1000
xan=512
yan=1536

[com_124]
x=72
y=240
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,28
script1=eq,1
activemodel=com_i152
zoom=1000
xan=512
yan=0

[com_125]
x=408
y=240
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,29
script1=eq,1
activemodel=com_i152
zoom=1000
xan=512
yan=1024

[com_126]
x=408
y=240
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,30
script1=eq,1
activemodel=com_i152
zoom=1000
xan=512
yan=1536

[com_127]
x=408
y=240
type=model
width=32
height=32
script1op1=testbit,regicide_still_settings,31
script1=eq,1
activemodel=com_i152
zoom=1000
xan=512
yan=0

[com_128]
x=240
y=252
type=model
width=32
height=32
model=com_i153
zoom=400
xan=512
yan=512

[com_129]
x=56
y=224
type=text
buttontype=normal
width=32
height=65
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Turn pressure valve down

[com_130]
x=88
y=224
type=text
buttontype=normal
width=32
height=65
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Turn pressure valve up

[com_131]
x=391
y=224
type=text
buttontype=normal
width=32
height=65
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Turn tar flow valve down

[com_132]
x=423
y=224
type=text
buttontype=normal
width=32
height=65
font=p12_full
shadowed=yes
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
option=Turn tar valve up

[com_133]
x=172
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,0
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_134]
x=179
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,1
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_135]
x=186
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,2
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_136]
x=193
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,3
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_137]
x=200
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,4
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_138]
x=207
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,5
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_139]
x=214
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,6
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_140]
x=221
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,7
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_141]
x=228
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,8
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_142]
x=235
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,9
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_143]
x=242
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,10
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_144]
x=249
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,11
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_145]
x=256
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,12
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_146]
x=263
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,13
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_147]
x=270
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,14
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_148]
x=277
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,15
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_149]
x=284
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,16
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_150]
x=291
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,17
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_151]
x=298
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,18
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_152]
x=305
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,19
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_153]
x=312
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,20
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_154]
x=319
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,21
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_155]
x=326
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,22
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_156]
x=333
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,23
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_157]
x=340
y=265
type=rect
width=7
height=7
script1op1=pushvar,regicide_still_total
script1=gt,24
fill=yes
colour=0x000000
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x00FF00

[com_158]
x=386
y=289
type=text
width=73
height=14
font=p12_full
text=Tar regulator
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_159]
x=45
y=289
type=text
width=86
height=14
font=p12_full
text=Pressure valve
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_160]
x=86
y=212
type=rect
width=4
height=12
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_161]
x=172
y=294
type=text
width=175
height=14
center=yes
font=b12_full
text=Total distilled
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_162]
x=121
y=254
type=rect
width=12
height=4
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_163]
x=43
y=254
type=rect
width=12
height=4
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_164]
x=379
y=254
type=rect
width=12
height=4
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_165]
x=422
y=212
type=rect
width=4
height=12
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_166]
x=457
y=254
type=rect
width=12
height=4
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
