[com_0]
x=200
y=90
type=model
width=55
height=81
model=com_i161
zoom=643
xan=512
yan=0

[skill_name]
x=53
y=30
type=text
width=72
height=17
font=q8_full
text=Skill Name
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[back]
x=48
y=65
type=layer
width=342
height=200
scroll=1290

[level1]
layer=back
x=0
y=16
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level2]
layer=back
x=0
y=48
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level3]
layer=back
x=0
y=80
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level4]
layer=back
x=0
y=112
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level5]
layer=back
x=0
y=144
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level6]
layer=back
x=0
y=176
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level7]
layer=back
x=0
y=208
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level8]
layer=back
x=0
y=240
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level9]
layer=back
x=0
y=272
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level10]
layer=back
x=0
y=304
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level11]
layer=back
x=0
y=336
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level12]
layer=back
x=0
y=368
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level13]
layer=back
x=0
y=400
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level14]
layer=back
x=0
y=432
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level15]
layer=back
x=0
y=464
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level16]
layer=back
x=0
y=496
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level17]
layer=back
x=0
y=528
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level18]
layer=back
x=0
y=560
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level19]
layer=back
x=0
y=592
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level20]
layer=back
x=0
y=624
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level21]
layer=back
x=0
y=656
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level22]
layer=back
x=0
y=688
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level23]
layer=back
x=0
y=720
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level24]
layer=back
x=0
y=752
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level25]
layer=back
x=0
y=784
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level26]
layer=back
x=0
y=816
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level27]
layer=back
x=0
y=848
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level28]
layer=back
x=0
y=880
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level29]
layer=back
x=0
y=912
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level30]
layer=back
x=0
y=944
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level31]
layer=back
x=0
y=976
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level32]
layer=back
x=0
y=1008
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level33]
layer=back
x=0
y=1040
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level34]
layer=back
x=0
y=1072
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level35]
layer=back
x=0
y=1104
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level36]
layer=back
x=0
y=1136
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level37]
layer=back
x=0
y=1168
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level38]
layer=back
x=0
y=1200
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level39]
layer=back
x=0
y=1232
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[level40]
layer=back
x=0
y=1264
type=text
width=30
height=14
center=yes
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text1]
layer=back
x=60
y=16
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text2]
layer=back
x=60
y=48
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text3]
layer=back
x=60
y=80
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text4]
layer=back
x=60
y=112
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text5]
layer=back
x=60
y=144
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text6]
layer=back
x=60
y=176
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text7]
layer=back
x=60
y=208
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text8]
layer=back
x=60
y=240
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text9]
layer=back
x=60
y=272
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text10]
layer=back
x=60
y=304
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text11]
layer=back
x=60
y=336
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text12]
layer=back
x=60
y=368
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text13]
layer=back
x=60
y=400
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text14]
layer=back
x=60
y=432
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text15]
layer=back
x=60
y=464
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text16]
layer=back
x=60
y=496
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text17]
layer=back
x=60
y=528
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text18]
layer=back
x=60
y=560
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text19]
layer=back
x=60
y=592
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text20]
layer=back
x=60
y=624
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text21]
layer=back
x=60
y=656
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text22]
layer=back
x=60
y=688
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text23]
layer=back
x=60
y=720
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text24]
layer=back
x=60
y=752
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text25]
layer=back
x=60
y=784
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text26]
layer=back
x=60
y=816
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text27]
layer=back
x=60
y=848
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text28]
layer=back
x=60
y=880
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text29]
layer=back
x=60
y=912
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text30]
layer=back
x=60
y=944
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text31]
layer=back
x=60
y=976
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text32]
layer=back
x=60
y=1008
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text33]
layer=back
x=60
y=1040
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text34]
layer=back
x=60
y=1072
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text35]
layer=back
x=60
y=1104
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text36]
layer=back
x=60
y=1136
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text37]
layer=back
x=60
y=1168
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text38]
layer=back
x=60
y=1200
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text39]
layer=back
x=60
y=1232
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[text40]
layer=back
x=60
y=1264
type=text
width=280
height=14
font=p12_full
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[levelinv]
layer=back
x=26
y=7
type=inv
width=1
height=40

[level]
x=48
y=50
type=text
width=30
height=14
center=yes
font=p12_full
text=Level
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[advancement]
x=108
y=50
type=text
width=77
height=14
font=p12_full
text=Advancement
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[opbacktop]
x=413
y=18
type=layer
width=88
height=180

[com_86]
layer=opbacktop
x=0
y=0
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_87]
layer=opbacktop
x=0
y=0
type=graphic
width=25
height=30
graphic=steelborder,0

[com_88]
layer=opbacktop
x=-15
y=18
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_89]
layer=opbacktop
x=25
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_90]
layer=opbacktop
x=38
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_91]
layer=opbacktop
x=63
y=0
type=graphic
width=25
height=30
graphic=steelborder,1

[com_92]
layer=opbacktop
x=67
y=20
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_93]
layer=opbacktop
x=25
y=45
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_94]
layer=opbacktop
x=0
y=36
type=graphic
width=25
height=30
graphic=steelborder,2

[com_95]
layer=opbacktop
x=35
y=45
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_96]
layer=opbacktop
x=63
y=36
type=graphic
width=25
height=30
graphic=steelborder,3

[com_97]
x=424
y=28
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0xC00000
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[guide23]
x=413
y=18
type=layer
width=88
height=180

[com_99]
layer=guide23
x=0
y=60
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_100]
layer=guide23
x=67
y=60
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_101]
layer=guide23
x=-15
y=60
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_102]
layer=guide23
x=0
y=96
type=graphic
width=25
height=30
graphic=steelborder,2

[com_103]
layer=guide23
x=63
y=96
type=graphic
width=25
height=30
graphic=steelborder,3

[com_104]
layer=guide23
x=25
y=105
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_105]
layer=guide23
x=39
y=105
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_106]
layer=guide23
x=9
y=39
type=graphic
width=72
height=36
graphic=combatboxes,2

[com_107]
layer=guide23
x=9
y=58
type=graphic
width=72
height=36
graphic=combatboxes,2

[op2]
layer=guide23
x=10
y=49
type=text
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Bronze
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000
activeovercolour=0x000000

[op3]
layer=guide23
x=10
y=68
type=text
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Iron
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000
activeovercolour=0x000000

[guide4]
x=413
y=18
type=layer
width=88
height=180

[com_111]
layer=guide4
x=9
y=77
type=graphic
width=72
height=36
graphic=combatboxes,2

[op4]
layer=guide4
x=10
y=87
type=text
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Steel
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000
activeovercolour=0x000000

[guide5]
x=413
y=18
type=layer
width=88
height=180

[com_114]
layer=guide5
x=0
y=120
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_115]
layer=guide5
x=-15
y=114
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_116]
layer=guide5
x=0
y=150
type=graphic
width=25
height=30
graphic=steelborder,2

[com_117]
layer=guide5
x=63
y=150
type=graphic
width=25
height=30
graphic=steelborder,3

[com_118]
layer=guide5
x=25
y=159
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_119]
layer=guide5
x=67
y=114
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_120]
layer=guide5
x=44
y=159
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_121]
layer=guide5
x=9
y=96
type=graphic
width=72
height=36
graphic=combatboxes,2

[op5]
layer=guide5
x=10
y=106
type=text
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Mithril
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000
activeovercolour=0x000000

[guide6]
x=413
y=18
type=layer
width=88
height=180

[com_124]
layer=guide6
x=9
y=115
type=graphic
width=72
height=36
graphic=combatboxes,2

[op6]
layer=guide6
x=10
y=125
type=text
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Adamant
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000
activeovercolour=0x000000

[guide7]
x=413
y=18
type=layer
width=88
height=180

[com_127]
layer=guide7
x=9
y=134
type=graphic
width=72
height=36
graphic=combatboxes,2

[op7]
layer=guide7
x=10
y=144
type=text
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Rune
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000
activeovercolour=0x000000

[guide1]
x=413
y=18
type=layer
width=88
height=180

[com_130]
layer=guide1
x=9
y=20
type=graphic
width=72
height=36
graphic=combatboxes,2

[op1]
layer=guide1
x=10
y=30
type=text
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Smelting
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000
activeovercolour=0x000000

[skill_members]
x=264
y=39
type=text
width=125
height=17
font=q8_full
text=Members only skill
colour=0xAA0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[guide8]
x=413
y=122
type=layer
width=88
height=180

[com_135]
layer=guide8
x=0
y=68
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_136]
layer=guide8
x=-15
y=62
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_137]
layer=guide8
x=0
y=98
type=graphic
width=25
height=30
graphic=steelborder,2

[com_138]
layer=guide8
x=63
y=98
type=graphic
width=25
height=30
graphic=steelborder,3

[com_139]
layer=guide8
x=25
y=107
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_140]
layer=guide8
x=67
y=62
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_141]
layer=guide8
x=44
y=107
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_142]
layer=guide8
x=9
y=49
type=graphic
width=72
height=36
graphic=combatboxes,2

[op8]
layer=guide8
x=10
y=59
type=text
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Op 8
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000
activeovercolour=0x000000

[guide9]
x=413
y=70
type=layer
width=88
height=232

[com_145]
layer=guide9
x=9
y=120
type=graphic
width=72
height=36
graphic=combatboxes,2

[op9]
layer=guide9
x=10
y=130
type=text
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Op 9
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000
activeovercolour=0x000000

[guide10]
x=413
y=70
type=layer
width=88
height=232

[com_148]
layer=guide10
x=9
y=139
type=graphic
width=72
height=36
graphic=combatboxes,2

[op10]
layer=guide10
x=10
y=149
type=text
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Op 10
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000
activeovercolour=0x000000

[guide11]
x=413
y=176
type=layer
width=88
height=180

[com_151]
layer=guide11
x=0
y=68
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_152]
layer=guide11
x=-15
y=62
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_153]
layer=guide11
x=0
y=98
type=graphic
width=25
height=30
graphic=steelborder,2

[com_154]
layer=guide11
x=63
y=98
type=graphic
width=25
height=30
graphic=steelborder,3

[com_155]
layer=guide11
x=25
y=107
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_156]
layer=guide11
x=67
y=62
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_157]
layer=guide11
x=44
y=107
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_158]
layer=guide11
x=9
y=52
type=graphic
width=72
height=36
graphic=combatboxes,2

[op11]
layer=guide11
x=10
y=62
type=text
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Op 11
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000
activeovercolour=0x000000

[guide12]
x=413
y=108
type=layer
width=88
height=232

[com_161]
layer=guide12
x=9
y=139
type=graphic
width=72
height=36
graphic=combatboxes,2

[op12]
layer=guide12
x=10
y=149
type=text
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Op 12
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000
activeovercolour=0x000000

[guide13]
x=413
y=127
type=layer
width=88
height=232

[com_164]
layer=guide13
x=9
y=139
type=graphic
width=72
height=36
graphic=combatboxes,2

[op13]
layer=guide13
x=10
y=149
type=text
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Op 13
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000
activeovercolour=0x000000
