type=layer
width=512
height=334

[com_0]
x=78
y=39
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_1]
x=78
y=68
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_2]
x=78
y=105
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_3]
x=78
y=146
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_4]
x=22
y=118
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_5]
x=22
y=154
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_6]
x=134
y=118
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_7]
x=134
y=154
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_8]
x=48
y=81
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_9]
x=107
y=81
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_10]
x=58
y=42
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_11]
x=112
y=41
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_12]
x=78
y=4
type=graphic
width=36
height=36
graphic=miscgraphics,0

[com_13]
x=37
y=43
type=graphic
width=36
height=36
graphic=miscgraphics,0

[com_14]
x=78
y=43
type=graphic
width=36
height=36
graphic=miscgraphics,0

[com_15]
x=119
y=43
type=graphic
width=36
height=36
graphic=miscgraphics,0

[com_16]
x=22
y=82
type=graphic
width=36
height=36
graphic=miscgraphics,0

[com_17]
x=78
y=82
type=graphic
width=36
height=36
graphic=miscgraphics,0

[com_18]
x=134
y=82
type=graphic
width=36
height=36
graphic=miscgraphics,0

[com_19]
x=78
y=122
type=graphic
width=36
height=36
graphic=miscgraphics,0

[com_20]
x=78
y=162
type=graphic
width=36
height=36
graphic=miscgraphics,0

[com_21]
x=22
y=162
type=graphic
width=36
height=36
graphic=miscgraphics,0

[com_22]
x=134
y=162
type=graphic
width=36
height=36
graphic=miscgraphics,0

[com_23]
x=8
y=200
type=layer
width=161
height=57
scroll=110

[com_27]
layer=com_23
x=2
y=2
type=rect
width=173
height=130
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_28]
layer=com_23
x=10
y=3
type=text
width=64
height=11
center=yes
font=p11_full
shadowed=yes
text=Attack bonus
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_29]
layer=com_23
x=84
y=3
type=text
width=74
height=11
center=yes
font=p11_full
shadowed=yes
text=Defence bonus
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[stabattack]
layer=com_23
x=16
y=15
type=text
width=54
height=11
center=yes
font=p11_full
shadowed=yes
text=Stab: +120
colour=0x6B6F33
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[slashattack]
layer=com_23
x=15
y=27
type=text
width=56
height=11
center=yes
font=p11_full
shadowed=yes
text=Slash:+120
colour=0x6B6F33
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[crushattack]
layer=com_23
x=14
y=39
type=text
width=58
height=11
center=yes
font=p11_full
shadowed=yes
text=Crush:+120
colour=0x6B6F33
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[magicattack]
layer=com_23
x=13
y=51
type=text
width=59
height=11
center=yes
font=p11_full
shadowed=yes
text=Magic: +120
colour=0x6B6F33
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[rangeattack]
layer=com_23
x=12
y=63
type=text
width=62
height=15
center=yes
font=p11_full
shadowed=yes
text=Range: +120
colour=0x6B6F33
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[stabdefence]
layer=com_23
x=96
y=15
type=text
width=54
height=11
center=yes
font=p11_full
shadowed=yes
text=Stab: +120
colour=0x6B6F33
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[slashdefence]
layer=com_23
x=93
y=27
type=text
width=59
height=11
center=yes
font=p11_full
shadowed=yes
text=Slash: +120
colour=0x6B6F33
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[crushdefence]
layer=com_23
x=92
y=39
type=text
width=61
height=11
center=yes
font=p11_full
shadowed=yes
text=Crush: +120
colour=0x6B6F33
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[magicdefence]
layer=com_23
x=92
y=51
type=text
width=59
height=11
center=yes
font=p11_full
shadowed=yes
text=Magic: +120
colour=0x6B6F33
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[rangedefence]
layer=com_23
x=91
y=63
type=text
width=62
height=11
center=yes
font=p11_full
shadowed=yes
text=Range: +120
colour=0x6B6F33
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_40]
layer=com_23
x=48
y=80
type=text
width=73
height=11
center=yes
font=p11_full
shadowed=yes
text=Other bonuses
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[strengthbonus]
layer=com_23
x=9
y=92
type=text
width=75
height=11
center=yes
font=p11_full
shadowed=yes
text=Strength: +120
colour=0x6B6F33
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[prayerbonus]
layer=com_23
x=90
y=92
type=text
width=66
height=11
center=yes
font=p11_full
shadowed=yes
text=Prayer: +120
colour=0x6B6F33
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_24]
x=8
y=200
type=rect
width=161
height=57
colour=0x726451
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_25]
x=9
y=201
type=rect
width=161
height=55
colour=0x726451
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_26]
x=9
y=201
type=rect
width=161
height=56
colour=0x2E2B23
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[wear]
x=24
y=44
type=inv
width=3
height=5
margin=24,8
slot1=wornicons,0:56,-38
slot2=wornicons,1:-41,1
slot3=wornicons,2:-56,1
slot4=wornicons,3
slot5=wornicons,5
slot6=wornicons,6
slot8=wornicons,7
slot10=wornicons,8
slot11=wornicons,9
slot12=:-55,40
slot13=wornicons,4:112,-40
slot14=wornicons,10:41,-159
option1=Remove
