type=layer
width=512
height=334

[com_0]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_1]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_2]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_3]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
x=364
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_8]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_9]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_10]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_11]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_12]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_13]
x=38
y=167
type=layer
width=433
height=161

[com_15]
layer=com_13
x=203
y=145
type=model
width=35
height=35
model=com_i200
zoom=300
xan=250
yan=0

[com_14]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_16]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_17]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_18]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_19]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_20]
x=12
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_21]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_22]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_23]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_24]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_25]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_26]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_27]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_28]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_29]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_30]
x=412
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_31]
x=412
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_32]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[com_33]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_34]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_35]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_36]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_37]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_38]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_39]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_40]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_41]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_42]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_43]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_44]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_45]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_46]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_47]
x=73
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_48]
x=109
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_49]
x=145
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_50]
x=181
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_51]
x=217
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_52]
x=253
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_53]
x=289
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_54]
x=325
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_55]
x=361
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_56]
x=397
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_57]
x=433
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_58]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_59]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_60]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_61]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_62]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_63]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_64]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_65]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_66]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_67]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_68]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_69]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_70]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_71]
x=37
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_72]
x=12
y=290
type=graphic
width=25
height=30
graphic=steelborder,2

[com_73]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[com_74]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_75]
x=475
y=290
type=graphic
width=25
height=30
graphic=steelborder,3

[com_76]
x=439
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_77]
x=206
y=29
type=text
width=109
height=14
center=yes
font=b12_full
shadowed=yes
text=Grave Monument
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_78]
x=420
y=29
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_79]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_80]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_81]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_82]
x=396
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_83]
x=432
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_84]
x=459
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_85]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_86]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_87]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_88]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_89]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_90]
x=36
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_91]
x=17
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_92]
x=38
y=41
type=layer
width=433
height=160

[com_93]
layer=com_92
x=200
y=355
type=model
width=35
height=35
model=com_i200
zoom=330
xan=100
yan=0

[monumentmodel]
x=243
y=230
type=model
width=30
height=44
model=obj_tinderbox
zoom=240
xan=200
yan=22

[monumenttext]
x=195
y=67
type=text
width=127
height=107
center=yes
font=q8_full
text=Saradomin\n\nlights my way\n\nthrough\n\nthe darkness of life
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_96]
x=12
y=-12
type=rect
width=488
height=32
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_97]
x=12
y=319
type=rect
width=488
height=32
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
