type=layer
width=512
height=334

[com_0]
x=430
y=8
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFAD782
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_1]
x=232
y=158
type=model
width=32
height=32
model=com_i108
zoom=639
xan=511
yan=2047

[inv]
x=239
y=89
type=inv
width=3
height=3

[com_3]
x=174
y=212
type=model
width=32
height=32
model=arena_guard_chest_open_8
zoom=914
xan=104
yan=761
