type=layer
width=512
height=334

[com_0]
x=227
y=162
type=model
width=32
height=32
model=com_i108
zoom=599
xan=520
yan=1

[com_1]
x=430
y=8
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFAD782
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_2]
x=131
y=62
type=text
width=256
height=21
font=q8_full
shadowed=yes
text=The quick brown fox jumped over the 
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_3]
x=131
y=87
type=text
width=256
height=21
font=q8_full
shadowed=yes
text=The quick brown fox jumped over the 
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_4]
x=131
y=112
type=text
width=256
height=21
font=q8_full
shadowed=yes
text=The quick brown fox jumped over the 
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_5]
x=131
y=137
type=text
width=256
height=21
font=q8_full
shadowed=yes
text=The quick brown fox jumped over the 
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_6]
x=131
y=162
type=text
width=256
height=21
font=q8_full
shadowed=yes
text=The quick brown fox jumped over the 
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_7]
x=131
y=187
type=text
width=256
height=21
font=q8_full
shadowed=yes
text=The quick brown fox jumped over the 
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_8]
x=131
y=212
type=text
width=256
height=21
font=q8_full
shadowed=yes
text=The quick brown fox jumped over the 
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_9]
x=131
y=237
type=text
width=256
height=21
font=q8_full
shadowed=yes
text=The quick brown fox jumped over the 
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
