type=layer
width=512
height=334

[com_0]
x=227
y=162
type=model
width=32
height=32
model=com_i108
zoom=599
xan=520
yan=1

[com_1]
x=430
y=8
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFAD782
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_5]
x=174
y=55
type=layer
width=203
height=220

[com_2]
layer=com_5
x=102
y=91
type=model
width=32
height=32
model=com_i32
zoom=1349
xan=474
yan=1775

[com_3]
layer=com_5
x=78
y=151
type=model
width=32
height=32
model=com_i196
zoom=820
xan=397
yan=500

[com_4]
layer=com_5
x=139
y=96
type=model
width=32
height=32
model=com_i193
zoom=915
xan=368
yan=2042

[com_10]
layer=com_5
x=86
y=187
type=model
width=32
height=32
model=com_i193
zoom=744
xan=379
yan=515

[com_11]
layer=com_5
x=51
y=181
type=model
width=32
height=32
model=com_i196
zoom=900
xan=431
yan=776

[com_12]
layer=com_5
x=121
y=181
type=model
width=32
height=32
model=com_i196
zoom=900
xan=359
yan=262

[com_13]
layer=com_5
x=137
y=176
type=model
width=32
height=32
model=com_i196
zoom=708
xan=397
yan=500

[com_14]
layer=com_5
x=19
y=176
type=model
width=32
height=32
model=com_i193
zoom=744
xan=379
yan=515

[com_15]
layer=com_5
x=-2
y=176
type=model
width=32
height=32
model=com_i193
zoom=744
xan=379
yan=515

[com_16]
layer=com_5
x=155
y=176
type=model
width=32
height=32
model=com_i196
zoom=708
xan=397
yan=500

[com_25]
layer=com_5
x=94
y=151
type=model
width=32
height=32
model=com_i196
zoom=820
xan=397
yan=500

[com_26]
layer=com_5
x=122
y=133
type=model
width=32
height=32
model=com_i193
zoom=885
xan=386
yan=247

[com_27]
layer=com_5
x=48
y=136
type=model
width=32
height=32
model=com_i196
zoom=820
xan=397
yan=500

[com_28]
layer=com_5
x=17
y=144
type=model
width=32
height=32
model=com_i196
zoom=820
xan=397
yan=500

[com_29]
layer=com_5
x=-21
y=110
type=model
width=32
height=32
model=com_i196
zoom=820
xan=615
yan=1021

[com_30]
layer=com_5
x=-1
y=138
type=model
width=32
height=32
model=com_i196
zoom=812
xan=246
yan=837

[com_31]
layer=com_5
x=61
y=142
type=model
width=32
height=32
model=com_i196
zoom=845
xan=473
yan=790

[com_32]
layer=com_5
x=33
y=140
type=model
width=32
height=32
model=com_i196
zoom=998
xan=345
yan=285

[com_35]
layer=com_5
x=118
y=60
type=model
width=32
height=32
model=com_i196
zoom=820
xan=397
yan=500

[com_36]
layer=com_5
x=90
y=48
type=model
width=32
height=32
model=com_i196
zoom=820
xan=397
yan=500

[com_37]
layer=com_5
x=4
y=55
type=model
width=32
height=32
model=com_i196
zoom=820
xan=597
yan=1009

[com_38]
layer=com_5
x=34
y=47
type=model
width=32
height=32
model=com_i196
zoom=820
xan=553
yan=493

[com_39]
layer=com_5
x=62
y=35
type=model
width=32
height=32
model=com_i196
zoom=1338
xan=553
yan=493

[com_40]
layer=com_5
x=62
y=36
type=model
width=32
height=32
model=com_i196
zoom=1338
xan=553
yan=493

[com_41]
layer=com_5
x=52
y=41
type=model
width=32
height=32
model=com_i196
zoom=942
xan=595
yan=285

[com_42]
layer=com_5
x=73
y=41
type=model
width=32
height=32
model=com_i196
zoom=942
xan=601
yan=762

[com_43]
layer=com_5
x=-5
y=80
type=model
width=32
height=32
model=com_i193
zoom=996
xan=406
yan=201

[com_44]
layer=com_5
x=-15
y=126
type=model
width=32
height=32
model=com_i196
zoom=777
xan=249
yan=845

[com_45]
layer=com_5
x=-21
y=106
type=model
width=32
height=32
model=com_i196
zoom=820
xan=615
yan=1021

[com_46]
layer=com_5
x=103
y=54
type=model
width=32
height=32
model=com_i196
zoom=1019
xan=601
yan=762

[com_47]
layer=com_5
x=132
y=65
type=model
width=32
height=32
model=com_i196
zoom=1019
xan=601
yan=762

[com_48]
layer=com_5
x=139
y=88
type=model
width=32
height=32
model=com_i193
zoom=915
xan=368
yan=2042

[com_6]
x=150
y=229
type=model
width=32
height=32
model=com_i111
zoom=531
xan=493
yan=18

[com_7]
x=165
y=49
type=model
width=32
height=32
model=com_i111
zoom=531
xan=527
yan=515

[com_8]
x=340
y=62
type=model
width=32
height=32
model=com_i111
zoom=531
xan=578
yan=1030

[com_9]
x=321
y=245
type=model
width=32
height=32
model=com_i111
zoom=531
xan=576
yan=1544

[com_17]
x=166
y=240
type=model
width=32
height=32
model=com_i198
zoom=682
xan=500
yan=0

[com_18]
x=188
y=242
type=model
width=32
height=32
model=com_i198
zoom=682
xan=500
yan=0

[com_19]
x=210
y=241
type=model
width=32
height=32
model=com_i198
zoom=682
xan=500
yan=0

[com_20]
x=220
y=249
type=model
width=32
height=32
model=com_i198
zoom=682
xan=500
yan=0

[com_21]
x=246
y=250
type=model
width=32
height=32
model=com_i198
zoom=682
xan=500
yan=0

[com_22]
x=281
y=250
type=model
width=32
height=32
model=com_i198
zoom=682
xan=500
yan=0

[com_23]
x=306
y=249
type=model
width=32
height=32
model=com_i198
zoom=682
xan=500
yan=0

[com_24]
x=317
y=240
type=model
width=32
height=32
model=com_i198
zoom=682
xan=500
yan=0

[com_33]
x=170
y=187
type=model
width=32
height=32
model=com_i198
zoom=524
xan=500
yan=0

[com_34]
x=223
y=210
type=model
width=32
height=32
model=com_i113
zoom=1965
xan=500
yan=0

[com_49]
x=337
y=157
type=model
width=32
height=32
model=com_i113
zoom=1965
xan=500
yan=0

[com_50]
x=252
y=146
type=model
width=32
height=32
model=com_i192
zoom=2036
xan=500
yan=0

[com_51]
x=268
y=175
type=model
width=32
height=32
model=com_i112
zoom=1999
xan=495
yan=2017

[com_52]
x=220
y=149
type=model
width=32
height=32
model=com_i112
zoom=2009
xan=518
yan=43

[com_53]
x=239
y=123
type=model
width=32
height=32
model=com_i112
zoom=2080
xan=505
yan=18

[com_54]
x=205
y=122
type=model
width=32
height=32
model=com_i192
zoom=1971
xan=499
yan=2032

[com_55]
x=179
y=144
type=model
width=32
height=32
model=com_i112
zoom=2080
xan=505
yan=12

[com_56]
x=191
y=171
type=model
width=32
height=32
model=com_i192
zoom=2079
xan=501
yan=2034

[com_57]
x=200
y=71
type=model
width=32
height=32
model=com_i113
zoom=1969
xan=500
yan=0

[com_58]
x=164
y=83
type=model
width=32
height=32
model=com_i113
zoom=2054
xan=500
yan=0

[com_59]
x=298
y=147
type=model
width=32
height=32
model=com_i113
zoom=1965
xan=500
yan=0
