type=layer
width=512
height=334

[com_0]
x=227
y=162
type=model
width=32
height=32
model=com_i108
zoom=599
xan=520
yan=1

[com_1]
x=430
y=8
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFAD782
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_2]
x=150
y=229
type=model
width=32
height=32
model=com_i111
zoom=531
xan=493
yan=18

[com_3]
x=165
y=49
type=model
width=32
height=32
model=com_i111
zoom=531
xan=527
yan=515

[com_4]
x=340
y=62
type=model
width=32
height=32
model=com_i111
zoom=531
xan=578
yan=1030

[com_5]
x=321
y=245
type=model
width=32
height=32
model=com_i111
zoom=531
xan=576
yan=1544

[com_45]
x=141
y=28
type=layer
width=229
height=225

[com_6]
layer=com_45
x=76
y=125
type=model
width=32
height=32
model=com_i191
zoom=1416
xan=437
yan=2030

[com_7]
layer=com_45
x=70
y=114
type=model
width=32
height=32
model=com_i191
zoom=1416
xan=514
yan=481

[com_8]
layer=com_45
x=89
y=125
type=model
width=32
height=32
model=com_i191
zoom=1416
xan=437
yan=2030

[com_9]
layer=com_45
x=70
y=102
type=model
width=32
height=32
model=com_i191
zoom=1416
xan=514
yan=481

[com_10]
layer=com_45
x=70
y=91
type=model
width=32
height=32
model=com_i191
zoom=1416
xan=514
yan=481

[com_11]
layer=com_45
x=70
y=80
type=model
width=32
height=32
model=com_i191
zoom=1416
xan=514
yan=481

[com_12]
layer=com_45
x=70
y=69
type=model
width=32
height=32
model=com_i191
zoom=1416
xan=514
yan=481

[com_13]
layer=com_45
x=142
y=28
type=model
width=32
height=32
model=com_i32
zoom=1349
xan=474
yan=1775

[com_14]
layer=com_45
x=70
y=58
type=model
width=32
height=32
model=com_i191
zoom=1416
xan=514
yan=481

[com_15]
layer=com_45
x=79
y=51
type=model
width=32
height=32
model=com_i191
zoom=1416
xan=548
yan=970

[com_16]
layer=com_45
x=90
y=51
type=model
width=32
height=32
model=com_i191
zoom=1416
xan=548
yan=970

[com_17]
layer=com_45
x=102
y=51
type=model
width=32
height=32
model=com_i191
zoom=1416
xan=548
yan=970

[com_18]
layer=com_45
x=114
y=51
type=model
width=32
height=32
model=com_i191
zoom=1416
xan=548
yan=970

[com_19]
layer=com_45
x=126
y=51
type=model
width=32
height=32
model=com_i191
zoom=1416
xan=548
yan=970

[com_20]
layer=com_45
x=137
y=51
type=model
width=32
height=32
model=com_i191
zoom=1416
xan=548
yan=970

[com_21]
layer=com_45
x=141
y=44
type=model
width=32
height=32
model=com_i191
zoom=1416
xan=551
yan=517

[com_22]
layer=com_45
x=128
y=153
type=text
width=11
height=11
font=p11_full
text=1N
colour=0x4C3D26
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_23]
layer=com_45
x=104
y=74
type=text
width=12
height=11
font=p11_full
text=6E
colour=0x4C3D26
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_24]
layer=com_45
x=84
y=148
type=text
width=16
height=11
font=p11_full
text=2W
colour=0x4C3D26
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_25]
layer=com_45
x=66
y=102
type=text
width=14
height=11
font=p11_full
text=6N
colour=0x4C3D26
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_66]
layer=com_45
x=101
y=129
type=model
width=32
height=32
model=com_i191
zoom=1416
xan=608
yan=490

[com_46]
x=158
y=96
type=layer
width=201
height=172

[com_26]
layer=com_46
x=136
y=25
type=model
width=32
height=32
model=com_i193
zoom=1075
xan=387
yan=3

[com_27]
layer=com_46
x=22
y=38
type=model
width=32
height=32
model=com_i193
zoom=983
xan=387
yan=3

[com_28]
layer=com_46
x=13
y=75
type=model
width=32
height=32
model=com_i193
zoom=1062
xan=428
yan=177

[com_29]
layer=com_46
x=2
y=105
type=model
width=32
height=32
model=com_i193
zoom=1399
xan=463
yan=2

[com_30]
layer=com_46
x=10
y=126
type=model
width=32
height=32
model=com_i193
zoom=1794
xan=453
yan=1801

[com_31]
layer=com_46
x=29
y=135
type=model
width=32
height=32
model=com_i193
zoom=1727
xan=322
yan=1552

[com_32]
layer=com_46
x=66
y=123
type=model
width=32
height=32
model=com_i193
zoom=1972
xan=442
yan=1525

[com_33]
layer=com_46
x=101
y=136
type=model
width=32
height=32
model=com_i193
zoom=1972
xan=442
yan=1525

[com_34]
layer=com_46
x=136
y=149
type=model
width=32
height=32
model=com_i193
zoom=1972
xan=401
yan=1546

[com_35]
layer=com_46
x=163
y=137
type=model
width=32
height=32
model=com_i193
zoom=3481
xan=401
yan=1546

[com_36]
layer=com_46
x=175
y=113
type=model
width=32
height=32
model=com_i193
zoom=1972
xan=410
yan=1030

[com_37]
layer=com_46
x=146
y=67
type=model
width=32
height=32
model=com_i193
zoom=1972
xan=410
yan=1030

[com_38]
layer=com_46
x=160
y=90
type=model
width=32
height=32
model=com_i193
zoom=984
xan=418
yan=778

[com_39]
layer=com_46
x=48
y=128
type=model
width=32
height=32
model=com_i193
zoom=2014
xan=370
yan=1312

[com_40]
layer=com_46
x=86
y=128
type=model
width=32
height=32
model=com_i193
zoom=1891
xan=478
yan=1752

[com_41]
layer=com_46
x=120
y=142
type=model
width=32
height=32
model=com_i193
zoom=1984
xan=483
yan=1773

[com_42]
layer=com_46
x=150
y=143
type=model
width=32
height=32
model=com_i193
zoom=2440
xan=523
yan=1284

[com_43]
layer=com_46
x=172
y=129
type=model
width=32
height=32
model=com_i193
zoom=2396
xan=484
yan=1183

[com_44]
layer=com_46
x=141
y=50
type=model
width=32
height=32
model=com_i193
zoom=1972
xan=455
yan=808

[com_47]
x=244
y=172
type=model
width=32
height=32
model=com_i192
zoom=2322
xan=500
yan=0

[com_48]
x=279
y=144
type=model
width=32
height=32
model=com_i192
zoom=2220
xan=500
yan=0

[com_49]
x=298
y=190
type=model
width=32
height=32
model=com_i192
zoom=2321
xan=500
yan=0

[com_50]
x=281
y=220
type=model
width=32
height=32
model=com_i112
zoom=2087
xan=500
yan=0

[com_51]
x=299
y=220
type=model
width=32
height=32
model=com_i192
zoom=2321
xan=500
yan=0

[com_52]
x=315
y=206
type=model
width=32
height=32
model=com_i112
zoom=2087
xan=500
yan=0

[com_53]
x=252
y=211
type=model
width=32
height=32
model=com_i192
zoom=2321
xan=500
yan=0

[com_54]
x=262
y=156
type=model
width=32
height=32
model=com_i112
zoom=2087
xan=500
yan=0

[com_55]
x=282
y=117
type=model
width=32
height=32
model=com_i112
zoom=2087
xan=500
yan=0

[com_56]
x=247
y=102
type=model
width=32
height=32
model=com_i192
zoom=2220
xan=500
yan=0

[com_57]
x=215
y=189
type=model
width=32
height=32
model=com_i112
zoom=2419
xan=500
yan=0

[com_58]
x=192
y=144
type=model
width=32
height=32
model=com_i112
zoom=2419
xan=500
yan=0

[com_59]
x=191
y=129
type=model
width=32
height=32
model=com_i192
zoom=2581
xan=500
yan=0

[com_60]
x=227
y=105
type=model
width=32
height=32
model=com_i112
zoom=2087
xan=500
yan=0

[com_61]
x=227
y=121
type=model
width=32
height=32
model=com_i192
zoom=2220
xan=500
yan=0

[com_62]
x=156
y=133
type=model
width=32
height=32
model=com_i112
zoom=2087
xan=500
yan=0

[com_63]
x=200
y=168
type=model
width=32
height=32
model=com_i112
zoom=2419
xan=500
yan=0

[com_64]
x=199
y=155
type=model
width=32
height=32
model=com_i192
zoom=2581
xan=500
yan=0

[com_65]
x=214
y=177
type=model
width=32
height=32
model=com_i192
zoom=2581
xan=500
yan=0
