type=layer
width=512
height=334

[com_0]
x=227
y=162
type=model
width=32
height=32
model=com_i108
zoom=599
xan=520
yan=1

[com_1]
x=430
y=8
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFAD782
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_3]
x=190
y=194
type=model
width=32
height=32
model=com_i197
zoom=809
xan=475
yan=19

[com_5]
x=146
y=228
type=model
width=32
height=32
model=com_i196
zoom=822
xan=543
yan=762

[com_6]
x=212
y=86
type=model
width=32
height=32
model=com_i196
zoom=868
xan=397
yan=500

[com_7]
x=233
y=103
type=model
width=32
height=32
model=com_i196
zoom=868
xan=397
yan=500

[com_8]
x=298
y=70
type=model
width=32
height=32
model=com_i196
zoom=735
xan=467
yan=2029

[com_9]
x=285
y=70
type=model
width=32
height=32
model=com_i196
zoom=735
xan=469
yan=506

[com_10]
x=306
y=60
type=model
width=32
height=32
model=com_i196
zoom=735
xan=469
yan=506

[com_11]
x=316
y=54
type=model
width=32
height=32
model=com_i196
zoom=628
xan=160
yan=1012

[com_12]
x=273
y=64
type=model
width=32
height=32
model=com_i196
zoom=628
xan=160
yan=1012

[com_14]
x=185
y=236
type=model
width=32
height=32
model=com_i193
zoom=676
xan=429
yan=518

[com_15]
x=270
y=236
type=model
width=32
height=32
model=com_i193
zoom=680
xan=429
yan=518

[com_16]
x=278
y=236
type=model
width=32
height=32
model=com_i193
zoom=680
xan=429
yan=518

[com_17]
x=205
y=105
type=model
width=32
height=32
model=com_i193
zoom=744
xan=369
yan=2043

[com_18]
x=330
y=216
type=model
width=32
height=32
model=com_i193
zoom=682
xan=301
yan=222

[com_19]
x=224
y=130
type=model
width=32
height=32
model=com_i193
zoom=947
xan=371
yan=1542

[com_20]
x=223
y=88
type=model
width=32
height=32
model=com_i193
zoom=1042
xan=369
yan=2043

[com_21]
x=244
y=89
type=model
width=32
height=32
model=com_i193
zoom=1042
xan=369
yan=2043

[com_27]
x=240
y=131
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_28]
x=228
y=131
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_29]
x=206
y=121
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_30]
x=254
y=142
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_31]
x=265
y=142
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_32]
x=254
y=126
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_33]
x=254
y=111
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_34]
x=254
y=96
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_35]
x=254
y=84
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_36]
x=296
y=99
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_37]
x=299
y=81
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_38]
x=299
y=72
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_39]
x=299
y=63
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_40]
x=310
y=70
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_41]
x=329
y=70
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_42]
x=331
y=56
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_43]
x=174
y=55
type=layer
width=203
height=220

[com_2]
layer=com_43
x=112
y=67
type=model
width=32
height=32
model=com_i32
zoom=1349
xan=474
yan=1775

[com_4]
layer=com_43
x=112
y=119
type=model
width=32
height=32
model=com_i196
zoom=640
xan=397
yan=500

[com_13]
layer=com_43
x=125
y=92
type=model
width=32
height=32
model=com_i193
zoom=744
xan=368
yan=2042

[com_22]
layer=com_43
x=123
y=123
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_23]
layer=com_43
x=111
y=123
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_24]
layer=com_43
x=127
y=109
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_25]
layer=com_43
x=127
y=90
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_26]
layer=com_43
x=126
y=81
type=model
width=32
height=32
model=com_i198
zoom=415
xan=632
yan=509

[com_44]
x=150
y=229
type=model
width=32
height=32
model=com_i111
zoom=531
xan=493
yan=18

[com_45]
x=165
y=49
type=model
width=32
height=32
model=com_i111
zoom=531
xan=527
yan=515

[com_46]
x=340
y=62
type=model
width=32
height=32
model=com_i111
zoom=531
xan=578
yan=1030

[com_47]
x=321
y=245
type=model
width=32
height=32
model=com_i111
zoom=531
xan=576
yan=1544

[com_48]
x=252
y=163
type=model
width=32
height=32
model=com_i199
zoom=974
xan=495
yan=65
