type=layer
width=512
height=334

[com_0]
x=227
y=162
type=model
width=32
height=32
model=com_i108
zoom=599
xan=520
yan=1

[com_1]
x=430
y=8
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFAD782
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_2]
x=160
y=115
type=text
width=202
height=17
font=q8_full
shadowed=yes
text=You'll need to look for a town
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_3]
x=160
y=141
type=text
width=202
height=17
font=q8_full
shadowed=yes
text=with a central fountain. Look
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_4]
x=160
y=166
type=text
width=202
height=17
font=q8_full
shadowed=yes
text=inside a crate in the general
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_5]
x=160
y=193
type=text
width=202
height=17
font=q8_full
shadowed=yes
text=store. 
colour=0xF0BB5E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
