type=layer
width=512
height=334

[com_0]
x=273
y=70
type=model
width=32
height=32
model=com_i177
zoom=162
xan=500
yan=0

[com_1]
x=419
y=141
type=model
width=32
height=32
model=com_i178
zoom=353
xan=500
yan=0

[com_2]
x=419
y=141
type=model
width=32
height=32
model=com_i179
zoom=898
xan=500
yan=0

[com_3]
x=419
y=141
type=model
width=32
height=32
model=com_i180
zoom=201
xan=500
yan=0

[com_4]
x=430
y=8
type=text
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0x505050
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_5]
x=313
y=275
type=model
buttontype=normal
width=30
height=51
model=com_i181
zoom=1389
xan=275
yan=2029

[com_6]
x=315
y=13
type=model
buttontype=normal
width=27
height=43
model=com_i182
zoom=1418
xan=478
yan=14

[com_7]
x=258
y=258
type=model
buttontype=normal
width=44
height=52
model=com_i183
zoom=1228
xan=300
yan=285

[com_8]
x=21
y=264
type=model
buttontype=normal
width=47
height=49
model=com_i184
zoom=1219
xan=308
yan=695

[com_9]
x=152
y=180
type=model
width=32
height=32
model=com_i185
zoom=566
xan=500
yan=0

[com_10]
x=152
y=180
type=model
width=32
height=32
model=com_i186
zoom=566
xan=500
yan=0

[com_11]
x=152
y=180
type=model
width=32
height=32
model=com_i187
zoom=566
xan=500
yan=0

[get_location]
x=131
y=313
type=text
buttontype=normal
width=71
height=14
font=p12_full
shadowed=yes
text=Get Location
colour=0x7C6035
activecolour=0x000000
overcolour=0xC8B08A
activeovercolour=0x000000
