type=layer
width=512
height=334

[com_0]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_1]
x=12
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_2]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_3]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_8]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_9]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_10]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_11]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_12]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_13]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_14]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_15]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_16]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_17]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_18]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_19]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_20]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_21]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_22]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_23]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_24]
x=364
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_25]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_26]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_27]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_28]
x=412
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_29]
x=412
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_30]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[com_31]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_32]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_33]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_34]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_35]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_36]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_37]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_38]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_39]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_40]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_41]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_42]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_43]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_44]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_45]
x=73
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_46]
x=109
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_47]
x=145
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_48]
x=181
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_49]
x=217
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_50]
x=253
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_51]
x=289
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_52]
x=325
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_53]
x=361
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_54]
x=397
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_55]
x=433
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_56]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_57]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_58]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_59]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_60]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_61]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_62]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_63]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_64]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_65]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_66]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_67]
x=252
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_68]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_69]
x=37
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_70]
x=12
y=290
type=graphic
width=25
height=30
graphic=steelborder,2

[com_71]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[com_72]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_73]
x=475
y=290
type=graphic
width=25
height=30
graphic=steelborder,3

[com_74]
x=439
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_75]
x=194
y=31
type=text
width=130
height=14
center=yes
font=b12_full
shadowed=yes
text=Hairdresser's Salon
colour=0xC9800D
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_76]
x=420
y=32
type=text
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0xA1A1A1
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000

[com_77]
x=288
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_78]
x=324
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_79]
x=360
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_80]
x=396
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_81]
x=432
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_82]
x=459
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_83]
x=216
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_84]
x=180
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_85]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_86]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_87]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_88]
x=36
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_89]
x=17
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_90]
x=65
y=95
type=model
width=32
height=32
model=obj_leather_cowl_manhead2
zoom=1200
xan=0
yan=200

[com_91]
x=150
y=95
type=model
width=32
height=32
model=idk_man_hair_dreadlocks_head
zoom=1200
xan=0
yan=200

[com_92]
x=235
y=95
type=model
width=32
height=32
model=idk_man_hair_long_head
zoom=1200
xan=0
yan=200

[com_93]
x=320
y=95
type=model
width=32
height=32
model=obj_pickpocket_guide_farmer
zoom=1200
xan=0
yan=200

[com_94]
x=405
y=95
type=model
width=32
height=32
model=idk_man_hair_tonsure_head
zoom=1200
xan=0
yan=200

[com_95]
x=65
y=175
type=model
width=32
height=32
model=obj_pickpocket_guide_man
zoom=1200
xan=0
yan=200

[com_96]
x=150
y=175
type=model
width=32
height=32
model=idk_man_hair_cropped_head
zoom=1200
xan=0
yan=200

[com_97]
x=235
y=175
type=model
width=32
height=32
model=idk_man_hair_wildspikes_head
zoom=1200
xan=0
yan=200

[com_98]
x=320
y=175
type=model
width=32
height=32
model=idk_man_hair_spikes_head
zoom=1200
xan=0
yan=200

[com_99]
x=225
y=291
type=text
buttontype=normal
width=55
height=14
font=b12_full
shadowed=yes
text=CONFIRM
colour=0x00FF00
activecolour=0x000000
overcolour=0xFF0000
activeovercolour=0x000000

[com_100]
x=134
y=259
type=rect
width=243
height=23
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_101]
x=135
y=260
type=rect
width=20
height=20
fill=yes
colour=0x302008
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_102]
x=155
y=260
type=rect
width=20
height=20
fill=yes
colour=0xD6D1D1
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_103]
x=175
y=260
type=rect
width=20
height=20
fill=yes
colour=0x76756C
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_104]
x=195
y=260
type=rect
width=20
height=20
fill=yes
colour=0x2F2A2A
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_105]
x=215
y=260
type=rect
width=20
height=20
fill=yes
colour=0xCB823E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_106]
x=235
y=260
type=rect
width=20
height=20
fill=yes
colour=0xCDAD53
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_107]
x=255
y=260
type=rect
width=20
height=20
fill=yes
colour=0x885F29
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_108]
x=275
y=260
type=rect
width=20
height=20
fill=yes
colour=0x50321E
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_109]
x=295
y=260
type=rect
width=20
height=20
fill=yes
colour=0x008383
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_110]
x=315
y=260
type=rect
width=20
height=20
fill=yes
colour=0x008300
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_111]
x=335
y=260
type=rect
width=20
height=20
fill=yes
colour=0x9F2800
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_112]
x=355
y=260
type=rect
width=20
height=20
fill=yes
colour=0xBE00C0
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_113]
x=198
y=233
type=text
width=114
height=14
center=yes
font=p12_full
shadowed=yes
text=Please select colour
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_114]
x=85
y=115
type=graphic
width=25
height=25
script1op1=pushvar,if1
script1=eq,1
activegraphic=overlay_multiway,0

[com_115]
x=170
y=115
type=graphic
width=25
height=25
script1op1=pushvar,if1
script1=eq,2
activegraphic=overlay_multiway,0

[com_116]
x=260
y=115
type=graphic
width=25
height=25
script1op1=pushvar,if1
script1=eq,3
activegraphic=overlay_multiway,0

[com_117]
x=345
y=115
type=graphic
width=25
height=25
script1op1=pushvar,if1
script1=eq,4
activegraphic=overlay_multiway,0

[com_118]
x=430
y=115
type=graphic
width=25
height=25
script1op1=pushvar,if1
script1=eq,5
activegraphic=overlay_multiway,0

[com_119]
x=85
y=195
type=graphic
width=25
height=25
script1op1=pushvar,if1
script1=eq,6
activegraphic=overlay_multiway,0

[com_120]
x=170
y=195
type=graphic
width=25
height=25
script1op1=pushvar,if1
script1=eq,7
activegraphic=overlay_multiway,0

[com_121]
x=260
y=195
type=graphic
width=25
height=25
script1op1=pushvar,if1
script1=eq,8
activegraphic=overlay_multiway,0

[com_122]
x=340
y=195
type=graphic
width=25
height=25
script1op1=pushvar,if1
script1=eq,9
activegraphic=overlay_multiway,0

[com_123]
x=135
y=260
type=graphic
buttontype=select
width=20
height=20
script1op1=pushvar,if2
script1=eq,1
activegraphic=overlay_multiway,0

[com_124]
x=155
y=260
type=graphic
buttontype=select
width=20
height=20
script1op1=pushvar,if2
script1=eq,2
activegraphic=overlay_multiway,0

[com_125]
x=175
y=260
type=graphic
buttontype=select
width=20
height=20
script1op1=pushvar,if2
script1=eq,3
activegraphic=overlay_multiway,0

[com_126]
x=195
y=260
type=graphic
buttontype=select
width=20
height=20
script1op1=pushvar,if2
script1=eq,4
activegraphic=overlay_multiway,0

[com_127]
x=215
y=260
type=graphic
buttontype=select
width=20
height=20
script1op1=pushvar,if2
script1=eq,5
activegraphic=overlay_multiway,0

[com_128]
x=235
y=260
type=graphic
buttontype=select
width=20
height=20
script1op1=pushvar,if2
script1=eq,6
activegraphic=overlay_multiway,0

[com_129]
x=255
y=260
type=graphic
buttontype=select
width=20
height=20
script1op1=pushvar,if2
script1=eq,7
activegraphic=overlay_multiway,0

[com_130]
x=275
y=260
type=graphic
buttontype=select
width=20
height=20
script1op1=pushvar,if2
script1=eq,8
activegraphic=overlay_multiway,0

[com_131]
x=295
y=260
type=graphic
buttontype=select
width=20
height=20
script1op1=pushvar,if2
script1=eq,9
activegraphic=overlay_multiway,0

[com_132]
x=315
y=260
type=graphic
buttontype=select
width=20
height=20
script1op1=pushvar,if2
script1=eq,10
activegraphic=overlay_multiway,0

[com_133]
x=335
y=260
type=graphic
buttontype=select
width=20
height=20
script1op1=pushvar,if2
script1=eq,11
activegraphic=overlay_multiway,0

[com_134]
x=355
y=260
type=graphic
buttontype=select
width=20
height=20
script1op1=pushvar,if2
script1=eq,12
activegraphic=overlay_multiway,0

[com_135]
x=55
y=83
type=graphic
buttontype=select
width=50
height=50
script1op1=pushvar,if1
script1=eq,1

[com_136]
x=141
y=83
type=graphic
buttontype=select
width=50
height=50
script1op1=pushvar,if1
script1=eq,2

[com_137]
x=224
y=82
type=graphic
buttontype=select
width=50
height=50
script1op1=pushvar,if1
script1=eq,3

[com_138]
x=310
y=83
type=graphic
buttontype=select
width=50
height=50
script1op1=pushvar,if1
script1=eq,4

[com_139]
x=394
y=84
type=graphic
buttontype=select
width=50
height=50
script1op1=pushvar,if1
script1=eq,5

[com_140]
x=54
y=163
type=graphic
buttontype=select
width=50
height=50
script1op1=pushvar,if1
script1=eq,6

[com_141]
x=137
y=162
type=graphic
buttontype=select
width=50
height=50
script1op1=pushvar,if1
script1=eq,7

[com_142]
x=224
y=163
type=graphic
buttontype=select
width=50
height=50
script1op1=pushvar,if1
script1=eq,8

[com_143]
x=307
y=163
type=graphic
buttontype=select
width=50
height=50
script1op1=pushvar,if1
script1=eq,9
