type=layer
width=512
height=334

[line1]
x=73
y=15
type=text
width=390
height=17
center=yes
font=q8_full
text=Line1
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[line2]
x=73
y=44
type=text
width=390
height=18
center=yes
font=q8_full
text=Line2
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[continue]
x=93
y=74
type=text
buttontype=pause
width=350
height=17
center=yes
font=q8_full
text=Click here to continue
colour=0xFFFF00
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000

[icon]
x=29
y=27
type=model
width=32
height=32
model=if_prayer_icon
zoom=505
xan=582
yan=504
