type=layer
width=512
height=334

[line1]
x=73
y=15
type=text
width=390
height=17
center=yes
font=q8_full
text=Line1
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[line2]
x=73
y=44
type=text
width=390
height=18
center=yes
font=q8_full
text=Line2
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[continue]
x=93
y=74
type=text
buttontype=pause
width=350
height=17
center=yes
font=q8_full
text=Click here to continue
colour=0xFFFF00
activecolour=0x000000
overcolour=0x00C000
activeovercolour=0x000000

[icon]
x=30
y=24
type=model
width=32
height=32
model=obj_hammer
zoom=496
xan=418
yan=14

[icon2]
x=39
y=45
type=model
width=32
height=32
model=obj_chisel
zoom=400
xan=353
yan=18
