type=layer
width=512
height=334

[com_0]
x=428
y=4
type=rect
width=80
height=60
trans=125
fill=yes
colour=0x111111
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_1]
x=428
y=7
type=text
width=80
height=14
center=yes
font=p12_full
shadowed=yes
text=Gnomeball
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_2]
x=428
y=22
type=text
width=80
height=14
center=yes
font=p12_full
shadowed=yes
text=Score
colour=0xFFFF00
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_3]
x=428
y=40
type=text
width=80
height=14
script1op1=pushvar,score_gnomeball_game
center=yes
font=b12_full
shadowed=yes
text=%1
colour=0xFF0000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
