type=layer
width=512
height=334

[com_0]
x=239
y=143
type=model
width=32
height=32
model=com_i33
zoom=525
xan=490
yan=0

[com_1]
x=81
y=89
type=text
width=340
height=16
center=yes
font=q8_full
colour=0x362407
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_2]
x=82
y=113
type=text
width=340
height=16
center=yes
font=q8_full
colour=0x362407
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_3]
x=82
y=137
type=text
width=340
height=16
center=yes
font=q8_full
colour=0x362407
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_4]
x=82
y=160
type=text
width=340
height=16
center=yes
font=q8_full
colour=0x362407
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_5]
x=82
y=182
type=text
width=340
height=16
center=yes
font=q8_full
colour=0x362407
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_6]
x=82
y=204
type=text
width=340
height=16
center=yes
font=q8_full
colour=0x362407
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_7]
x=82
y=226
type=text
width=340
height=16
center=yes
font=q8_full
colour=0x362407
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_8]
x=82
y=249
type=text
width=340
height=16
center=yes
font=q8_full
colour=0x362407
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_9]
x=394
y=50
type=text
buttontype=close
width=68
height=11
font=p11_full
text=Close Window
colour=0x7E6544
activecolour=0x000000
overcolour=0xFFFFFF
activeovercolour=0x000000
