type=layer
width=512
height=334

[com_0]
x=486
y=27
type=rect
width=20
height=20
trans=40
script1op1=testbit,agilityarena_varbit,2
script1=eq,0
fill=yes
colour=0x220000
activecolour=0xFF0000
overcolour=0x000000
activeovercolour=0x000000

[com_1]
x=486
y=6
type=rect
width=20
height=20
trans=40
script1op1=testbit,agilityarena_varbit,2
script1=eq,1
fill=yes
colour=0x002200
activecolour=0x00FF00
overcolour=0x000000
activeovercolour=0x000000

[com_2]
x=485
y=5
type=rect
width=22
height=22
trans=40
colour=0xCCCCCC
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_3]
x=485
y=26
type=rect
width=22
height=22
trans=40
colour=0xCCCCCC
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
