type=layer
width=512
height=334

[com_0]
x=248
y=354
type=model
width=32
height=32
model=com_i357
anim=snowfall2
zoom=200
xan=0
yan=0

[com_1]
x=248
y=354
type=model
width=32
height=32
model=com_i358
anim=snowfall
zoom=200
xan=0
yan=0
