type=layer
width=512
height=334

[com_0]
x=12
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_1]
x=12
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_2]
x=12
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_3]
x=12
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_4]
x=12
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_5]
x=100
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_6]
x=100
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_7]
x=100
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_8]
x=100
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_9]
x=188
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_10]
x=100
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_11]
x=188
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_12]
x=188
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_13]
x=188
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_14]
x=276
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_15]
x=188
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_16]
x=364
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_17]
x=276
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_18]
x=276
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_19]
x=276
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_20]
x=276
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_21]
x=364
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_22]
x=364
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_23]
x=364
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_24]
x=364
y=260
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_25]
x=412
y=20
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_26]
x=412
y=80
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_27]
x=412
y=140
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_28]
x=412
y=200
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_29]
x=409
y=258
type=graphic
width=88
height=60
graphic=tradebacking,0

[com_30]
x=12
y=20
type=graphic
width=25
height=30
graphic=steelborder,0

[com_31]
x=-3
y=49
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_32]
x=-3
y=85
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_33]
x=-3
y=121
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_34]
x=-3
y=157
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_35]
x=-3
y=193
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_36]
x=-3
y=229
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_37]
x=-3
y=265
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_38]
x=479
y=50
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_39]
x=479
y=86
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_40]
x=479
y=122
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_41]
x=479
y=158
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_42]
x=479
y=194
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_43]
x=479
y=230
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_44]
x=479
y=266
type=graphic
width=36
height=36
graphic=steelborder2,1

[com_45]
x=73
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_46]
x=109
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_47]
x=145
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_48]
x=181
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_49]
x=217
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_50]
x=253
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_51]
x=289
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_52]
x=325
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_53]
x=361
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_54]
x=397
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_55]
x=433
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_56]
x=72
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_57]
x=108
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_58]
x=144
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_59]
x=180
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_60]
x=216
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_61]
x=252
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_62]
x=288
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_63]
x=324
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_64]
x=360
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_65]
x=396
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_66]
x=432
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[p1_name]
x=25
y=60
type=text
width=165
height=14
center=yes
font=p12_full
shadowed=yes
text=Insert a very long name here!
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_68]
x=37
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_69]
x=37
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_70]
x=12
y=290
type=graphic
width=25
height=30
graphic=steelborder,2

[com_71]
x=475
y=20
type=graphic
width=25
height=30
graphic=steelborder,1

[com_72]
x=439
y=5
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_73]
x=475
y=290
type=graphic
width=25
height=30
graphic=steelborder,3

[com_74]
x=439
y=299
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_75]
x=100
y=75
type=text
width=14
height=14
font=p12_full
shadowed=yes
text=vs
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[p2_name]
x=25
y=90
type=text
width=165
height=14
center=yes
font=p12_full
shadowed=yes
text=Insert a very long name here!
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_77]
x=183
y=26
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_78]
x=183
y=62
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_79]
x=183
y=98
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_80]
x=183
y=134
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_81]
x=183
y=170
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_82]
x=162
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_83]
x=144
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_84]
x=108
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_85]
x=72
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_86]
x=36
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_87]
x=17
y=34
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_88]
x=21
y=29
type=text
width=60
height=14
font=b12_full
shadowed=yes
text=Draughts
colour=0xFFAA44
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_89]
x=26
y=265
type=layer
width=78
height=43

[com_97]
layer=com_89
x=6
y=6
type=rect
buttontype=close
width=66
height=31
fill=yes
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[com_98]
layer=com_89
x=24
y=14
type=text
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0x880000
activecolour=0x000000
overcolour=0xFF0000
activeovercolour=0x000000

[com_99]
layer=com_89
x=21
y=-15
type=graphic
width=36
height=36
graphic=steelborder2,0

[com_100]
layer=com_89
x=22
y=21
type=graphic
width=36
height=36
graphic=miscgraphics,3

[com_101]
layer=com_89
x=0
y=0
type=graphic
width=25
height=30
graphic=steelborder,0

[com_102]
layer=com_89
x=53
y=0
type=graphic
width=25
height=30
graphic=steelborder,1

[com_103]
layer=com_89
x=0
y=12
type=graphic
width=25
height=30
graphic=steelborder,2

[com_104]
layer=com_89
x=53
y=12
type=graphic
width=25
height=30
graphic=steelborder,3

[com_90]
x=332
y=154
type=model
width=32
height=32
model=com_i324
zoom=400
xan=512
yan=0

[com_91]
x=219
y=41
type=rect
width=258
height=258
colour=0x000000
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[boardinv]
x=220
y=42
type=inv
width=8
height=8

[com_93]
x=183
y=206
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_94]
x=183
y=242
type=graphic
width=36
height=36
graphic=miscgraphics,2

[com_95]
x=183
y=278
type=graphic
width=36
height=36
graphic=miscgraphics,2

[winner]
x=27
y=157
type=text
width=160
height=14
center=yes
font=b12_full
shadowed=yes
text=Blah blah blah blah blah!
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[p1_rune]
x=20
y=57
type=model
width=20
height=20
model=obj_firerune
zoom=1024
xan=512
yan=1024

[p2_rune]
x=20
y=87
type=model
width=20
height=20
model=obj_waterrune
zoom=1024
xan=512
yan=1024

[status1]
x=23
y=185
type=text
width=169
height=12
center=yes
font=p11_full
shadowed=yes
text=Blah blah blah blah blah blah blah!
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000

[status2]
x=23
y=208
type=text
width=169
height=12
center=yes
font=p11_full
shadowed=yes
text=Blah blah blah blah blah blah blah!
colour=0xAAAAAA
activecolour=0x000000
overcolour=0x000000
activeovercolour=0x000000
